.api_checkout *{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.api_checkout{ max-width: 600px; padding: 5px }
.api_checkout .api_form{ margin: 0; padding: 0 }
.api_checkout .api_clearfix::before,
.api_checkout .api_clearfix::after {content: "";display: table-cell;}
.api_checkout .api_req{display: inline-block;color: #ff3737;font-weight: bold;margin-left: 3px;}
.api_checkout .api_hidden{display: none}
.api_checkout .api_link{cursor: pointer; text-decoration: underline}
.api_checkout .api_link:hover{color: #ed1c24}

/* .api_alert */
.api_checkout .api_alert {display:none; font-size: 14px;padding: 15px;margin-bottom: 20px;background: #f8f8f8;color: #666;-webkit-border-radius:1px; -moz-border-radius:1px; border-radius:1px;}
.api_checkout .api_alert_success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.api_checkout .api_alert_warning {color: #8A6D3B;background-color: #FCF8E3;border-color: #FAEBCC;}
.api_checkout .api_alert_danger {background-color: #f2dede;border-color: #ebcccc;color: #a94442;}
.api_checkout .api_alert .api_title {font-weight: bold;padding-bottom: 5px;}

/* .api_row */
.api_checkout .api_row{  }
.api_checkout .api_row + .api_row{ margin-top: 15px }
.api_checkout .api_label{ float: left; width: 100px; font-weight: bold }
.api_checkout .api_controls{ margin-left: 115px }

/* .api_field */
.api_checkout .api_field{color: #1c1c1c;background-color: #fff;border: 1px solid #d2d2d2;padding: 8px;width: 100%;font: inherit;}
.api_checkout .api_field:hover{ border-color: #acaeaf; }
.api_checkout .api_field:focus{ border-color: #222; }
.api_checkout .api_field:active{ border-color: #222; }
.api_checkout .api_field_alert{display: none;margin: 0;color: #fff;font-size: 12px;background: #ee4055;padding: 1px 6px;}
.api_checkout .api_field[readonly]{ background-color: #fafafa; color: #999; border: 1px solid #ddd; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.api_checkout textarea{ min-height: 60px }

/* .api_table */
.api_checkout .api_table{ width: 100%; border-collapse: collapse; border-spacing: 0 }
.api_checkout .api_table a{ color: #222; text-decoration: underline; border-bottom:0}
.api_checkout .api_table a:hover{ color: #fe7f14; }
.api_checkout .api_table td{text-align: center; padding: 10px; vertical-align: middle; border-bottom: 1px solid #eceeef; background-color: #fff; }
.api_checkout .api_table td span{white-space: nowrap}
.api_checkout .api_table .api_td_name{text-align: left}
.api_checkout .api_table thead{display: none}
.api_checkout .api_table thead th{padding: 5px; color: #464a4c; background-color: #eceeef; font-weight: bold }
.api_checkout .api_td_picture img{min-width: 40px}
.api_checkout .api_td_sum{font-size: 18px; font-weight: bold; white-space: nowrap}

.api_checkout .api_block{
	margin:0 0 15px;border-top: 1px solid #dfdfdf;background: #fff;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}
.api_checkout .api_block_title{
	font-weight: bold;font-size: 16px;padding: 13px 15px;border-bottom: 1px solid #dfdfdf;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}
.api_checkout .api_block_content{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* .api_block_basket */
.api_checkout .api_block_basket{}
.api_checkout .api_block_basket .api_block_content{overflow: auto;-webkit-overflow-scrolling: touch;}
.api_checkout .api_basket_props{margin-top: 5px; font-size: 13px}
.api_checkout .api_basket_props .api_prop + div{margin-top: 3px}
.api_checkout .api_basket_props .api_prop_name{font-weight: bold}
.api_checkout .api_js_basket_toggle{cursor: pointer}
.api_checkout .api_js_basket_toggle .api_link{text-decoration: underline; font-size: 13px;line-height: 22px; float: right}
.api_checkout .api_basket_item_name{font-weight: bold}

/* .api_block_order_prop */
.api_checkout .api_block_order_prop .api_block_content{padding: 25px;}
.api_checkout .api_block_order_prop .api_block_title{border-bottom: 1px solid #dfdfdf;background: #fafafa;color: #333;}
.api_checkout .api_js_prop_comment_link{text-align: center;font-weight: bold}

/* .api_block_summary */
.api_checkout .api_block_summary{ padding: 15px 30px; background-color: #fafafa; border-bottom: 0; text-align: center; }
.api_checkout .api_block_summary .api_cost{ font-size: 24px; margin: 0 0 5px }
.api_checkout .api_block_summary .api_cost .api_summ{ font-weight: bold }
.api_checkout .api_block_summary .api_left{ text-align: left }
.api_checkout .api_block_summary .api_left,
.api_checkout .api_block_summary .api_right{ display: inline-block; vertical-align: middle; padding: 15px 0; }
.api_checkout .api_block_summary .api_back_link{ font-size: 16px; font-weight: bold; margin-top: 3px }
.api_checkout .api_block_summary .api_privacy_policy{font-size: 12px}

/* .api_button */
.api_checkout .api_button{
	color: #1c1c1c;
	padding: 15px 30px;
	text-align: center;
	width: 100%;
	font-size: 18px;
	height: auto;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	-webkit-transition: all ease .1s; -moz-transition: all ease .1s; -ms-transition: all ease .1s; -o-transition: all ease .1s; transition: all ease .1s;
}
.api_checkout .api_button_yellow{ background: #ffd700; border: 2px solid #ffd700; }
.api_checkout .api_button_yellow:hover{ border-color: #cab43f; }
.api_checkout .api_button_yellow:active{ color: #fff; background: #acaeaf; border-color: #acaeaf; }

/* .api_checkout_empty */
.api_checkout_empty .api_image{width:131px;height:116px;margin:50px auto 42px;background:url(images/empty_cart.svg) no-repeat center;	-webkit-background-size:contain;background-size:contain;}
.api_checkout_empty .api_text{font-size:36px;text-align:center;color:#bababa;margin-bottom:10px;text-transform: uppercase;}
.api_checkout_empty .api_link{text-align:center;color:#000;font-size:16px;margin-bottom:42px;}