.offer_prop {

  &__name {
    font-weight: bold;
  }
  
  .select {
    margin-bottom: $base-line-height * .5;
  }
  
  &__values {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__value {
    
    input {
      display: none;
    }
    
    &.checkbox > label {
      height: 100%;
      padding: 0;
      width: 100%;
    }
  }
  
  &-btn &__value {
    @extend %theme-background4;

    border: 1px solid $gray-light;
    border-radius: $base-line-height * 0.22222;
    box-sizing: border-box;
    color: $text-color;
    cursor: pointer;
    float: left;
    margin: 0 $base-line-height*0.5 $base-line-height*0.5 0;
    min-width: $base-line-height * 3;
    padding: $base-line-height*0.25 $base-line-height*0.5;
    text-align: center;

    &:hover {
      @extend %theme-background4-inv;
    }
    
    &.disabled {
      color: $gray-light;
      cursor: default;
      
      &:hover {
        @extend %theme-background4;
        color: $gray-light;
      }
    }
  }
  
  &-btn &__value input:checked + &__icon,
  &-btn &__value.checked,
  &-btn &__value.checked:hover {
    @extend %theme-background0;
    cursor: default;
  }
  
  &-color &__value {
    cursor: pointer;
    //display: inline-block;
    float: left;
    margin: 0 $base-line-height*0.5 $base-line-height*0.5 0;
  }
  
  &-color &__value input:checked + .offer_prop__icon,
  &-color &__value.checked {
    cursor: default;
  }
  
  &-color &__icon {
    border-radius: em($base-line-height * 0.22222);
    box-sizing: border-box;
    display: block;
    height: $base-line-height*1.5;
    position: relative;
    width: $base-line-height*1.5;
  }

  &-color &__img {
    background-size: contain;
    border-radius: em($base-line-height * 0.22222);
    box-shadow: 1px 1px 3px rgba($gray-base, 0.5);
    display: block;
    height: 100%;
    width: 100%;
  }
  
  &-color &__value input:checked + &__icon,
  &-color &__value.checked &__icon {
    border: 1px solid $gray-light;
    padding: 2px 3px 3px 2px;
  }

  &-color &__value.disabled {
    cursor: default;

  }

  &-color &__value.disabled &__icon {

    &:before {
      background: image-url('missing_v2.png') no-repeat center / contain;
      bottom: 4px;
      content: ' ';
      display: block;
      left: 3px;
      position: absolute;
      right: 4px;
      top: 3px;
      z-index: 1;
      opacity: .7;
    }
  }

  &-color &__value.disabled &__img {
    opacity: .2;
  }
}