#header {
	min-width: 320px;
}
span.mobile {
	display: inline-block;
	*display: inline;
	*zoom:1;
}
div.mobile {
	display: block;
}
.desktop {
	display: none;
}
.content {
	padding-left: 0;
}
.header .search_box,
.header_menu,
.header .phone {
	display: none;
}