/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
        /*background: #ffea53; */
        float: left;
  width: 250px;
}

ul.left-menu li
{
	padding: 0px;
	float:  left;
        width: 80%;
  margin-left: 0px;
  margin-bottom: 5px;
  
}

ul.left-menu li a
{ 
  height: 30px;
	font: 12px/30px Verdana;
	color: #BC262C;
	font-weight:bold;
	text-decoration:none;
        background: url('images/li-m.png') top left repeat-x;
        padding: 0px 0px;
        padding-left: 10px;
        width: 220px;
  float: left;
}
.li-left{
  width: 7px;
  background: url('images/li-l.png') top left no-repeat;
  /*padding: 5px 0;
  padding-bottom: 6px;*/
  padding-left: 10px;
  float: left;
  height: 30px;
}
.li-right{
  width: 240px;
  background: url('images/li-r.png') top right no-repeat;
  /*padding: 5px 0;
  padding-bottom: 6px;*/
  padding-right: 10px;
  position: relative;
  float: left;
  height: 30px;
}
ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}

ul.left-menu li.selected a{
  background: url('images/li-m-sel.png') top left repeat-x;
}
ul.left-menu li.selected .li-left{
  background: url('images/li-l-sel.png') top left no-repeat;
}
ul.left-menu li.selected .li-right{
  background: url('images/li-r-sel.png') top right no-repeat;
}

ul.left-menu li:hover .li-left{
  background: url('images/li-l-sel.png') top left no-repeat;
}
ul.left-menu li:hover .li-right{
  background: url('images/li-r-sel.png') top right no-repeat;
}
ul.left-menu li:hover a{
  background: url('images/li-m-sel.png') top left repeat-x;
  text-decoration: underline;
}

ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}


