#overlay {	background: #000;	bottom: 0;	left: 0;	opacity: 0.3;	position: fixed;	right: 0;	top: 0;}
#form, #form input, #form p {	font-size: 16px;}
.md-content h3 {	color: #fff;}
#lean_overlay {	background: #000;	display: none;	height: 100%;	left: 0px;	position: fixed;	top: 0px;	width: 100%;	z-index: 1000;	 -webkit-filter: sepia(100%); }
.block_blur{	-webkit-filter: blur(2px);}
#signup {	background: #fff;	border-radius: 5px;	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);	display: none;	moz-border-radius: 5px;	moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);	padding-bottom: 2px;	webkit-border-radius: 5px;	webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);	width: 404px;}
#test {	background: #fff;	border-radius: 5px;	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);	display: none;	moz-border-radius: 5px;	moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);	padding: 30px;	webkit-border-radius: 5px;	webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);	width: 600px;}
#test p {
	color: #666;
	text-shadow: none;
}
#signup-header {
	background: url('/bitrix/templates/tools/images/hd-bg.png');
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	moz-border-radius-topleft: 5px;
	moz-border-radius-topright: 5px;
	padding: 18px 18px 14px 18px;
	webkit-border-top-left-radius: 5px;
	webkit-border-top-right-radius: 5px;
}
#signup-header h2 {
	color: #225F97;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 3px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-align:left;
}
#signup-header p {
	color: #444;
	font-size: 1.3em;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: none;
}

#signup .txt-fld {
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	position: relative;
	text-align: right;
	/* width: 375px; */
}
#signup .btn-fld {
	overflow: hidden;
	padding: 12px 20px 12px 210px;
	/* width: 378px; */
}
#signup .txt-fld label {
	color: #222;
	display: block;
	float: left;
	margin: 0;
	text-align: left;
	font-size: 16px;
	margin-top: 5px;
	font-weight:normal;
}
#signup #call_top_hide_form{
	margin-right:20px;
	margin-bottom:10px;
	margin-top:10px;
}
#signup .txt-fld input {
	background: #f7f7f7;
	border-bottom: 1px solid #e7e6e6;
	border-left: 1px solid #ccc;
	border-radius: 4px;
	border-right: 1px solid #e7e6e6;
	border-top: 1px solid #ccc;
	color: #222;
	font-family: "verdana";
	moz-border-radius: 4px;
	outline: none;
	padding: 5px;
	webkit-border-radius: 4px;
	width: 234px;
}
#signup .txt-fld input.good_input {
	background: #def5e1;
}
#signup .txt-fld input.error_input {
	background: #fde0e0;
}

p.error {
	background: url('/bitrix/templates/tools/images/error-arw.png') 20px bottom no-repeat;
	bottom: 48px;
	color: #fff;
	font-size: 1.1em;
	margin: 0;
	padding-bottom: 5px;
	position: absolute;
	right: 20px;
	text-align: left;
	text-shadow: none;
	width: 262px;
}
p.error span {
	background: #d43636;
	border-radius: 3px;
	display: inline-block;
	moz-border-radius: 3px;
	padding: 6px;
	webkit-border-radius: 3px;
}
.txt-fld input:focus, .txt-fld textarea:focus {
	background-color: #faf9dc;
}
button {	background: #fea817;	background: linear-gradient(to bottom,#fea817 1%,#c54200 100%);	background: -moz-linear-gradient(top,#fea817 1%,#c54200 100%);	background: -ms-linear-gradient(top,#fea817 1%,#c54200 100%);	background: -o-linear-gradient(top,#fea817 1%,#c54200 100%);	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlYTgxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTQyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fea817),color-stop(100%,#c54200));	background: -webkit-linear-gradient(top,#fea817 1%,#c54200 100%);	border: none;	border-bottom-left-radius: 22px;	border-bottom-right-radius: 22px;	border-top-left-radius: 22px;	border-top-right-radius: 22px;	box-shadow: inset 0 2px 0 rgba(255,255,255,.5);	color: #fff;	cursor: pointer;	display: block;	filter: progid:dximagetransform.microsoft.gradient(startcolorstr= '#fea817',endcolorstr = '#c54200',gradienttype = 0);		float: right;	font-family: "helvetica neue", "helvetica", "arial", sans-serif;	font-size: 110%;	font-weight: bold;	height: 40px;	moz-border-radius-bottomleft: 22px;	moz-border-radius-bottomright: 22px;	moz-border-radius-topleft: 22px;
	moz-border-radius-topright: 22px;
	moz-box-shadow: inset 0 2px 0 rgba(255,255,255,.5);
	overflow: visible;
	padding: 7px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	webkit-border-bottom-left-radius: 22px;
	webkit-border-bottom-right-radius: 22px;
	webkit-border-top-left-radius: 22px;
	webkit-border-top-right-radius: 22px;
	webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,.5);
	width: 148px;
	z-index: 20;
}
.modal_close {
	background: url('/bitrix/templates/tools/images/modal_close.png');
	display: block;
	height: 14px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 14px;
	z-index: 2;
}
.layout_ok {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}
.message_ok {
	position: fixed;
	width: 280px;
	background: #FFF;
	top: 50%;
	left: 50%;
	margin-left: -170px;
	margin-top: -100px;
	padding: 30px 20px;
	border: 6px solid #016AB1;
	z-index: 1100;
	color: #000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 19px;
	text-shadow: none;
	text-align: center;
}