// ******************skin0******************
// #fec312 linear-gradient(180deg, #fec312, #dd5723) repeat scroll 0 0
$skin0_color:                           #fff;
$skin0_bg:                              #fec312; // main catalog menu
$skin0_bg0:                             $skin0_bg;
$skin0_bg100:                           darken( desaturate( adjust-hue( $skin0_bg, -28deg ), 26 ), 3 ); // #dd5723;
$skin0_border:                          $skin0_bg;

// #ff9e00 linear-gradient(180deg, #fec312, #ff9e00) repeat scroll 0 0
$skin0_hover_bg:                        darken( saturate( adjust-hue( $skin0_bg, -8deg ), 1 ), 3 ); // #ff9e00;
$skin0_hover_bg0:                       $skin0_bg;
$skin0_hover_bg100:                     $skin0_hover_bg;

// #f7bb0e none repeat scroll 0 0
$skin0_active_bg:                       darken( desaturate( $skin0_bg, 5 ), 2 ); // #f7bb0e;

// ******************skin1******************
// #7b9a24 linear-gradient(180deg, #c0e914, #7b9a24) repeat scroll 0 0
$skin1_color:                           #fff;
$skin1_bg:                              #7b9a24;
$skin1_bg0:                             lighten( saturate( adjust-hue( $skin1_bg, -4deg ), 22 ), 13 );
$skin1_bg100:                           $skin1_bg;
$skin1_border:                          $skin1_bg;

// #8db320 linear-gradient(180deg, #c0e914, #8db320) repeat scroll 0 0
$skin1_hover_bg:                        lighten( saturate( $skin1_bg, 8 ), 4 ); //#8db320
$skin1_hover_bg0:                       $skin1_bg0; // #c0e914
$skin1_hover_bg100:                     $skin1_hover_bg;

// #9eca17 none repeat scroll 0 0
$skin1_active_bg:                       lighten( saturate( adjust-hue( $skin1_bg, -1deg ), 18 ), 7 ); // #9eca17;

// ******************skin2******************
$skin2_color:                           $skin0_color;
$skin2_bg:                              $skin0_bg;
$skin2_bg0:                             $skin0_bg0;
$skin2_bg100:                           $skin0_bg100;
$skin2_border:                          $skin0_border;

$skin2_hover_bg:                        $skin0_hover_bg;
$skin2_hover_bg0:                       $skin0_hover_bg0;
$skin2_hover_bg100:                     $skin0_hover_bg100;

$skin2_active_bg:                       $skin0_active_bg;

// ******************skin3******************
// #e0e0e0 linear-gradient(180deg, #ffffff, #e0e0e0) repeat scroll 0 0
$skin3_color:                           $text-color;
$skin3_bg:                              #e0e0e0;
$skin3_bg0:                             #fff;
$skin3_bg100:                           $skin3_bg;
$skin3_border:                          $gray-light;

// #efefef linear-gradient(180deg, #ffffff, #efefef) repeat scroll 0 0
$skin3_hover_bg:                        lighten($skin3_bg, 6); // #f0f0f0;
$skin3_hover_bg0:                       $skin3_bg0;
$skin3_hover_bg100:                     $skin3_hover_bg;

// #f4e6fe linear-gradient(180deg, #ffffff, #f4e6fe) repeat scroll 0 0
$skin3_active_bg:                       lighten(saturate(adjust-hue($skin3_bg, 276deg), 93), 7); // #f4e5fe;
$skin3_active_bg0:                      $skin3_bg0;
$skin3_active_bg100:                    $skin3_active_bg;

// ******************skin4******************
$skin4_bg:                              #17ba3e;

// ******************skin_topline******************
// #afd100 linear-gradient(180deg, #afd100, #617d09) repeat scroll 0 0
$skin_topline_background:				#afd100;
$skin_topline_from_color:				#afd100;
$skin_topline_to_color:					#617d09;
$skin_topline_border:					#c6e100;
$skin_topline_link_color:				#fff;
$skin_topline_icon_color:				#586d06;

// ******************vml_menu******************
$vml_menu_bg_from:						#FFF;
$vml_menu_bg_to:						#F9F9F9;
$vml_menu_bg_hover_from: 				#F9F9F9;
$vml_menu_bg_hover_to: 					#fff;
$vml_menu_border_color:					#E2E2E2;
$vml_menu_color:						#000;
$vml_menu_hover_color:					$skin0_bg;
$vml_menu_sub_bg_from:					#F9F9F9;
$vml_menu_sub_bg_to:					#FFF;
$vml_menu_sub_bg_hover_from:			$vml_menu_sub_bg_to;
$vml_menu_sub_bg_hover_to:				$vml_menu_sub_bg_from;
$vml_menu_sub_color:					#000;
$vml_menu_sub_color_hover:				$skin0_bg;
$vml_svg_stroke_color:					#c2c2c2;
$vml_svg_stroke_color_hover:			$skin0_bg;
$vml_svg_sub_stroke_color:				#c2c2c2;
$vml_svg_sub_stroke_color_hover:		$skin0_bg;

// ******************navbar_link******************
$navbar_link_hover_color:               #f7a20f;
$navbar_link_hover_border:              $navbar_link_hover_color;

// ******************skin_footer******************
// #85ad00 linear-gradient(180deg, #85ad00, #729600) repeat scroll 0 0
$skin_footer_background:				#85ad00;
$skin_footer_from_color:				#85ad00;
$skin_footer_to_color:					#729600;
$skin_footer_border:				    #5c7900;
$skin_footer_title_color:				#bce540;
$skin_footer_link_color:				#fff;
$skin_footer_icon_color:				#bce540;

$link-color:                            #866b49;
$link-hover-color:                      darken($link-color, 15%);
$link-hover-decoration:                 underline;
//$link-hover-color:                        #7DA831;

$price-color:                           #000;

$header_icon_color:                     $skin0_bg;
$footer_icon_color:                     $skin0_bg;