.ts-filter *{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.ts-filter h3{ text-align: center; }
.ts-filter .ts-item span{ display: inline-block; }
.ts-filter table{ border-collapse: collapse; border-spacing: 0; }
.ts-filter table td{ vertical-align: middle; padding: 2px 5px; }
.ts-filter table tfoot td{ padding-top: 15px; }
.ts-filter select, .ts-filter input{ max-width: 100%; vertical-align: middle; }
.ts-filter table label{ margin-right: 10px; }
.ts-filter table label input{ vertical-align: baseline; margin-right: 3px; }
.ts-filter select, .ts-filter input, .ts-filter textarea{
	font-size: 13px;
	max-width: 100%;
	vertical-align: middle;
	border: 1px solid #aaa;
	margin: 1px 0;
	outline: 0 none;
	padding: 4px 5px;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(42%, #fefefe), color-stop(74%, #f0f0f0), color-stop(100%, #e0e0e0));
	background: -webkit-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -o-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: linear-gradient(to bottom, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
}
.ts-filter td input:focus, .ts-filter td textarea:focus{
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.ts-filter input[type="text"]{
	height: 30px;
	line-height: 30px;
}
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(42%, #fefefe), color-stop(74%, #f0f0f0), color-stop(100%, #e0e0e0));
	background: -webkit-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -o-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	background: linear-gradient(to bottom, #fff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
}
.ts-filter table tfoot input{
	font-size: 14px;
	display: inline-block;
	min-height: 30px;
	padding: 0 12px;
	line-height: 28px;
	color: #444;
	letter-spacing: normal;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #eee));
	background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
	background: -o-linear-gradient(top, #fff 0%, #eee 100%);
	background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
/*Hover*/
.ts-filter table tfoot input:hover,
.ts-filter table tfoot input:focus{
	background-color: #fafafa;
	color: #444;
	outline: none;
}
/*Active*/
.ts-filter table tfoot input:active{
	background-color: #f5f5f5;
	color: #444;
	border-color: rgba(0, 0, 0, 0.2);
	border-top-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ts-filter .ui-slider .ui-tooltip{ position: relative; }
.ts-filter .ui-slider .ui-tooltip span{ position: absolute; top: 0; left: 0; display: block; height: 16px; margin-top: -16px; }
.ts-ot-do{ white-space: nowrap; }
.ts-ot, .ts-do{ position: relative; }
.ts-ot-do .calendar-icon{ position: absolute; right: 4px; top: 50%; margin: -10px 0 0 0; }
.ts-filter .ts-select-in-checkbox label{display: block;}