input[type="radio"] { *vertical-align: text-bottom; }
input[type="checkbox"] {*vertical-align: baseline; }
input {
    margin: 0;}
* html input { vertical-align: text-bottom; }
form, fieldset {margin:0;padding:0;border:none;}
p {margin:0 0 15px;}
.top ul, .nav, .secondLevel, .menu ul, .docs ul, .breadcrumbs, .thumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
    }
h1 {font:normal 21px arial;margin:0 0 12px;}
.headerR h1 {font:normal 24px arial;margin:0 0 16px;}
h2 {font:normal 18px arial;margin:0 0 12px;}
h3 {font:normal 14px arial;margin:0 0 7px;}
h3.alt {
    font-weight: bold;}
h3.main {
    color: #fff;
    margin: 0 0 8px;
    padding: 7px 8px;
    position: relative;}
h3.main:before {content:'';
    position: absolute;
    width: 4px;
    height: 4px;
    left: -1px;
    top: -1px;}
h3.main:after {content:'';
    position: absolute;
    width: 4px;
    height: 4px;
    right: -1px;
    top: -1px;}
h3.main a:link, h3.main a:visited {
    text-decoration: underline;
    color: #fff;}
h3.main a:hover, h3.main a:focus {
    text-decoration: none;}

h4 {font:bold 13px arial;margin:0 0 5px;}
h5 {font:normal 11px arial;margin:0 0 5px;}
body {
	font:normal 12px/1.6em arial;
	color:#383a3c;
	margin:0;
	padding:0;
}
html {
    min-height: 100%;}
img {border:none;}
.imgr img {
    display: block;}
/*==================================================================*/
a:link, a:visited {text-decoration:underline;}
a:hover, a:focus {text-decoration:none;}

.wrapper {
    width: 975px;
    margin: 0 auto;
}
.top {
    text-align: right;
    margin-bottom: 7px;
    font-size: 11px;
    overflow: hidden;
    zoom: 1;}
.top li {
    margin-left: 26px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;}
.top .logout {
    margin-left: 9px;
    float: right;}
.top .logout a {
    width: 59px;
    height: 19px;
    text-align: center;
    color: #fff;
    background: url(images/logout.png) 0 0 no-repeat;}
.top a {
    padding: 2px 0 3px;
    display: inline-block;
    *display: inline;
    zoom: 1;}
.headerWrap {
    padding-top: 3px;}
.headerInner {
    margin: 0 10px;
    background: url(images/line.png) 0 bottom repeat-x;}
.header {
    width: 975px;
    margin-left: -10px;
    position: relative;
    background: url(images/head.jpg) right 0 no-repeat;
    height: 200px;}
.topImg {
    overflow: hidden;
    position: absolute;
    height: 200px;
    width: 975px;}
.topImg img {
    display: block;}
.headerCL {
    position: absolute;
    z-index: 2;
    left: -6px;
    top: -3px;
    width: 11px;
    height: 122px;}
.headerCR {
    position: absolute;
    z-index: 2;
    right: -6px;
    top: -3px;
    width: 11px;
    height: 122px;}
.logo, .headerR {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    position: relative;
    z-index: 1;}
.logo {
    padding: 20px 10px 9px;
    width: 182px;
    text-align: center;
    float: left;}
.logo img {
    position: static;}
.headerR {
    width: 770px;
    padding-top: 35px;}
.headerR h1 {
    margin: 0 0 5px;}
.search input[type="text"] {
    border: 1px solid #d4cbc8;
    background: #f6f6f6;
    padding: 5px 7px;
    font: italic 12px arial;
    color: #7a7c7d;}
.search input {
    width: 217px;}
.search input, .search button {
    vertical-align: top;}
.search .button {
    margin-left: 5px;}
.search button, .poll button {
    width: auto;
    cursor: pointer;
    font: 1em arial;
    margin: 0;
    overflow: visible;
    padding: 0 17px;
    height: 28px;
    color: #383a3c;
    background: url("images/btn.png") 0 0 repeat-x;
    border:1px solid #9ba2a2;
    border-left: none;
    border-right: none;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;}
.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;}
.search .button:before, .poll .button:before  { content:'';
    position: absolute;
    width: 4px;
    height: 28px;
    left: -4px;
    top: 0;
    background:url(images/btnL.png) 0 0 no-repeat;}
.search .button:after, .poll .button:after  {  content:'';
    position: absolute;
    width: 4px;
    height: 28px;
    right: -4px;
    top: 0;
    background:url(images/btnR.png) 0 0 no-repeat;}
input::-moz-focus-inner /*Remove button padding in FF*/
   {
   border: 0;
   padding: 0;
   }
button::-moz-focus-inner /*Remove button padding in FF*/
   {
   border: 0;
   padding: 0;
   }

.nav {
    position: absolute;
    font:bold 14px Arial, sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("images/trans.png");
    padding: 5px 0 0;
    text-align:justify;
    height: 36px;
    line-height: 0;}
.nav * {line-height: 0;}
.nav .under {display:inline-block; width:100%; height:0px; overflow:hidden;}
.nav li, .nav a, .nav span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: bottom;}
.nav li, .nav span {
    position: relative;
    zoom: 1;}
.nav .dropdown {}
.nav .r-border-shape {
    display: none;
    position: absolute;
    top: 36px;
    left: 0px;
    white-space: nowrap;
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    z-index: 3;}
.nav .secondLevel {
    display: block !important;}
.nav .secondLevel span {
    display: block;
    padding-right: 40px;
    padding-top: 3px;
    margin-top: 5px;
    border-top: 1px dotted #797979;}
.nav .secondLevel span a:before, .nav .secondLevel span a:after {
    display: none;}
.nav .secondLevel span:first-child {
    border: none;
    padding-top: 0;
    margin: 0;}
.nav .secondLevel span:hover {
    background: none;}
.nav .secondLevel span a {
    font-size: 13px;
    display: block;
    padding: 0;
    background: none !important;
    margin: 0;}
.nav .secondLevel a:hover {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;}
.nav .secondLevel a:hover:before {
    display: none;}
.nav .secondLevel a:hover:after {
    display: none;}
.nav a {
    padding: 9px 0 10px;
    line-height: 14px;
    position: relative;
    margin: 0 11px;
    height: 17px;
    outline: none;}
.nav a:hover {
    text-decoration: underline;}
.nav .current, .nav .dropdown {}
.nav .dropdown a {
    padding-bottom: 10px;}
.nav .dropdown a:hover {
    padding-bottom: 11px;
    margin-bottom: -1px;}
.nav .current>a {
    text-decoration: none;
    padding-bottom: 10px;
    background:#fff url(images/navC.png) 0 0 repeat-x;}
.nav .current a:hover {
    text-decoration: none;}
.nav .current a:before {
    content:'';
    position: absolute;
    left: -11px;
    top: 0px;
    width: 11px;
    height: 36px;
    background:url(images/navCL.png) 0 0 no-repeat;}
.nav .current a:after {
    content:'';
    position: absolute;
    right: -11px;
    top: 0px;
    width: 11px;
    height: 36px;
    background:url(images/navCR.png) 0 0 no-repeat;}
.nav .dropdown a {
    padding-right: 3px;
    padding-left: 3px;}
.nav .dropdown:hover a:before {
    content:'';
    position: absolute;
    z-index: 4;
    left: -11px;
    top: 0px;
    width: 11px;
    height: 41px;}
.nav .dropdown:hover a:after {
    content:'';
    position: absolute;
    right: -11px;
    top: 0px;
    width: 11px;
    height: 36px;}
.nav .dropdown:hover .r-border-shape {
    display: block;}

.container {}
.shadowBot {
    position: absolute;
    bottom: 111px;
    left: 4px;
    right: 4px;
    height: 3px;
    background: url(images/sb.png) 0 bottom repeat-x;}
.content {
    background: #fff;
    padding:0 10px 25px;}
.contentBL {
    position: absolute;
    z-index: 2;
    left: -6px;
    bottom: 109px;
    width: 10px;
    height: 153px;
    background: url(images/bl1.png) 0 0 no-repeat;}
.contentBR {
    position: absolute;
    z-index: 2;
    right: -6px;
    bottom: 109px;
    width: 10px;
    height: 153px;
    background: url(images/br1.png) 0 0 no-repeat;}

.leftCol {
    float: left;
    width: 180px;
    padding-right: 12px;}
.rightCol {
    float: right;
    width: 155px;
    padding-top: 8px;
    padding-left: 12px;}
.centerCol {
    overflow: hidden;
    padding-top: 8px;
    zoom: 1;}
.centerColBot {
    overflow: hidden;
    zoom: 1;}
.centerColL {
    float: left;
    width: 294px;}
.centerColR {
    float: right;
    width: 294px;}
.centerColBot .blockInner {
    padding: 0;
    overflow: hidden;
    zoom: 1;}
.blockInner {
    padding: 8px 6px 10px;
    /*border-bottom: 1px dotted #c3c3c3;*/}
.user {
    background: #fdffdf;
    margin-bottom: 15px;}
.darkBorder, .greyBorder {
    position: relative;
    z-index: 0;
    font-size: 0;
    line-height: 0;}
.ava {
    float: left;
    width: auto;
    position: relative;}
.darkBorder img {
    border: 1px solid #383a3c;}
.greyBorder img {
    border: 1px solid #cbcbcb;}
.darkBorder .c, .greyBorder .c {
    position: absolute;
    width: 3px;
    height: 3px;}
.darkBorder .tl, .greyBorder .tl {
    background: url(images/avaTL.png) 0 0 no-repeat;
    left: 0;
    top: 0;}
.darkBorder .tr, .greyBorder .tr {
    background: url(images/avaTR.png) 0 0 no-repeat;
    right: 0;
    top: 0;
	}

.darkBorder .bl, .greyBorder .bl {
    background: url(images/avaBL.png) 0 0 no-repeat;
    left: 0;
    bottom: 0;}
.darkBorder .br, .greyBorder .br {
    background: url(images/avaBR.png) 0 0 no-repeat;
    right: 0;
    bottom: 0;}
.greyBorder .tl {
    background: url(images/nTL.png) 0 0 no-repeat;}
.greyBorder .tr {
    background: url(images/nTR.png) 0 0 no-repeat;}
.greyBorder .bl {
    background: url(images/nBL.png) 0 0 no-repeat;}
.greyBorder .br {
    background: url(images/nBR.png) 0 0 no-repeat;}
.userInfo {
    overflow: hidden;
    zoom: 1;
    margin-left: 35px;
    font-size: 11px;}
.userInfo h5 {
    margin: 0;}
.userInfo .logout {
    color: #d94320;}
.menu {
    margin-bottom: 24px;
    margin-top: 8px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;}
.menu .blockInner {
    padding-bottom: 8px;}
.menu a {
    text-decoration: underline;
    outline: none;}
.menu a:hover {
    text-decoration: underline;}
.menu .secondLevel {
    display: none;}
.menu .secondLevel a:link, .menu .secondLevel a:visited {
    text-decoration: underline;}
.menu .secondLevel a:hover, .menu .secondLevel a:focus{
    text-decoration: none;}
.menu li {
    padding: 5px 7px 6px;
    margin-bottom: 3px;
    position: relative;
    zoom: 1;}
.menu li .c {
    position: absolute;
    width: 5px;
    height: 5px;
    display: none;}
.menu .current a {
    text-decoration: none;}
.menu .current .c {
    display: block;}
.menu li .tl {
    left: 0;
    top: 0;}
.menu li .tr {
    right: 0;
    top: 0;}
.menu li .bl {
    left: 0;
    bottom: 0;}
.menu li .br {
    right: 0;
    bottom: 0;}

.menu .current .secondLevel {
    display: block;}
.menu .secondLevel li {
    margin: 7px 0 0 10px;
    padding: 0;
    font-size: 13px;
    font-weight: normal;}
.menu .secondLevel li:before {content:'-';
    margin-right: 3px;}
.menu li.expanded a, .menu li.current a {
    font-weight: bold;}
.menu li.expanded a.current {
    font-weight: bold;}
.menu .secondLevel li a {
    font-weight: normal;}
.menu .secondLevel li a:hover {
    text-decoration: none;}
.menu .secondLevel li.current a {
    font-weight: bold;}
.banner {
    margin-bottom: 20px;}
.banner img {
    display: block;
    border: 1px solid #c3c3c3;}

.about {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #c3c3c3;}
.about img {
    float: left;
    border: 1px solid #d1d1d1;}
.aboutTxt {
    margin-left: 170px;}
.more {
    font-size: 11px;}
.newsItem {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 29px;
    font-size: 11px;
    padding: 0 7px;}
.newsImg {position: relative;
    margin-top: 22px;}
.newsImgWrap {
    float: left;
    width: auto;
    margin-right: 5px;}
.newsTxt {
    overflow: hidden;
    zoom: 1;}
.newsTxt h4 {
    margin: 0;
    font-size: 13px;}
.newsItemMain {
    overflow: hidden;
    zoom: 1;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 20px;
    }
.newsImgMain {position: relative;
    margin-top: 5px;}
.newsImgWrapMain {
    float: left;
    width: auto;
    margin-right: 5px;}
.newsTxtMain {
    /*overflow: hidden;*/
    zoom: 1;}
.newsTxtMain h4 {
    margin: 0;
    font-size: 13px;}     
.date {
    color: #858585;}

.poll label {
    margin-left: 3px;}
.poll {MARGIN-BOTTOM:18PX;}
.poll .blockInner {
    padding-top: 0;
    font-size: 11px;}
.poll .button {
    margin-top: 5px;}
.poll .formRow {
    margin-bottom: 5px;}

.docs {
    font-size: 11px;}
.docs .blockInner {
    padding: 0 8px;}
.docs li {
    padding-left: 19px;
    margin-bottom: 8px;}

.footer {
    padding: 14px 10px 0px;
    height: 100px;
    font-size: 11px;
    position: relative;}
.info {
    float: left;
    width: 170px;}
.bit {
    float: right;
    width: 410px;
    text-align: right;}
.counters {
    float: left;
    width: 200px;
    margin-right: 15px;
    *display: inline;}
.counters img {
    margin-left: 10px;}
.contacts {
    margin: 0 500px 0 190px;}
.breadcrumbs li {
    display: inline;
    margin-right: 2px;
    font-size: 11px;
    margin-bottom: 5px;}
.breadcrumbs li:after {
    content:'\2192';
    font: 14px 'Arial';
    color: #383a3c;
    margin-left: 2px;}

.contentArea {
    overflow: hidden;
    zoom: 1;}
.gallery {
    float: left;
    margin-right: 13px;
    *display: inline;}
.desc {
    overflow: hidden;
    zoom: 1;
    width: 315px;}
.gallery img {
    border: 1px solid #c3c3c3;}
.big {
    margin-bottom: 5px;}
.thumbs li {
    display: inline;
    margin-left: 3px;}
.thumbs li:first-child {
    margin: 0;}
.classInfoTxt {
    clear: both;
    padding-top: 30px;}
.inCharge h3 {
    font-weight: bold;
    margin-bottom: 10px;}
.personId {}
.personImg, .personName {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: baseline;}
.personImg {
    margin-right: 10px;}
.personName {
    width: 130px;
    line-height: 14px;}
.personNote {
    font:italic 11px Arial, sans-serif;
    padding-top: 5px;}
.news p {
    margin: 0;}


.r-border,
.r-border-shape .secondLevel{
    padding: 5px 7px 5px 14px;
}

.r-border .navSecondLevel,
.r-border-shape .navSecondLevel{
}

.r-border .tb, .r-border .bb,
.r-border-shape .tb, .r-border-shape .bb{
	position:relative;
	height:5px;
	overflow:hidden;
    display: block;
}
.r-border-shape .tb {width:expression((this.nextSibling.offsetWidth) + 'px')}
.r-border-shape .bb {width:expression((this.previousSibling.offsetWidth) + 'px');}
.r-border .cn,
.r-border-shape .cn{
    display: block;
	position:relative;
	width:5px;
	height:20px;
	overflow:hidden;
}

.r-border .cn.r,
.r-border-shape .cn.r{
	position:absolute;
	margin-left:100%;
	left:-5px;
	top:-5px;
}

.r-border .bb .cn,
.r-border-shape .bb .cn{
	margin-top:-10px;
}

.r-border-shape .cn.l{
	width:auto;
	margin-right:5px;
}

.teachers {
    clear: both;
    padding-top: 15px;}
.teachers h3 {
    font-weight: bold;}
.row {
    white-space: nowrap;}
.desc * {
    white-space: normal;}
.teachers .row {
    margin-bottom: 25px;}
.teachers .desc {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin-right: 65px;}

.share_buttons {
    text-align: right;}
.social_buttons a {
    float: left;
    margin-right: 8px;
    margin-bottom: 12px;
}
.social_buttons_clear {
    clear: both;
}
.demo_content {
    background-color: #FFFFAD;
    border: 1px solid #CCCCCC;
    padding: 8px;
}
.logsFilter {
    float: right;
}
.video {
    width: 400px;
    margin: 5px auto 10px;
}
.photo {
    margin-bottom: 15px;
    margin-top: 5px;
}
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#photo {
    margin: 0;
    padding: 0px 0px 12px 0;
}