.search {
  
  &__pagenav {
    float: right;
  }
  
  &__items {
    clear: both;
  }
}

@media (min-width: $screen-sm-min) {
  .search {
    
    .search__form {
      margin-bottom: $base-line-height*2;
      float: left;
    }
  }
}

.search-popup {
  background-color: $body-bg;
  border: 1px dashed $gray-base;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: $base-line-height;
}
.search-popup-row,
.search-popup-row-active {
  background: $body-bg;
  padding: $base-line-height*0.5 $base-line-height;
  position: relative;
  cursor: pointer;
}

.search-popup-row-active {
    background: $gray-lighter;
}
.search-popup-el-name,
.search-popup-el-cnt {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-popup-el-cnt {
  float:right;
  text-align: right;
}

.search_item {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $base-line-height;
  padding-bottom: $base-line-height;

  &__pic {
  	float: left;
	max-width: 225px;
    padding: 0 $base-line-height $base-line-height 0;
    width: 25%;
  }
  
  &__name {
    font-weight: bold;
    margin-right: 1em;
	text-decoration: none;
  }
  
  &__breadcrumb {
    display: none;
  }
  
  &__head,
  &__descr {
    margin-bottom: $base-line-height/2;
  }
  .price__pv {
    margin-right: 1em;
  }
}

@media (min-width: $screen-xs-min) {
  .search_item {
  
    &__breadcrumb {
      display: inline;
      white-space: normal;
    }
  }
}