
.title-search-result{
  display: none;
  margin-top: 14px;
  overflow: hidden;
  z-index: 205;
}

.search_popup{
  background-color: $body-bg;
  border: 1px dashed $gray-base;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 $gray-base;
  
  &__sep {
    background-color: $gray-light;
    height: 2px;
    width: 100%;
  }
}

/* search.title -> results -> catalog */

.title_search_result-catalog-item,
.title_search_result-catalog-item_overlay{
  height: 68px;
}
.title_search_result-catalog-item{
  background-color: #FFF;
  position: relative;
}
.title_search_result-catalog-item_overlay{
  cursor: pointer;
  position: absolute;
}
.title_search_result-catalog-item.hovered .title_search_result-catalog-item-name a{
  text-decoration: underline;
}
.title_search_result-catalog-item_inner{
  padding: 10px;
}
.title_search_result-catalog-item-img{
  float: left;
  margin-right: 10px;
  text-align: center;
  width: 60px;
}
.title_search_result-catalog-item-name a{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  overflow: hidden;
}
.title_search_result-catalog-item-price .price{
  float: left;
  font-size: 15px;
  padding-right: 5px;
}
.title_search_result-catalog-item-price .crossed_price{
  float: left;
  font-size: 12px;
  padding-top: 3px;
}
/* search.title -> results -> iblocks */
.title_search_result-iblock{
  padding-bottom: 5px;
  width: 230px;
}
.title_search_result-iblock-around_title{
  height: 15px;
  position: relative;
  width: 100%;
}
.title_search_result-iblock-title_line{
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #DBDBDB;
}
.title_search_result-iblock-title{
  height: 15px;
  left: 0;
  margin: 0 5%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: 90%;
}
.title_search_result-iblock-title span{
  background-color: #FFF;
  color: #999;
  padding: 0 6px;
}
.title_search_result-iblock-item{
  padding: 4px 10px;
}
/* search.title -> results -> other */
.title_search_result-other-item{
  padding: 4px 10px;
}
.title_search_result-other-item a{
  text-decoration: none;
}
.title_search_result-other-item a:hover{
  text-decoration: underline;
}
