.cart {
  &__total {
    float: right;
    width: auto;
    
    & > tbody > tr > td {
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .price__pdv {
      line-height: $base-line-height;
    }
  }  

  &__coupons {
    float: none;
  }

  &__btns {

    & > .btn {
      float: left;
      width: 49.7%;

      &:nth-child(2n) {
        margin-left: .6%;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  
  .cart {

    &__coupons {
      float: left;
    }

    &__btns {
      float: right;
      margin-bottom: $base-line-height;
      text-align: right;

      & > .btn {
        float: none;
        width: auto;

        &:nth-child(2n) {
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .cart {
    &__btns {
      margin-bottom: $base-line-height * 2;
    }
  }
 }