h1 {
    margin-bottom: 5px!important;
}
.news-date-time
{
	color:#888;
    margin-bottom: 15px;
}
a {
    color: #7aa4cf;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.content {
    border: 1px solid #94bfdc;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px 20px 0!important;
}