<style>
.info-title
{
	width: 100%;
	padding: 5px 0px 0px 5px;
	font-size: 15px;
	color: #494949;
	font-weight: bold;
	font-family: Arial,helvetica,sans-serif;
	display: block;
}
.smskontakt-getapikey-button, .smsbliss-reg-button
{
	color: #2747BF;
}
.tab-text
{
	font-size: 70%;
}
.sms-log
{
	font-size: 85%;
	font-family: monospace;
}
.hint
{
	color: #666;
}
.bliss-reg-form
{
	margin: 20px 10px;
}
</style>