.filter {width:100%;display:block;float:right;overflow:visible;padding-bottom:10px;}
.filter  .propwrap {padding:10px 10px 10px 10px;clear:both;overflow:visible;margin-top:1px;background:#f6f6f6;}
.filter  .propwrap .propLabel {font-weight:bold;padding-bottom:5px;padding-left:0px;font-size:12px;color:#000000;width:100%;}
.filter  .propwrap .propValues {display:block;width:100%;overflow:visible;clear:both;}
.filter  .propwrap .propValues .propVal {width:99%;display:block;clear:both;overflow:visible;}
.filter  .propwrap .propValues .propVal:hover{}
.filter  .propwrap .propValues .propVal a, .filter  .propwrap .propValues .propVal span {width:89%;display:block;text-decoration:none;padding:5px 2% 5px 9%;
color:#555555;font-size:12px;color:#000000;}
.filter  .propwrap .propValues .propVal span {background:url('images/check.png') 0px -203px no-repeat;opacity:0.4;}
.filter  .propwrap .propValues .propVal a.normal {background:url('images/check.png') 0px -203px no-repeat;}
.filter  .propwrap .propValues .propVal a.active {background:url('images/check.png') 0px 5px no-repeat;}


.filter  .propwrap .propValues input.otdo {border-radius:3px;border:1px solid #D9E1EA;background:#ffffff;padding:3px;
font-size:12px;width:56px;float:left;margin-right:10px;margin-top:5px;}
.filter  .propwrap .otdo {width:20px;font-size:12px;line-height:22px;display:block;float:left;padding-left:0px;margin-top:5px;}

.filter .buttons {padding:10px 5px;clear:both;overflow:hidden;border:1px solid #efefef;border-top:0px solid #efefef;}
.filter .buttons a {display:block;padding:0px;background:#E91653;color:#ffffff;text-decoration:none;margin:5px;width:78px;float:left;text-align:center;height:31px;
font-size:11px;text-transform:uppercase;line-height:31px;border-radius:3px;}
.filter .buttons a:hover {background:#BC1242;}
.filter .buttons a.rightf {float:right;}

.filter .headfilter {display:block;padding:5px 5px;background:#E91653;}
.filter .headfilter h4 {display:block;width:100%;font-size:14px;text-transform:uppercase;color:#ffffff;}
.filter .headfilter h4 span {float:right;display:block;width:140px;color:#ffffff;text-align:right;line-height:14px;text-transform:lowercase;display:none;}

/* Ширина слайдера */
#slider {
}
/* Контейнер слайдера */
.ui-slider {
	position: relative;
	z-index:1;
	margin:0px 0 0 7px;
	width: 92%;
	clear:both;
	overflow:visible;
	padding-top:5px;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 13px;   /* Задаем нужную ширину */
	height: 13px;  /* и высоту */
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
	 height: 15px; /* задаем высоту согласно дизайна */
	 margin-top:0px;
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
	top: 3px;
	margin-left: -7px;
	background:#2D2D2D;
}
.ui-slider-horizontal .ui-slider-range {
	top: 6px;
	height: 8px;
	overflow:auto;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0px;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
	background:url('images/slider.jpg') 0 0px repeat-x;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #3DA9D6;
}
/* скругление для полосы слайдера */
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.jq-checkbox {
	top: -1px;
	width: 13px;
	height: 13px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
	background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	vertical-align: middle;
	cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 9px;
	height: 9px;
	margin: 2px 0 0 2px;
	border-radius: 2px;
	background: #666;
	box-shadow: inset 0 -3px 6px #AAA;
}
.jq-checkbox.focused {
	border: 1px solid #000000;
}
.jq-checkbox.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-radio {
	width: 12px;
	height: 12px;
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
	width: 6px;
	height: 6px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #666;
}
.jq-radio.focused {
	border: 1px solid #000000;
}
.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-file {
	width: 270px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 4px;
}
.jq-file input {
	cursor: pointer;
	height: auto;
	line-height: 1em;
}
.jq-file__name {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 0 80px 0 10px;
	color: #333;
	font: 14px/30px Arial, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1;
	background: #FFF;
}
.focused .jq-file__name {
	border: 1px solid #5794BF;
}
.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px/30px Arial, sans-serif;
}
.jq-file:hover .jq-file__browse {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.disabled .jq-file__name {
	color: #888;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}


.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
    width: 100%;
}
.jq-selectbox__select {
	height: 26px;
	padding: 0 39px 0 10px;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	background: #ffffff;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(215, 215, 215, 0.8);
	-moz-box-shadow:    0px 2px 3px 0px rgba(215, 215, 215, 0.8);
	box-shadow:         0px 2px 3px 0px rgba(215, 215, 215, 0.8);
	color: #333;
	font: 12px/28px Arial, sans-serif;
}
.jq-selectbox__select:hover {
	background-color: #fbfbfb;
	background-position: 0 -10px;
}
.jq-selectbox__select:active {
	background: #fbfbfb;
}
.jq-selectbox.focused .jq-selectbox__select {
}
.jq-selectbox.disabled .jq-selectbox__select {
	background-color: #fbfbfb;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	height: 100%;
	border-left: 1px solid #CCC;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 11px;
	right: 9px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.jq-selectbox__dropdown {
	top: 29px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #b6b6b6;
	border-radius: 4px;
	background: #FFF;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(215, 215, 215, 0.8);
-moz-box-shadow:    0px 2px 3px 0px rgba(215, 215, 215, 0.8);
box-shadow:         0px 2px 3px 0px rgba(215, 215, 215, 0.8);
	font: 12px/14px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 12px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 16px;
	padding: 5px 10px 6px;
	color: #000000;
}
.jq-selectbox li.selected {
	background-color: #f6f6f6;
	color: #000000;
}
.jq-selectbox li:hover {
	background-color: #f6f6f6;
	color: #000000;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #000000;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}


input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
	padding: 7px 9px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	font: 14px Arial, sans-serif;
}
input[type="search"].styler {
	-webkit-appearance: none;
}
textarea.styler {
	overflow: auto;
}
input[type="email"].styler:hover,
input[type="number"].styler:hover,
input[type="password"].styler:hover,
input[type="search"].styler:hover,
input[type="tel"].styler:hover,
input[type="text"].styler:hover,
input[type="url"].styler:hover,
textarea.styler:hover {
	border-color: #B3B3B3;
}
input[type="email"].styler:focus,
input[type="number"].styler:focus,
input[type="password"].styler:focus,
input[type="search"].styler:focus,
input[type="tel"].styler:focus,
input[type="text"].styler:focus,
input[type="url"].styler:focus,
textarea.styler:focus {
	border-color: #CCC;
	border-top-color: #B3B3B3;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	outline: none;
}
button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
	overflow: visible;
	padding: 7px 11px;
	outline: none;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px Arial, sans-serif;
	cursor: pointer;
}
button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.styler:after {
	content: '';
}
button.styler:not([disabled]):hover,
input[type="button"].styler:not([disabled]):hover,
input[type="submit"].styler:not([disabled]):hover,
input[type="reset"].styler:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
button.styler:not([disabled]):active,
input[type="button"].styler:not([disabled]):active,
input[type="submit"].styler:not([disabled]):active,
input[type="reset"].styler:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type="button"].styler[disabled],
input[type="submit"].styler[disabled] {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}