#rinsvent_import_menu_icon {background-image:url('icons/rinsvent.fastauth/mnu.gif');}
#rinsvent_import_page_icon {background-image:url('icons/rinsvent.fastauth/title.gif?v2');}

/*Menu icon BX12*/
.rinsvent_import_menu_icon {background:url('icons/rinsvent.fastauth/mnu.gif?v2') 9px 5px no-repeat !important;}