.category-item {
    width: 25%;
    /*border-right: 1px dotted #B2B2B2;
    border-bottom: 1px dotted #B2B2B2;*/
    float: left;
    padding: 15px;
    height: 230px;
}

.category-item a.thumbnail {
    height: 140px;
    width: 140px;
    margin-bottom: 10px;
}

.category-item a {
    font-weight: bold;
}

.add-desc{
    margin-top: 0px;
}