.c-item .thumb {
    width: 205px;
}

.c-item .s-thumb {
    width: 125px;
    height: 125px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}

.c-item a.all-pht {
    font-size: 24px;
}

.c-item a.all-pht span {
    float: left;
    margin-top: -5px;
    padding-right: 10px;
    font-size: 36px;
}

.c-item .price-old {
    color: #444444;
    font-size: 18px;
}

.c-item .price-old span {
    background-color: #D8212B;
    color: #FFFFFF;
    font-size: 14px;
    padding: 1px 10px;
    margin-left: 10px;
}

.c-item .price {
    color: #d9212b;
    font-size: 20px;
}

.c-item .price-yours {
    font-size: 22px;
    color: #009900;
}

.c-item .price-yours span {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 10px;
}

.c-item .av {
    color: #009900;
    font-size: 12px;
}

.c-item .na {
    /*color: #B2B2B2;*/
    color: red;
    font-size: 12px;
}

.c-item .c-buttons {
    margin-top: 30px;
}

.c-item .c-buttons a {
    float: left;
}

.c-item .c-buttons a span{
    margin-top: -4px;
    float: left;
}

.c-item .c-buttons span.ico-nolink {
    float: left;
    margin-top: -4px;
}

.c-item .h-line {
    border-bottom: 1px dotted #B2B2B2;
    margin: 15px 0;
}

.c-item .h-line-blue {
    border-bottom: 2px solid #065CA5;
}

.c-item .tab-pane {
    padding: 15px 0 15px 15px;
}

.c-item ul.c-tabs {
    list-style-type: none !important;
    padding: 0 !important;
    border-bottom: 2px solid #0159A3;
}

.c-item .c-tabs li {
    padding: 0 !important;
    padding: 1px 0;
}

.c-item .c-tabs li a{
    padding: 3px 6px;
    font-weight: bold;
    color: #005ba8;
    border-bottom: 0;
}

.c-item .c-tabs li a:hover, .c-item .c-tabs li a:focus{
    color: #005ba8;
    background-color: transparent;
    outline: 0;
    border-color: transparent;
}

.c-item .c-tabs li a:hover {
    background-color: transparent !important;
}

.c-item .c-tabs li.active {
    padding: 0 !important;
    margin-bottom: -2px;
}

.c-item .c-tabs li.active a, .c-item .c-tabs li.active a:hover, .c-item .c-tabs li.active a:focus {
    border: 2px solid #2a6496;
    border-bottom: 0;
    background-color: #FFFFFF !important;
}

.c-item .table-striped-c  > tbody > tr:nth-child(2n+1) > td {
    background-color: #E9F8FF;
}

.c-item .table td {
    font-size: 12px;
}

.c-item .table td.title {
    font-weight: bold;
    border-right: 2px solid white;
    padding-right: 5px;
    width: 40%;
    text-align: right;
}

.c-item table.manuals td.size {
    width: 15%;
}

.c-lmenu {
    list-style-type: none !important;
    list-style-image: none !important;
    padding: 0 !important;
}

.c-lmenu li {
    padding: 0 !important;
    display: block;
    border-top: 1px dotted #B2B2B2;
}

.c-lmenu li a  {
    display: block;
    padding: 15px 0 15px 5px;
    font-weight: bold;
    font-size: 14px;
}

.c-lmenu li a span {
    float: left;
    margin-top: -4px;
    margin-right: 15px;
}
