.form-ok-text {
    color: green;
    padding-bottom: 2em;
}

.errortext {
    color: red;
    padding-bottom: 2em;
}

.captcha-img {
    float: left;
    height: 65px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

#captcha_word {
    height: 40px;
}

