# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.gitignore
.idea/bitrix.quickstart.iml
.idea/deployment.xml
.idea/modules.xml
.idea/workspace.xml

