/* Ширина слайдера */
.filter-container .slider {
	width: 215px;
	position:absolute;
	top:30px;
}
/* Контейнер слайдера */
.filter-container .ui-slider {
	position: relative;
}
/* Ползунок */
.filter-container .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 13px;   /* Задаем нужную ширину */
	height: 13px;  /* и высоту */
	background: url(images/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
	cursor: pointer
}
.filter-container .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.filter-container .ui-slider-horizontal {
	 height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.filter-container .ui-slider-horizontal .ui-slider-handle { 
    margin-left: -6px;
    top: -5px;
	z-index: 0;
}
.filter-container .ui-slider-horizontal .ui-slider-handle  .left{ 
    border-left: 1px dashed;
    color: #FDC82A;
    font-size: 12px;
    left: 6px;
    padding-left: 3px;
    padding-top: 38px;
    position: relative;
    top: -10px;
    width: 42px;
}
.filter-container .ui-slider-horizontal .ui-slider-handle  .right{ 
    border-right: 1px dashed;
    color: #FDC82A;
    font-size: 12px;
    height: 58px;
    left: -38px;
    padding-right: 3px;
    position: relative;
    text-align: right;
    top: -37px;
    width: 42px;
}
.filter-container .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.filter-container .ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.filter-container .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.filter-container .ui-widget-content { 
	background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.filter-container .ui-widget-header { 
	/*border: 1px solid #D4D4D4;*/
	background: #FDC82A;
}
/* скругление для полосы слайдера */
.filter-container .ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.filter-container  .slider-submit{
    border-bottom: 1px dashed #FDC82A;
    font-size: 12px;
    padding: 3px 5px 3px 0;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 104px;
    width: 62px;
}
.filter-container  div.slider-submit a{
	color:#FDC82A;
}
.filter-container .price{
	height:60px;
}