$vml_menu_bg_from: $skin0_bg0 !default;
$vml_menu_bg_to: $skin0_bg100 !default;
$vml_menu_color: $link-color !default;
$vml_menu_hover_color: $link-hover-color !default;

$vml_menu_bg_hover_from: darken($skin0_bg, 5) !default;
$vml_menu_bg_hover_to: darken($skin0_bg, 10) !default;
$vml_menu_border_color: lighten($skin0_bg, 5) !default;

$vml_menu_sub_bg_from: #f7f9fb !default;
$vml_menu_sub_bg_to: #e6ecf2 !default;
$vml_menu_sub_color: $vml_menu_color !default;
$vml_menu_sub_color_hover: $vml_menu_hover_color !default;
$vml_menu_sub_hover_bg: $vml_menu_sub_bg_from !default;
$vml_menu_sub_bg_hover_from: $vml_menu_sub_hover_bg;
$vml_menu_sub_bg_hover_to: $vml_menu_sub_hover_bg;

$vml_svg_stroke_color: $body-bg !default;
$vml_svg_stroke_color_hover: $body-bg !default;
$vml_svg_sub_stroke_color: $skin0_bg !default;
$vml_svg_sub_stroke_color_hover: $skin0_bg !default;

.menu_vml {
  border-radius: em($base-line-height * .5);
  list-style: none;
  margin: 0 0 $base-line-height;
  padding: 0;
  position: relative;
  //z-index: 100;

  &__item {
    border-bottom: 1px solid $vml_menu_border_color;
    display: block;
    position: relative;
    text-decoration: none;
    margin-bottom: -1px;

    > a {
      background: $vml_menu_bg_from;
      background-image: linear-gradient(180deg, $vml_menu_bg_from, $vml_menu_bg_to);
      border: 1px solid $vml_menu_border_color;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$vml_menu_bg_from',endColorstr='$vml_menu_bg_to',GradientType=0);
      color: $vml_menu_color;
      display: block;
      padding: $base-line-height*0.75 $base-line-height;
      text-decoration: none;

      &:hover {
        color: $vml_menu_hover_color;
      }

    }

    &:first-child {
      > a {
        border-top-left-radius: em($base-line-height * .5);
        border-top-right-radius: em($base-line-height * .5);
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;

      > a {
        border-bottom-left-radius: em($base-line-height * .5);
        border-bottom-right-radius: em($base-line-height * .5);
      }
    }
  }

  &__name {
    //display: table-cell;
    max-width: 0;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    width: 100%;
  }

  &__cnt {
    //display: table-cell;
  }

  &__toggle {
    //display: block;
    height: 18px;
    fill: none;
    float: right;
    margin: -1px 0 -5px .35em;
    stroke: $vml_svg_stroke_color;
    stroke-width: 1px;
    width: 18px;
  }

  &__sub {
    border-radius: em($base-line-height * .5);
    display: none;
    padding: 0;
    position: absolute;
    left: 100%;
    top: -1px;
    width: 100%;
    z-index: 500;
  }

  &__item:hover > a {
    background: $vml_menu_bg_hover_from;
    background-image: linear-gradient(180deg, $vml_menu_bg_hover_from, $vml_menu_bg_hover_to);
  }
	
  &__item:hover > a > &__toggle {
	  stroke: $vml_svg_stroke_color_hover;
  }

  &__item.is-hover > &__sub {
    display: block;
  }

  &__sub &__item {
    

    > a {
      border: 1px solid #DCE0E6;
      border-bottom: 1px solid #d4d4d4;
      color: $vml_menu_sub_color;
      background: $vml_menu_sub_bg_from linear-gradient(180deg, $vml_menu_sub_bg_from, $vml_menu_sub_bg_to) repeat scroll 0 0;
    }

    &:hover > a {
      color: $vml_menu_sub_color_hover;
      background: $vml_menu_sub_hover_bg linear-gradient(180deg, $vml_menu_sub_bg_hover_from, $vml_menu_sub_bg_hover_to) repeat scroll 0 0;
    }
  }
  
  &__sub &__item:hover > a  > &__toggle {
    stroke: $vml_svg_sub_stroke_color_hover;
  }

  &__sub &__toggle {
    stroke: $vml_svg_sub_stroke_color;
  }
}
