
div.catalog-section table td {
	padding-right:10px;
	padding-top:10px;
}

.new-items{
background: url(images/new-items.jpg) left top no-repeat;
text-align: left;
font-family: Georgia; font-size: 18px;
color: #fff;
padding-left: 20px;
}


.new-block-top{
	background: url(images/new-block-top.jpg) top left no-repeat;
	width:693px; height:9px;
	font-size:2px;
}

.new-block-bottom{
	background: url(images/new-block-bottom.jpg) top left no-repeat;
	width:693px; height:9px;
	font-size:2px;
}

.new-block-bg{
	background: url(images/new-block-bg.jpg) top left repeat-y;
	width:693px;
	padding:10px;
}