.ml2webforms_default {
	margin: 20px;
}

.ml2webforms_default .error {
    border: 1px solid red;
}

.ml2webforms_default .message.error {
    border: none;
    color: red;
}

.ml2webforms_default input {
	display: inline;
}

.ml2webforms_default span.req {
	color: red;
	display: inline;
}