/* catalog.section */
.p-item .p-title {
    display: block;
    font-size: 18px;
text-decoration: underline;
}

.p-item a.thumb {
    width: 205px;
}

.p-item a.detailed-link {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    width: 205px;
}

.p-item .p-descr {
    font-size: 12px;
    padding-bottom: 5px;
}

.p-item .table-striped-c  > tbody > tr:nth-child(2n+1) > td {
    background-color: #E9F8FF;
}

.p-item .table td {
    font-size: 12px;
    line-height: 1;
    padding: 6px;
}

.p-item .table td.title {
    font-weight: bold;
    border-right: 2px solid white;
    padding-right: 5px;
    width: 50%;
    text-align: right;
}

.p-item .h-line {
    border-bottom: 1px dotted #B2B2B2;
}

.p-item .price-old {
    color: #444444;
    font-size: 18px;
}

.p-item .price-old span {
    background-color: #D8212B;
    color: #FFFFFF;
    font-size: 14px;
    padding: 1px 10px;
    margin-left: 10px;
}

.p-item .price {
    color: #d9212b;
    font-size: 20px;
}

.p-item .price-yours {
    font-size: 22px;
    color: #009900;
}

.p-item .price-yours span {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 10px;
}

.p-item .av {
    color: #009900;
    font-size: 12px;
}

.p-item .na {
    /*color: #B2B2B2;*/
    color: red;
    font-size: 12px;
}

.p-item .p-buttons {
    margin: 0;
    vertical-align: middle;
}

.p-item .p-buttons div.holder {
    display: inline-block;
    vertical-align: middle;
}

.p-item .p-buttons a span{
    margin-bottom: -10px;
}

.p-item .p-buttons span.ico-nolink {
    margin-bottom: -10px;
}

.p-item .p-buttons .btn-main-buy-on-credit {
    background-image: url('/images/logo-vvc_86x24.png');
    width: 86px;
    height: 24px;
    float: right;
    margin-bottom: 0;
}

.good-buttons {
    margin: 0 0 8px;
    overflow: hidden;
}

.btn-analogue {
    display: block;
    background: #C22A34;
    font-size: 17px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    margin: 0 0 8px;
    width: 174px;
}

.btn-analogue:hover,
.btn-analogue:focus {
    text-decoration: none;
    color: #fff;
    background: rgba(194, 42, 52, 0.73);
}

.lin-announce-good {
    text-decoration: none;
}

.lin-announce-good:hover {
    text-decoration: none;
}

.lin-announce-good:hover span {
    text-decoration: underline;
}

.lin-announce-good span {
    float: none !important;
    margin: 0 0 0 24px !important;
}

.lin-announce-good i {
    background: #C22A34;
    width: 18px;
    height: 18px;
    border-radius: 22px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 10px;
    margin-top: 1px;
    position: absolute;
}