.offerContainer
{
    background-color: #F5F0EB;
    width: 300px;
    border-radius: 6px 0px 6px 6px;
    -webkit-border-radius: 6px 0px 6px 6px;
    -khtml-border-radius: 6px 0px 6px 6px;
    -moz-border-radius: 6px 0px 6px 6px;
    -o-border-radius: 6px 0px 6px 6px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 1px;
    padding-bottom: 10px;
}
    h2.offer {
        height: 32px;
        background: url('images/offer.png') left 5px  no-repeat;
        padding-left: 25px;
        margin-bottom: 7px;
    }
    div.offer {
        overflow: hidden;
        padding-bottom: 17px;
    }
        div.offer div.info {
            overflow: hidden;
            line-height: 14px;
            margin-bottom: 5px;
        }
        div.offer div.info div {
            float: left;
        }
        div.offer div.info img {
            display: block;
            float: left;
            margin-right: 10px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            -moz-border-radius: 6px;
            -o-border-radius: 6px;
            font-size: 0px;
            max-height: 84px;
            overflow: hidden;
        }
        div.offer div.info a {
            color: #582600;
            font-size: 12px;
        }
        div.offer div.info span.cityArea,
        div.offer div.info span.metroStation
        {
            font-size: 10px;
            color: #888;
        }
            div.offer div.info span.metroStation .label
            {
                color: red;
            }
        div.offer p.param {
            margin: 0px;
            color: #3e3e3e;
            font-size: 12px;
            line-height: 18px;
            float: left;
            width: 120px;
            white-space: nowrap;
        }
        div.offer p.param label {
            width: 65px;
            float: left;
        }
        div.offer p.l-param {
            width: 110px;
            margin-right: 10px;
        }
            div.offer p.l-param label {
                width: 70px;
            }

        p.all-offers {
            color: #582600;
            font-size: 12px;
            padding-left: 120px;
            margin: 6px 0px;
        }
            p.all-offers a {
                color: #582600;
                font-size: 12px;
                text-decoration: underline;
            }
            p.all-offers a:hover {
                text-decoration: none;
            }
a.type {
    display: inline-block;
    color: #ffffff !important;
    font-size: 10px !important;
    height: 18px;
    line-height: 18px;
    padding: 0px 5px;
    margin-bottom: 3px;
    text-decoration: none;
}
    /*a.type:hover {
    text-decoration: underline !important;
    cursor: pointer;
}*/
div.offer div.info  a.type1 {
        background-color: #7d5f48;
    }
div.offer div.info  a.type2 {
        background-color: #487d49;
    }
div.offer div.info a.type {
    /*position: relative;
    left: -5px;*/
}