.rs-banners-container {
  width: 100%;
  position: relative; }

.rs-banners {
  display: none;
  overflow: hidden; }
  .rs-banners_background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .rs-banners_link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5;
    top: 0; }
  .rs-banners_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto; }
  .rs-banners_banner .rs-banners_product {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 100%; }
    .rs-banners_banner .rs-banners_product img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      display: inline-block; }
  .rs-banners_infowrap {
    height: 100%;
    width: 50%;
    display: table;
    margin-left: 15px;
    word-break: break-word; }
    .rs-banners_infowrap.rs-banners_infovideo {
      width: 100%;
      text-align: center; }
  .rs-banners_infowrap .rs-banners_info {
    display: table-cell;
    vertical-align: middle;
    word-break: break-word; }
  .rs-banners_infowrap .rs-banners_button {
    display: inline-block;
    position: relative;
    padding: 8px 40px;
    background-color: #0084c9;
    color: #FFF;
    text-decoration: none;
    margin-top: 10px;
    z-index: 9;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s; }
    .rs-banners_infowrap .rs-banners_button:hover {
      opacity: 0.7; }
    .rs-banners_infowrap .rs-banners_button:focus {
      outline: none; }
  .rs-banners_infowrap .rs-banners_info .rs-banners_title,
  .rs-banners_infowrap .rs-banners_info .rs-banners_desc,
  .rs-banners_infowrap .rs-banners_info .rs-banners_price {
    font-family: arial;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    word-break: break-word; }
    .rs-banners_infowrap .rs-banners_info .rs-banners_title.rs-banners_video-blockwrap,
    .rs-banners_infowrap .rs-banners_info .rs-banners_desc.rs-banners_video-blockwrap,
    .rs-banners_infowrap .rs-banners_info .rs-banners_price.rs-banners_video-blockwrap {
      padding: 1vw 4vw;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-bottom: 20px; }
  .rs-banners_infowrap .rs-banners_info .rs-banners_desc {
    display: none; }
  .rs-banners.__product-reverse .rs-banners_banner .rs-banners_product {
    left: 0;
    right: auto; }
  .rs-banners.__product-reverse .rs-banners_banner .rs-banners_infowrap {
    right: 0;
    left: auto;
    position: absolute; }
  .rs-banners_bottom-line {
    position: absolute;
    background-color: #0084c9;
    width: 100%;
    height: 2px;
    bottom: 28px;
    left: 0; }
  .rs-banners_video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000; }
    .rs-banners_video video {
      height: 100%;
      width: 100%; }
  .rs-banners_video-play {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9; }

@media (min-width: 992px) {
  .rs-banners_infowrap .rs-banners_info .rs-banners_desc {
    display: inline-block; }
  .rs-banners-container .rs-banners_bottom-line {
    bottom: -2px; } }

@media (max-width: 992px) {
  .rs-banners_infowrap .rs-banners_info .rs-banners_title {
    font-size: 4vw !important;
    line-height: 6.2vw !important; }
    .rs-banners_infowrap .rs-banners_info .rs-banners_title *, .rs-banners_infowrap .rs-banners_info .rs-banners_title span, .rs-banners_infowrap .rs-banners_info .rs-banners_title p {
      font-size: 4vw !important;
      line-height: 6.2vw !important; }
  .rs-banners_infowrap .rs-banners_info .rs-banners_price {
    font-size: 4vw !important;
    line-height: 3vw; }
    .rs-banners_infowrap .rs-banners_info .rs-banners_price *, .rs-banners_infowrap .rs-banners_info .rs-banners_price span, .rs-banners_infowrap .rs-banners_info .rs-banners_price p {
      font-size: 4vw !important;
      line-height: 3vw; }
  .rs-banners_infowrap .rs-banners_info .rs-banners_desc {
    font-size: 3vw !important; }
    .rs-banners_infowrap .rs-banners_info .rs-banners_desc *, .rs-banners_infowrap .rs-banners_info .rs-banners_desc span, .rs-banners_infowrap .rs-banners_info .rs-banners_desc p {
      font-size: 3vw !important; } }
