
.collapsed {

  &__in,
  & &__out {
    display: none;
  }

  & &__in {
    display: inline;
  }

  &__icon {
    border-bottom: .33333em solid;
    border-left: .33333em solid transparent;
    border-right: .33333em solid transparent;
    display: inline-block;
    height: 0;
    margin-left: $base-line-height*0.25;
    vertical-align: middle;
    width: 0;
  }

  & &__icon {
    border-top: .33333em solid;
    border-bottom: none;
  }
/*
  &-right,
  &-left {
    position: relative;
  }
  
  &-right:after,
  &-left:before {
    @extend .collapsed__icon;
    
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  &-right.collapsed:after,
  &-left.collapsed:before {
    border-top: .33333em solid;
    border-bottom: none;
  }
  
  &-right {
    margin-right: $base-line-height;

    &:after {
      right: -$base-line-height;
    }
  }
  
  &-left {
    margin-left: $base-line-height;
    
    &:before {
      left: -$base-line-height;
    }
  }
*/
}