.rate {
  @extend .clearfix;
  display: inline-block;

  & > &__icon {
    cursor: pointer;
    fill: #ffc424;
    float: left;
    height: 15px;
    padding-right: $base-line-height*0.0625;
    width: 15px;
    
    & + & {
      padding-left: $base-line-height*0.0625;
    }
  }
  
  &:hover > &__icon,
  &.is-checked:hover > &__icon:hover ~ &__icon,
  &.is-checked:hover > &__icon {
    fill: #ffc424;
  }

  &:hover > &__icon:hover ~ &__icon,
  &.is-checked:hover > &__icon.checked ~ &__icon,
  &.is-checked > &__icon.checked ~ &__icon {
    fill: $gray;
  }
}