ul.vertical_right{font-family: Helvetica, Arial; /*height: 38px;*/ background-color: #ffa605;border-radius: 7px;
	box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -webkit-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -moz-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -o-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px;
}

ul.vertical_right .menu_title{font-size: 14px; border-bottom: 2px solid #de8f00; border-top: 1px solid #fdc155;}
ul.vertical_right .menu_title > a{font-size: 14px;}

ul.vertical_right .menu_title:first-child{border-top-left-radius: 6px; border-top-right-radius: 6px;}
ul.vertical_right .menu_title:last-child{border-bottom-width: 1px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
ul.vertical_right > .dir:first-child:hover{border-top-left-radius: 0px;}
ul.vertical_right > .dir:last-child:hover{border-bottom-left-radius: 0px;}

ul.vertical_right .menu_folder > a.active{background-color: #ffa500; color: #fff !important;}

ul.vertical_right li{padding: 0; background-color: transparent; color: #564747;}
ul.vertical_right li.hover, ul.vertical_right .menu_title:hover{background-color: #ffb93a; color: #fff;}
ul.vertical_right li.active{background-color: #ffa500;}
ul.vertical_right li.dir.active{background-position: 99% -270px;}
ul.vertical_right li.active > a{color: #fff !important;}

ul.vertical_right li a{display: block; padding: 10px 10px 10px;}

ul.vertical_right a:link, ul.vertical_right a:visited{color: #000; text-decoration: none;}
ul.vertical_right > li > a:link, ul.vertical_right > li > a:visited{color: #fff;}
ul.vertical_right a:hover{color: #fff;}
ul.vertical_right a:active{color: #ffa500;}

ul.vertical_right > li > ul{border: 2px solid #ffa500; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border-top-left-radius: 6px;
	background-color: rgb(255, 255, 255); /* The Fallback */ background-color: rgba(255, 255, 255, 0.9);
	box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -webkit-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -moz-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -o-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px;
}

ul.vertical_right ul{font-size: 12px; letter-spacing: normal;}
ul.vertical_right ul li{font-weight: bold; font-size: 12px;}
ul.vertical_right li.last ul li{float: right;}
ul.vertical_right > li:first-child{border-top-left-radius: 6px;}

ul.vertical_right ul {margin-top: -1px; text-transform: none;}
ul.vertical_right ul ul li{font-weight: normal; font-size: 11px;}

ul.vertical_right > .dir {padding: 0px 22px 0px 0px; background-image: url(images/nav_arrow.png); background-position: 99% -270px/*11px*/; background-repeat: no-repeat;}
ul.vertical_right > .dir:hover{/*padding-bottom: 2px;*/}
ul.vertical_right *.dir:hover{background-position: 99% -270px;}
ul.vertical_right ul *.dir{background-image: none;}

ul.vertical_right *.menu_title:hover >a{color: #fff;}

ul.vertical_right ul a {width: 140px; padding: 3px 5px;}
ul.vertical_right ul a:hover {background-color: #ffb93a; color: #fff;}