.clear {
	clear: both;
}



/*///default css template for TEXT and PASSWORD///*/ 
.default_EAFormInputText {
	height: 27px;
}
.default_EAFormInputTextDate .default_EAFormInputText2 {
	margin: 0 30px 0 0;
}
.default_EAFormInputText .default_EAFormInputText_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.default_EAFormInputText .default_EAFormInputText_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}
.default_EAFormInputText_Hover {
	height: 27px;
}
.default_EAFormInputTextDate_Hover .default_EAFormInputText2 {
	margin: 0 30px 0 0;
}
.default_EAFormInputText_Hover .default_EAFormInputText_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -27px;
}
.default_EAFormInputText_Hover .default_EAFormInputText_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -27px;
}
.default_EAFormInputText_Selected {
	height: 27px;
}
.default_EAFormInputTextDate_Selected .default_EAFormInputText2 {
	margin: 0 30px 0 0;
}
.default_EAFormInputText_Selected .default_EAFormInputText_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -54px;
}
.default_EAFormInputText_Selected .default_EAFormInputText_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -54px;
}
.default_EAFormInputTextBox {
	margin: 0;
	padding: 0;
	//padding: 6px 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 27px;
}
.default_EAFormInputText_Hover .default_EAFormInputTextBox {
	background: url(images/text_bg.png) repeat-x 0 -27px;
}
.default_EAFormInputText_Selected .default_EAFormInputTextBox {
	background: url(images/text_bg.png) repeat-x 0 -54px;
}
.default_EAFormInputTextBox input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 6px 5px;
	//padding: 0 5px;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 11px;
	color: #28292e;
}

.default_EAFormInputDateBtn {
	height: 27px;
	width: 27px;
	margin: -27px -30px 0 0;
	padding: 0;
	overflow: hidden;
	float: right;
	background: url(images/date_btn.png) no-repeat;
}
.default_EAFormInputText_Hover .default_EAFormInputDateBtn {
	background: url(images/date_btn.png) no-repeat 0 -27px;
}
.default_EAFormInputText_Selected .default_EAFormInputDateBtn {
	background: url(images/date_btn.png) no-repeat 0 -54px;
}



/*///default css template for TEXTAREA///*/ 
.default_EAFormInputTextarea {
	height: 129px;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea .default_EAFormInputTextarea_03 {
	margin: 0;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.default_EAFormInputTextarea .default_EAFormInputTextarea_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea .default_EAFormInputTextarea_06 {
	margin: 0;
}

.default_EAFormInputTextarea_Hover {
	height: 129px;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -4px;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -4px;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_03 {
	margin: 0;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -4px;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -4px;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_06 {
	margin: 0;
}

.default_EAFormInputTextarea_Selected {
	height: 129px;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_03 {
	margin: 0;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_06 {
	margin: 0;
}

.default_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left.png) repeat-y left top;
}
.default_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_hov.png) repeat-y left top;
}
.default_EAFormInputTextarea_Hover .default_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_hov.png) repeat-y right top;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_sel.png) repeat-y left top;
}
.default_EAFormInputTextarea_Selected .default_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.default_EAFormInputTextareaBox {
	margin: 0 5px 0 10px;
	padding: 5px 0;
	overflow: hidden;
}
.default_EAFormInputTextareaBox textarea {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 11px;
	color: #28292e;
	overflow: auto;
}



/*///default css template for SELECT MULTIPLE///*/ 
.default_EAFormInputSelectMultiple {
	height: 129px;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple .default_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.default_EAFormInputSelectMultiple_Hover {
	height: 129px;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.default_EAFormInputSelectMultiple_Selected {
	height: 129px;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.default_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left.png) repeat-y left top;
}
.default_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_sel.png) repeat-y left top;
}
.default_EAFormInputSelectMultiple_Hover .default_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_sel.png) repeat-y left top;
}
.default_EAFormInputSelectMultiple_Selected .default_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.default_EAFormInputSelectMultipleBox {
	margin: 0;
	padding: 0;
	overflow: auto;
}
.default_EAFormInputSelectMultipleBox ul {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}
.default_EAFormInputSelectMultipleBox li {
	margin: 0 10px;
	padding: 3px 10px;
	background: none;
	cursor: pointer;
}
.default_EAFormInputSelectMultipleBox li.default_EAFormInputSelectMultipleBox_Hover {
	margin: 0 10px;
	padding: 3px 10px;
	background: #f5f5f5;
	cursor: pointer;
}
.default_EAFormInputSelectMultipleBox li.default_EAFormInputSelectMultipleBox_Selected {
	margin: 0 10px;
	padding: 3px 10px;
	background: #efefef;
	cursor: pointer;
}
.default_EAFormInputSelectMultipleBox select {
	display: none;
}



/*///default css template for SELECT///*/ 
.default_EAFormInputSelect {
	height: 27px;
}
.default_EAFormInputSelect .default_EAFormInputSelect2 {
	height: 27px;
	margin: 0 30px 0 0;
}
.default_EAFormInputSelect .default_EAFormInputSelect_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.default_EAFormInputSelect .default_EAFormInputSelect_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}

.default_EAFormInputSelect_Hover {
	height: 27px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelect2 {
	height: 27px;
	margin: 0 30px 0 0;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelect_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -27px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelect_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -27px;
}

.default_EAFormInputSelect_Selected {
	height: 27px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelect2 {
	height: 27px;
	margin: 0 30px 0 0;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelect_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -54px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelect_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -54px;
}

.default_EAFormInputSelectBox {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 27px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectBox {
	background: url(images/text_bg.png) repeat-x 0 -27px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectBox {
	background: url(images/text_bg.png) repeat-x 0 -54px;
}

.default_EAFormInputSelectBox .default_EAFormInputSelectText {
	margin: 0 5px;
	//margin: 5px;
	padding: 0;
	border: 0px;
	background: none;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 11px;
	color: #28292e;
	
	width: 100%;
	height: 100%;
}

.default_EAFormInputSelectBtn {
	height: 27px;
	margin: -27px 0 0 0;
	padding: 0;
	background: none;
}
.default_EAFormInputSelectBtn div {
	height: 27px;
	width: 27px;
	margin: 0 -33px 0 0;
	//margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	background: url(images/select_btn.png) no-repeat;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectBtn div {
	background: url(images/select_btn.png) no-repeat 0 -27px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectBtn div {
	background: url(images/select_btn.png) no-repeat 0 -54px;
}

.default_EAFormInputSelectPopup {
	height: 129px;
	position: absolute;
	background: url(images/clear.gif);
	z-index: 99;
}
.default_EAFormInputSelectPopup2 {
	margin: 0 30px 0 0;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect .default_EAFormInputSelectPopup_03 {
	margin: 0;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.default_EAFormInputSelect .default_EAFormInputSelectPopup_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect .default_EAFormInputSelectPopup_06 {
	margin: 0;
}

.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -4px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -4px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_03 {
	margin: 0;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -4px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -4px;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_hov.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_06 {
	margin: 0;
}

.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_01 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_02 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_03 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_03 {
	margin: 0;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_04 {
	width: 4px;
	height: 4px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_05 {
	width: 4px;
	height: 4px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -8px;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_06 {
	height: 4px;
	margin: 0 4px;
	//margin: 0;
	overflow: hidden;
	background: #fff url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_06 {
	margin: 0;
}

.default_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left.png) repeat-y left top;
}
.default_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_sel.png) repeat-y left top;
}
.default_EAFormInputSelect_Hover .default_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: #fff url(images/textarea_left_sel.png) repeat-y left top;
}
.default_EAFormInputSelect_Selected .default_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.default_EAFormInputSelectPopupBox {
	margin: 0 4px;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
}
.default_EAFormInputSelectPopupBox ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}
.default_EAFormInputSelectPopupBox li {
	margin: 0 10px;
	padding: 3px 10px;
	background: none;
	cursor: pointer;
	
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}
.default_EAFormInputSelectPopupBox li.default_EAFormInputSelectPopupBox_Hover {
	margin: 0 10px;
	padding: 3px 10px;
	background: #f5f5f5;
	cursor: pointer;
}
.default_EAFormInputSelectPopupBox li.default_EAFormInputSelectPopupBox_Selected {
	margin: 0 10px;
	padding: 3px 10px;
	background: #efefef;
	cursor: pointer;
}



/*///default css template for FILE///*/ 
.default_EAFormInputFile {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputFile .default_EAFormInputFile2 {
	height: 27px;
	margin: 0 58px 0 0;
	overflow: hidden;
}
.default_EAFormInputFile .default_EAFormInputFile_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.default_EAFormInputFile .default_EAFormInputFile_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}

.default_EAFormInputFile_Hover {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputFile_Hover .default_EAFormInputFile2 {
	height: 27px;
	margin: 0 58px 0 0;
	overflow: hidden;
}
.default_EAFormInputFile_Hover .default_EAFormInputFile_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -27px;
}
.default_EAFormInputFile_Hover .default_EAFormInputFile_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -27px;
}

.default_EAFormInputFile_Selected {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputFile_Selected .default_EAFormInputFile2 {
	height: 27px;
	margin: 0 58px 0 0;
	overflow: hidden;
}
.default_EAFormInputFile_Selected .default_EAFormInputFile_01 {
	width: 4px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -27px;
}
.default_EAFormInputFile_Selected .default_EAFormInputFile_02 {
	width: 4px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -27px;
}

.default_EAFormInputFileBox {
	margin: 0;
	padding: 0;
	//padding: 4px 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 27px;
}
.default_EAFormInputFile_Hover .default_EAFormInputFileBox {
	background: url(images/text_bg.png) repeat-x 0 -27px;
}
.default_EAFormInputFile_Selected .default_EAFormInputFileBox {
	background: url(images/text_bg.png) repeat-x 0 -54px;
}

.default_EAFormInputFileBox .default_EAFormInputFileText {
	margin: 0;
	padding: 2px 5px;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 11px;
	color: #28292e;
	height: 26px;
	
	width: 100%;
	height: 100%;
}

.default_EAFormInputFileSelect {
	margin: -27px 0 0 0;
	width: 100%;
	overflow: hidden;
	/*display: none;*/
}
.default_EAFormInputFileSelect input {
	width: 100%;
	height: 27px;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
	outline: none;
}

.default_EAFormInputFileBtn {
	height: 27px;
	margin: -27px 0 0 0;
	padding: 0;
}
.default_EAFormInputFileBtn div {
	height: 27px;
	margin: 0;
	//margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}
.default_EAFormInputFileBtn div div {
	margin: 0;
	padding: 0;
}
.default_EAFormInputFileBtn .default_EAFormInputFileButtonBox {
	font-size: 11px;
	color: #cbcbcb;

}
.default_EAFormInputFileBtn .default_EAFormInputFileButton_01 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat;
}
.default_EAFormInputFileBtn .default_EAFormInputFileButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat;
}
.default_EAFormInputFile_Hover .default_EAFormInputFileButton_01 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat 0 -27px;
}
.default_EAFormInputFile_Hover .default_EAFormInputFileButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat 0 -27px;
}
.default_EAFormInputFile_Selected .default_EAFormInputFileButton_01 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat 0 -54px;
}
.default_EAFormInputFile_Selected .default_EAFormInputFileButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat 0 -54px;
}
.default_EAFormInputFile .default_EAFormInputFileButtonBox {
	margin: 0;
	padding: 4px 5px 0 5px;
	overflow: hidden;
	height: 27px;
	background: url(images/button_bg.png) repeat-x;
	color: #000;
}
.default_EAFormInputFile_Hover .default_EAFormInputFileButtonBox {
	margin: 0;
	padding: 4px 5px 0 5px;
	overflow: hidden;
	height: 27px;
	background: url(images/button_bg.png) repeat-x 0 -27px;
	color: #000;
}
.default_EAFormInputFile_Selected .default_EAFormInputFileButtonBox {
	margin: 0;
	padding: 5px 5px 0 5px;
	overflow: hidden;
	height: 27px;
	background: url(images/button_bg.png) repeat-x 0 -54px;
	color: #000;
}



/*///default css template for BUTTON///*/ 
.default_EAFormInputButton {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputButton .default_EAFormInputButton_01 {
	width: 7px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat;
}
.default_EAFormInputButton .default_EAFormInputButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat;
}
.default_EAFormInputButton_Hover {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputButton_Hover .default_EAFormInputButton_01 {
	width: 7px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat 0 -27px;
}
.default_EAFormInputButton_Hover .default_EAFormInputButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat 0 -27px;
}
.default_EAFormInputButton_Selected {
	height: 27px;
	overflow: hidden;
}
.default_EAFormInputButton_Selected .default_EAFormInputButton_01 {
	width: 7px;
	height: 27px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat 0 -54px;
}
.default_EAFormInputButton_Selected .default_EAFormInputButton_02 {
	width: 7px;
	height: 27px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat 0 -54px;
}
.default_EAFormInputButtonBox {
	margin: 0;
	padding: 4px 5px 0 5px;
	//padding: 4px 5px 0 5px;
	overflow: hidden;
	background: url(images/button_bg.png) repeat-x;
	height: 27px;
	font-size: 11px;
	color: #000;
	text-align: center;
	font-weight: normal;
}
.default_EAFormInputButton_Hover .default_EAFormInputButtonBox {
	background: url(images/button_bg.png) repeat-x 0 -27px;
}
.default_EAFormInputButton_Selected .default_EAFormInputButtonBox {
	padding: 5px;
	background: url(images/button_bg.png) repeat-x 0 -54px;
}



/*///default css template for CHECKBOX///*/ 
.default_EAFormInputCheckbox {
	margin: 0 20px 20px 0;
}
.default_EAFormInputCheckbox_Hover {
	margin: 0 20px 20px 0;
}
.default_EAFormInputCheckbox_Selected {
	margin: 0 20px 20px 0;
}
.default_EAFormInputCheckbox .default_EAFormInputCheckboxBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/checkbox.png) no-repeat 0 0;
}
.default_EAFormInputCheckbox_Hover .default_EAFormInputCheckboxBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/checkbox.png) no-repeat 0 -17px;
}
.default_EAFormInputCheckbox_Selected .default_EAFormInputCheckboxBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/checkbox.png) no-repeat 0 -34px;
}
.default_EAFormInputCheckbox .default_EAFormInputCheckboxText {
	margin: 0 0 0 20px;
	padding: 1px 0 0 0;
	//padding: 0;
}
.default_EAFormInputCheckbox_Hover .default_EAFormInputCheckboxText {
	margin: 0 0 0 20px;
	padding: 1px 0 0 0;
	//padding: 0;
}
.default_EAFormInputCheckbox_Selected .default_EAFormInputCheckboxText {
	margin: 0 0 0 20px;
	padding: 1px 0 0 0;
	//padding: 0;
}



/*///default css template for RADIO///*/ 
.default_EAFormInputRadio {
	margin: 0 20px 20px 0;
}
.default_EAFormInputRadio_Hover {
	margin: 0 20px 20px 0;
}
.default_EAFormInputRadio_Selected {
	margin: 0 20px 20px 0;
}
.default_EAFormInputRadio .default_EAFormInputRadioBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/radio.png) no-repeat 0 0;
}
.default_EAFormInputRadio_Hover .default_EAFormInputRadioBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/radio.png) no-repeat 0 -17px;
}
.default_EAFormInputRadio_Selected .default_EAFormInputRadioBtn {
	width: 17px;
	height: 17px;
	float: left;
	margin: 2px -17px 0 0;
	background: url(images/radio.png) no-repeat 0 -34px;
}
.default_EAFormInputRadio .default_EAFormInputRadioText {
	margin: 0 0 0 22px;
	padding: 1px 0 0 0;
	//padding: 0;
}
.default_EAFormInputRadio_Hover .default_EAFormInputRadioText {
	margin: 0 0 0 22px;
	padding: 1px 0 0 0;
	//padding: 0;
}
.default_EAFormInputRadio_Selected .default_EAFormInputRadioText {
	margin: 0 0 0 22px;
	padding: 1px 0 0 0;
	//padding: 0;
}