/*заказать звонок*/
/*затемнение*/
#overlay{background:#000; opacity:.5; filter:alpha(opacity=50); display:none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 200;}
#form_wrapper_call{width:347px; padding:16px 18px 8px; margin-bottom:10px; z-index: 250; position:absolute; top:50%; left:50%; margin-left:-173px; display:none;}
#fhead {height:42px;background: url(images/plash.png) no-repeat 0 0;position:relative;padding:5px 0 0 0;} 
#fhead h3{font-weight:normal; color:#fff; margin:0 0 0 43px; padding-top:5px; background: url(images/phone.png) no-repeat 0 50%; padding: 0 0 0 83px; line-height: 1.5em;}
.wr_close{float:right;cursor:pointer;position:absolute; top:5px; right:5px;}
.frm_place{border-left: 1px solid #DE2530; border-right: 1px solid #DE2530; padding: 10px 15px 10px 15px; background:#fff;}
.frm_place p{font-size:.8em; text-align:center; padding:10px 0;}
.mf-req{font-size:.7em;color:#f00;vertical-align:super;float:right;}
form#call_ord input[type="text"], form#call_ord textarea{width: 295px; font-family: Arial; border: 1px solid #b4b4b4; padding:5px; font-size:.8em; color:#b4b4b4;}
form#call_ord input[type="submit"]{border:none; background: #DE2530; color:#fff; width:150px; height:35px;}
form#call_ord div{margin-bottom:10px;}
form#call_ord div.mf-text{font-size:.8em; color:#707070;font-family: Arial;}
form#call_ord div.mf-text input{width:115px;}
form#call_ord div.mf-captcha{text-align: right;}
form#call_ord div.bsubm{text-align:right;}
form#call_ord div.bsubm p.warn{color:#DE2530; font-size:.8em;font-style:italic;margin-bottom:10px;text-align:center;}
#fbott{height:12px;background: url(images/plash.png) no-repeat 0 -56px;}
