div.element{
	position: relative;
	width: 272px; height: 243px;
	background: url(images/element-bg.png) left top no-repeat;
}
div.element-pic{
	position: absolute;
	top: 16px; left: 16px;
	width: 240px; height: 180px;
	background: #fff;
}
div.element-zoom{
	position: absolute;
	bottom: 4px; right: 4px;
}
a.detail-link{
	color: #4b433c;
	font-size: 24px;
	text-decoration: none;
}
div.element-price{
	position: absolute;
	top: 19px; left: 9px;
	height: 26px; min-width: 122px;
	padding-top: 2px;
	background: #a52a27 url(images/price-bg.png) right top no-repeat;
	color: #fff;
	font-size: 18px;
}
div.element-price-right{
	position: absolute;
	right: -5px; top: 0px;
	width: 5px; height: 28px;
	background: url(images/price-right.png) left top no-repeat;
}
div.element-price-left{
	position: absolute;
	left: -5px; top: -5px;
	width: 5px; height: 38px;
	background: url(images/price-left.png) left top no-repeat;
}
div.element-buy{
	position: absolute;
	left: 24px; bottom: 18px;
}
div.element-add{
	position: absolute;
	right: 24px; bottom: 18px;
}
div.element-buy a, div.element-add a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
div.basket-add-success{
	position: fixed;
	left: 50%; top: 0px;
	display: none;
	height: 48px; width: 319px;
	margin-left: -160px;
	padding-top: 9px;
	background: url(images/success-bg.png) left top no-repeat;
	color: #fff;
	font-size: 16px;
	z-index: 1010;
}
td.curpageelementcount{
	background: url(images/curpageelementcount.png) left top no-repeat;
	color: #fff; font-size:20px;
	padding-top: 2px;
}
td.pageelementcount{
	font-size:20px; color:#4b423c;
	cursor: pointer;
}