.faq-list .faq-item{
	background:url(images/help-faq.png)
		left top no-repeat;
	padding-left:50px;
	cursor:pointer;
}

.faq-list .faq-author-name{
	text-align:right;
	color:#666;
}

.faq-list .answer{
	display:none;
	background: #fff;
	padding: 10px 10px 10px 20px;
	margin-top: 20px;
}

.faq-list .line{
	margin:10px 0;
	border-bottom:1px #ccc solid;
	border-top:1px #fff solid;
}