.footersubscribe .title{
	margin-bottom:6px;
	text-transform:uppercase;
}
.footersubscribe .inp input{
	width:100%;
	padding:6px;
}
.footersubscribe a.btn1{
	display:block;
	margin-top:6px;
	text-align:center;
}