html{
	margin:0; padding:0;
	width:100%;
}

body{
	margin:0; padding:0;
	width:100%;
	background: #70eafd url(images/bg-top.jpg) left top repeat-x;
	font-family: tahoma;
}

/*New fonts*/
@font-face {
font-family: rouble;
font-style:  normal;
font-weight: bold;
src: url("fonts/rouble.ttf");
}
/*end new fonts*/

img,a{
  outline: none;
  border: none;
}
img{
  margin: 0px;
  padding: 0px;
}
div.wrap{
  position: relative;
  width: 100%;
  margin:0; padding:0;
  float: left;
  min-height: 850px;
  background: url(images/bg-bottom.jpg) left bottom repeat-x;
}
div.bottom1{
	position: absolute;
	bottom: 0px; right: 40px;
	width: 109px; height: 125px;
	background: url(images/bottom1.png) left top no-repeat;
	z-index: 500;
}
div.top1{
	position: absolute;
	top: -10px; left: 10px;
	width: 161px; height: 158px;
	background: url(images/top1.png) left top no-repeat;
	font-size: 1px;
}
div.top2{
	position: absolute;
	top: 90px; left: -50px;
	width: 173px; height: 118px;
	background: url(images/top2.png) left top no-repeat;
	font-size: 1px;
}
div.top3{
	position: absolute;
	top: 20px; right: 20px;
	width: 163px; height: 135px;
	background: url(images/top3.png) left top no-repeat;
	font-size: 1px;
}
div.top4{
	position: absolute;
	top: 350px; left: 10px;
	width: 133px; height: 100px;
	background: url(images/top4.png) left top no-repeat;
	font-size: 1px;
}
div.top5{
	position: absolute;
	top: 250px; right: 0px;
	width: 171px; height: 106px;
	background: url(images/top5.png) left top no-repeat;
	font-size: 1px;
}
#conteiner{
	width:1005px;
	margin: 20px auto 0px auto;
	padding: 59px 0;
    padding-bottom: 15px;
	height: auto;
    background: url(images/top_border.png) top left no-repeat;
    position: relative;
    z-index: 500;
}
#subconteiner{
	width:965px;
	padding: 0px 20px 0px 20px;
	background: #ffffff;
    position: relative;
}
.logo{
  margin-top: -40px;
  margin-left: -10px;
}
table td.include{
  background: url('images/inc_top_bg.png') top left repeat-x;
}
td.include .inc_left{
  background: url('images/inc_l_bg.png') top left no-repeat;
  padding-left: 10px;
}
td.include .inc_right{
  background: url('images/inc_r_bg.png') top right no-repeat;
  padding-right: 10px;
  padding-top: 10px;
}
.cloud{
  width: 423px;
  height: 92px;
  background: url('images/cloud.png') top left no-repeat;
  float: left;
  margin-bottom: -47px;
  margin-left: -650px;
}