.bx_inc_menu_footer{
	color: #fff;
	text-shadow:0 1px 2px #17326e;
}
.bx_inc_menu_footer h4{
	padding-bottom: 15px;
    border-bottom: 3px solid #9b1517;
	font-size: 23px;
}
.bx_inc_menu_footer ul{
	display: block;
	margin: 0;
	padding: 0;
}
.bx_inc_menu_footer ul li{
	display: block;
	padding: 0 0 15px;
}
.bx_inc_menu_footer ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}