/* ========================================================================
   Component: Message
 ========================================================================== */
.api_message{padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;border-radius: .25rem;background: #f8f8f8;color: #666;}
* + .api_message {margin-top: 1rem;}
.api_message_danger{color: #721c24;background: #f8d7da;border-color: #f5c6cb;}
.api_message_success{color: #155724;background: #d4edda;border-color: #c3e6cb;}
.api_message_warning{color: #856404; /* #faa05a */background: #fff3cd; /* #fff6ee */border-color: #ffeeba;}
.api_message_info{color: #004085;background: #cce5ff;border-color: #b8daff;}
.api_message .api_message_heading{	font-size: 1.5rem;margin:0 0 .5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;}
.api_message .api_message_text *:last-child{margin-bottom: 0}
