.b-services-list-item {
	margin: 0 0 .5em 0;
	overflow: hidden;
	max-height: 20em;
}
.b-services-date {
	font-style: italic;
	font-size: 85%;
	display: block;
	color: #666;
}
.b-services-list-item-name {
	font-size: 1.2em;
}
.b-services-preview-picture {
	float: left;
	margin: 1em 1em 1em 0;
}
.b-services-text {
	margin-top: 1em;
}
.b-services-props {
	margin: 1em 0;
	overflow: hidden;
}
.b-services-props dt {
	/*font-weight: bold;*/
    font-size: 18px;
}
.b-services-props dd {
	padding-left: 2em; margin: 0 0 .5em 0;
}
