ul.breadcrumb-navigation{
padding:0; margin:0;
list-style: none;
list-style-image: none;
}

ul.breadcrumb-navigation li{
display:inline;
list-style-image: none;
background: transparent;
padding: 0 2px;
}

ul.breadcrumb-navigation a{
	
}

ul.breadcrumb-navigation span{
	
}