div.news-detail
{
	padding-left:10px;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.entry div.news-detail h3
{
	margin: 25px 0 20px;
}
.news-date-time
{
    color: #FFFFFF;
    font-size: 10px;
    font-style: italic;
    margin-right: 10px;
}
