.bx_sort_container {
	position: relative;
	font-weight: lighter;
	color: #7f8a92;
}
.bx_sort_container span {
	padding-right: 10px;
}
.bx_sort_container a {
	text-decoration: none;
	margin-right: 10px;
	white-space: nowrap;
}
.bx_sort_container a.current {
	color: #7f8a92;
	text-decoration: none;
	border-bottom: 1px dashed transparent !important;
	font-weight: bold;
}
.bx_sort_container a div.flat {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.bx_ordercart_order_pay .bx_ordercart_order_pay_left, .bx_ordercart_order_pay .bx_ordercart_order_pay_right {
	float: left;
	width: 49%;
	text-align: left;
}
.bx_ordercart_order_pay .bx_ordercart_order_pay_right {
	float: right;
	text-align: right;
}
.bx_ordercart_order_pay .bx_ordercart_order_pay_right .bx_ordercart_order_sum {
	float: right;
	margin-right: 5px;
}
.bx_ordercart_order_pay .bx_ordercart_order_pay_right .bx_ordercart_order_sum td {
	padding: 0 0 0 10px;
}
.bx_ordercart_coupon span {
	display: block;
	margin-bottom: 10px;
}
.bx_ordercart_coupon input.good {
	border: 2px solid #2ecc71;
}
.bx_ordercart_coupon input.bad {
	border: 2px solid #fc353f;
}
.bx_ordercart_order_pay_center {
	margin-top: 25px;
	text-align: right;
}
#basket_items_list, #basket_items_delayed, #basket_items_subscribed, #basket_items_not_available {
	display: none;
}
#basket_items_list.current, #basket_items_delayed.current, #basket_items_subscribed.current, #basket_items_not_available.current {
	display: block;
}

.basket_items_table {
	overflow: hidden;
	width: 100%;
	border: 1px solid #ecf0f1;
	border-collapse: separate;
	margin: 20px 0;
}
.basket_items_table thead td {
	border: none;
	color: #7f8a92;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	padding: 15px;
	vertical-align: middle;
	text-align: center;
	background: #ecf0f1;
}
.basket_items_table thead td.itemName, .basket_items_table tbody td.itemName {
	text-align: left;
}
.basket_items_table tbody td {
	border-top: 1px solid #ecf0f1;
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: #7f8a92;
	font-size: 14px;
	line-height: 18px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
}
.basket_items_table tbody td.itemImage {
	width: 180px;
	vertical-align: top;
}
.basket_items_table tbody td.itemDiscount {
	width: 85px;
}
.basket_items_table tbody td.itemPrice {
	width: 100px;
}
.basket_items_table tbody td.itemQuant {
	width: 145px;
}
.basket_items_table tbody td.itemAction {
	width: 90px;
}

.basket_items_table tbody td.itemImage img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.basket_items_table tbody td.itemName .itemNameProps {
	margin: 5px 0;
}
.basket_price, .basket_old_price {
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
}
.basket_old_price {
	color: #CCCCCC;
	text-decoration: line-through;
}
.basket_price .rub, .basket_old_price .rub {
	font-size: 14px;
	line-height: 5px;
	padding-top: 7px;
	border-bottom: 1px solid #7f8a92;
	width: 0.4em;
	vertical-align: top;
}
.basket_old_price .rub {
	border-color: #CCCCCC;
	text-decoration: line-through;
}
.bx_ordercart_order_sum .rub {
	border-color: #000;
	line-height: 6px;
}
.basket_items_table tbody td.itemAction a {
	display: block;
	font-size: 12px;
	line-height: 16px;
	margin: 5px 0;
}
.basket_items_blocks {
	display: none;
	overflow: hidden;
	width: 100%;
	border: 1px solid #ecf0f1;
	margin: 20px 0;
}
.basket_items_blocks .basket_items_blocks_item:first-child {
	border: none;
	margin-top: 0;
}
.basket_items_blocks .basket_items_blocks_item {
	border-top: 1px solid #ecf0f1;
	margin-top: 10px;
	text-align: center;
}
.basket_items_blocks .basket_items_blocks_item .itemName {
	padding: 15px 10px;
	background: #ecf0f1;
}
.basket_items_blocks .basket_items_blocks_item .itemImage {
	padding: 15px 10px;
}
.basket_items_blocks .basket_items_blocks_item .itemImage img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.basket_items_blocks .basket_items_blocks_item .itemNameProps,
.basket_items_blocks .basket_items_blocks_item .itemDiscount,
.basket_items_blocks .basket_items_blocks_item .itemPrice,
.basket_items_blocks .basket_items_blocks_item .itemQuant,
.basket_items_blocks .basket_items_blocks_item .itemAction {
	padding: 5px 10px;
}
.basket_items_blocks .basket_items_blocks_item .itemPrice .basket_price, .basket_items_blocks .basket_items_blocks_item .itemPrice .basket_old_price, .basket_items_blocks .basket_items_blocks_item .itemQuant .item_quantity {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}
.basket_items_blocks .basket_items_blocks_item .itemPrice b {
	vertical-align: middle;
}
.basket_items_blocks .basket_items_blocks_item .itemPrice .basket_price .rub, .basket_items_blocks .basket_items_blocks_item .itemPrice .basket_old_price .rub {
	padding-top: 7px;
}
.basket_items_blocks .basket_items_blocks_item .itemPrice .basket_old_price {
	margin-left: 5px;
}
.basket_items_blocks .basket_items_blocks_item .itemQuant .item_quantity {
	margin: 0 25px;
	vertical-align: middle;
}
.basket_items_blocks .basket_items_blocks_item .itemAction a {
	display: block;
	margin: 3px 0;
}


.bx_item_detail_size_small_noadaptive {
	margin: 10px 0 0;
}
.bx_item_detail_size_small_noadaptive .bx_item_section_name_gray {
	font-weight: 900;
	color: #7f8a92;
	margin: 0 0 5px 0;
	display: block;
}
.bx_item_detail_size_small_noadaptive .bx_size li {
	width: auto !important;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.bx_item_detail_size_small_noadaptive .bx_size li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 10px 10px 0;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 18px;
	color: #7b8b95;
	cursor: pointer;
	position: relative;
	min-height: 28px;
	min-width: 28px;
	text-align: center;
	text-decoration: none;
}
.bx_item_detail_size_small_noadaptive .bx_size li a img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bx_item_detail_size_small_noadaptive .bx_size li.bx_active a, .bx_item_detail_size_small_noadaptive .bx_size li.sku_prop a:hover {
	border: 1px solid #7b8b95;
}


@media all and (max-width: 1200px) {
	.basket_items_table thead td.itemDiscount, .basket_items_table tbody td.itemDiscount {
		display: none;
	}
	.basket_items_table tbody td.itemImage {
		width: 120px;
		max-width: 120px;
	}
	.basket_items_table .item_quantity {
		width: 60px;
	}
	.basket_items_table tbody td.itemQuant {
		width: 130px;
	}
	.basket_items_table tbody td.itemPrice {
		width: 95px;
	}
}

@media all and (max-width: 980px) {
	.basket_items_table {
		display: none;
	}
	.basket_items_blocks {
		display: block;
	}
}

@media all and (max-width: 480px) {
	.bx_ordercart_order_pay_center {
		text-align: center;
	}
	.bx_ordercart_order_pay .bx_ordercart_order_pay_left, .bx_ordercart_order_pay .bx_ordercart_order_pay_right {
		float: none;
		text-align: center;
		width: 100%;
	}
	.bx_ordercart_order_pay .bx_ordercart_order_pay_right .bx_ordercart_order_sum {
		float: none;
		margin: 20px auto 0;
	}
	.bx_ordercart_order_pay .bx_ordercart_order_pay_right .bx_ordercart_order_sum td.custom_t1 {
		text-align: right;
		padding-left: 0;
	}
	.bx_ordercart_order_pay .bx_ordercart_order_pay_right .bx_ordercart_order_sum td.custom_t2 {
		text-align: left;
	}
	.bx_sort_container a {
		display: block;
		margin: 5px 0;
		border-bottom: 1px dashed transparent !important;
	}
}