.startshop-order.default {
    position: relative;
    display: block;
}

.startshop-order.default .startshop-order-notify {
    display: block;
    padding: 10px;
    background: #ffd777;
    border: 1px solid #ddaa40;
    margin-bottom: 20px;
    border-radius: 3px;
}
.startshop-order.default .startshop-order-notify.startshop-order-notify-green {
    background: #b6ff66;
    border: 1px solid #59d11a;
}
.startshop-order.default .startshop-order-notify.startshop-order-notify-red {
    background: #ffdac4;
    border: 1px solid #dd3638;
}

.startshop-order.default .startshop-order-notify .startshop-order-notify-wrapper {
    display: block;
    overflow: hidden;
    color: #1d1d1d;
}

.startshop-order.default .startshop-order-section {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.startshop-order.default .startshop-order-section .startshop-order-caption {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 20px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties {
    position: relative;
    display: block;
    overflow: hidden;
    margin: -8px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property.startshop-order-property-full {
    margin-right: 50%;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-name {
    position: relative;
    display: block;
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 140px;
    text-align: left;
    //height: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-name .startshop-order-required {
    position: relative;
    font-size: 12px;
    color: #ff0000;
    font-weight: bold;
    bottom: 3px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field {
    position: relative;
    display: block;
    margin-left: 150px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field input,
.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field select,
.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field select:focus {
    outline: none;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field textarea {
    resize: none;
    height: 135px;
}

.startshop-order.default .startshop-order-section .startshop-order-properties .startshop-order-property .startshop-order-field .startshop-order-field-description {
    display: block;
    font-size: 12px;
    color: #494949;
    margin: 5px;
    overflow: hidden;
}

.startshop-order.default .startshop-order-table-wrapper {
    display: block;
    position: relative;
    overflow-x: auto;
}

.startshop-order.default .startshop-order-table {
    width: 100%;
}

.startshop-order.default .startshop-order-table .startshop-order-row {

}

.startshop-order.default .startshop-order-table .startshop-order-row.startshop-order-row-header {
    height: auto;
    background: #f2f2f2;
}

.startshop-order.default .startshop-order-table .startshop-order-row .startshop-order-column {

}

.startshop-order.default .startshop-order-table .startshop-order-row .startshop-order-column .startshop-order-cell {
    display: block;
    margin: 10px 20px;
    overflow: hidden;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    white-space: normal;
}

.startshop-order.default .startshop-order-table .startshop-order-row.startshop-order-row-header .startshop-order-column .startshop-order-cell {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.startshop-order.default .startshop-order-table .startshop-order-row .startshop-order-column .startshop-order-cell .startshop-link {
    text-decoration: none;
}

.startshop-order.default .startshop-order-table .startshop-order-row .startshop-order-column .startshop-order-cell .startshop-image {
    height: 100px;
    width: 100px;
}

.startshop-order.default .startshop-order-table .startshop-order-row .startshop-order-column .startshop-order-cell .startshop-button-custom.startshop-button-delete:hover {
    background-position: 0px -16px;
}

.startshop-order.default .startshop-order-table .startshop-order-property {
    display: block;
    font-size: 0px;
}

.startshop-order.default .startshop-order-table .startshop-order-property .startshop-order-name {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 6px;
}

.startshop-order.default .startshop-order-table .startshop-order-property.startshop-order-property-text .startshop-order-value {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
}

.startshop-order.default .startshop-order-table .startshop-order-property.startshop-order-property-picture .startshop-order-value {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #f1f1f1;
    overflow: hidden;
}

.startshop-order.default .startshop-order-table .startshop-order-property.startshop-order-property-picture .startshop-order-value .startshop-order-value-wrapper {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    overflow: hidden;
    border-radius: 50%;
}

.startshop-order.default .startshop-order-total {
    display: block;
    padding: 10px;
    background: #f2f2f2;
    float: right;
}

.startshop-order.default .startshop-order-total .startshop-order-field {
    display: block;
    padding: 5px 10px;
    color: #1d1d1d;
    background: #e2e2e2;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.startshop-order.default .startshop-order-total .startshop-order-field:first-child {
    margin-top: 0px;
}

.startshop-order.default .startshop-order-buttons {
    display: block;
    overflow: hidden;
    margin-top: 20px;
}

.startshop-order.default .startshop-order-buttons .startshop-order-buttons-wrapper {
    display: block;
    overflow: hidden;
    margin: -4px;
}

.startshop-order.default .startshop-order-buttons .startshop-button {
    display: block;
    float: right;
    margin: 4px;
    padding: 11px 23px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}

@media all and (max-width: 690px) {
    .startshop-order.default.adaptability .startshop-order-section .startshop-order-properties .startshop-order-property {
        float: none;
        width: auto;
    }

    .startshop-order.default.adaptability .startshop-order-section .startshop-order-properties .startshop-order-property.startshop-order-property-full {
        margin-right: 0px;
    }
}