
.le-window-content {
	background-color: #fff;
}

.lw-sp-wrapper-block {
	display:none;
}

.lw-sp-window-block {
	width: 20em;
	overflow: hidden;
	padding: 3.5rem 2rem 3.5rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	color: #231f20;
}

.lw-sp-window-block .close-cross-button {
	width: 1.500rem;
	height: 1.500rem;
	background: url('./img/close-button.png') center no-repeat;
	position: absolute;
	right: 1.25rem;
	top: 1.25rem;
	outline: solid 1px transparent;
	outline-offset: .5rem;
	border: 0;
	-webkit-transition: outline-color 0.15s linear;
	transition: outline-color 0.15s linear;
}

.lw-sp-window-block .close-cross-button:hover {
	outline-color: rgba(0,0,0,0.2);
	background-color: transparent;
}

.lw-sp-window-block .close-cross-button:active {
	outline-color: rgba(0,0,0,1);
	top: 1.25rem;
}

.lw-sp-window-block h2 {
	font-size: 1.875rem;
	text-align: left;
	line-height: 2rem;
	margin: 0 0 1rem;
}

.lw-sp-window-block p {
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 300;
}

.lw-sp-window-block p.price {
	line-height: 3.0rem;
}

.lw-sp-window-block a {
	font-size: 1rem;
	color: #0095da;
	text-decoration: none;
	border-bottom: solid 1px #0095da;
	display: inline-block;
	margin: .5rem 0 0;
	font-weight: 300;
	-webkit-transition: border-color 0.15s linear;
	transition: border-color 0.15s linear;
}

.lw-sp-window-block a:hover {
	border-color: transparent;
}

.lw-sp-window-block .forecast {
	padding: .25rem 0 0;
}

.lw-sp-window-block .forecast p {

}

.lw-sp-window-block .how-to-link {
	margin: 0.5rem 0 1.675rem;
}

.lw-sp-window-block .forecast .description {
	margin: 1.875rem 0 0;
}

.lw-sp-window-block .forecast .download-forecast {
	margin: 2.375rem 0 0;
	border: 0;
	position: relative;
	padding: 0 0 0 1.375rem;
}

.lw-sp-window-block .forecast .download-forecast:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 1.375rem;
	height: 1rem;
	background: url('./img/pdf-file.png') left center no-repeat;
}

.lw-sp-window-block .forecast .download-forecast span {
	font-size: 1rem;
	line-height: 1rem;
	display: inline-block;
	color: #0095da;
	border-bottom: solid 1px #0095da;
	font-weight: 300;
	-webkit-transition: border-color 0.15s linear;
	transition: border-color 0.15s linear;
}

.lw-sp-window-block .forecast .download-forecast:hover span {
	border-color: transparent;
}

.lw-sp-window-block .form-block {
	padding: 1rem 0 0;
}

.lw-sp-window-block .form-block .field-block {
	position: relative;
	margin-bottom: 1rem;
}

.lw-sp-window-block .form-block .field-block label {
	color: #231f20;
	font-weight: 300;
	text-align: left;
	display: block;
	margin-bottom: 0.438rem;
}

.lw-sp-window-block .form-block .field-block .field {
	width: 100%;
	border-color: #231f20;
	color: #231f20;
}

.lw-sp-window-block .form-block .field-block .addition {
	display: block;
	width: 2.500rem;
	height: 2.750rem;
	line-height: 2.750rem;
	text-indent: 0.5rem;
	font-size: 1.250rem;
	position: absolute;
	border: solid 1px transparent;
	bottom: 0;
	margin: 0;
	z-index: 1;
}

.lw-sp-window-block .form-block .field-block .phone-field {
	text-indent: 2.500rem;
}

.lw-sp-window-block .form-block .field-block .textarea-field{
	height: 100px;
	line-height: 1.2rem;
	text-indent: 0;
	padding: 0.5rem;
	font-size: 0.99rem;
	resize: none;
}

.lw-sp-window-block .form-block .field-block.error .field {
	border-color: #E24349;
	outline: solid 3px #E24349;
	outline-offset: -2px;
}

.lw-sp-window-block .form-block .field-block.error .field::-webkit-input-placeholder {
	color: #E24349;
}

.lw-sp-window-block .form-block .field-block.error .field:-moz-placeholder {
	color: #E24349;
}

.lw-sp-window-block .form-block .field-block.error .field::-moz-placeholder {
	color: #E24349;
}

.lw-sp-window-block .form-block .field-block.error .field:-ms-input-placeholder {
	color: #E24349;
}

.lw-sp-window-block .button:not(.close-cross-button) {
	margin: 1.250rem 0 0;
	width: 100%;
	height: 2.750rem;
	line-height: 2.750rem;
	border-color: #231f20;
	color: #231f20;
}

.lw-sp-window-block .button:not(.close-cross-button):hover {
	background-color: #231f20;
	color: #fff;
}

@-webkit-keyframes rumble {
	0% {-webkit-transform: rotate(0deg);}
	25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
	50% {-webkit-transform: translate(0px, -2px) rotate(0deg);}
	75% {-webkit-transform: translate(-2px, 0px) rotate(3deg);}
	100% {-webkit-transform: translate(0px, 2px) rotate(0deg);}
}

@keyframes rumble {
	0% {transform: rotate(0deg);}
	25% {transform: translate(2px, 0px) rotate(-3deg);}
	50% {transform: translate(0px, -2px) rotate(0deg);}
	75% {transform: translate(-2px, 0px) rotate(3deg);}
	100% {transform: translate(0px, 2px) rotate(0deg);}
}

.lw-sp-window-block .button:not(.close-cross-button).error {
	-webkit-animation: rumble .0625s infinite linear;
	animation: rumble .0625s infinite linear;
}

.lw-sp-window-block .get-form-block {
	height: 17rem;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s 0.1s;
	transition: transform 0.4s, opacity 0.2s 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	will-change: opacity, -webkit-transform, transform;
	pointer-events: auto;
}

.lw-sp-window-block.sent .get-form-block {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

.lw-sp-window-block .message-block {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
	transition: transform 0.4s, opacity 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	will-change: opacity, -webkit-transform, transform;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

.lw-sp-window-block.sent .message-block {
	height: 17rem;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

.lw-sp-window-block.sent .message-block .email-value {
	text-align: center;
	margin: 2rem 0 0;
	font-size: 1.5rem;
}

.lw-sp-window-block.sent .message-block .button {
	bottom: 0;
	position: absolute;
}

.lw-sp-window-block.sent .message-block .button:active {
	top: auto;
	bottom: -1px;
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/

@media (min-width: 48rem) {

	.lw-sp-window-block {
		width: 22.500em;
		padding: 3.5rem 3.125rem 3.5rem;
	}
}

@media (min-width: 62rem) {



}

@media (min-width: 75rem) {



}

@media (min-width: 88rem) {



}