/* line */
.bx_catalog_line{margin-bottom: 30px;}
.bx_catalog_line .bx_catalog_line_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_line .bx_catalog_line_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_line .bx_catalog_line_ul{padding: 0;}
.bx_catalog_line .bx_catalog_line_ul li{
	margin-bottom: 20px;
	list-style: none;
}
.bx_catalog_line .bx_catalog_line_ul li:before {content: '' !important}

.bx_catalog_line .bx_catalog_line_img{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 40px;
	width: 125px;
	height: 125px;
	border:1px solid #ccc;
	border-radius: 2px;
			background-position: center;
			background-repeat: no-repeat;
	-webkit-background-size:contain;
			background-size:contain;
}

.bx_catalog_line .bx_catalog_line_title{
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	line-height: 18px;
}
.bx_catalog_line .bx_catalog_line_title a{
	color: #4c7da6;
	font-size: 18px;
}
.bx_catalog_line .bx_catalog_line_title a:hover{text-decoration: none;}
.bx_catalog_line .bx_catalog_line_title span{font-size: 16px}
.bx_catalog_line .bx_catalog_line_description{
	color: #3f3f3f;
	font-size: 13px;
	line-height: 16px;
}


@media (max-width:639px) {
	.bx-touch .bx_catalog_line .bx_catalog_line_img{
		margin-right: 10px;
		width: 50px;
		height: 50px;
	}

	.bx-touch .bx_catalog_line .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 14px;
	}
	.bx-touch .bx_catalog_line .bx_catalog_line_title a{font-size: 14px;}
	.bx-touch .bx_catalog_line .bx_catalog_line_description{font-size: 11px;}
}



.bx_catalog_line .bx_catalog_line_img,
.bx_catalog_line .bx_catalog_line_title,
.bx_catalog_line .bx_catalog_line_title a,
.bx_catalog_line .bx_catalog_line_description{
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	 		transition: all 0.3s ease;
}

/* text */
.bx_catalog_text{margin-bottom: 30px;}
.bx_catalog_text .bx_catalog_text_category_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_catalog_text .bx_catalog_text_category_title a{
	color: #000;
	text-decoration: none;
}

.bx_catalog_text .bx_catalog_text_ul{padding: 0;}
.bx_catalog_text .bx_catalog_text_ul li{
	float: left;
	margin: 0 10px 10px;
	list-style: none;
}
.bx_catalog_text .bx_catalog_text_ul li:first-child {
    margin-left: 0;
}
.bx_catalog_text .bx_catalog_text_ul li:before {content: '' !important}
.bx_catalog_text .bx_catalog_text_title{
	margin: 0;
	padding: 0;
	vertical-align: top;
	line-height: 14px;
}
.bx_catalog_text .bx_catalog_text_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 14px;
}
.bx_catalog_text .bx_catalog_text_title a:hover{text-decoration: none}
.bx_catalog_text .bx_catalog_text_title span{font-size: 12px;}

@media (max-width:639px) {
	.bx-touch .bx_catalog_text .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_catalog_text .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_catalog_text .bx_catalog_line_title,
	.bx_catalog_text .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}
	
/* tile */
	
/* tile */


.bx_catalog_tile{margin-bottom: 30px;}
.bx_catalog_tile .bx_catalog_tile_category_title{
	font-size: 36px;
	line-height: 36px;
	padding-top: 20px;
	font-weight: 300;
}
.bx_catalog_tile .bx_catalog_tile_category_title a{
	color: #000;
	text-decoration: none;
}



.bx_catalog_tile .bx_catalog_tile_ul{padding: 0;}
.bx_catalog_tile .bx_catalog_tile_ul li:not(.slide){
	border: 1px solid #94bfdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
	text-align:left;
	margin-bottom:21px;
}
.bx_catalog_tile .bx_catalog_tile_ul li:not(.slide):before {content: '' !important}
.bx_catalog_tile .bx_catalog_tile_ul li:not(.slide):nth-child(8n+1){clear: both;}

.bx_catalog_tile .bx_catalog_tile_title{
	min-height: 14px;
	border-bottom: 1px solid #94bfdc;
	padding: 10px;
	padding-right: 165px;
	background-color: #eaf2f8;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
    margin-bottom: 0;
}
.bx_catalog_tile .bx_catalog_tile_title a{
	color: #000;
	font-size: 18px;
	line-height: 14px;
	text-decoration:none;
}
.bx_catalog_tile .bx_catalog_tile_title a:hover{text-decoration: underline;}
.bx_catalog_tile .bx_catalog_tile_title span{font-size: 12px;}

.bx_catalog_tile .bx_catalog_tile_show_all{
	position:absolute;
	top:-23px;
	right:70px;
	color:#0055aa;
	font-size:14px;
	line-height:14px;
	text-decoration: none;
}
.bx_catalog_tile .bx_catalog_tile_show_all:hover{
	text-decoration: underline;
}

.emarket-mSlider{position:relative;}
.emarket-mSlider .mSlider-wrap{
	overflow-x: hidden;
	margin: 0 0 -1px 0;
}
.emarket-mSlider .mSlider-wrap .mSlider-window{
	margin: -1px 0 0 1px;
	position: relative;
	list-style: none;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li{
	float: left;
	height: 238px;
	width: 0px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap{
	height: 216px;
	border: 1px solid #94bfdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    position: relative;
    padding: 10px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li.current .slide-wrap{
	border-left:0;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_new,
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_hit {
    position:absolute;
	background-size: contain;
	background-repeat: no-repeat;
	width: 110px;
	height: 110px;
	right:0px;
	top:0px;
	z-index:911;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_new {
    background-image:url(/images/product_new.png);    
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_hit {
    background-image:url(/images/product_bestseller.png);   
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 152px;
    position: relative;
    width: 216px;
    z-index: 910;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_title {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: 300;
    height: 29px;
    line-height: 14px;
    margin: 3px 0;
    overflow: hidden;
    text-decoration: none;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_title a {
    color: #3f3f3f;
    font-size: 13px;
    text-decoration: none;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_rating{height:10px;}
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_rating .star{
	display: inline-block;
	background-image:url(images/stars.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	height:10px;
	width:11px;
}
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_rating .star.half{background-position:-13px 0px;}
.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_rating .star.empty{background-position:-26px 0px;}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_price {
    color:#1763a6;
	font-size:16px;
	line-height:16px;
	display: inline-block;
	position:relative;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_price span{
	color:#a5a5a5;
	font-size:12px;
	font-weight:normal;
	white-space:nowrap;
	text-decoration:line-through;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_price .bx_price {
    font-size: 15px;
    padding-top: 5px;
}

.emarket-mSlider .mSlider-wrap .mSlider-window li .slide-wrap .item_price .bx_stick_disc{
	position: absolute;
	overflow: hidden;
	width: 28px;
	height: 28px;
	color: #fff;
	background: #8dbf41;
	text-align: center;
	font-size: 12px;
	line-height: 28px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.emarket-mSlider .bx_stick.left,
.emarket-mSlider .bx_stick_disc.left{left:-2px;}
.emarket-mSlider .bx_stick.right,
.emarket-mSlider .bx_stick_disc.right{right:-35px;}
.emarket-mSlider .bx_stick.top,
.emarket-mSlider .bx_stick_disc.top{top:15px;}
.emarket-mSlider .bx_stick.bottom,
.emarket-mSlider .bx_stick_disc.bottom{bottom:-5px;}
.emarket-mSlider .bx_stick.middle,
.emarket-mSlider .bx_stick_disc.middle{top:49%;}

.emarket-mSlider a.mSlider-prev,
.emarket-mSlider a.mSlider-next {
	position:absolute;
	width:9px;
	height:16px;
	top: -25px;
	opacity:.3;
	background-image:url(images/tile-arrows.png);
	background-repeat:no-repeat;
}
.emarket-mSlider a.mSlider-prev:hover, 
.emarket-mSlider a.mSlider-next:hover{opacity:1;}
.emarket-mSlider a.mSlider-prev {
	right:40px;
	background-position:0px 0px;
}
.emarket-mSlider a.mSlider-next {
	right:10px;
	background-position:-11px 0px;
}

/* list */

.bx_sitemap{margin-bottom: 30px;}
.bx_sitemap .bx_sitemap_title{
	padding-bottom: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 24px;
}
.bx_sitemap .bx_sitemap_title a{
	color: #000;
	text-decoration: none;
}

.bx_sitemap .bx_sitemap_ul li{
	padding: 0;
	line-height: 14px;
}
.bx_sitemap .bx_sitemap_ul li:before {content: '' !important}
.bx_sitemap .bx_sitemap_li_title{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-weight: normal;
	line-height: 13px;
	margin-bottom: 10px;
}
.bx_sitemap .bx_sitemap_li_title a{
	color: #4c7da6;
	white-space: nowrap;
	font-size: 13px;
}
.bx_sitemap .bx_sitemap_li_title a:hover{text-decoration: none}
.bx_sitemap .bx_sitemap_li_title span{font-size: 11px;}

@media (max-width:639px) {
	.bx-touch .bx_sitemap .bx_catalog_line_title{
		margin-bottom: 5px;
		line-height: 12px;
	}
	.bx-touch .bx_sitemap .bx_catalog_line_title a{font-size: 12px;}
}

	.bx_sitemap .bx_catalog_line_title,
	.bx_sitemap .bx_catalog_line_title a{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}