* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
.wrapper {
	width:1020px;
	margin:0 auto;
}
.w-top {
	position:relative;
	padding-top:10px;
	margin-bottom:10px;
}
.w-top table {
	width:1020px;
	font-size:11px;
	line-height:14px;
}
.w-top table .b_bottom {
	border-bottom:1px solid #000;
}
.w-top table small {
	font-size:8px;
	display:block;
	text-align:center;
	line-height:8px;
}
.w-top table span {
	font-size:12px;
}
/* ACT */
.w-top .table_caption {
	width:auto;
	border-collapse:collapse;
	font-size:12px;
	margin-left:273px;
	margin-top:5px;
}
.table_caption td {
	white-space:nowrap;
	text-align:center;
	
}
.table_caption td.t_bord {
	border:#000 solid 1px;
}
.table_caption td.t_dbord {
	border:#000 solid 2px;
}
.agreement_text {
	font-size:11px;
	padding:0 30px;
	margin-bottom:10px;
}
.table_prod {
	width:100%;
	border-collapse:collapse;
	font-size:11px;
	margin-bottom:10px;
}
.table_prod td {
	border:#000 solid 1px;
	vertical-align:middle;
	text-align:center;
	padding:0 2px;
}
.table_prod td.align-left {
	text-align:left;
}
.table_prod td.align-right {
	text-align:right;
}
.add_table {
	width:auto;
	border-collapse:collapse;
	font-size:11px;
	line-height:9px;
}
.add_table td  {
	vertical-align:top;
}
.add_table td small {
	font-size:8px;
	display:block;
}
.add_table_wrap {
	border-collapse:collapse;
	margin-left:100px;
	
}
.add_table_wrap_right {
	border-collapse:collapse;
	width:100%;
}
.bottom_table {
	border-collapse:collapse;
	width:100%;
}
.bottom_sub_table {
	font-size:11px;
	width:100%;
	line-height:9px;
}
.bottom_sub_table td {
	vertical-align:top;
	height:12px;
}
.bottom_sub_table  small {
	font-size:8px;
	display:block;
}
/*NAK */
.w-top-nak table {
	width:100%;
	font-size:11px;
	line-height:16px;
	border-collapse:collapse;
}
.w-top-nak table td {
	height:10px;
}
.w-top-nak table small {
	font-size:8px;
	display:block;
	line-height:10px;
}
.dbord {
	border:#000 solid 1px;
}
.oper {
	border-bottom:1px solid #000;
}
.page {
	text-align:right;
	font-style:italic;
	font-size:11px;
}