div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
.my-table
{
}
.my-table thead td
{
	text-align: center;
	padding:5px;
}
.my-table td
{
	padding: 10px;
}
.my-table td.gray
{
	padding:10px;
	background-color: #e2e1e1;
}
.my-table td.white
{
	padding:10px;
}

.conf_table
{
	border:solid 1px #c6c6c6;
}
.conf_table td
{
	padding:5px;
	vertical-align:top;
}
