.worktime {
    width: 91px;
    color: #000;
    font-size: 11px;
    line-height: 11px;
    
}

.ys-work {
	float: left;
	margin-right: 3px;
	width: 7px;
	height: 2px;
	background: #35ab01;
}

.ys-weekend {
	float: left; 
	margin-right: 3px;
	width: 7px;
	height: 2px;
	background: #c41e3a;
}	

.ys-work_circle {
	float: left;
	margin-right: 3px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #808080;
}

.ys-weekend_circle {
	float: left; 
	margin-right: 3px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #c41e3a;
}

#ys-time-work-circle {
	position: absolute;
	top: 82px;
	left: 1039px;
	color: #808080;
	width: 80px;
}	

#ys-time-weekend-circle {
	position: absolute;
	top: 82px;
	left: 1104px;
	width: 80px;
	color: #c41e3a;
}

#ys-time-work {
	position: absolute;
	top: 75px;
	color: #35ab01;
}	

#ys-time-weekend {
	position: absolute;
	top: 87px;
	color: #c41e3a;
}

#ys-lunch {
	position: absolute;
	top: 101px;
	display:none;
}