.services_list{
padding: 0;
margin: 0;
}

.services_list ul{
padding: 0;
margin: 0;
list-style-type: none;
list-style-position: outside;
}

.services_list ul li{
font-size: 16px;
padding: 0 0 10px 20px;
background-color: transparent;
background-position: left 6px;
background-repeat: no-repeat;

}

.services_list ul li.second_li{
padding: 0;
margin: 0;
list-style-image: none;
list-style-type: none;
border: 1px solid white;
background: transparent;
}

.services_list ul li a{
font-size: 16px;
text-decoration: none;
}

.services_list ul li a:hover{
text-decoration: underline;
}

.services_list ul ul{
padding: 0 0 0 20px;
margin: 5px 0 0 0;
list-style-type: none;
list-style-image: none;
list-style-position: inside;
background: transparent;
border-style: solid;
border-width: 1px;
border-right: 0; border-top: 0; border-bottom: 0;
}

.services_list ul li ul li{
font-size: 12px;
padding: 0 0 4px 0;
margin: 0;
list-style-position: outside;
background: transparent;
}

.services_list ul li ul li a{
font-size: 12px;
text-decoration: none;
}

.section_items{
padding: 0;
margin: 0;
}

#full_content div.section_items ul.elements_list{
padding: 0;
margin: 0 0 18px 0;
list-style-type: disc;
list-style-position: inside;
}

#full_content div.section_items ul.elements_list li{
padding: 3px 0;
margin: 0;
background: transparent;
}

