.tickLabel {
	width: 30px;
	font-size: 11px;
	padding: 5px;
}
.placeholder {
	/*width: 700px;*/
	/*height: 450px;*/
	float: left;
}
.graphicsLegend {
	
}
.overview {
	margin: 20px 0 5px 25px;
	/*width: 675px;*/
	/*height: 70px;*/
	background: #fff;
}
.clear {
	clear: both;
}

.legendColorBox div {
	width: 15px !important;
	height: 15px !important;
	border-width: 0 !important;
}
.legendColorBox div div {
	width: 1px !important;
	//width: 10px !important;
	height: 1px !important;
	//height: 10px !important;
	border-width: 4px !important;
	//border-width: 10px !important;
	margin: 4px 0 0 5px !important;
}
.legendLabel {
	font-size: 11px;
	padding: 0 5px 0 0;
}

.graphTooltip {
	position: absolute;
	display: none;
	border: 1px solid #777;
	padding: 3px;
	background-color: #999;
	font-size: 11px;
	color: #fff;
}