        .stock-nav {
            list-style: none;
            margin: 40px 0 0;
            padding: 0;
            font-family: 'Gotham';
        }


        .stock-nav .stock-active a {
            color: #f95319;
        }

        .stock-nav a {
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            font-weight: 900;
            line-height: 18px;
            display: inline-block;

            text-align: left;
            text-transform: uppercase;
        }

        .stock-stage {
            font-family: 'Gotham';
        }

        .stock-nav span {
            font-weight: 900;
        }

        .stock-nav li {
            display: inline-block;
        }

        .stock_wrap {
            width: 100%;
            margin-top: 35px;
            background: #f8f8f4;
            height: 120px;
            line-height: 120px;
            text-align: center;
        }

        .stock_wrap p {
            display: inline-block;
            font-size: 24px;
            font-weight: 500;
            color: #000000;
            line-height: 120px;
            margin: 0;
            padding: 0;

        }

        .stock_wrap p:first-child {
            margin-right: 15px;
        }

        .stock_wrap p:last-child {
            margin-left: 15px;
        }
        .stock_wrap span {
            color: #f95319;
        }

        .stock_wrap p span.until {
            position: relative;
            font-size: 14px;
            line-height: 114px;
            vertical-align: top;
        }

        .stock_wrap p span.until::after {
            content:"";
            position: absolute;
            top: 15px;
            left: 0;
            height: 1px;
            width: 100%;
            background: #f8d5cb;
        }

        #CountDownTimer {
            display: inline-block;
            vertical-align: middle;
        }



.dsc_slider {
    margin: 30px 0 0;
    padding:0;
    width: 100%;
    display: block;
}

.dsc_product {
width: calc(25% - 10px);
margin-left: 5px;
margin-right: 5px;
padding: 10px;
border: 1px solid transparent;
-webkit-box-sizing: border-box;
box-sizing: border-box;
overflow: hidden;
float: left;
    margin-bottom: 20px;

}

.dsc_item {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #fff;
    text-decoration: none;
    color: #000000;
    max-width: 100%;
}

.dsc_item:hover,
.dsc_item:focus,
.dsc_item:active {
    color: #000000;
    text-decoration: none;
}

.dsc_item:hover .item_title{
    color: #e6320a;
    text-decoration: none;
}

.dsc_image {


width: 100%;
height: 160px;
position: relative;
margin: 14px 0 18px 0;
text-align: center;

}

.dsc_image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.dsc_item-right-block {
    list-style: none;
    text-align: center;
    padding: 0 10px;
}

.stock_main a.item-info {
    text-decoration: none;
    outline: none;
}

.stock_main .item-title {

    text-align: left;
    font-family: "Gotham";
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 0 0;
    height: 66px;
    overflow: hidden;

}

.stock_main .item-block-price {
    position: relative;
    padding-top: 23px;
    text-align: left;
    background: url(https://rrstatic.retailrocket.net/moshoztorg/widget/price_border.png) center bottom repeat-x;
}

.stock_main .dsc_product .item-price {
    display: inline-block;
    background-color: #ffffff;
    letter-spacing: -1px;
    white-space: nowrap;
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    bottom: -5px;
    margin: 0;
}

.stock_main .dsc_product .item-price .item-price-value {
    font-family: Gotham;
    background-color: #fff;
    float: left;
    padding-right: 5px;
}

.stock_main .item-actions-buy {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 28px;
    cursor: pointer;
    padding: 0;
    background: #fff url(img/shopping-cart-2.png) right center no-repeat;
}

.stock_main .item-actions-buy:hover,
.stock_main .item-actions-buy:focus {
   background: url(https://rrstatic.retailrocket.net/moshoztorg/widget/cart_hover.png);
}

.stock_wrap {
    position: relative;
}

.stock_main .dsc {
    margin: 0;
    display: inline-block;
    position: relative;
    font-family: 'Gotham';
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
}

.stock_main .dsc::after {
    content: "";
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
    height: 40px;
    width: 1px;
    background: #000000;

}

.stock_main .dsc_all {
    margin-top: 10px;
    float: right;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
    color: #aaaaaa;
    text-decoration: none;
    text-transform: uppercase;
}

.stock_main .dsc_all:hover,
.stock_main .dsc_all:focus,
.stock_main .dsc_all:active {
    color: #aaaaaa;
    text-decoration: none;
}

.stock_main .dsc_all::after {
    content: "";
    clear: both;
    display: block;
    float: none;

}

.dsc_count {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 8px;
    background: #e6320a;
    font-family: 'Gotham';
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    line-height: 10px;
    z-index: 2;
    margin: 0;
}

.stock_main {
    margin-bottom: 200px;
}

.bTileSeparator {
    display: table;
    margin-bottom: 40px;
}