.bx_filter_vertical{}
.bx_filter_vertical .bx_filter_section{
	padding: 10px;
	background: #f6f9fc !important;
	border: 1px solid #94bfdc !important;
	position: relative;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.bx_filter_vertical .bx_filter_title{
	color: #000;
	padding:10px;
	font-size: 18px;
	font-weight:300;
	background: #eaf2f8;
	border: 1px solid #94bfdc;
	border-bottom:0;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.bx_filter_vertical .bx_filter_container{
	padding: 17px 0px 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-top: 1px solid #94bfdc;
}
.bx_filter_vertical .bx_filter_container:first-child{padding-top:7px;border-top:0;}
.bx_filter_vertical .bx_filter_container_title{
	color: #000;
	font-size: 12px;
	line-height:14px;
	display: inline-block;
	margin-bottom: 12px;
}
.bx_filter_vertical .bx_filter_block{
	/*display:none*/
	border: 1px solid #94bfdc;
	background: #fff;
	padding: 7px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.bx_filter_vertical .bx_filter_container.active .bx_filter_block{display:block}
.bx_filter_vertical .bx_filter_block span{display: block;min-height: 15px;padding-bottom: 5px;}
.bx_filter_vertical .bx_filter_block span input[type=checkbox]{position: relative;bottom: -4px;margin: 0 5px 0 0;}
.bx_filter_vertical .bx_filter_block span label{line-height: 11px;font-size: 12px;}

.bx_filter_vertical .bx_filter_param_area{margin-bottom: 20px}
.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block{
	width: 50%;
	float: left;
	text-align: right;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color: #3f3f3f;
	font-size: 11px;
}
.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block .bx_input_container{
	width:82px;	
	display: inline-block;
	padding: 1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius: 3px;
	height: 35px;
	background: #94bfdc;
	box-shadow: 0 1px 1px 0 rgba(255,255,255,.75)
}

.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block input{
	border: none;
	border-radius: 2px;
	max-width:82px;
	width: 100%;
	height: 33px;
	display: inline-block;
	margin: 0;
	padding:0 4px;
	background: #fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block input::-webkit-input-placeholder {color: #aaa;}
.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block input:-moz-placeholder {color: #aaa;}

.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block:first-child{text-align:left}
.bx_filter_vertical .bx_filter_param_area .bx_filter_param_area_block{float:left}

.bx_filter_vertical .bx_ui_slider_track{
	margin: 13px 10px;
	background: #d2d2d2;
	height: 3px;
	position: relative;
	border-radius: 3px;
}
.bx_filter_vertical .bx_ui_slider_range{
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: #94bfdc !important;
}
.bx_filter_vertical .bx_ui_slider_handle{
	width: 13px;
	height: 13px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	border: 1px solid #e9e9e9;
	background: #fcfcfc;
	font-weight: bold;
	color: #2e6e9e;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
	cursor: pointer;
}
.bx_filter_vertical .bx_ui_slider_handle.left {margin-left: -10px}
.bx_filter_vertical .bx_ui_slider_handle.right{margin-right: -10px}

.bx_filter_vertical .bx_filter_control_section{
	text-align: left !important;
}
.bx_filter_vertical .bx_filter_search_button{
	display: block;
	width: 100%;
	line-height: 16px !important;
	cursor: pointer;
	border: 1px solid #7baa34;
	height: 33px !important;
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, #B2D380),
		color-stop(0.05, #8BBD40),
		color-stop(1, #638E23)
	);
	background-image: -o-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -moz-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -webkit-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: -ms-linear-gradient(bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	background-image: linear-gradient(to bottom, #B2D380 5%, #8BBD40 5%, #638E23 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:100%;
	opacity:0.9;
}
.bx_filter_vertical .bx_filter_search_button.link{
	display: inline-block;
	background: none; 
	color: #1763a6;
	font-size: 12px;
	width: auto !important;
	height: auto !important;
	padding: 0;
	border: 0;
	text-shadow: none;
	opacity:1;
	margin: 8px 0 0 0;
}
.bx_filter_vertical .bx_filter_search_button:hover{opacity:1}
.bx_filter_vertical .bx_filter_search_button:focus{border: 0;outline: 0;}
.bx_filter_vertical .bx_filter_search_button.link:hover{text-decoration:underline;}
.bx_filter_vertical .bx_filter_search_button:not(.link):active{box-shadow: inset  0 1px 3px 1px  rgba(0,0,0,.2) ;}

.bx_filter_vertical span.icon_lupe{
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height:15px;
	background: url(images/searchicon.png) no-repeat center;
	vertical-align: middle;
}
.bx_filter_vertical .bx_filter_popup_result{
	position: absolute;
	display: none;
	height: 33px;
	border-top:   1px solid #c0d6dc;
	border-right: 1px solid #c0d7dd;
	border-bottom:1px solid #c0d6dc;
	border-left:  1px solid #c0d7dd;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	color: #3f3f3f;
	font-weight: normal;
	font-size: 13px;
	line-height: 33px;
	padding: 0 10px;
	margin-left: 10px;
	margin-top: -7px;
	z-index: 1100;
	white-space: nowrap;
}
.bx_filter_vertical .bx_filter_popup_result .arrow{
	width:8px;
	height: 14px;
	position: absolute;
	top:50%;
	margin-top:-7px;
	background: url(images/arr_left.png) no-repeat center;

}
.bx_filter_vertical .bx_filter_popup_result.right {left: 102%}
.bx_filter_vertical .bx_filter_popup_result.left  {right:102%}
.bx_filter_vertical .bx_filter_popup_result.right .arrow{left: -8px;background: url(images/arr_left.png)  no-repeat center}
.bx_filter_vertical .bx_filter_popup_result.left  .arrow{right:-8px;background: url(images/arr_right.png) no-repeat center}
.bx_filter_vertical .bx_filter_popup_result a{color: #0073a3}
.bx_filter_vertical .bx_filter_popup_result a:hover{text-decoration: none}
.bx_filter_vertical .bx_filter_popup_result_close{display: none}

@media (max-width:530px){
	.bx-touch .bx_filter_vertical .bx_filter_popup_result{
		position: fixed !important;
		height: auto;
		line-height: 14px;
		font-size: 12px;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		top: auto !important;
		z-index: 1001;
		padding: 10px;
		width: auto;
		border-radius: 0;
		box-shadow: 0 -2px 5px 0 rgba(0,0,0,.1);
	}
	.bx-touch .bx_filter_vertical .bx_filter_popup_result_close{
		display: block;
		position: absolute;
		width: 22px;
		height: 22px;
		right: 10px;
		top: 50%;
		margin-top: -11px;
		background: url(images/x.png) no-repeat center;
		background-size:16px;
	}
}