#eMarket-auth {
	float:right;
	height:26px;
	margin-top:16px;
    position: relative;
}

#eMarket-auth .login-ico {
	width: 10px;
	height: 10px;
	background-position: -2px -174px;
	margin: 0 -35px -1px 0;
}

#eMarket-auth a.link{
	color: #576e75;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	margin-left: 35px;
}
#eMarket-auth a:first-child{margin:0;}
#eMarket-auth a.link:hover{text-decoration: underline}
