.body div.bx-auth-line{
	border:none;
}
.body div.bx-auth-service-form{
	background-color:#F3F3F3;
	border:none;
}
.body div.bx-auth-services a.bx-ss-selected{
	background-color:#F3F3F3;
	border:1px solid #F3F3F3;
}
.body .socform .bx-ss-icon{
	display:none;
}
.body .socform input{
	padding:3px 5px;
	
}

@media screen and (max-width:480px){
	body.adaptive .body .socform span:after{
		display:block;
		clear:both;
		content:" ";
		font-size:0;
		height:0;
		visibility:hidden;
	}
	body.adaptive .body .socform .button{
		margin-top:10px;
	}
	body.adaptive .body div.bx-auth-service-form{
		text-align:center;
	}
}