.gray {
color:#BDBCBC;
font-size: 11px !important;
}
#destinationNumber {
width:300px;
height:150px;
margin: 0px;
padding: 0px;
}
.counters {
font-size: 10px;
}
.counters span {
font-size: 12px;
}
#correct-nums, #need-sms, #lengmess, #size-part, #parts {
color:#ff9800;
}
#lengmess-div, #size-part-div, #parts-div, #correct-nums-div, #need-sms-div {
width: 120px;
float: left;
position: relative;
}
#need-sms-div {
width: 180px;
float: left;
position: relative;
}
#parts-div {
width:70px;
}
#countDoubledLink {
display: none;
font-size: 10px;
}
.clear {
clear:both;
}
#toLat, #toKir {
color: #486DAA;
cursor:pointer;
text-decoration:underline;
}
#message {
width: 300px;
height:115px;
margin: 0px;
padding: 0px;
}
.sender b.time {
float: left;
}
#gmtControl{
width:300px;
}
.was-send {
color:blue
}
.not-send {
color:brown
}