.toppanelMenu {display:block;width:100%;clear:both;overflow:hidden;padding-top:5px;}
.toppanelMenu li {float:right;display:block;padding:5px 10px 10px 10px;font-size:12px;}
.toppanelMenu li a {color:#EA1653;}
.toppanelMenu li a:hover {color:#000000;}