body {
    background: #959595;
}

.top_border {
    background: url(../i/thm_gray/bg/top_border.png);
}

.logo a{
    background-image: url(../i/thm_gray/bg/logo.png);
}

.call_me, .call_me:focus, .call_me:active  {
    background: #f67368;
    background: -moz-linear-gradient(top,  #f67368 48%, #ee4437 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f67368), color-stop(50%,#ee4437));
    background: -webkit-linear-gradient(top,  #f67368 48%,#ee4437 50%);
    background: -o-linear-gradient(top,  #f67368 48%,#ee4437 50%);
    background: -ms-linear-gradient(top,  #f67368 48%,#ee4437 50%);
    background: linear-gradient(to bottom,  #f67368 48%,#ee4437 50%);
    color: #fff;
    text-shadow: 1px 0px 1px rgba(191, 46, 34, 0.75);
    border: 1px solid #EE4437;
}
.call_me:hover{
    background: #f78a80;
    background: -moz-linear-gradient(top,  #f78a80 48%, #f16358 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f78a80), color-stop(50%,#f16358));
    background: -webkit-linear-gradient(top,  #f78a80 48%,#f16358 50%);
    background: -o-linear-gradient(top,  #f78a80 48%,#f16358 50%);
    background: -ms-linear-gradient(top,  #f78a80 48%,#f16358 50%);
    background: linear-gradient(to bottom,  #f78a80 48%,#f16358 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78a80', endColorstr='#f16358',GradientType=0 );
    color: #fff;
    text-shadow: 1px 0px 1px rgba(191, 46, 34, 0.75);

}

.call_me:active {
    background: #CF463C;
}

header .navbar .nav li a {
    border-bottom: 2px solid #EE4437;
}
header .navbar .nav li.active a, header .navbar .nav li.active a:hover, header .navbar .nav li.active a:focus{
    background: #EE4437;
}

.benefits {
    background: #EFEFEE;
}

.zakaz {
    background: url(../i/thm_gray/bg/tekstura_asphalt.png);
}

.zakaz .zak_h2 {
    background: url(../i/thm_gray/bg/zak_bg.png);
}

.nav-tabs {
    border-bottom: 1px solid #A1A1A1;
}

.nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: url(../i/thm_gray/bg/tekstura_asphalt.png) !important;
    border: 1px solid #A1A1A1 !important;
    border-bottom: 0 none !important;
}


.zakaz .form-horizontal .find-me {
    border-bottom: 1px dashed #fff !important;
}

.zakaz .form-horizontal .controls .call_me span {
    background: url(../i/thm_gray/bg/btn_arrow.png) center no-repeat;
}

.zakaz .form-horizontal .rez .control-label:hover {
    cursor: default;
}

.zakaz .form-horizontal .rect {
    background: url(../i/thm_gray/bg/rect.png) right no-repeat;
}

.widget h2 {
    background: url("../i/thm_gray/bg/h2_bg.png") no-repeat scroll left center;
}

.widget li a, .widget a.media-heading span, .see_all span, #content h3 a, a span, a.media-heading span, #content a span {
    border-bottom: 1px solid #EE4437;
}
a.media-heading:hover span {
    border-bottom: 1px solid #000000;
}
.review {
    -moz-border-image: url(../i/thm_gray/bg/border-imagee.png) 3 3 3 3 repeat; 
    -webkit-border-image: url(../i/thm_gray/bg/border-imagee.png) 3 3 3 3 repeat; 
    -o-border-image: url(../i/thm_gray/bg/border-imagee.png) 3 3 3 3 repeat; 
    border-image: url(../i/thm_gray/bg/border-imagee.png) 3 3 3 3 fill repeat;
}

.review:nth-child(even):after {
    background: url(../i/thm_gray/bg/left_corner.png);
}

.review:nth-child(odd):after {
    background: url(../i/thm_gray/bg/right_corner.png);
}

.stars {
    background: url(../i/thm_gray/bg/rating_star.png) repeat-x left bottom;
}

.star a:hover, .star a:focus, .star a:active {
    background: url(../i/thm_gray/bg/rating_star.png) repeat-x left 2px;
}
.stars .active a {
    background: url(../i/thm_gray/bg/rating_star.png) repeat-x left 2px;
}
#content blockquote {
    border-color: #EE4437;
    margin-left: 40px;
}
#content table {
    background: #F3F3F3;
}

#content table tr th {
    border-bottom: 2px solid #959595;
}

#content table tr td {
    border-color: #959595 !important;
}

.footer {
    background: url(../i/thm_gray/bg/tekstura_asphalt.png);   
}

.footer p, .footer p a {
    color: #fff;
}

.footer p a {
    border-bottom: 1px solid #fff;
}

.footer p a:hover {
    border-bottom: 1px solid #A4B5BF;
    color: #A4B5BF;
}

@media (max-width: 767px) {
    .head_right_bl {
        background: #EFEFEE;
    }
    
    .navbar .nav {
        background: url(../i/thm_gray/bg/tekstura_asphalt.png);
    }
    
    .navbar button {
        background: url(../i/thm_gray/bg/nav_btn.png) !important;
          -webkit-transition: none !important;
             -moz-transition: none !important;
               -o-transition: none !important;
                  transition: none !important;
    }
    
    .navbar button:hover{
        background: url(../i/thm_gray/bg/nav_btn.png) right top !important;
    }
    
    .nav-collapse .nav li a {
        border-bottom: 2px solid #F6968E !important;
    }
    
    .nav-collapse .nav li.active a,.nav-collapse .nav li.active a:hover {
        background: #E44135 !important;
        border-bottom: 2px solid transparent !important;
    }
}
.yamap .pokazat a {
    border-bottom: 1px dashed #EE4437;
}