.l-main {
  position: relative;
}

.l-header {
  position: relative;


  &__infowrap {
      position: relative;
      z-index: 500;
  }

  &__top {
    background: $skin_topline_from_color;
    background-image: linear-gradient(180deg, $skin_topline_from_color, $skin_topline_to_color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$skin_topline_from_color',endColorstr='$skin_topline_to_color',GradientType=0);
    box-shadow: 0 0 2px -1px #000;
    margin-bottom: $base-line-height;
    position: relative;
    z-index: 900;

    .auth_top {
      float: right;
    }

    .menu_top {
      display: block;
    }

    //.dropdown:hover,
    .dropdown.open {

      .dropdown-toggle {
        background-color: #FFF;
        transition: none;
      }
    }

    .dropdown-menu {
      background-color: #FFF;
      border: 1px solid #DAE1EB;
      border-top: none;
      margin: 0;
      left: -1px;

      & > li > a {
        clear: both;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .icon {
      fill: $skin_topline_icon_color;
    }
    
    .menu_icon__bar {
    
      border-color: $skin_topline_link_color;
    }
  }

  &__logo {
    margin-bottom: $base-line-height;
    max-width: 100%;
    overflow: hidden;
  }

  &__info {
    //overflow: hidden;

    .icon {
      fill: $header_icon_color;
    }
  }

  &__phone {
    display: none;
    
    a {
      @extend %theme-link;
    }
  }

  &__line {
    @extend %theme-background0;
    //border-radius: 4px;
    clear: both;
    position: relative;
    margin: 0 (-$grid-gutter-width / 2);

    .sline_menu {
      //float: left;
      position: relative;
      z-index: 10;
    }
  }

  &__search {
    float: right;

    .search__input {
     z-index: 11;
    }
  }

  .cart_top {
    float: right;
    margin: 0 $base-line-height*0.5 $base-line-height;

    .cart_top__num {
      margin-right: -$base-line-height*0.5;
    }
  }
}

.l-main {
  padding-bottom: $base-line-height;
  padding-top: $base-line-height;
}

.l-footer {
  background: $skin_footer_background;
  background-image: linear-gradient(180deg, $skin_footer_from_color, $skin_footer_to_color);
  border-top: 1px solid $skin_footer_border;
  padding-top: $base-line-height*2;

  &__logo,
  &__phone,
  &__soc,
  .menu_v,
  .subscribe {
    margin-bottom: $base-line-height;
  }

  &__catalog {
    display: none;
  }

  &__title,
  .subscribe__title,
  .menu_cols__title {
    font-size: $font-size-h5;
    line-height: $base-line-height;
  }

  &__bottom {
    border-top: 1px solid $skin_footer_border;
    font-size: $font-size-small;
    line-height: $base-line-height;
    padding-bottom: $base-line-height*0.5;
    padding-top: $base-line-height*0.5;
  }

  &__dev {
    text-align: right;
  }

  &__title,
  .menu_v__title,
  .subscribe__title,
  .menu_cols__title {
    color: $skin_footer_title_color;
    font-weight: bold;
    margin-bottom: $base-line-height * .5;
    text-transform: uppercase;
  }

  a {
    color: $skin_footer_link_color;
  }

  .icon {
    fill: $footer_icon_color;
  }

}

.l-side {

  &__collapsed {
    cursor: pointer;
    display: block;
    margin-bottom: $base-line-height;
    text-align: center;
  }
}

.l-overflow {
  overflow: hidden;

  .row > & {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }
}

.l-context {
  display: table;
  -height: 1%;
  *zoom: 1;

  .row > & {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }

  &:after {
    content: '. . . . . . . . . . .';
    display: block;
    font-size: .01em;
    line-height: .01em;
    height: 0;
    overflow: hidden;
    word-spacing: 99in;
  }
}

.wrap_inside {
  @extend .container;
}

@media (min-width: $screen-sm-min) {
  .l-header {

    &__logo {
      float: left;
    }

    &__adds {
      text-align: center;
    }

    &__phone {
      margin: 0 $base-line-height*0.5 $base-line-height;
      text-align: left;

      &.feedback {
        display: inline-block;
      }
    }

    &__line {
        border-radius: 4px;
        margin: auto;

      .sline_menu {
        //float: left;
      }
    }

    &__search {
      position: relative;
      width: 230px;
      z-index: 11;

      .search__input {
        width: 100%;
      }
    }

    .cart_top {
      margin-right: auto;

      .cart_top__num {
        margin-right: auto;
      }
    }
  }

  .l-footer {

    &__title,
    .menu_v__title,
    .subscribe__title,
    .menu_cols__title {
      font-size: $font-size-h4;
      line-height: $base-line-height;
    }
  }
}

@media (min-width: $screen-md-min) {
  .l-header {
    
    &__top {
      margin-bottom: $base-line-height*1.5;
    }

    &__phone {
     display: inline-block;
    }
  }

  .l-footer {

    &__catalog {
      display: block;

      .menu_cols__menu ul {
        display: none;
      }

    }
  }

  .l-side {

    &__collapsed {
      display: none;
    }

    &__collapse {
      display: block;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .l-footer {

    &__catalog {
      display: block;

      .menu_cols__menu ul {
        display: block;
      }

    }
  }
}
