.fancybox-overlay{
  background: rgba(255, 255, 255, .7);
}

.fancybox-title-inside-wrap,
.fancybox-title-outside-wrap {
  @extend %theme-background2;
  
  border-radius: $base-line-height*0.5 $base-line-height*0.5 0 0;
  font-size: $font-size-h3;
  line-height: $base-line-height*2;
  padding: $base-line-height*0.5 45px $base-line-height*0.5 30px;
  text-align: center;
}

.fancybox-skin {
  border-radius: $base-line-height*0.5 $base-line-height*0.5 0 0;

  .rsform {
    max-width: 360px;

    &.row {
      margin: 0;
      
      & > .col {
        float: none;
        padding: 0;
        width: auto;
      }
    }
    
    .btn {
      width: 100%;
    }
  }
  
  .bx-auth-title {
    border: none;
  }
}

.fancybox-title-inside-wrap {
  margin: -25px -30px 25px;
}

.fancybox-close {
  background: none;
  fill: #fff;
  height: 15px;
  right: 20px;
  top: 20px;
  width: 15px;
  z-index: 8050;
  
  &:hover{
    transform: scale(1.1, 1.1);
  }
}

.fancybox-skin {
.fancybox-footer {
  padding: $base-line-height*0.5 30px;
  
  background-color: $gray-lighter;
  margin: 25px -30px -25px;
  text-align: center;
  
  > a {
    color: $gray-darker;
    border-bottom: 1px dashed;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;
    
    &:hover {
      border-bottom-color: transparent;
      color: $skin0_bg;  
    }
  }
}
}

#fancybox-loading {
  @extend .loading;
  
  background: none;
  position: fixed;
  margin-left: -72px;
  margin-top: -72px;
  opacity: 1;

  > div {
    @extend .loading__in;
  }
}