.api-search-catalog *{ -webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; box-sizing:border-box !important; }
.api-search-catalog{ position:relative }
.api-search-catalog .api-tag{ background-color:#e8c4ff; }
.api-search-catalog .api-search-icon{ min-width:40px; height:18px; font-size:13px; display:block;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABH0lEQVR4nJ3SvyvFYRTH8deVkkJ3UUZJIbJ8bzJjMtyMym6w2Njs/gCDP0AGCyWjxYDF5GdJYpS6xaIUw/d8771dT7qc+vZ8vs95zvuc5zmnlGWZsG6sYBGjsXeNHWzjQ8JKARjCEUZSh3CJeTy3OjoicxF8hwX0oi/0HSZwiK4UYKUpeBoHeMdb6OnwTWI5BVgMvYZaovwa1kMvpQBjoY8TwVp84ylAO/YV62cKcBt65hfAbKwPKcBu6E2UE8Hl8MF+CrCFG/nwnKKKnviqONOYj6NWQDFIg/I+/3ikFnuUX6d+lY4mR4ZVnMvnoIYLbKCCp0h0otG5egXt2HAED+BFPmAP7bYR7jGHV/RjCjr/AICryFzB3n8ARSX3xc83qRk4q9rDNWcAAAAASUVORK5CYII=) center center no-repeat;
}
.api-search-catalog .api-ajax-icon{ position:absolute; top:50%; margin-top:-10px; right:10px; background:url("images/load.gif") no-repeat 50% 50%; display:none; width:20px; height:20px; }
.api-search-catalog .api-search-fields{ display:table; border-collapse:separate; width:100%; position:relative; }
.api-search-catalog .api-search-fields > *{ display:table-cell; vertical-align:top; }
.api-search-catalog .api-search-fields .api-query{ width:100%; position:relative }
.api-search-catalog .api-search-input,
.api-search-catalog .api-search-button button{ border:1px solid #ccc; background:#fff; padding:6px 12px; height:36px; margin:0; color:#444; font-size:14px; }
.api-search-catalog .api-search-input{ display:block; width:100%;
	-webkit-border-radius:2px 0 0 2px; -moz-border-radius:2px 0 0 2px; border-radius:2px 0 0 2px;
	-webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05) inset; -moz-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05) inset; box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05) inset;
	-webkit-transition:border-color 0.1s ease 0s; -moz-transition:border-color 0.1s ease 0s; -ms-transition:border-color 0.1s ease 0s; -o-transition:border-color 0.1s ease 0s; transition:border-color 0.1s ease 0s;
}
.api-search-catalog .api-search-input:hover{ border-color:#bdbdbd; }
.api-search-catalog .api-search-input:focus{ border-color:#888; outline:0 none; color:#000 }
.api-search-catalog .api-search-button button{ display:inline-block; text-align:center; cursor:pointer; white-space:nowrap; border-left:0 none; }
.api-search-catalog button:focus,
.api-search-catalog button:hover{ color:#333; background-color:#e6e6e6; border-color:#adadad }
.api-search-catalog button:active{ outline:0; background-image:none; -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125) }
.api-search-catalog > form{margin:0 0 30px}