#shs-productview{
  position:fixed;
  right:10px;bottom:-60px;
  background: #7C8695;
  width:270px;height:50px;color:#fff;
  padding:10px;border-radius:5px;padding-right:30px; font-size:14px;
  display:none;z-index:1000;
}
#shs-productview img{
  position:absolute;
  right:10px;top:28px;
}

