/* Main
------------------------------------------------ */
.main-banner {

}

.systems {

}

.worth {
  .list-worth {
    padding-left: 0;
    li {
      display: inline-block;
      text-align: center;
      width: 12%;
    }
  }
}

.popular-products {

}

.bottom-columns {

}