.slobel-social-icons{
	text-align: center;
}
.slobel-social-icons a{
	vertical-align: top;
	display: inline-block;
	padding: 8px;
}
.slobel-social-icons a>div{
	position: relative;
	width: 100%;
}
.slobel-social-icons a.horizontal{
	display: inline-block;
}
.slobel-social-icons a.vertical{
	display: block;
}
.slobel-social-icons img.hover, .slobel-social-icons img.nohover{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.slobel-social-icons img.hover{
	display: block;
	position: absolute;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	top: 0;
}