@charset "windows-1251";
/***************************
		CSS RESET
***************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

body
{
	line-height: 1;
	color: black;
	background: white;
}

ol, ul
{
	list-style: none;
}

h1, h2
{
	font-family: Tahoma, Segoe UI, Verdana, Helvetica, Arial, sans-serif; /* Follows MSCOM Typography Guidelines */
}

html
{
	height: 100%;
	/*width: 100%;*/
}

/***************************
	END CSS RESET
***************************/

body
{
	background-color:#fff;
	height: 100%;
	/*width: 100%;*/
	font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif; /* Follows MSCOM Typography Guidelines */
	color: #4b4b4b;
	font-size: 0.78em;
}

/* Links */
a:link, a:visited
{
  color: #1f5ca1;
  text-decoration: none;
}

a:hover
{
  color: #0062A0;
  text-decoration: underline;
}

.old
{
	width:900px;
	margin: auto;
}

.header-ie{
	text-align:justify;
	width:900px;
	padding:40px 20px 20px;
}
.header-ie h1{
	text-align: center;
	font-weight:normal;
	margin:0 0 10px;
	font-size: 20pt;
}
.header-ie font{
	font-size: 10pt;
}
.modern-browser{
	margin:0;
	padding:10px 20px 20px;
	list-style:none;
}
.modern-browser div.ie8{background:url('/local/templates/demoshop/images/big-ie8.gif') no-repeat 5px 32px;}
.modern-browser div.chrome{background:url('/local/templates/demoshop/images/big-chrome.gif') no-repeat 15px 32px;}
.modern-browser div.opera{background:url('/local/templates/demoshop/images/big-opera.gif') no-repeat left 32px;}
.modern-browser div.firefox{background:url('/local/templates/demoshop/images/big-firefox.gif') no-repeat 10px 32px;}

.modern-browser h2
{
	margin:0 0 10px 10px;
	font-weight:bold;
}
.descriptiontext ul {
	margin: 0;
	padding: 0
}
.modern-browser .file{
	padding:0;
	margin:10px 0 0;
	list-style:none;
}
.modern-browser div.ie8, .modern-browser div.chrome, .modern-browser div.opera, .modern-browser div.firefox {
	float: left;
	width: 420px;
	margin-top:20px;
}
.descriptiontext{
	text-align: justify;
	text-indent: 1.5em;
	font-size: 10pt;
	margin: 10px;
	padding-left: 117px
}
.descriptiontext ul li {
	text-indent: 0;
}
.clear {clear: both;}