@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic&subset=latin,cyrillic-ext,cyrillic);

/* Сброс стилей под корзину */
.card-iarga section, .card-iarga header, .card-iarga footer, .card-iarga menu, .card-iarga nav, .card-iarga aside, .card-iarga article, .card-iarga details, .card-iarga summary, .card-iarga figure, .card-iarga figcaption, .card-iarga hgroup, .card-iarga time {display:block;}
.card-iarga img {
	padding:0;
	border:none;
	color:#565656;
	text-decoration:none;
	}
.card-iarga * {margin:0; padding:0;}
.card-iarga input, select, .card-iarga textarea {margin:auto; padding:inherit;}
.card-iarga input {vertical-align:middle;}

/* Стили для корзины */

.card-iarga {
	padding:20px 0;
	font-size:13px;
	line-height:1.7;
	}
.card-iarga p {
	line-height:1.7;
	margin:0;
	padding:0;
	}
.clr_ia {
	display:block;
	clear:both;
	height:0px;
	font-size:0px;
	line-height:0px;
	}
.card-iarga a {
	color:#5290E0;
	font-size:inherit;
	}
.card-iarga a:hover {
	color:#467ABC;
	}
.card-iarga .bt_ia {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#5290e0;
	padding:5px 12px 5px;
	text-decoration:none;
	font-size:116%;
	line-height:1.4;
	text-shadow:0 1px #3f88c4;
	color:#fff;
	background:#2c9a32;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#7ada8c),
		to(#2c9a32)
	);
	background: -webkit-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: -moz-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: -o-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 1px 2px #d7d7d7;
	-webkit-box-shadow:0 1px 2px #d7d7d7;
	box-shadow:0 1px 2px #d7d7d7;
	behavior:url(./PIE.htc);
}
.card-iarga .bt_ia:hover {
	color:#fff;
	background:#1caa24;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#6ce883),
		to(#1caa24)
	);
	background: -webkit-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: -moz-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: -o-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	}
.card-iarga .bt_ia:active {
	background:#3db649;
	}
.card-iarga .checkout-button_ia {
	padding-right:34px;
	float:right;
	top:3px;
	}
.card-iarga .checkout-button_ia img {
	position:absolute;
	right:13px;
	top:5px;
	}
.card-iarga h1 {
    color: #000000;
    font-size: 280%;
    font-weight: 300;
    line-height: 1;
	padding:0;
    margin:0 0 18px;
}
.card-iarga .sep_ia {
	display:inline-block;
	vertical-align:middle;
	width:1px;
	height:25px;
	margin:0 15px;
	font-size:0;
	line-height:0;
	background:#e5e5e5;
	}
.total-pay_ia {
	position:relative;
	top:-1px;
	float:right;
	font-size:124%;
	color:#000;
	padding-left:25px;
	}
.total-pay_ia span {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	}
.total-pay_ia strong {
	display:inline-block;
	vertical-align:middle;
	font-size:152%;
	color:#59bf66;
	}
.total-pay_ia .sep_ia {
	height:29px;
	background:none;
	margin:0 20px 0 12px;
	border-right:1px dotted #d3d3d3;
	}
.select-box {
	position:relative;
	width:79%;
	line-height:1.1;
	}
.select {
	position:absolute;
	width:96%;
	top:0;
	height:100%;
	padding:0;
	color:#959595;
    font-weight:300;
    margin-left:0;
	line-height:200%;
    padding:0 2%;
	white-space:nowrap;
	border:1px solid #d0d0d0;
	font-size:170%;
	background-image:url(../images/bg_select.png);
	background-position:0 0;
	background-repeat:repeat-x;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	}
.select .select-arrow {
	position:absolute;
	z-index:5;
	right:0;
	top:0;
	width:45px;
	height:100%;
	background:url(../images/bg_select-arrow.png) 0 50% no-repeat;
	}
.select-box select.styled {
	height:auto;
	display:block;
	padding:1.3% 0;
	line-height:1.1;
	font-size:170%;
	margin-left:1px;
	font-family: 'Open Sans',sans-serif;
	}
.card_ia {
	border-top:1px solid #e5e5e5;
	overflow:hidden;
	}
.checkout_ia {
	overflow:hidden;
	background:#f5f5f5;
	margin-top:30px;
	padding:18px 20px 6px;
	border-top:1px solid #e5e5e5;
	}
.checkout_ia h2 {
	margin:0 -20px 18px;
	text-align:center;
	padding:7px 20px 27px;
	border-bottom:1px solid #e5e5e5;
    color: #000000;
    font-size: 220%;
    font-weight: normal;
    line-height: 1;
	}
.checkout_ia dl {
	overflow:hidden;
	float:none;
	margin:0 11%;
	padding-right:26px;
	font-family: 'Open Sans',sans-serif;
	}
.checkout_ia dt {
	float:left;
	width:27%;
	text-align:right;
	color:#000;
	font-size:126%;
	margin-right:2%;
	padding-top:1.3%;
	}
.checkout_ia dd {
	overflow:hidden;
	font-size:100%;
	padding:0 0 2px;
	margin:0;
	}
.checkout_ia .descr {
	width:75%;
	line-height:1.4;
	padding-top:10px;
	padding-left:2px;
	}
.checkout_ia .descr.error {
	color:#ff5959;
	font-size:105%;
	}
.checkout_ia .hr_ia {
	clear:both;
	border-bottom:1px dotted #d3d3d3;
	margin:13px 0 15px 0;
	}
.checkout_ia .inp-text_ia {
	padding:1.3% 2%;
	font-size:170%;
	font-weight:300;
	margin-left:0;
	font-family: 'Open Sans',sans-serif;
	}
.checkout_ia .inp-text_ia.style-1_ia {
	width:80%;
	}
.checkout_ia .inp-text_ia.style-2_ia {
	width:30%;
	}
.checkout_ia label {
	position:relative;
	display:block;
	}
.checkout_ia dl label .input_ia {
	float:left;
	padding-right:13px;
	padding-top:3px;
	}
.checkout_ia dl label .description_ia {
	display:block;
	overflow:hidden;
	line-height:1.3;
	}
.checkout_ia dl label .description_ia strong {
	display:block;
	color:#000;
	font-weight:bold;
	font-size:172%;
	padding-bottom:6px;
	}
.checkout_ia label input {
	position:relative;
	top:-1px;
	margin:0;
	}
.checkout_ia dd .hr_ia {
	margin-bottom:11px;
	}
.confirm-button_ia {
	padding-right:34px;
	margin-top:8px;
	margin-bottom:5px
	}
.confirm-button_ia img {
	position:absolute;
	top:8px;
	right:12px;
	}
.item_ia {
	position:relative;
	min-height:130px;
	padding:32px 0;
	border-bottom:1px solid #e5e5e5;
	color:#818486;
	line-height:1.7;
	clear:both;
	background:#fff;
	}
.item_ia .img_ia {
	position:relative;
	float:left;
	width:196px;
	border:1px solid #e8e8e8;
	line-height:1.2;
	margin-right:3%;
	margin-top:1px;
	}
.item_ia .img_ia.open {
	width:60%;
	height:auto;
	}
.item_ia .img_ia.open .royalSlider {
	overflow:hidden;
	}
.item_ia .img_ia .royalSlider {
	display:none;
	}
.item_ia .img_ia .preview_ia img {
	max-width:100% !important;
	width:auto;
	height:auto;
	margin:0 auto;
	}
.item_ia .img_ia .preview_ia {
	text-align:center;
	}
.item_ia .img_ia .preview_ia a {
	display:block;
	vertical-align:middle;
	padding:10px;
	}
.item_ia .summary_ia {
	overflow:hidden;
	padding-bottom:2px;
	}
.item_ia h2 {
	color:#000;
	font-size:170%;
	line-height:1.3;
	margin-bottom:2px;
	font-weight:normal;
	}
.item_ia h2 a {
	color:#000;
	}
.item_ia h2 a:hover {
	color:#5391E0;
	}
.item_ia .price_ia {
	font-size:148%;
	color:#5391E0;
	font-weight:600;
	margin-bottom:3px;
	font-family: 'Open Sans',sans-serif;
	}
.item_ia .price_ia .new {
	color:#37cd52;
	}
.item_ia .price_ia .old {
	font-size:14px;
	text-decoration:line-through;
	margin-right:8px;
	color:#cfcfcf;
	}
.item_ia p {
	margin-bottom:12px;
	}
.item_ia .title-container_ia {
	display:none;
	padding-bottom:13px;
	}
.item_ia .title-container_ia .title_ia {
	display:inline;
	color:#000;
	font-size:180%;
	line-height:1.3;
	margin-right:16px;
	}
.item_ia .title-container_ia .title_ia a {
	text-decoration:none;
	border-bottom:1px dashed;
	color:#000;
	}
.item_ia .title-container_ia .title_ia a:hover {
	color:#5391E0;
	}
.item_ia .title-container_ia .price_ia {
	display:inline;
	margin-bottom:0;
	white-space:nowrap;
	}
.manipulation_ia {
	float:right;
	width:36%;
	padding-bottom:10px;
	padding-left:20px;
	padding-top:3px;
	}
.manipulation_ia .select-number_ia {
	float:left;
	white-space:nowrap;
	cursor:default;
	font-family:Tahoma, Geneva, sans-serif;
	}
.manipulation_ia .select-number_ia .inp-text_ia {
	width:50px;
	margin-left:0;
	}
.manipulation_ia .select-number_ia a {
	position:relative;
	top:2px;
	text-decoration:none;
	color:#a9aaae;
	font-size:120%;
	margin:0 3px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.manipulation_ia .select-number_ia a.plus {
	margin-left:2px;
	}
.manipulation_ia .select-number_ia a:hover {
	color:#666;
	}
.manipulation_ia .link-remove-card_ia {
	display:block;
	float:right;
	text-decoration:none;
	color:#ff5959;
	padding-left:18px;
	font-size:105%;
	margin-top:4px;
	background:url(../images/bg_remove-card.gif) 0 50% no-repeat;
	}
.manipulation_ia .link-remove-card_ia:hover {
	color:#ff0000;
	}
input.inp-text_ia,
textarea.inp-text_ia {
	position:relative;
	width:166px;
	margin:0;
	font-size:100%;
	color:#959595;
	padding:4px 5px;
	line-height:1.18;
	border:1px solid #d9d9d9;
	background:#fff;
	margin-left:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 1px 1px #ddd inset;
	-webkit-box-shadow:0 1px 1px #ddd inset;
	box-shadow:0 1px 1px #ddd inset;
	behavior:url(./PIE.htc);
	}
textarea.inp-text_ia {
	overflow:hidden;
	resize:vertical;
	height:100px;
	min-height:100px;
	}
input.inp-text_ia:focus,
textarea.inp-text_ia:focus {
	color:#000;
	background:#f8fbff;
	}
.availability_ia {
	line-height:1.6;
	clear:both;
	padding-top:6px;
	}
.availability_ia dl {
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
	}
.availability_ia dl dt {
	float:left;
	padding-right:6px;
	}
.availability_ia dl dd {
	overflow:hidden;
	padding:0;
	margin:0;
	}
.availability_ia ul {
	margin:0;
	padding:0;
	list-style-type:none;
	}
.availability_ia ul li a {
	display:inline-block;
	text-decoration:none;
	line-height:1.1;
	}
.availability_ia ul li.selected_ia a {
	border-bottom:1px dotted;
	}
.availability_ia ul li {
	display:none;
	padding:0 0 1px;
	background:none;
	}
.availability_ia ul li.selected_ia {
	display:inline-block;
	padding-right:11px;
	background:url(../images/bg_arrow-dehiscent.gif) 100% 55% no-repeat;
	}
.item_ia.disclosed .availability_ia {
	padding-bottom:12px;
	border-bottom:1px dotted #e5e5e5;
	margin-bottom:-2px;
	}
.green-color_ia {
    color: #37CD52;
	}
.radio {
	width:25px;
	height:25px;
	padding:0;
	margin:0 0 0 2px;
	display:inline-block;
	vertical-align:middle;
	}
.radio {
	background:url(../images/radio.png) no-repeat;
	}
.radio:hover {
	background-position:0 -100px !important;
	}
.radio:active {
	background-position:0 -25px !important;
	}
.radio.pushed:hover {
	background-position:0 -125px !important;
	}
.radio.pushed:active {
	background-position:0 -75px !important;
	}
.total-container_ia {
	text-align:center;
	padding-top:38px;
	}
.total-container_ia .total-pay_ia {
	display:inline-block;
	vertical-align:middle;
	float:none;
	font-size:126%;
	padding-left:0;
	}
.total-container_ia .sep_ia {
	height:37px;
	border-right:1px dotted #d3d3d3;
	background:none;
	margin:0 25px;
	}
.total-container_ia .total-pay_ia strong {
	font-size:202%;
	}
.total-container_ia .bt_ia {
	font-size:132%;
	padding:7px 34px 7px 23px;
	}
.total-container_ia .confirm-button_ia img {
	top:31%;
	}

/* Если сайт адаптивный */
@media screen and (min-width: 0px) and (max-width: 479px) {
	.card-iarga {
		font-size:11px;
		}
	.total-pay_ia {
		overflow:hidden;
		float:none;
		padding-left:0;
		line-height:1.1;
		padding-top:6px;
		margin-bottom:10px;
		padding-right:10px;
		}
	.total-pay_ia .sep_ia {
		display:none;
		}
	.item_ia .img_ia {
		float:none;
		width:auto;
		margin-right:0;
		margin-bottom:10px;
		}
	.manipulation_ia {
		float:none;
		overflow:hidden;
		width:70%;
		padding-left:0;
		}
	.manipulation_ia .link-remove-card_ia {
		float:left;
		margin-left:10%;
		}
	.checkout_ia dl {
		padding-right:0;
		margin:0;
		float:none;
		}
	.checkout_ia .hr_ia {
		margin-bottom:8px;
		}
	.checkout_ia .descr {
		width:100%;
		}
	.checkout_ia dd .inp-text_ia.style-1_ia {
		width:95%;
		}
	.checkout_ia dl label .input_ia {
		padding-top:1px;
		}
	.select-box {
		width:99%;
		}
	.checkout_ia dt {
		float:none;
		width:auto;
		padding-left:0;
		margin-left:0;
		padding-top:0;
		padding-right:0;
		margin-right:0;
		text-align:left;
		padding-bottom:3px;
		font-size:106%;
		}
	.checkout_ia dd {
		float:none;
		overflow:hidden;
		}
	.checkout_ia dd .inp-text_ia {
		margin-left:0;
		}
	.total-container_ia .total-pay_ia {
		display:block;
		}
	.total-container_ia .sep_ia {
		display:none;
		}
	}

@media screen and (min-width: 479px) and (max-width: 760px) {
	.card-iarga {
		font-size:12px;
		}
	.total-pay_ia {
		float:none;
		padding-left:0;
		}
	.total-pay_ia .sep_ia {
		display:none;
		}
	.item_ia .img_ia {
		width:150px;
		margin-right:2%;
		}
	.manipulation_ia {
		float:none;
		overflow:hidden;
		width:70%;
		padding-left:0;
		}
	.manipulation_ia .link-remove-card_ia {
		float:left;
		margin-left:10%;
		}
	.checkout_ia dl {
		padding-right:0;
		margin:0 2%;
		}
	.checkout_ia dt {
		font-size:108%;
		padding-top:1.7%;
		}
	.total-container_ia .total-pay_ia {
		display:block;
		}
	.total-container_ia .sep_ia {
		display:none;
		}
	}

.checkout_ia .inp-text_ia.style-1_ia.discount_code{width:30%;}
.discount_value{width:50%; margin-left:1%; font-size:110%;};