@charset "windows-1251";
div.product {
	margin-top: 20px;
	font-size: 10pt;
	border:1px solid #ECECEC;
	border-radius:4px;
	}
	
div#with_less{
	
	color:#C2C2C2;
	margin:10px;
}
div.product a {color: #555}
div.product a:hover {color: #000}

    
div.namem{
	
	color:#434343;
	font-weight:bold;
	float:left;
	padding-left:10px;
}

div#sales{
	
	float:right;
}
div#baseprice{
	
	font-weight:bold;
	color:#000;
	float:left;
	padding-right:5px;
}
div#oldprice{
	
	color:#BCBCBC;
	text-decoration: line-through;
	padding-right:5px;
}

div.namecolor {
    float: left;
    padding: 0 38px 0 0;
    text-transform: uppercase;
}

div.color{
	width:100px;
	position: relative;
    top: -5px;
	
}
div.slt{
background: url("/bitrix/templates/main_template/images/select.jpg") no-repeat scroll 0 0 transparent;
    height: 40px;
    left: 111px;
    position: relative;
    top: -28px;
    width: 120px;
}

div.table-obraz{
	
	height: 40px;
    padding-left: 10px;
    padding-top: 15px;
	
}

div#price-block{
	
	background:#e9e9e9;
	padding:10px;
}

div#all-obraz{
	float:left;
	padding-right:10px;
}

div#buy-obraz{
	
	background:url("/bitrix/images/kupit-obraz.png");
	float:right;
	width:132px;
	height:30px;
	position:relative;
	top:-30px;
}
span.newsale{
	
	font-weight:bold;
	
}
div#discount-obraz{
	
	text-decoration:line-through;
	float:left;
	
}

div#economy{
	
	width:130px;
}
span.rub{
	
	font-weight:bold;
	text-decoration:none;
}
div#right-block{
 	float: right;
    left: -430px;
    padding-top: 30px;
    position: relative;
    width: 50px;	
}
div#namedes{
	float: left;
    padding-left: 31px;
    width: 260px;
	
}
div.stuff{
	
	background: url("/bitrix/images/allthings_des.png") repeat scroll 0 0 transparent;
    height: 31px;
    left: 324px;
    position: relative;
    width: 173px;
	
}
div#left-block{
	
	float:left;
	margin:15px;
	position:relative;
	
}

#right-block .line {
	border-bottom: 1px solid #E8E8E8;
    float: left;
    height: 30px;
    line-height: 22px;
    margin-left: 32px;
    padding: 5px 10px;
    width: 448px;
    text-transform:uppercase;
}
#right-block .line.even{
    background: none repeat scroll 0 0 #F5F5F5;
}
div#top-block{
	
}

div.namemat{
	
	width:60px;
	float:left;
	text-transform:uppercase;
	
}
div.valuemat{
 float: left;
    padding-left: 7px;
    text-transform: none;
}

div.namepict{
	
	float:left;
	width:60px;
	    text-transform:none;
	
}

div.valuepict{
	
	float:left;
	text-transform:none;
	
}
div.slt2 {
	background: url("/bitrix/templates/main_template/images/select.jpg") no-repeat scroll 0 0 transparent;
    height: 40px;
    left: 333px;
    position: relative;
    top: -19px;
    width: 120px;
    text-transform:none;
}

 img#salepad3 {
    margin-top: -5px;
    position: absolute;
}

div.namesize{
	
	float:left;
	width:60px;
	    text-transform:uppercase;
	
}

div.namecolor2{
	
 	float: left;
    padding: 0 20px 0 0;
    position: relative;
    text-transform: uppercase;
    top: 10px;
}
div.buy-detail{
  float: left;
    height: 32px;
    left: 27px;
    padding-top: 20px;
    position: relative;
    width: 80px;
}

div.buy-detail a{
	
	display:block;
	
	
}

div#photo-detail{
	
	padding-left: 40px;
    padding-top: 10px;
	
}
div#name-detail-obraz{
    font-size: 12px;
    font-weight: bold;
    width: 250px;
    word-wrap: break-word;
     text-align: center;
	
}
div#name-detail-obraz a{
	color:#828282;
	
	
}

div#price-detail-obraz{
	color: #434343;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
	
	
}

span#rubles{
	
	
}
div#size-table2 {
	padding-bottom: 20px;
    padding-left: 211px;
    position: relative;
    text-align: right;
    top: -11px;
}

div#size-table2 a {
	
	color:#848484;
}

div#namedes{
	font-weight:bold;
	color:#5C5C5C;
}

span#fio-designer{
	
	color:#B9C2CA;
	font-weight:bold;
}

div#left-block .buttons {
 margin: 20px 0 0;
    padding-left: 20px;
    position: relative;
}

div#left-block .buttons a.style  {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    color: #4B4B4B;
    display: block;
    float: left;
    margin: 0 6px 0 0;
    overflow: hidden;
    padding: 3px 0 4px;
    text-align: center;
    text-decoration: none;
    width: 74px;
	
}

div#left-block .buttons .fav  {
	background: url("/bitrix/templates/main_template/images/icon_stars.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 17px;
    left: 81px;
    margin: 2px 6px 0 0;
    overflow: hidden;
    width: 17px;

}

div#left-block .buttons .msg {
	
	 background: url("/bitrix/templates/main_template/images/icon_msg.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 102px;
    top: 3px;
}
div#left-block .buttons a.no {
	
	
	float:left;
}
div#left-block  .msg  {
	background: url("/bitrix/templates/main_template/images/icon_stars.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 17px;
    left: 81px;
    margin: 2px 6px 0 0;
    overflow: hidden;
    width: 17px;

}
