@charset "windows-1251";
div.user-box div.selected {margin: 8px 0 8px 37px}

div.user-box div.selected a {padding: 0; font-size: 11px}

div.user-box div.selected a.subselected {color: #000; font-size: 12px; font-weight: bold}

div.bottom {padding: 4px 7px 10px 10px; font-size: 12px}

div.bottom #close{background: url(../images/icon_cross.png) no-repeat; width: 7px; height: 7px; float: right}

div.bottom #close:hover {background-image: url(../images/icon_cross_a.png); cursor: pointer}

div.bottom div.checkbox {float: left}

div.bottom label {line-height: 1.5}

div.bottom div.what_is_it {text-align: right}

div.bottom div.what_is_it a{color: #000; font-size: 11px}