// ******************skin0******************
// #018fb1 linear-gradient(180deg, #26acc4, #018fb1) repeat scroll 0 0
$skin0_color:                           #fff;
$skin0_bg:                              #018fb1; // main catalog menu
$skin0_bg0:                             lighten( desaturate( adjust-hue( $skin0_bg, -3deg ), 31 ), 11 ); //#26acc4
$skin0_bg100:                           $skin0_bg;
$skin0_border:                          $skin0_bg;

// #01abd2 linear-gradient(180deg, #26c7e5, #01abd2) repeat scroll 0 0
$skin0_hover_bg:                        lighten( adjust-hue( $skin0_bg, -1deg ), 6 ); // #01abd2;
$skin0_hover_bg0:                       lighten( desaturate( adjust-hue( $skin0_bg, -3deg ), 20 ), 17 ); // #4d86bc
$skin0_hover_bg100:                     $skin0_hover_bg;

// #01728d none repeat scroll 0 0
$skin0_active_bg:                       darken($skin0_bg, 7); // #01728d;

// ******************skin1******************
// #ffcf52 linear-gradient(180deg, #ffcf52, #ffcb5f) repeat scroll 0 0
$skin1_color:                           #fff;
$skin1_bg:                              #ffcf52; // seond button (add2basket in catalog.element)
$skin1_bg0:                             $skin1_bg;
$skin1_bg100:                           lighten( adjust-hue( $skin1_bg, -3deg ), 3 ); // #ffcb5f
$skin1_border:                          $skin1_bg;

// #ffd776 linear-gradient(180deg, #ffd776, #ffcb5f) repeat scroll 0 0
$skin1_hover_bg:                        lighten( adjust-hue( $skin1_bg, -1deg ), 7 ); //#ffd776
$skin1_hover_bg0:                       $skin1_hover_bg;
$skin1_hover_bg100:                     lighten( adjust-hue( $skin1_bg, -3deg ), 3 );

// #ffad00 none repeat scroll 0 0
$skin1_active_bg:                       darken( adjust-hue( $skin1_bg, -2deg ), 16 ); // #ffad00;

// ******************skin2******************
$skin2_color:                           $skin0_color;
$skin2_bg:                              $skin0_bg;
$skin2_bg0:                             $skin0_bg0;
$skin2_bg100:                           $skin0_bg100;
$skin2_border:                          $skin0_border;

$skin2_hover_bg:                        $skin0_hover_bg;
$skin2_hover_bg0:                       $skin0_hover_bg0;
$skin2_hover_bg100:                     $skin0_hover_bg100;

$skin2_active_bg:                       $skin0_active_bg;

// ******************skin3******************
// #e0e0e0 linear-gradient(180deg, #ffffff, #e0e0e0) repeat scroll 0 0
$skin3_color:                           $text-color;
$skin3_bg:                              #e0e0e0;
$skin3_bg0:                             #fff;
$skin3_bg100:                           $skin3_bg;
$skin3_border:                          $gray-light;

// #efefef linear-gradient(180deg, #ffffff, #efefef) repeat scroll 0 0
$skin3_hover_bg:                        lighten($skin3_bg, 6); // #f0f0f0;
$skin3_hover_bg0:                       $skin3_bg0;
$skin3_hover_bg100:                     $skin3_hover_bg;

// #f4e6fe linear-gradient(180deg, #ffffff, #f4e6fe) repeat scroll 0 0
$skin3_active_bg:                       lighten(saturate(adjust-hue($skin3_bg, 276deg), 93), 7); // #f4e5fe;
$skin3_active_bg0:                      $skin3_bg0;
$skin3_active_bg100:                    $skin3_active_bg;

// ******************skin4******************
$skin4_bg:                              #17ba3e;

// ******************skin_topline******************
$skin_topline_background:				#FBFBFB;
$skin_topline_from_color:				#FBFBFB;
$skin_topline_to_color:					#F2F2F2;
$skin_topline_border:					#b4b4b4;
$skin_topline_link_color:				#3B3B3B;
$skin_topline_icon_color:               $skin0_bg;

// ******************vml_menu******************
$vml_menu_bg_from:						#FFF;
$vml_menu_bg_to:						#F9F9F9;
$vml_menu_bg_hover_from: 				#F9F9F9;
$vml_menu_bg_hover_to: 					#fff;
$vml_menu_border_color:					#E2E2E2;
$vml_menu_color:						#000;
$vml_menu_hover_color:					$skin0_bg;
$vml_menu_sub_bg_from:					#F9F9F9;
$vml_menu_sub_bg_to:					#FFF;
$vml_menu_sub_bg_hover_from:			$vml_menu_sub_bg_to;
$vml_menu_sub_bg_hover_to:				$vml_menu_sub_bg_from;
$vml_menu_sub_color:					#000;
$vml_menu_sub_color_hover:				$skin0_bg;
$vml_svg_stroke_color:					#c2c2c2;
$vml_svg_stroke_color_hover:			$skin0_bg;
$vml_svg_sub_stroke_color:				#c2c2c2;
$vml_svg_sub_stroke_color_hover:		$skin0_bg;

// ******************navbar_link******************
$navbar_link_hover_color:               $skin0_bg;
$navbar_link_hover_border:              $navbar_link_hover_color;

// ******************skin_footer******************
// #D2D8DE linear-gradient(180deg, #EBEBEB, #D2D8DE) repeat scroll 0 0
$skin_footer_background:                #D2D8DE;
$skin_footer_from_color:                #EBEBEB;
$skin_footer_to_color:                  #dedede;
$skin_footer_border:                    #E5EBF1;
$skin_footer_title_color:				$skin0_bg;
$skin_footer_link_color:				#666;
$skin_footer_icon_color:				$skin1_bg;

$link-color:                            $skin0_bg;
$link-hover-color:                      darken($link-color, 15%);
$link-hover-decoration:                 underline;
//$link-hover-color:                        #7DA831;

$price-color:                           $skin0_bg;

$header_icon_color: #EE3524;
$footer_icon_color: #EE3524;