
.entry .catalog-section-list ul {
    margin-top: 20px;
	margin-bottom: 15px;
}

.entry .catalog-section-list ul li {
    display: inline;
    margin-right: 10px;
}

.entry .catalog-section-list ul li span.kol-elem{
    bottom: 7px;
    color: #FFFFFF;
    font-size: 12px;
    left: 3px;
    position: relative;
}