.carousel {

  .owl-stage {
    right: 20px;
  }
  &.owl-carousel  &__img {
    max-width: 100%;
    width: auto;
  }

  &__item {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
  }
  
  &.owl-carousel &__item {
    float: none;
  }

  &__item:hover &__img {
    opacity: 1;
  }

  &__img {
    max-height: $base-line-height*3;
    opacity: 0.8;
  }

  &__name {
    max-height: $base-line-height*2;
    padding-top: $base-line-height;

    &:after {
      top: $base-line-height;
    }
  }
}
