img {border:0 none;}

#center h1, h2, h3, h4, h5, h6
{
	font-family:Arial,serif; 
	/*margin:1.3em 0 0.2em;
	font-weight:normal;
	line-height:1.2;*/
}

#center h1 { font-size:200%; margin:0 0 0.7em; }
#center h2 { font-size:160%; }
#center h3 { font-size:140%; }
#center h4 { font-size:140%; }

#center h5 {
	font-size:140%;
	font-weight:normal;
	margin:1.5em 0 1em 0;
	padding:0;
}

#center h6 { font-size:100%; font-weight: bold;}

#center ul { list-style-type: disc; padding:0; margin: 0 0 0 1.5em;}