.ts-filter h3{text-align: center;}
.ts-filter .ts-item span{display: inline-block;}
.ts-filter .ts-table{border-collapse: collapse; border-spacing: 0;}
.ts-filter .ts-table td{vertical-align: middle; padding: 2px 5px;}
.ts-filter .ts-table tfoot td{padding-top: 15px;}
.ts-filter select, .ts-filter input{max-width: 100%;vertical-align: middle;}
.ts-filter .ts-table label{margin-right: 10px;}
.ts-filter .ts-table label input{vertical-align: baseline; margin-right: 3px;}
.ts-filter select, .ts-filter input, .ts-filter textarea{
    font-size: 13px;
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid #AAAAAA;
    margin: 1px 0;
    outline: 0 none;
    padding: 4px 5px;

    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(42%,#fefefe), color-stop(74%,#f0f0f0), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
}
.ts-filter td input:focus, .ts-filter  td textarea:focus{
    border: 1px solid #5897FB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices{
    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    border-radius:         0;

    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #fefefe 42%, #f0f0f0 74%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(42%,#fefefe), color-stop(74%,#f0f0f0), color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#fefefe 42%,#f0f0f0 74%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );
}

.ts-filter .ts-table tfoot input{
    font-size: 14px;
    display: inline-block;
    min-height: 30px;
    padding: 0 12px;
    line-height: 28px;
    color: #444444;
    letter-spacing: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}
/*Hover*/
.ts-filter .ts-table tfoot input:hover,
.ts-filter .ts-table tfoot input:focus {
    background-color: #fafafa;
    color: #444444;
    outline: none;
}
/*Active*/
.ts-filter .ts-table tfoot input:active{
    background-color: #f5f5f5;
    color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ts-ot-do{white-space: nowrap;display: inline-block;}