.text-10, .text-21, .text-32 {font-size: 13px;}
.text-11, .text-22, .text-33 {font-size: 13px;}
.text-12, .text-23, .text-34 {font-size: 16px;}
.text-13, .text-24, .text-35 {font-size: 16px;}
.text-14, .text-25, .text-36 {font-size: 20px;}
.text-15, .text-26, .text-37 {font-size: 20px;}
.text-16, .text-27, .text-38 {font-size: 13px;}
.text-17, .text-28, .text-39 {font-size: 13px;}
.text-18, .text-29, .text-40 {font-size: 16px;}
.text-19, .text-30, .text-41 {font-size: 16px;}
.text-20, .text-31, .text-42 {font-size: 20px;}