// ******************skin0******************
// #00529f linear-gradient(180deg, #0066B6, #00529f) repeat scroll 0 0
$skin0_color:                           #fff;
$skin0_bg:                              #00529f; // main catalog menu
$skin0_bg0:                             #0066B6; //#0066b6
$skin0_bg100:                           #00529F;
$skin0_border:                          $skin0_bg;

// #034d95 linear-gradient(180deg, #4d86bc, #034d95) repeat scroll 0 0
$skin0_hover_bg:                        darken(desaturate(adjust-hue($skin0_bg, 1deg), 4), 1); // #034d95;
$skin0_hover_bg0:                       lighten(desaturate(adjust-hue($skin0_hover_bg, -1deg), 51), 22); // #4d86bc
$skin0_hover_bg100:                     $skin0_hover_bg;

// #004a8f none repeat scroll 0 0
$skin0_active_bg:                       darken($skin0_bg, 3); // #004a8f;

// ******************skin1******************
// #fd3232 linear-gradient(180deg, #fd3e3e, #fd3232) repeat scroll 0 0
$skin1_color:                           #fff;
$skin1_bg:                              #fd3232; // seond button (add2basket in catalog.element)
$skin1_bg0:                             lighten($skin1_bg, 3); // #fd3e3e
$skin1_bg100:                           $skin1_bg;
$skin1_border:                          $skin1_bg;

// #fe5858 linear-gradient(180deg, #fe5858, #fd3232) repeat scroll 0 0
$skin1_hover_bg:                        lighten(saturate($skin1_bg, 1), 8); //#fe5858
$skin1_hover_bg0:                       $skin1_hover_bg;
$skin1_hover_bg100:                     $skin1_bg;

// #E00E0E none repeat scroll 0 0
$skin1_active_bg:                       darken(desaturate($skin1_bg, 10), 12); // #E00E0E;

//  ******************skin2******************
$skin2_color:                           $skin0_color;
$skin2_bg:                              $skin0_bg;
$skin2_bg0:                             $skin0_bg0;
$skin2_bg100:                           $skin0_bg100;
$skin2_border:                          $skin0_border;

$skin2_hover_bg:                        $skin0_hover_bg;
$skin2_hover_bg0:                       $skin0_hover_bg0;
$skin2_hover_bg100:                     $skin0_hover_bg100;

$skin2_active_bg:                       $skin0_active_bg;

// ******************skin3******************
// #e0e0e0 linear-gradient(180deg, #ffffff, #e0e0e0) repeat scroll 0 0
$skin3_color:                           $text-color;
$skin3_bg:                              #e0e0e0;
$skin3_bg0:                             #fff;
$skin3_bg100:                           $skin3_bg;
$skin3_border:                          $gray-light;

// #efefef linear-gradient(180deg, #ffffff, #efefef) repeat scroll 0 0
$skin3_hover_bg:                        lighten($skin3_bg, 6); // #f0f0f0;
$skin3_hover_bg0:                       $skin3_bg0;
$skin3_hover_bg100:                     $skin3_hover_bg;

// #f4e6fe linear-gradient(180deg, #ffffff, #f4e6fe) repeat scroll 0 0
$skin3_active_bg:                       lighten(saturate(adjust-hue($skin3_bg, 276deg), 93), 7); // #f4e5fe;
$skin3_active_bg0:                      $skin3_bg0;
$skin3_active_bg100:                    $skin3_active_bg;

// ******************skin4******************
$skin4_bg:                              #17ba3e;

// ******************skin_topline******************
$skin_topline_background:				#E6ECF2;
$skin_topline_from_color:				#F7F9FB;
$skin_topline_to_color:					$skin_topline_background;
$skin_topline_border:					#b4b4b4;
$skin_topline_link_color:				#0D3C68;
$skin_topline_icon_color:               $skin1_bg;

// ******************vml_menu******************
$vml_menu_bg_from:						#007CC9;
$vml_menu_bg_to:						#006FC1;
$vml_menu_border_color:					#4692C5;
$vml_menu_color:						$skin0_color;
$vml_menu_hover_color:					$skin0_color;
$vml_menu_sub_color:					#000;
$vml_menu_sub_color_hover:				#000;

// ******************navbar_link******************
$navbar_link_hover_color:               $skin0_bg;
$navbar_link_hover_border:              $navbar_link_hover_color;

// ******************skin_footer******************
// #D2D8DE linear-gradient(180deg, #EBEBEB, #D2D8DE) repeat scroll 0 0
$skin_footer_background:                #D2D8DE;
$skin_footer_from_color:                #EBEBEB;
$skin_footer_to_color:                  #dedede;
$skin_footer_border:                    #E5EBF1;
$skin_footer_title_color:				$skin0_bg;
$skin_footer_link_color:				#666;
$skin_footer_icon_color:				$skin1_bg;

$link-color:                            $skin0_bg;
$link-hover-color:                      darken($link-color, 15%);
$link-hover-decoration:                 underline;
//$link-hover-color:                        #7DA831;

$price-color:                           $skin0_bg;

$header_icon_color:                     $skin1_bg;
$footer_icon_color:                     $skin1_bg;