.redsign_devcom_required{
	color:red;
}
.redsign_devcom_dontshow{
	display:none;
}

.form_wrap {
	width: 25%;
	min-width: 400px;
}

.form_wrap input, .form_wrap textarea {
	float: right;
	margin-bottom: 10px;
}

.form_wrap .field_wrap {
	width: 100%;
	min-height: 40px;
}

.form_wrap .captcha_wrap input{
	float: left;
}