.cmp_page {
  position:relative;

  .hiddenCmp {
    width:0;
    max-width: 0;
    overflow: hidden;
  }
  &__names {
    //padding-top: $base-line-height;
    padding-right: 0;
    max-width: 50%;
    
    table {
      width: 100%;
    }
  }
  
  &__items {
    background: $body-bg;
    float: none;
    overflow: auto;
    padding-left: 0;
    .cmp_page__table thead tr {
      height:344px;
    }
  }
  
  &__table {
    table-layout: fixed;
  }
  
  &__link {
    
    .checkbox__icon {
      margin-right: .5em;
    }
  }

  .catalog_item {
    height: auto;
    position: relative;
    vertical-align: bottom;
    
    &:hover {
      .catalog_item__inner {
        border-width: 1px;
        border-bottom-color: transparent;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .catalog_item__inner {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 -1px;
  }
  
  td:first-child {
    .catalog_item__inner {
      margin-left: 0;
    }
  }
  
  td:last-child {
    .catalog_item__inner {
      margin-right: 0;
    }
  }

  td,
  th {
    border: 1px solid $gray-lighter;
    padding: $base-line-height*0.5 $base-line-height;
  }

  thead td,
  thead td {
    border: none;
    padding: 0;
  }
  
  &__group {
    @extend .back1;
  }
}

@media (max-width: $screen-md-min) {
  .cmp_page__items {
    td {
      width:200px;
    }
  }
}