/*emarket-basket-small*/

.emarket-basket-small{
	padding:3px;
	font-size:14px;
	float: left;
}
.emarket-basket-small .text{
	display:inline-block;
}
.emarket-basket-small .text table{max-width: 165px;display: block;}
.emarket-basket-small .text table tr td:first-child{min-width: 75px;}
.emarket-basket-small .text table tr td:last-child{white-space: nowrap;}
.emarket-basket-small .basket-ico {
	margin:0 7px;
	width:34px; 
	height:32px;
	background-position: 0px -67px !important;
}