/* Fonts
------------------------------------------------ */
@font-face {
  font-family: "Rubik-Black";
  src: url("../fonts/Rubik-Black.eot");
  src: url("../fonts/Rubik-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Black.woff") format("woff"), url("../fonts/Rubik-Black.ttf") format("truetype"), url("../fonts/Rubik-Black.otf") format("opentype"), url('../fonts/Rubik-Black.svg#str-replace("Rubik-Black", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-BlackItalic";
  src: url("../fonts/Rubik-BlackItalic.eot");
  src: url("../fonts/Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BlackItalic.woff") format("woff"), url("../fonts/Rubik-BlackItalic.ttf") format("truetype"), url("../fonts/Rubik-BlackItalic.otf") format("opentype"), url('../fonts/Rubik-BlackItalic.svg#str-replace("Rubik-BlackItalic", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.eot");
  src: url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype"), url("../fonts/Rubik-Bold.otf") format("opentype"), url('../fonts/Rubik-Bold.svg#str-replace("Rubik-Bold", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-BoldItalic";
  src: url("../fonts/Rubik-BoldItalic.eot");
  src: url("../fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-BoldItalic.woff") format("woff"), url("../fonts/Rubik-BoldItalic.ttf") format("truetype"), url("../fonts/Rubik-BoldItalic.otf") format("opentype"), url('../fonts/Rubik-BoldItalic.svg#str-replace("Rubik-BoldItalic", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-Italic";
  src: url("../fonts/Rubik-Italic.eot");
  src: url("../fonts/Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Italic.woff") format("woff"), url("../fonts/Rubik-Italic.ttf") format("truetype"), url("../fonts/Rubik-Italic.otf") format("opentype"), url('../fonts/Rubik-Italic.svg#str-replace("Rubik-Italic", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.eot");
  src: url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype"), url("../fonts/Rubik-Light.otf") format("opentype"), url('../fonts/Rubik-Light.svg#str-replace("Rubik-Light", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-LightItalic";
  src: url("../fonts/Rubik-LightItalic.eot");
  src: url("../fonts/Rubik-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-LightItalic.woff") format("woff"), url("../fonts/Rubik-LightItalic.ttf") format("truetype"), url("../fonts/Rubik-LightItalic.otf") format("opentype"), url('../fonts/Rubik-LightItalic.svg#str-replace("Rubik-LightItalic", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.eot");
  src: url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype"), url("../fonts/Rubik-Medium.otf") format("opentype"), url('../fonts/Rubik-Medium.svg#str-replace("Rubik-Medium", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-MediumItalic";
  src: url("../fonts/Rubik-MediumItalic.eot");
  src: url("../fonts/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-MediumItalic.woff") format("woff"), url("../fonts/Rubik-MediumItalic.ttf") format("truetype"), url("../fonts/Rubik-MediumItalic.otf") format("opentype"), url('../fonts/Rubik-MediumItalic.svg#str-replace("Rubik-MediumItalic", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype"), url("../fonts/Rubik-Regular.otf") format("opentype"), url('../fonts/Rubik-Regular.svg#str-replace("Rubik-Regular", " ", "_")') format("svg");
  font-style: normal;
  font-weight: normal;
}
/* Common styles
------------------------------------------------ */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: #262626;
  height: 100%;
  font-size: 16px;
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto \9 ;
  /* ie8 */
}

main > .container {
  padding: 60px 15px 0;
}

h1, h6, h5, h4, h3, h2 {
  font-family: "Rubik-Medium", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

strong {
  font-weight: bold;
}

a, a:active, a:focus, a:hover {
  color: #262626;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Header
------------------------------------------------ */
/* Main
------------------------------------------------ */
.worth .list-worth {
  padding-left: 0;
}
.worth .list-worth li {
  display: inline-block;
  text-align: center;
  width: 12%;
}

/* Footer
------------------------------------------------ */
.footer {
  background-color: #262626;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container .phone {
  color: #999999;
  font-size: 15px;
}
.footer > .container .copy {
  color: #999999;
  font-size: 12px;
}
.footer > .container .copy p {
  margin-bottom: 1px;
}
.footer > .container .bottom-menu li {
  display: inline-block;
}
.footer > .container .bottom-menu li a {
  color: #999999;
  font-family: "Rubik-Medium", Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

/*# sourceMappingURL=global.css.map */
