$order-graf-success: #159ebb;
$order-waring-color: #CCBE71;

.order-section {
  @extend .panel;

  & &__title {
    @extend .panel__head;
    @extend .clearfix;
  }

  & &__edit {
   text-align: right;
  }

  & .bx-soa-editstep {
    font-size: 12px;
    font-weight: normal;
  }

  &.bx-selected &__edit {
    display: none;
  }

  & .bx-soa-section-content {
    @extend .panel__body;
    padding-bottom: $base-line-height;
  }

  & .bx-soa-custom-label {
    font-weight: bold;
    margin: $base-line-height*0.5 0;
  }

  & .btn {
    @extend .btn;
  }

  & .btn-default {
    @extend .btn1;
  }

  & &__icon {
    display: none;
    width: 30px;
    height: 30px;
    fill: $skin0_bg;
    padding-right: $base-line-height;
    //fill: $state-danger-bg;
  }
  &:not(.bx-step-completed) &__icon:nth-child(1) {
    display: inline-block;
  }
  &.bx-step-completed  &__icon:nth-child(2) {
      display: inline-block;
      fill:  darken($state-success-bg, 20);
  }

  &.bx-step-completed.bx-step-error &__icon:nth-child(2) {
    display: none;
  }

  &.bx-step-completed.bx-step-error  &__icon:nth-child(3) {
    fill:  darken($state-danger-bg, 20);
    display: inline-block;
  }

  & .bx-authform-starrequired {
    color: red;
  }


  & .radio-inline {
    display: inline-block;
  }

  & .bx-soa-pp-item-container {
    text-align: center;
  }

  & .bx-soa-pp-company {
    border: 1px solid transparent;
    transition: all 100ms ease;
    padding-bottom: $base-line-height/2;
    padding-top: $base-line-height/2;
    position: relative;
  }

  & .bx-soa-pp-company-graf-container {
    border: 2px solid transparent;
    border-radius: 2px;
    position: relative;
    background: $body-bg;
    vertical-align: middle;
    display: inline-block;
    padding: 1px;
    width: 100%;
  }

  & .bx-soa-pp-company.bx-selected  .bx-soa-pp-company-graf-container {
    border-color: transparent;
  }

  & .bx-soa-pp-company-image {
    width: 100%;
    height: 70px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  & .bx-soa-pp-company-logo {
    max-width: 150px;
  }

  & input[type=checkbox].bx-soa-pp-company-checkbox {
    position: absolute;
    top: 7px;
    left: 7px;
    margin: 0;
    padding: 0;
    z-index: 100;
    display: none;
  }

  & .bx-soa-pp-company .checkbox__icon {
    margin: 0;
    position: absolute;
    left: 7px;
    top: 7px;
  }

  & .bx-soa-pp-delivery-cost {
    font-size: 16px;
    line-height: $base-line-height;
    text-align: center;
  }

  & .bx-soa-pp-company-smalltitle {
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: $base-line-height*0.5;
    text-align: center;
    white-space: normal;
  }

  & .bx-bd-waring {
    border-color: $order-waring-color;
  }

  &  .bx-soa-pp-company {
    background: $body-bg;
    float: none;
    clear: both;
    width: auto;
    white-space: nowrap;
    display: inline-block;
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: top;
    width: 50%;
  }
  &  .bx-soa-pp-company * {
    white-space: normal;
  }

  & .bx-soa-pp-company-selected {
    margin-bottom: $base-line-height*0.25;
    margin-top: $base-line-height*0.25;
  }

  & .bx-soa-pp-company-selected img {
    vertical-align: middle;
    border: 0;
  }
  & .bx-soa-pp-company-selected strong {
    margin-left: $base-line-height;
    vertical-align: middle;
  }

  &      {
    margin-bottom: $base-line-height*0.25;
    margin-top: $base-line-height*0.25;
    text-align: right;
  }

  & .bx-soa-pp-desc-container {
    @extend .detail__buy;
    margin-left: -9px;
  }

  & .bx-soa-pp-desc-container .bx-soa-pp-company-subTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: $base-line-height*0.5;
    margin-top: $base-line-height*0.5;
    text-align: center;
  }

  & .bx-soa-pp-desc-container .bx-soa-pp-company {
    width: 100%;
    background: transparent;
  }

  & .bx-soa-pp-desc-container .bx-soa-pp-company-logo {
    text-align: center;
    margin: $base-line-height*0.5 auto;
  }

  & ul.bx-soa-pp-list {
    padding: 0;
    font-size: 13px;
    list-style: none;
    margin: $base-line-height 0;
  }

  & ul.bx-soa-pp-list .bx-soa-pp-list-termin {
    color: $gray;
  }

  & ul.bx-soa-pp-list .bx-price-old {
    @extend %price-old;
  }

  & .bx-soa-coupon {
    border-top: 1px solid $gray;
    margin-top: $base-line-height*2;
    padding-bottom: $base-line-height;
    padding-top: $base-line-height;
  }

  & .bx-soa-coupon-label {
    font-weight: bold;
    margin-bottom: $base-line-height*0.25;
  }

  & .bx-soa-coupon-input {
    position: relative;
    margin-bottom: $base-line-height*0.25;
    max-width: 260px;
  }

  & .bx-soa-coupon-input:after {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-right: 2px solid #8da3ad;
    border-bottom: 2px solid #8da3ad;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
  }

  & .bx-soa-coupon-item {
    display: block;
    max-width: 260px
  }

  & .bx-soa-coupon-item > strong.bx-soa-coupon-item-danger {
     @extend .coupon__input.bad;
  }
  & .bx-soa-coupon-item > strong.bx-soa-coupon-item-success {
     @extend .coupon__input.good;
  }
  & .bx-soa-coupon-item > strong {
    @extend .form-control;
    
    display: block;
    margin-bottom: $base-line-height*0.5;
    margin-top: $base-line-height*0.5;
    padding-bottom: $base-line-height*0.5;
    padding-top: $base-line-height*0.5;
    position: relative;
    font-weight: normal;
  }


  & .bx-soa-coupon-remove {
    @extend .coupon__del;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      @extend .coupon__del.bad:hover;
    }
  }

  & .bx-soa-tooltip {
    display: none;
  }

  & .bx-soa-more {
    margin: 0;
  }

  & .bx-soa-more-btn {
    border-top: 1px solid $gray;
    padding: $base-line-height 0;
  }

  & .bx-soa-item-table {
    display: table;
    min-width: 100%;
  }
  & .bx-soa-item-tr {
    display: table-row;
  }
  & .bx-soa-item-td {
    border-top: 1px dotted $gray;
    display: table-cell;
    padding: $base-line-height 0;
    transition: all .2s ease;
    vertical-align: top;
    
    .bx-price.all {
      @extend %price;

      line-height: 1;
    }
  }

  & .bx-soa-item-tr:nth-child(1) .bx-soa-item-td {
    border-top-width: 0;
  }

  & .bx-soa-item-img-block {
    float: left;
    padding-right: $base-line-height;
    width: 50px;
  }
  & .bx-soa-item-imgcontainer {
    border-radius: 4px;
    border: 1px solid transparent;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  & .bx-soa-tooltip {
    display: none;
    cursor: pointer;
    position: relative;
  }

  & .bx-soa-tooltip:before,
  & .bx-soa-tooltip:after,
  & .tooltip:hover:before,
  & .tooltip:hover:after {
    content: initial;
  }

  & .bx-soa-tooltip.bx-soa-tooltip-static {
    padding: $base-line-height*0.5 0;
    position: relative;
  }

  & .bx-soa-tooltip-danger {
   color: $alert-danger-text;
  }

  & .bx-soa-reference {
    color: $gray;
    padding-bottom: $base-line-height*1.5;
    //padding-top: $base-line-height*0.5;
  }

  & .bx-pagination-container {
    @extend .pagination;
  }

  & .bx-soa-pickup-subTitle {
    @extend h2;
  }

  & .bx-soa-pickup-list .bx-soa-pickup-list-item {
    border-top: 1px solid $gray;
    padding: $base-line-height $base-line-height*2;
    position: relative;
  }

  & .bx-soa-pickup-l-item-adress {
    font-weight: bold;
    font-size: 17px;
    padding-left: $base-line-height;
    position: relative;
  }

  & .bx-soa-pickup-l-item-detail {
    display: block;
    min-height: 80px;
    padding-left: $base-line-height*6;
    padding-top: $base-line-height;
    position: relative;
  }

  & .bx-soa-pickup-l-item-img {
    position: absolute;
    top: 23px;
    left: 0;
    max-width: 90px;
    max-height: 90px;
    height: auto;
    width: auto;
  }

  & .bx-soa-pickup-l-item-name {
    font-weight: bold;
  }

  & .bx-soa-pickup-l-item-btn {
    float: none;
    padding-left: $base-line-height*6;
    padding-top: $base-line-height;
    position: relative;
    top: auto;
    right: auto;
    margin-top: 0;
  }

  & .bx-soa-pickup-preview-img {
    display: none;
  }


  @media(min-width: $screen-sm-min) {
    &  .bx-soa-pp-company {
      display: block;
      padding-bottom: $base-line-height/2;
      padding-top: $base-line-height/2;
      width: auto;
    }
    & .bx-soa-pp-company-smalltitle {
      display: inline-block;
      padding: $base-line-height;
      vertical-align: middle;
    }

    & .bx-soa-pp-item-container {
      text-align: left;
    }

    & .bx-soa-pp-company-graf-container {
      width: auto;
    }
    & .bx-soa-pp-company-image {
      width: 118px;
    }
  }

  @media(min-width: $screen-sm-min) {
    & .bx-soa-editstep {
      line-height: 30px;
    }

    & .bx-soa-section-content {
      margin-left: 72px;
    }

    & .bx-soa-item-img-block {
      width: 85px;
    }
  }

}
