/* sale personal order component */

.sale-order-detail-back-to-list-link-up {
  display: inline-block;
  margin-bottom: $base-line-height;
}
.sale-order-detail-back-to-list-link-down {
	display: inline-block;
	margin-top: $base-line-height;
}

.sale-order-detail-title-element {
	margin: 0;
  font-size: $font-size-h1;
	color: #262626;
}

.sale-order-detail-about-order,
.sale-order-detail-payment-options {
	margin-top: 20px;
}

.sale-order-detail-about-order-inner-container {
	padding: 17px 16px 22px 19px;
	border: 1px solid #efecec;
}

.sale-order-detail-about-order-inner-container-name {
  margin-bottom: $base-line-height;
}

.sale-order-detail-about-order-inner-container-name-read-more,
.sale-order-detail-payment-options-methods-info-change-link,
.sale-order-detail-about-order-inner-container-name-read-less,
.sale-order-detail-show-link,
.sale-order-detail-hide-link {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.sale-order-detail-about-order-inner-container-name-read-less,
.sale-order-detail-hide-link {
	display: none;
}

.sale-order-detail-about-order-inner-container-name-detail,
.sale-order-detail-about-order-inner-container-status-detail,
.sale-order-detail-about-order-inner-container-price-detail {
  padding: 5px 0 0 0;
  font-size: $font-size-h4;
  font-weight: bold;
}

div.sale-order-detail-about-order-inner-container-repeat {
	padding-left: 0;
}

.sale-order-detail-about-order-inner-container-repeat-button {
  @extend .btn;
  @extend %theme-btn1;
  
  display: block;
  font-size: $font-size-large;
  font-weight: bold;
}

.sale-order-detail-about-order-inner-container-repeat-cancel {
  @extend .btn;
  
  background: transparent;
	border: none;
  box-shadow: none;
  display: block;
	padding: 7px 0 0 0;
	font-size: $font-size-large;
	color: #9b9b9b;
	text-align: center;
	text-decoration: underline;
}

.sale-order-detail-about-order-inner-container-details-title {
	padding: 7px 0 10px 0;
	border-bottom: 1px solid #f2f2f2;
}

.sale-order-detail-about-order-inner-container-details-list {
	padding: 0;
}

.sale-order-detail-about-order-inner-container-list-item {
	display: block;
	padding: 15px 0 0 0;
}

.sale-order-detail-about-order-inner-container-list-item-element {
  font-size: $font-size-large;
  font-weight: bold;
  color: #303030;
}

.sale-order-detail-about-order-inner-container-list-item-link {
	display: block;
	padding: 3px 0 0 0;
	font-size: $font-size-large;
  font-weight: bold;
	color: #4a90e2;
}

/* payment */

.sale-order-detail-payment-options-methods-container {
	position: relative;
	overflow: hidden;
}

div.payment-options-methods-row {
	position: relative;
	overflow: hidden;
}

.sale-order-detail-payment-options-inner-container {
	border: 1px solid #efecec;
}

div.sale-order-detail-payment-options-methods,
div.sale-order-detail-payment-options-shipment {
	padding: 20px 0 26px 0;
	border-top: 1px solid #f2f2f2;
	overflow: hidden;
}

div.sale-order-detail-payment-options-shipment-image-container,
div.sale-order-detail-payment-options-methods-image-container {
	text-align: center;
}

.sale-order-detail-payment-options-info-image {
	display: inline-block;
	/*max-width: 46px;*/
	/*width: 46px;*/
	height: 54px;
	background: url("../img/sale-personal-order-payment-options-order-number.svg") center no-repeat;
}

.sale-order-detail-payment-options-info-container {
	padding: 8px 0 0 6px !important;
}

.sale-order-detail-payment-options-info-order-number,
.sale-order-detail-payment-options-info-total-price {
	height: 21px;
	line-height: 21px;
	font-size: $font-size-h4;
  font-weight: bold;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sale-order-detail-payment-options-info-total-price {
	font-size: $font-size-h4;
  font-weight: bold;
}
.sale-order-detail-payment-options-method {
	position: relative;
}
.sale-order-detail-payment-options-methods-information-block {
	position: static;
	transition: opacity .5s .3s ease;
	opacity: 1;

}

.sale-order-detail-payment-options-methods-image-element,
.sale-order-detail-payment-options-shipment-image-element{
	display: block;
	height: 51px;
	margin: 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.sale-order-detail-payment-options-methods-info {
	padding-left: 5px !important;
}

.sale-order-detail-payment-options-methods-info-title,
.sale-order-detail-payment-options-methods-shipment-list-item-title {
	font-size: $font-size-large;
  font-weight: bold;
	color: #000;
}

.sale-order-detail-payment-options-shipment-button-element {
	font-size: $font-size-large;
  font-weight: bold;
	color: #4a90e2;
}

.sale-order-detail-payment-options-methods-info-title-status-alert,
.sale-order-detail-payment-options-methods-info-title-status-success {
  display: inline-block;
  padding: 4px 10px 5px 8px;
  border: 1px solid #eab3b9;
  border-radius: 2px;
  background: #ffe5e8;
  font-weight: bold;
  color: #d0021b;
}

.sale-order-detail-payment-options-methods-info-title-status-success {
	background: #e3f0bd;
	border: 1px solid #bed277;
	color: #597707;
}

.sale-order-detail-payment-options-methods-info-total-price {
	padding: 4px 0 0 0;
	font-size: $font-size-large;
}

div.sale-order-detail-payment-options-methods-button-container {
	padding: 0 15px 0 0;
}

.sale-order-detail-payment-options-methods-button-element,
.sale-order-detail-payment-options-methods-button-element-new-window{
  @extend .btn;
  @extend %theme-btn1;

	display: block;
  font-size: $font-size-large;
  font-weight: bold;
}

.sale-order-detail-payment-options-methods-template {
	/*display: none;*/
}

div.sale-order-detail-payment-options-methods-template {
	position: absolute;
	left: 1000px;
	padding: 24px 38px 24px 38px;
	margin: 0;
	border: 1px solid #3bc8f5;
	transition: opacity .5s .3s ease;
	opacity: 0;
}

/* Active statement */
.sale-order-detail-active-event .sale-order-detail-payment-options-methods-template {
	position: relative;
	left: 0;
	opacity: 1;
}

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-information-block {
	position: absolute;
	left: 1000px;
	opacity: 0;
}

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-template.sale-paysystem-close {
	position: absolute;
	left: 1000px;
}

.inactive-button,
.inactive-button:hover,
.inactive-button:active {
	background: #dff0d8;
  color: #FFFFFF;
  cursor: default;
}

.sale-order-detail-payment-options-shipment-composition-item-product-container,
.sale-order-detail-payment-options-order-content-item-product-container {
	display: table;
	width: 100%;
	border-top: 1px solid #f2f2f2;
}

/* shipment */
.sale-order-detail-payment-options-methods-shipment-list {
	padding-left: 5px !important;
  font-size: $font-size-large;
	list-style: none;
}

.sale-order-detail-payment-options-methods-shipment-list-item {
	padding: 6px 0 0 0;
}

.sale-order-detail-shipment-id {
	font-weight: 700;
}

.sale-order-detail-shipment-id-icon {
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url("../img/sale-order-item-id-element.svg") center no-repeat;
	cursor: pointer;
}

.sale-order-payment-cancel {
	text-decoration: underline;
	cursor: pointer;
}

.sale-order-payment-cancel:hover {
	text-decoration: none;
}

.sale-order-detail-payment-options-shipment-button-container {
	text-align: right;
}

.sale-order-detail-payment-options-shipment-button-element {
	display: block;
	text-decoration: underline;
}

.sale-order-detail-payment-options-shipment-composition-map{
	display: none;
}

.sale-order-detail-payment-options-shipment-composition-map-title {
	padding: 44px 0 8px 0;
	margin: 0;
  font-size: $font-size-h4;
  font-weight: bold;
	color: #2f3435;
}

.sale-order-detail-payment-options-shipment-composition-map-container-map {
	width: 100%;
	min-height: 251px;
}

.sale-order-detail-payment-options-shipment-map-address {
	margin: 19px 0 39px 0;
}

.sale-order-detail-payment-options-shipment-map-address-title {
	color: #2f3435;
  font-size: $font-size-h4;
  font-weight: bold;
}

.sale-order-detail-payment-options-shipment-map-address-element {
	font-size: $font-size-h4;
}

.sale-order-detail-payment-options-shipment-composition-item-container {
	padding: 17px 20px 14px 17px;
	border: 1px solid #efecec;
}

.sale-order-detail-payment-options-shipment-composition-item,
.sale-order-detail-payment-options-shipment-composition-item-product-container {
	display: table;
	width: 100%;
}

.sale-order-detail-payment-options-order-content-item-product-name,
.sale-order-detail-payment-options-order-content-item-product-cost,
.sale-order-detail-payment-options-order-content-item-product-amount,
.sale-order-detail-payment-options-order-content-item-product-total-price,
.sale-order-detail-payment-options-shipment-composition-item-title,
.sale-order-detail-payment-options-shipment-composition-item-product-name,
.sale-order-detail-payment-options-shipment-composition-item-product-amount,
.sale-order-detail-payment-options-order-content-item-title {
	display: table-cell;
	text-align: center;
}

.sale-order-detail-payment-options-shipment-composition-item-product-container {
	padding: 11px 0 13px !important;
}

.sale-order-detail-payment-options-shipment-composition-item-product-name,
.sale-order-detail-payment-options-shipment-composition-item-product-amount {
	line-height: 55px !important;
}

.sale-order-detail-payment-options-shipment-composition-item-product-name {
	padding: 0 0 0 18px !important;
}

.sale-order-detail-payment-options-shipment-composition-item-title {
	padding: 0 0 12px 0 !important;
}

.sale-order-detail-payment-options-order-content-item {
	display: table;
	width: 100%;
	padding: 19px 0 12px 0;
}

.sale-order-detail-total-payment {
	padding: 18px 0;
}

.sale-order-detail-total-payment-list-left,
.sale-order-detail-total-payment-list-right {
	list-style: none;
}

.sale-order-detail-total-payment-list-left-item {
  font-size: $font-size-h4;
	color: #2f3435;
	text-align: right;
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sale-order-detail-total-payment-list-right-item {
	height: 20px;
	line-height: 20px;
	font-size: $font-size-h4;
	color: #2f3435;
	text-align: right;
}

/* colors grey */
.sale-order-detail-about-order-inner-container-list-item,
.sale-order-detail-about-order-inner-container-name-titile,
.sale-order-detail-about-order-inner-container-status-title,
.sale-order-detail-about-order-inner-container-price-title,
.sale-order-detail-payment-options-shipment-composition-item-title,
.sale-order-detail-payment-options-order-content-item-title {
	font-size: $font-size-large;
	color: #888;
}

.sale-order-detail-about-order-inner-container-details {
	display: none;
}

.sale-order-detail-about-order-inner-container-details-title {
	font-size: $font-size-large;
  font-weight: bold;
	color: #888;
}

/* titles */
.sale-order-detail-about-order-title-element,
.sale-order-detail-payment-options-title-element,
.sale-order-detail-payment-options-order-content-title-element,
.sale-order-detail-general-item {
  font-size: $font-size-h4;
  font-weight: bold;
  margin: 0;
}

.sale-order-detail-payment-options-shipment-composition-title-element {
  font-size: $font-size-h4;
  font-weight: bold;
}

/* General detail theme color */

.sale-order-detail-general {
	border: 1px solid #179ebb;
}

.sale-order-detail-general-head {
	background: #179ebb;
}

.sale-order-detail-general-item {
	display: inline-block;
	color: #fff;
}

.sale-order-detail-payment-options-order-content {
	margin-top: 20px;
}

.sale-order-detail-payment-options-order-content-inner-container {
	border: 1px solid #efecec;
}

.sale-order-detail-payment-options-shipment-composition-container {
	margin: $base-line-height 0 $base-line-height*2;
}


.sale-order-detail-payment-inner-row-template{
	display: none;
	cursor: pointer;
	margin-top: 20px;
}

/* Advanced info */
.sale-order-detail-order-item-info-container {
	position: relative;
	height: 35px;
}

.sale-order-detail-order-item-info-container .sale-order-detail-order-item-td {
	border: none;
	position: absolute;
}

.sale-order-detail-order-item-info-container .sale-order-detail-order-item-info-block {
	height: 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.sale-order-detail-order-item-info-block.bx-active {
	padding-top: 10px;
	height: auto;
}

.sale-order-detail-order-info-block {
	border: none;
	max-width: 100%;
}

.sale-order-detail-order-info-line {
	line-height: 15px;
}

.sale-order-detail-order-info-title {
	color: #7c7c7c;
	font-size: 12px;
	padding: 4px 0;
	vertical-align: top;
}

.sale-order-detail-order-info-text {
	display: inline-block;
	font-size: 12px;
	padding: 4px 10px;
	vertical-align: top;
}

/* Close icon */
.sale-paysystem-close {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 1;
}

.sale-paysystem-close-item {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/sale-personal-order-sprite.svg) 1px 1px no-repeat;
	transition: opacity .3s ease;
	opacity: 1;
	cursor: pointer;
}

.sale-paysystem-close-item:hover {
	opacity: .5;
}

/* Media */


@media (min-width: 768px) and (max-width: 991px) {
	.sale-order-detail-payment-options-methods-button-container{
		float: right;
	}
	.sale-order-detail-payment-options-methods-button-element {

		display: block;
		padding: 8px 22px 10px 22px;
		margin: 15px 0 0 0;
		border-radius: 2px;
		background: #70bb18;
		color: #fff;
        font-size: $font-size-large;
        font-weight: bold;
		text-align: center;
		cursor: pointer;
	}
}

@media (max-width: 767px) {
	div.sale-order-detail-payment-options-methods-button-container {
		margin: 15px 0 0 0;
	}
}


@media (max-width: 768px) {
	.sale-order-detail-payment-options-methods-shipment-list,
	.sale-order-detail-payment-options-methods-info {
		padding-left: 15px !important;
	}
	.sale-order-detail-about-order-inner-container-price {
		margin: 15px 0;
	}

	.sale-order-detail-about-order-inner-container-repeat {
		margin: 15px;
	}

	.sale-order-detail-payment-options-info-order-number,
	.sale-order-detail-payment-options-info-total-price {
		height: auto;
	}

	.sale-order-detail-payment-options-shipment-button-element {
		text-align: center;
	}
}

@media (max-width: 320px) {
	.sale-order-detail-total-payment-list-left-item,
	.sale-order-detail-payment-options-info-total-price {
    font-size: $font-size-h4;
	}

	.sale-order-detail-payment-options-info-order-number,
	.sale-order-detail-total-payment-list-right-item {
    font-size: $font-size-h4;
	}

	.sale-order-detail-payment-options-info-image {
		display: none;
	}

	.sale-order-detail-payment-options-shipment-button-element {
		text-align: center;
	}
}