div.title-search-result {
	border:1px solid #2d7eb7;
	display:none;
	overflow:hidden;
	z-index:205;
	font-size:12px;
}

div.title-search-result a {color:#000000;text-decoration:none;}
div.title-search-result a:hover {color:#EA1653;}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:10%;
}

table.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #2d7eb7;
	color:#000000;
	font-weight:bold;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
 	padding-right:5px;
	text-align:right;
	vertical-align:top;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	font-weight:normal;
	padding-top:0px;
	padding-bottom:0px;
	text-align:left;
	padding-right:5px;
}

table.title-search-result td.title-search-item {
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #2d7eb7;
	padding-bottom:3px;
	padding-top:3px;
	min-width:290px;
}
table.title-search-result td.title-search-item div {
	width:280px;
	display:block;
	overflow:hidden;
}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item img {
	vertical-align:top; margin:3px;
	border:1px solid #2d7eb7; border-radius:2px;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
}



table.title-search-result td.title-search-all {
	padding-left:5px;
	padding-right:5px;
	background:#2d7eb7;color:#ffffff;
}

table.title-search-result td.title-search-all a
{
	padding-left:5px;
	text-decoration:none;
	color:#ffffff;
	display:block;padding:3px 0;
}

table.title-search-result td.title-search-all a:hover, table.title-search-result td.title-search-more a:hover {background:##BC1242;}

table.title-search-result .price {font-size:12px;color:#2d7eb7;padding-top:5px;font-size:12px;font-weight:bold;}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none;
	position:absolute;
}

#title-search {display:block;width:100%;clear:both;overflow:hidden;}
#title-search .field {font-size:14px;color:#000000;padding:3px;border-radius:3px;border:none;
-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 42, 0.43);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 42, 0.43);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 42, 0.43);
width:210px;float:left;margin-right:5px;margin-left:5px;}
#title-search .but {display:block;width:70px;text-align:center;color:#ffffff;background:#2d7eb7;text-decoration:none;padding:4px 0;border-radius:3px;
font-size:12px;text-transform:uppercase;margin:auto;float:left;border:none;margin-top:2px;
background: #2d7eb7;
background: -moz-linear-gradient(top, #2d7eb7 0%, #0e4b7c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d7eb7), color-stop(100%,#0e4b7c));
background: -webkit-linear-gradient(top, #2d7eb7 0%,#0e4b7c 100%);
background: -o-linear-gradient(top, #2d7eb7 0%,#0e4b7c 100%);
background: -ms-linear-gradient(top, #2d7eb7 0%,#0e4b7c 100%);
background: linear-gradient(to bottom, #2d7eb7 0%,#0e4b7c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7eb7', endColorstr='#0e4b7c',GradientType=0 );
float:right;
}
#title-search .but:hover {cursor:pointer;
background: #2d7eb7;
background: -moz-linear-gradient(top, #0e4b7c 0%, #2d7eb7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e4b7c), color-stop(100%,#2d7eb7));
background: -webkit-linear-gradient(top, #0e4b7c 0%,#2d7eb7 100%);
background: -o-linear-gradient(top, #0e4b7c 0%,#2d7eb7 100%);
background: -ms-linear-gradient(top, #0e4b7c 0%,#2d7eb7 100%);
background: linear-gradient(to bottom, #0e4b7c 0%,#2d7eb7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e4b7c', endColorstr='#2d7eb7',GradientType=0 );
}