.order-sidebar {
  position: relative;

  * {
    box-sizing: border-box;
  }

  & .bx-soa-cart-total {
    @extend .detail__buy;
  }

  .bx-soa-cart-total.bx-soa-cart-total-fixed {
    position: fixed;
    top: 10px;
  }

  & .bx-soa-cart-total-line {
    border-top: 1px solid $gray;
    line-height: $base-line-height*1.5;
    overflow: hidden;
    padding: $base-line-height*0.3 0;
  }
  & .bx-soa-cart-total-line:nth-child(1) {
    border-top: 0;
  }

  & .bx-soa-cart-t {
    float: left;
    font-weight: bold;
  }

  & .bx-soa-cart-d {
    float: right;
  }

  & .bx-soa-cart-total-button-container {
    display: block;
    padding: $base-line-height*0.5 0;
    text-align: right;
  }
  & .bx-soa-cart-total-button-container > a {
    @extend .btn;
    @extend .btn1;
  }

  & .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-d {
    @extend %price;

    font-size: 28px;
    line-height: auto;
  }

  @media(min-width: $screen-sm-min) {
    & .bx-soa-cart-total-button-container {
      display: none;
    }
  }
}
