.theme-bgcolor {
    background-color: #375193!important;
}
.theme-color {
    color: #375193!important;
}
a {
	color: #375193;
}
a:hover {
	color: #375193;
}
h1.logo {
    color: #375193;
}
    h1.logo a {
        color: #375193;
    }
div.news-line a.all {
    color: #375193;
}
div.navigation a.sel {
    background-color: #375193;
}

div.offer div.info a {
    color: #375193;
}
p.all-offers {
    color: #375193;
}
    p.all-offers a {
        color: #375193;
    }

div.offer div.info  a.type1 {
    background-color: #375193;
}