#section_menu{
background: #f4cfd4;
padding: 8px 0 0 0;
margin: 0;
width: 1000px;
overflow: hidden;
}

#section_menu ul{
list-style-type: none;
padding: 0;
margin: 0 0 0 25px;
}

#section_menu ul li{
background: transparent;
display: block;
float: left;
padding: 0 10px 10px 10px;
}

#section_menu ul li a{
color: #cc0033;
text-decoration: underline;
}

#section_menu ul li a:hover{
color: #f00066;
text-decoration: underline;
}

#section_menu ul li a.active, #section_menu ul li a.active:hover{
color: #cc0033;
font-weight: bold;
text-decoration: underline;
}