.altasib_geobase_link {
	display: block;
	line-height: 21px;
	text-decoration: none;
}

.altasib_geobase_link .altasib_geobase_link_city {
	border-bottom: 1px dashed;	
	cursor: pointer; 
	font-weight: bold;
}

.altasib_geobase_link .altasib_geobase_link_city:hover, .altasib_geobase_link_city:active {
	border-bottom: 1px dashed #333333;
	color: #333333;
}

#altasib_geobase_info {
	position: absolute;
	display: none;
	width: 372px;
	z-index: 999;
	border: 0px;
	background-color: #fff;
	max-height: 306px;
	overflow-y: scroll;
}

#altasib_geobase_info div {
	padding: 8px 6px;
	font: normal 14px Tahoma;
	color:#8c8c8c;
	border-bottom: 1px solid #eaeaea;
}

#altasib_geobase_info div:hover {
	background-color: #e6ecef;
	cursor: pointer;
}

div.altasib_geobase_focus {
	background-color: #e6ecef;
}

#altasib_geobase_close {
	float: right;
	position: relative;
}

#altasib_geobase_close a {
	background: url("images/close.png") no-repeat;
	position: absolute;
	right: -15px;
	top: -13px;
	display: block;
	font-size: 1px;
	height: 30px;
	line-height: 1px;
	width: 30px;
}

#altasib_geobase_close a:hover {
	background-position: 0 -30px;
}

strong.altasib_geobase_light {
	font: bold 14px Tahoma;
	color: #333333;
}

#altasib_geobase_popup .altasib_geobase_pu_i {
	color: #444444 !important;
	margin: 0 20px;
	padding: 23px 0 5px;
}

.altasib_geobase_city .altasib_geobase_clear {
	clear: both;
}

#altasib_geobase_popup {
	top: 140px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #FFFFFF;
	width: 521px;
	border: 0px solid #ffffff;
	border-radius: 5px;
	box-shadow: 0 1px 10px #969696;
	-moz-box-shadow: 0px 1px 10px #969696;
	-webkit-box-shadow: 0px 1px 10px #969696;	
}

.altasib_geobase_city .altasib_geobase_ttl {
	color: #333333;
	font: bold 14px Tahoma;
	margin: 0 0 16px;
}

.altasib_geobase_city .altasib_geobase_title2 {
	color: #333333;
	font: normal 14px Tahoma;
	padding: 0 0 12px;
}

.altasib_geobase_city .altasib_geobase_find {
	border-radius: 3px;
	margin: 2px 135px 57px 0;
}

.altasib_geobase_city .altasib_geobase_find input {
	color: #808080;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	width: 99%;	
	background: none repeat scroll 0 0 #F7F7F7;
	border: 1px solid #808080; 
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #363636;
	font-size: 13px;
	font-style: normal;
	height: auto;
	line-height: 16px;
	padding: 4px 8px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.altasib_geobase_city .altasib_geobase_find input:focus {
	color: #333333;
	border-color: #d8d8d8;
	box-shadow: 0 1px 1px #fee3a2 inset, 0 0 8px #fee3a2;
	outline: medium none;
}

.altasib_geobase_city .altasib_geobase_cities {
	margin: 0 0 20px;
	/*height: 102px;*/
	padding-bottom: 10px;
}

@media (max-width: 400px) {
	.altasib_geobase_city .altasib_geobase_cities ul {
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}
}

.altasib_geobase_city .altasib_geobase_cities ul {
	list-style-type: none;
	padding: 0;
}

.altasib_geobase_city .altasib_geobase_cities ul.altasib_geobase_list_ie {
	float: left;
	list-style: none outside none;	
	padding: 0;
	width: 33%;
}

.altasib_geobase_city .altasib_geobase_cities ul.altasib_geobase_fst {	
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	margin:0px;
}

.altasib_geobase_city .altasib_geobase_cities ul li {
	margin-bottom: 6px;
	padding: 0;
}

.altasib_geobase_city .altasib_geobase_cities ul li a {
	display: block;
	padding-right: 10px;
	display: inline-block;
}

.altasib_geobase_city .altasib_geobase_cities ul li a:hover {
	color: #333333;	
}

.altasib_geobase_city .altasib_geobase_cities ul li, .altasib_geobase_city .altasib_geobase_cities ul li a {
	color: #3f9dd4;
	font: normal 14px Tahoma;
	text-decoration: none;	
}

.altasib_geobase_city .altasib_geobase_cities ul li.let a:first-letter {
	color: #ED1C24;
	font-weight: bold;
}

.altasib_geobase_city .altasib_geobase_cities ul li.altasib_geobase_act a {
	color: #333333;
	font-weight: bold;
}

.altasib_geobase_city .altasib_geobase_cities ul li.emp {
	height: 17px;
}

.altasib_geobase_city .altasib_geobase_cutting .cutit a, .altasib_geobase_city .altasib_geobase_cutting .uncutit a {
	border-bottom: 1px dashed #ED1C24;
	color: #ED1C24;
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 0 350px;
	text-decoration: none;
}

.altasib_geobase_city .altasib_geobase_cutting .cutit a {
	font-weight: normal;
}

.altasib_geobase_city .altasib_geobase_cutting .uncutit a {
	font-weight: bold;
}

.altasib_geobase_city .altasib_geobase_cutting .cutit {
	display: none;
}

.altasib_geobase_city .altasib_geobase_cutting .uncutit span {
	background: url("images/red_up.gif") no-repeat scroll center center;
	font-size: 12px;
	line-height: 15px;
	padding: 0 3px;
}

.altasib_geobase_city .altasib_geobase_cutting .cutit span {
	background: url("images/red_up.gif") no-repeat scroll center center;
	font-size: 12px;
	line-height: 15px;
	padding: 0 3px;
}

.altasib_geobase_city .altasib_geobase_cutting.uncutted .cutit {
	display: block;
}

.altasib_geobase_city .altasib_geobase_cutting.uncutted .uncutit {
	display: none;
}

a#altasib_geobase_btn {
	background: url("images/buttons.png");
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: right;
	font: normal 12px Tahoma;
	height: 23px;
	width: 109px;
	padding-top: 5px;
	margin-top:2px;
	text-align: center;
	text-decoration: none;
}

a#altasib_geobase_btn:hover {
	background-position: 0 -28px;
}

a#altasib_geobase_btn.altasib_geobase_disabled, a#altasib_geobase_btn.altasib_geobase_disabled:hover, a#altasib_geobase_btn.altasib_geobase_disabled:active {
	background: url("images/buttons.png") no-repeat;
	background-position: 0 -56px;	
	cursor:default;
	color:#8d8d8d;
	text-shadow: 1px 1px #ffffff;
}

#altasib_geobase_win {
	display: none;
	top: 9%;
	left: 0;
	color: #000000;
	margin: 0;
	padding: 0;	
	width: 100%;
	z-index: 10000;
	height: 100%;
	position: fixed;
}

#altasib_geobase_popup_back {
	background-color: #000000;
	display: none;
	height: 100%;
	left: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;	
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
}





.altasib_geobase_mb_link {
	display: inline;
	line-height: 21px;
	text-decoration: none;
}

.altasib_geobase_mb_link .altasib_geobase_mb_link_city {
	border-bottom: 1px dashed;
	cursor: pointer;  
	font-weight: bold;
}

.altasib_geobase_mb_link .altasib_geobase_mb_link_city:hover, .altasib_geobase_mb_link_city:active {
	border-bottom: 1px dashed #333333;
	color: #333333;
}

#altasib_geobase_mb_info {
	position: absolute;
	display: none;
	width: 372px;
	max-height: 340px;
	z-index: 999;
	border: 0px;
	background-color: #fff;	
	overflow-y:scroll;
}

#altasib_geobase_mb_info div {
	padding: 8px 6px;
	font: normal 14px Tahoma;
	color:#8c8c8c;
	border-bottom: 1px solid #eaeaea;	
}

div.altasib_geobase_mb_focus {
	background-color: #e6ecef;
}

#altasib_geobase_mb_close {
	float: right;
	position: relative;
}

#altasib_geobase_mb_close a {
	background: url("images/close.png") no-repeat;
	position: absolute;
	right: 10px;
	top: 9px;
	display: block;
	font-size: 1px;
	height: 30px;
	line-height: 1px;
	width: 30px;
}

strong.altasib_geobase_mb_light {
	font: bold 14px Tahoma;
	color: #333333;
}

#altasib_geobase_mb_popup .altasib_geobase_mb_pu_i {
	color: #444444 !important;
	padding-bottom: 5px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_clear {
	clear: both;
}

#altasib_geobase_mb_popup {
	top: 140px;
	margin: 0 auto;
	background: none repeat scroll 0 0 #FFFFFF;
	width: 521px;
	border: 0px solid #ffffff;
	border-radius: 5px;
	box-shadow: 0 1px 10px #969696;
	-moz-box-shadow: 0px 1px 10px #969696;
	-webkit-box-shadow: 0px 1px 10px #969696;	
}

.altasib_geobase_mb_ttl {
	color: #333333;
	font: bold 14px Tahoma;
	margin: 0 0 16px;
	padding: 23px 20px 0px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_title2 {
	color: #333333;
	font: normal 14px Tahoma;
	padding: 0 0 12px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_find {	
	margin: 2px 14px 15px 0;
	padding: 0px 20px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_find input {
	color: #808080;
	font: 14px/17px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	width: 99%;	
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #363636;
	font-size: 13px;
	font-style: normal;
	height: auto;
	line-height: 16px;
	padding: 12px 8px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.altasib_geobase_mb_city .altasib_geobase_mb_find input:focus {
	color: #333333;
	border-color: #d8d8d8;
	box-shadow: 0 1px 1px #fee3a2 inset, 0 0 8px #fee3a2;
	outline: medium none;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities {
	margin: 0 0 20px;
	height: 214px;
	padding-bottom: 10px;
	overflow-y:hidden;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul {
	list-style-type: none;
	padding: 0;
	border-top: 1px solid #eaeaea;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul.altasib_geobase_mb_list_ie {
	float: left;
	list-style: none outside none;
	margin: 0 0 0 -15px;
	padding: 0;
	width: 33%;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li {	
	padding: 0px;
	border-bottom: 1px solid #eaeaea;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {	
	display: inline-block;
	padding: 11px 10px 11px 20px;	
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li, .altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {
	color: #333333;
	font: normal 16px Tahoma;
	text-decoration: none;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.let a:first-letter {
	color: #ED1C24;
	font-weight: bold;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.altasib_geobase_mb_act, .altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.altasib_geobase_mb_act a {
	color: #ffffff;
	font-weight: bold;
	font-size:16px;
	background-color: #fdb407;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.emp {
	height: 17px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit a, .altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit a {
	border-bottom: 1px dashed #ED1C24;
	color: #ED1C24;
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 0 350px;
	text-decoration: none;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit a {
	font-weight: normal;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit a {
	font-weight: bold;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit {
	display: none;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit span {
	background: url("images/red_up.gif") no-repeat scroll center center;
	font-size: 12px;
	line-height: 15px;
	padding: 0 3px;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit span {
	background: url("images/red_up.gif") no-repeat scroll center center;
	font-size: 12px;
	line-height: 15px;
	padding: 0 3px;
}
.altasib_geobase_mb_city .altasib_geobase_mb_cutting.uncutted .cutit {
	display: block;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting.uncutted .uncutit {
	display: none;
}

a#altasib_geobase_mb_btn, a#all_cities_button_mobile {
	background: url("images/button_mobile.png");
	color: #ffffff;
	cursor: pointer;
	display: block;	
	font: bold 16px Tahoma;
	height: 31px;
	width: 176px;
	padding-top: 13px;
	margin-bottom:15px;
	margin-left:20px;
	text-align: center;
	text-decoration: none;	
	text-transform:uppercase;
}

a#altasib_geobase_mb_btn.altasib_geobase_mb_disabled, a#altasib_geobase_mb_btn.altasib_geobase_mb_disabled:active {
	display:none;
}

#altasib_geobase_mb_win {
	display: none;
	top: 5%;
	left: 0;
	color: #000000;
	margin: 0;
	padding: 0;	
	width: 100%;
	z-index: 10001;
	height: 100%;
	position: fixed;
}

#altasib_geobase_mb_popup_back {
	background-color: #000000;
	display: none;
	height: 100%;
	left: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;	
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
}

@media screen and (max-height: 480px) and (orientation:	landscape) {
	
	a#all_cities_button_mobile {
		display: none;
	}
	
	#altasib_geobase_mb_info {
		width: 372px;
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_cities {
		height: 80px;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 480px) {
	#altasib_geobase_mb_popup {
		width: 320px;		
	}
	
	a#altasib_geobase_mb_btn  {
		margin-left: 12px;
	}
	
	#altasib_geobase_mb_info {
		width: 296px;
	}
	
	.altasib_geobase_mb_ttl {
		font-size: 16px;
		margin: 0 0 15px;
		padding: 23px 12px 0px;
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_find {
		padding: 0px 12px;
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_find input {
		padding: 12px 8px;
		font-size: 16px;
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {
		padding-left: 12px;
	}
}