body{
background: #f2f2f2;
font: 12px Tahoma;
color: #666666;
text-align: center;
padding: 0;
margin: 0;
}

#wrapper{
background: white;
padding: 0;
margin: 0 auto;
width: 1000px;
position: relative;
}

#header{
background: transparent url('images/map_bg.jpg') 520px top no-repeat;
position: relative;
height: 141px;
width: 1000px;
overflow: hidden;
}

#logo{
padding: 0;
margin: 0;
width: 106px;
height: 140px;
position: absolute;
top: 0;
left: 0;
}

#company_name{
font-size: 24px;
position: absolute;
top: 0;
left: 120px;
width: 200px;
height: 140px;
text-align: left;
line-height: 24px;
}

#company_name a, #company_name a:hover{
text-decoration: none;
}

#slogan{
padding: 0 0 0 20px;
margin: 0;
position: absolute;
top: 0;
left: 320px;
font-size: 18px;
text-transform: uppercase;
width: 180px;
height: 140px;
text-align: left;
background: transparent url('images/separator.gif') left center no-repeat;
line-height: 18px;
}

.vert_align_block{
height: 140px;
display: table-cell;
vertical-align: middle;
}

#contacts{
position: absolute;
top: 22px;
right: 10px;
width: 230px;
}

#meta{
padding: 0;
margin: 0 0 10px 0;
}

.sep{
padding: 0 18px;
margin: 0;
background: transparent url('images/icons_sep.gif') center top no-repeat;
position: relative;
top: 2px;
}

#text_over_phone, #phone, #text_under_phone{
text-align: center;
font-size: 11px;
}

#phone{
font-size: 24px;
}

#menu{
text-align: left;
padding: 0;
margin: 0 0 6px 0;
}

/* services */
#services{
padding: 0;
margin: 0;
text-align: left;
}

#main{
padding: 10px 20px;
margin: 6px 0 6px 0;
border-style: solid; border-width: 7px; border-left: 0; border-right: 0;
position: relative;
overflow: hidden;
width: 960px;
text-align: left;
}

#container{
padding: 0;
margin: 0 0 15px 0;
overflow: hidden;
position: relative;
width: 960px;
}

#left{
padding: 0;
margin: 0;
width: 280px;
float: left;
}

#content{
padding: 0;
margin: 0 33px 0 85px;
float: left;
width: 362px;
}

#full_content{
padding: 0;
margin: 0;
float: left;
width: 680px;
}

#right{
width: 200px;
float: left;
padding: 10px 0 0 0;
margin: 0;
}

.col_title{
padding: 0;
margin: 0 0 15px 0;
}


/* right block styles */
.right_block{
padding: 0;
margin: 0 0 25px 0;
}

.right_image{
width: 200px;
height: 73px;
padding: 0;
margin: 0;
}

.right_block_title{
text-align: center;
padding: 0;
margin: 5px 0;
color: black;
}

.right_block_title a{
color: black;
font-size: 18px;
text-decoration: none;
}

.right_block_title a:hover{
color: black;
font-size: 18px;
text-decoration: underline;
}

.right_block_content{
font-size: 11px;
}


#company_info{
padding: 15px 20px;
margin: 0;
background: #f2f2f2;
}

#footer{
background: #f2f2f2;
padding: 0 0 10px 0;
margin: 0;
text-align: left;
}

#footer_bot{
color: #333;
font-size: 11px;
position: relative;
height: 80px;
}

#f_buttons{
padding: 0;
margin: 0;
position: absolute;
top: 30px;
left: 40px;
width: 300px;
}

#f_contacts{
padding: 0;
margin: 0;
position: absolute;
top: 30px;
left: 350px;
width: 400px;
}

#f_copy{
padding: 0;
margin: 0;
position: absolute;
top: 30px;
right: 40px;
width: 200px;
text-align: right;
}

#itees_copy{
font-size: 11px;
text-align: right;
color: #666666;
padding: 0;
margin: 10px 40px 0 0;
}

#itees_copy a{
color: #666666;
text-decoration: none;
}

#itees_copy a:hover{
color: #666666;
text-decoration: underline;
}