/***v.5***/
.form_v5_callback_element{
	color: #5b6770;
	text-decoration: none;
	padding:30px 0 0 0;
	cursor:pointer;
	position: relative;
	text-align: center;
	display: block;
}

.form_v5_callback_element img{
	position: absolute;
	top: 0;
	left:50%;
	margin-left:-16px;
}

.form_v5_callback_element img.first_img{
	z-index:0;
}

.form_v5_callback_element img.second_img{
	z-index:1;
}

.form_v5_callback_element:hover img.first_img{
	z-index:1;
}

.form_v5_callback_element:hover img.second_img{
	z-index:0;
}

.form_v5_callback_element:hover{
	text-decoration: underline;
	color: #0fc71d;
}

.backcall_form_pop_v5{
	width: 40%;
	background:#ffffff;
	box-shadow:3px 3px 4px 1px #454545;
	top:50%;
	left:50%;
	margin:0 0 0 -20%;
	opacity: 0.1;
	z-index: 100;
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.backcall_form_pop_v5 input, .backcall_form_pop_v5 textarea, .backcall_form_pop_v5 keygen, .backcall_form_pop_v5 select, .backcall_form_pop_v5 button{
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.backcall_form_pop_v5 input[type="text"]{
	border:none;
}

.pop_backcall_wrapper_v5{
	height: 100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 2000;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QoFEAAn1Y6cDwAAAAh0RVh0Q29tbWVudAD2zJa/AAAADUlEQVQI12P4//9/PQAJewN9F4hVxQAAAABJRU5ErkJggg==") center center transparent;
}

.pop_backcall_wrapper_v5 .backcall_form_pop_v5{
	position:fixed;
}

.backcall_form_pop_v5 .comment-form textarea{
    resize: none;
    overflow:auto;
	width: 100%;
	border:none;
	color: #5b6770;
	background: white;
	font-size: 17px;
	line-height: 17px;
}

.backcall_form_pop_v5 .form_msg{
	position:absolute;
	top:10%;
	left:50%;
	margin-left:-35%;
	border:2px solid #E6EDF2;
	background-color:#ffffff;
	width:70%;
	box-shadow:3px 3px 4px 1px #454545;
	z-index:1000;
}

.backcall_form_pop_v5 .narrow .form_msg{
	margin-left:-55%;
	width:110%;
}

.backcall_form_pop_v5 .form_msg .form_msg_wrapper{
	position:relative;
	padding:5%;
	font-size: 12px;
	color: #000000;
}

.backcall_form_pop_v5 .form_msg .form_msg_wrapper a.close_btn{
	position:absolute;
	top:2%;
	right:2%;
	padding:5px;
	text-decoration:none;
	font-size:16px;
	line-height:14px;
	color:#DE001E;
}

.backcall_form_pop_v5 .form_msg.form_msg_error{
	border:2px solid #DE001E;
}

.backcall_form_pop_v5 .comment-form .input_holder.required{
	box-shadow: 0 0 7px #DE001E;
}

.backcall_form_pop_v5 .comment-form .clear_both{
	clear:both;
}

.backcall_form_pop_v5 .comment-form .form_v5_trigger.locked{
	text-decoration:none;
	color: transparent;
	background: url('img/loader.gif') center center no-repeat transparent;
}

.backcall_form_pop_v5 textarea:focus, .backcall_form_pop_v5 input:focus{
	outline: none;
}

.backcall_form_pop_v5 .comment-form .input_holder_wrapper{
	border:1px solid #bdc2c6;
	margin:0 0 10px 0;
	padding:1px 10px;
	display: block;
}

.backcall_form_pop_v5 .pop_content{
	padding:0 22px;
}

.backcall_form_pop_v5 .form_client_name, .backcall_form_pop_v5 .form_client_phone, .backcall_form_pop_v5 .form_email, .backcall_form_pop_v5 .captcha_word{
	width:100%;
	color:#5b6770;
	background:white;
	font-size:17px;
	line-height:17px;
	padding : 4px 0;
	border:none;
}

.backcall_form_pop_v5 .pop_header{
	font-size:23px;
	color:#ffffff;
	padding:0 10px;
	background-color: #0fc71d;
	position: relative;
}

.backcall_form_pop_v5 .pop_header_wrapper{
	background:url('img/pop_header_ico_v3.png') center left no-repeat #0fc71d;
	padding:12px 0;
}

.backcall_form_pop_v5 .pop_close_btn{
	position: absolute;
	top:13px;
	right:20px;
	cursor:pointer;
}

.backcall_form_pop_v5 .pop_heading_label{
	display:block;
	font-size:23px;
	line-height: 36px;
	color:#ffffff;
	padding:0 60px 0 60px;
}


.backcall_form_pop_v5 .pop_content .more{
	padding:5px 10px 0 0;
	height:30px;
}

.backcall_form_pop_v5 a.form_v5_trigger{
	display: block;
	text-align: center;
	padding:15px;
	font-size:22px;
	font-weight:bold;
	color:#ffffff;
	line-height:22px;
	text-decoration:none;
	background-color:#0fc71d;
	text-transform: uppercase;
}

.top_icons_holder.top_icons_lada span {
    color: #ffffff;
    cursor: pointer;
}

.backcall_form_pop_v5 .form_section{
	padding:15px 0;
}

.backcall_form_pop_v5 .section_number{
	width:22%;
	float: left;
	font-size: 17px;
	line-height: 16px;
	color: #5b6770;
	text-transform: uppercase;
	padding:5px 3% 0 0;
}

.backcall_form_pop_v5 .section_content{
	width:75%;
	float: left;
}

.backcall_form_pop_v5 .number_value{
	float: left;
	font-size: 38px;
	line-height: 32px;
	color: #5b6770;
	padding: 0 10px 0 0;
	font-weight: bold;
}

.backcall_form_pop_v5 .contact_item{
	float: left;
	width:110px;
	height:38px;
	padding:10px;
	margin:0 10px 0 0;
	border:1px solid #bdc2c6;
	cursor: pointer;
}

.backcall_form_pop_v5 .contact_item.active{
	background-color: #0fc71d;
}

.backcall_form_pop_v5 .contact_item.last{
	margin:0;
}

.backcall_form_pop_v5 .contact_item_heading{
	font-size: 17px;
	line-height: 18px;
	color: #5b6770;
	text-align: center;
	font-weight: bold;
}

.backcall_form_pop_v5 .contact_item_address{
	font-size: 12px;
	line-height: 12px;
	color: #5b6770;
	text-align: center;
}

.backcall_form_pop_v5 .select_wrapper{
	border:1px solid #bdc2c6;
	position:relative;
	cursor: pointer;
}

.backcall_form_pop_v5 .select_value{
	padding: 5px;
	font-size: 17px;
	line-height: 17px;
	color: #5b6770;
	background: url('./img/select_arrow_down.png') right center no-repeat transparent;
	text-align: left;
}

.backcall_form_pop_v5 .select_list{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-color: #FFFFFF;
	box-shadow:0 0 3px #bdc2c6;
}

.backcall_form_pop_v5 .select_list_value{
	padding: 5px;
	font-size: 17px;
	line-height: 17px;
	color: #5b6770;
	border-bottom:1px solid #bdc2c6;
	text-align: left;
}

.backcall_form_pop_v5 .select_list_value:hover{
	background-color: #CAD0D4;
}

.backcall_form_pop_v5 .section_content .left_part{
	width:65%;
	float:left;
}

.backcall_form_pop_v5 .section_content .right_part{
	width:30%;
	float:right;
}

.backcall_form_pop_v5 .capcha_input_holder{

}

.backcall_form_pop_v5 .capcha_input_holder img{
	width:45%;
	float:left;
	border:none;
}

.backcall_form_pop_v5 .capcha_input_holder .captcha_word{
	width:45%;
	float:right;
}

@media (min-width:400px)  {
	.backcall_form_pop_v5{
		width:90%;
		left:50%;
		margin:0 0 0 -45%;
	}
	.backcall_form_pop_v5 a.form_v5_trigger {
		font-size: 15px;
	}

	.backcall_form_pop_v5 .capcha_input_holder img{
		width:55%;
	}

	.backcall_form_pop_v5 .capcha_input_holder .captcha_word{
		width:35%;
	}
}

@media (min-width:800px) {
	.backcall_form_pop_v5{
		width:80%;
		left:50%;
		margin:0 0 0 -40%;
	}
	.backcall_form_pop_v5 a.form_v5_trigger {
		font-size: 17px;
	}

	.backcall_form_pop_v5 .capcha_input_holder img{
		width:45%;
	}

	.backcall_form_pop_v5 .capcha_input_holder .captcha_word{
		width:45%;
	}
}

@media (min-width:1000px) {
	.backcall_form_pop_v5{
		width:70%;
		left:50%;
		margin:0 0 0 -35%;
	}
	.backcall_form_pop_v5 a.form_v5_trigger {
		font-size: 19px;
	}
}

@media (min-width:1200px) {
	.backcall_form_pop_v5{
		width:60%;
		left:50%;
		margin:0 0 0 -30%;
	}
}

@media (min-width:1400px) {
	.backcall_form_pop_v5{
		width:50%;
		left:50%;
		margin:0 0 0 -25%;
	}
}

@media (min-width:1800px) {
	.backcall_form_pop_v5{
		width:40%;
		left:50%;
		margin:0 0 0 -20%;
	}
}