$brand-primary:                         $skin0_bg;

$input-border-focus:                    $skin0_bg;

$dropdown-link-hover-color:             $skin0_bg;
$dropdown-link-active-color:            $skin0_bg;
