/* message */
.message {
	padding:10px;
	font-size:12px;
	margin:0 0 10px 0;
	border-radius:4px;
}
.message.error {
	background:#ffdedd;
	color:#a00000;
	border:1px solid #a00000;
}
.message.ok {
	background:#e7ffcb;
	color:#809b21;
	border:1px solid #809b21;
}
.auction-btn {
	padding: 5px 10px;
	border-radius: 3px 3px;
	border: solid 1px rgb(153, 153, 153);	
	color: #333;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	line-height: 1;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc),color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dedede 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%,#dedede 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%,#dedede 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dedede',GradientType=0 );
}
.auction-btn:hover {
	background: #fcfcfc;
}
.auction-clear {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size:0px;
	line-height:0px;
}
.auction-hide {
	display:none;
}

.auction-detail,
.auction-information {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
}
.auction-info,
.auction-data {
	vertical-align:top;
	text-align:left;
}
.auction-info {
	width:20%;
	text-align:center;
}
.auction-prev {
	margin-top:10px;
	text-align:left;
}
.auction-price-title {
	margin-top:15px;
	font-size:18px;
}
.auction-price {
	font-size:16px;
	color:#f47222;
	margin:5px 0;
}
.auction-price.victory {
	display:inline-block;
	margin-left:5px;
}
.auction-bets-price {
	float:left;
	font-size:18px;
	padding-top:4px;
	margin-right:10px;
	color:#F47222;
}
.auction-information {
	font-size:16px;
	text-align:left;
}
.auction-information th {
	padding-bottom:15px;
	width:33.33%;
}
.auction-information th,
.auction-information td {
	padding:10px;
	vertical-align:top;
}
.auction-bets-item {
	border-bottom:1px solid #ccc;
	padding-bottom:2px;
	margin-bottom:5px;
	font-size:12px;
}
.auction-bets-item span {
	float:right;
}
.auction-calc {
	font-size:52px;
	margin-top:20px;
}
.auction-calc.end {
	color:#F47222;
}
.auction-bets {
	margin-top:35px;
}
.auction-input {
	border:1px solid #999;
	padding:2px 5px;
	border-radius:3px;
	color:#F47222;
	font-size:20px;
	float:left;
	margin-right:5px;
	width:100px;
}
.auction-confirm {
	color:#F47222;
	font-size:36px;
	margin-top:20px;
}
.auction-take-off {
	color:#F47222;
	font-size:16px;
}
.auction-params-title {
	font-size:14px;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
.auction-params-item {
	font-size:14px;
	float:left;
	margin-bottom:5px;
	font-weight:bold;
}


/* Chat */
.auction-chat {
	margin:25px 0;
}
.auction-chat-area {
	border:1px solid #ccc;
	width:99%;
	height:200px;
	overflow-y:scroll;
	font-size:11px;
	padding:5px;
}
.auction-chat-write {
	width:100%;
	margin-top:15px;
}
.auction-chat-write td {
	padding:0;
}
.auction-chat-message {
	width:99%;
	border:1px solid #ccc;
	padding:5px;
}
.auction-chat-tdsend {
	width:170px;
}
.auction-chat-btnsend {
	padding:4px 10px;
}
.auction-chat-item {
	margin-bottom:8px;
}
.auction-chat-items-name {
	margin:0 3px;
	padding:2px 3px 3px;
	background-color:#333;
	border-radius:3px;
	color:#fff;
}
.auction-chat-items-event {
	color:#000;
}
.auction-lot-name {
	font-size:16px;
	padding-bottom:10px;
	color:#4F4F4F;
}
.auction-lot-name {
	color:#4F4F4F;
}