/*Menu icon*/
#pickpoint_menu_icon {background-image:url(icons/epages.pickpoint/icon.gif);}
#pickpoint_page_icon {background-image:url(icons/epages.pickpoint/icon_page.gif);}
.aDelete
{
	margin:5px;
	text-decoration:underline;
	cursor:pointer;
	color:#2747BF;
}
.dAdded
{
	margin-top:10px;
}
