.carousel-banner {
    max-width: 940px;
    max-height: 298px;
    overflow: hidden;
    position: relative;
    margin-top: 12px;
}

.carousel-banner:hover .carousel-prev,
.carousel-banner:hover .carousel-next {
    display: block;
}

.carousel-prev,
.carousel-next {
    width: 28px;
    height: 56px;
    background: url('../images/carousel-arrows.png') no-repeat;
    display: none;
    position: absolute;
    top: 121px;
    z-index: 99;
    cursor: pointer;
}

.carousel-prev {
    background-position: 0 0;
    left: 0;
}

.carousel-prev:hover {
    background-position: 0 -56px;
}

.carousel-next {
    background-position: -28px 0;
    right: 0;
}

.carousel-next:hover {
    background-position: -28px -56px;
}

