.bx_filter_vertical.bx_yellow .bx_filter_section{
	background: #f3ebb6;
	border: 7px solid #fbf7db;
}
.bx_filter_vertical.bx_yellow .bx_ui_slider_track{background: #e9e1ab}
.bx_filter_vertical.bx_yellow .bx_ui_slider_range{
	background: url(images/range_bg.png);
}
.bx_filter_vertical.bx_yellow .bx_filter_control_section{text-align: center}
.bx_filter_vertical.bx_yellow .bx_filter_search_button{
	height: 33px;
	color: #896d19;

	background: #f9f8eb;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjhlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2RjYWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f9f8eb 0%, #e3dcae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8eb), color-stop(100%,#e3dcae));
	background: -webkit-linear-gradient(top, #f9f8eb 0%,#e3dcae 100%);
	background: -o-linear-gradient(top, #f9f8eb 0%,#e3dcae 100%);
	background: -ms-linear-gradient(top, #f9f8eb 0%,#e3dcae 100%);
	background: linear-gradient(to bottom, #f9f8eb 0%,#e3dcae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8eb', endColorstr='#e3dcae',GradientType=0 );

	line-height:33px;
}
.bx_filter_vertical.bx_yellow .bx_filter_search_button:hover{background:#e3dcae}
.bx_filter_vertical.bx_yellow .bx_filter_search_button:active{
	background: #e3dcae;
}
.bx_filter_vertical.bx_yellow span.icon_lupe{
	background: url(images/searchicon.png) no-repeat center;
}