.back{background:url(i/menu-bg-blue.png) no-repeat center 119px}
#header .user-links:before{background: url("i/ico-cart-blue.png") repeat scroll 0 0 transparent}
#header .user-links .auth > span:before{background:url(i/ico-auth-blue.png)}
#header .contacts:before{background:url(i/ico-support-blue.png)}
#header .menu{background:url(i/menu-wrapper-bg-blue.png) repeat-x}
#header .menu > ul > li.active > a{background:url(i/menu-active-bg-blue.png) repeat-x}
#header .menu > ul > li.active:before{background:url(i/menu-active-arrow-blue.png) no-repeat}
#header .menu > ul > li.selected:before{background:0 none}
#content .options .desc a:after,#content .options .asc a:after{border-bottom:6px solid #fff}
#content .options .asc a:after{border-top:6px solid #fff;border-bottom:0 none}
#middle .breadcrumbs .sep{background:url(i/separator-blue.png) no-repeat center center}
#content .filters li a:before{background:url(i/filter-remove-blue.png) no-repeat}
#sideLeft .subcategories li.active{background:#83a0f6;color:#fff}
#sideLeft .sizes li.active{border:2px solid #83a0f6}
#sideLeft .brands li.active{background:#83a0f6}
#sideLeft .color li.active{border:3px solid #83a0f6}
#sideLeft .seasons li.active{background:#83a0f6}
#content .options .sorting li.active{background:#83a0f6}
#content .catalog .item .rating .current{background:url(i/rating-star-active-blue.png) repeat-x}
#item .sku .back{background:#83a0f6}
#item .thumbs li.active span{border:3px solid #83a0f6}
.order-filter b{background:#83a0f6;color:#fff}
#content .step{color:#83a0f6}
#content .step .sep{background:url(i/step-sep-blue.png) no-repeat}
#header .menu > ul > li > a{color:#fff;border-left:1px solid #6880c7;border-right:1px solid #879cdc}
#header .menu .selected a{color:#000}
#sideLeft .subcategories li.active a{color:#fff}
#sideLeft .brands li.active a{color:#fff}
#sideLeft .seasons li.active a{color:#fff}
#content .options .sorting li.active a{color:#fff;background:#83a0f6}
#auth .close{background:#6580d2}
#auth .close a{color:#fff}
#auth .login-links li:first-child{border-right:1px solid #83a0f6}
#item .rating .review-value{background:url(i/star-big-blue.png)}
#content #item .star-rating-on,#content #item .star-rating-hover{background:url(i/star-ico-blue.png)}
#id-cart-list{border:7px solid #83a0f6}
#order_form{border:7px solid #83a0f6}
.cart-buttons:before{background:url(i/ico-confirm-blue.png) no-repeat}
.ui-slider-range{background:url(i/ui-slider-range-bg-blue.png) repeat-x}
#header .menu .sub-menu a:hover{color:#7984d1}
.categories-full a{color:#83a0f6}
.categories-full ul.sub-menu li.more:after{background:url(i/more-link-blue.png) no-repeat}
.categories-full ul.sub-menu li a:hover{color:#fff}
#footer .navigation .sub-menu a:hover{color:#7984d1 !important}
#item-sidebar .block li a:hover span,#content #item li.active{border-color:#83a0f6}
#auth input[type="submit"],.dialog input[type="submit"]{background:#92a8eb;border:1px solid #7984d1;color:#fff;text-shadow: 1px 1px 0px #5e6da4;filter: dropshadow(color=#5e6da4, offx=1, offy=1)}
.cart-buttons input[type="submit"]{color:#fff;background:#91a7ea;border:1px solid #7984d1;text-shadow: 1px 1px 0px #4c5885;filter: dropshadow(color=#4c5885, offx=1, offy=1)}
#order_form .order-buttons input[type="button"], #order_form .order-buttons input[type="submit"]{color:#fff;background:#91a7ea;border:1px solid #7984d1;text-shadow: 1px 1px 0px #4c5885;filter: dropshadow(color=#4c5885, offx=1, offy=1)}
#message .button{color:#fff;background:#91a7ea;border:1px solid #7984d1;text-shadow: 1px 1px 0px #4c5885;filter: dropshadow(color=#4c5885, offx=1, offy=1)}