div.title-search-result {
	border:1px solid #94bfdc;
	display:none;
	overflow:hidden;
	z-index:205;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(25, 80, 118, 0.6);
    -moz-box-shadow: 0 3px 10px 0 rgba(25, 80, 118, 0.6);
    -webkit-box-shadow: 0 3px 10px 0 rgba(25, 80, 118, 0.6);
}

table.title-search-result {
	border-collapse: collapse;
	border:none;
}

table.title-search-result th {
	background-color:#eaf2f8;
	color:#949494;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:20px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:4px;
	text-align:left;
	white-space:nowrap;
}

table.title-search-result td.title-search-item {
	padding-left:8px;
	padding-right:15px;
}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	color:#000;
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item img {
	position: relative;
    top: -2px;
    margin-right: 5px;
}

table.title-search-result td.title-search-item b {
	color:#0055aa;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	background-color:#eaf2f8;
}

table.title-search-result td.title-search-more {
	font-size:12px;
	font-weight:normal;
	padding-right:15px;
	padding-left:10px;
	padding-top:4px;
}

table.title-search-result td.title-search-more a
{
	padding-left:12px;
	padding-right:15px;
	text-decoration:none;
	color:#999999;
}

table.title-search-result td.title-search-all {
	padding-left:17px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#0055aa;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	/*display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;*/
	position:absolute;
}

/* search.title
-----------------------------------------------------------------------------*/


#emarket-search {
	margin: 0 0 0 21px;
	float: left;
	width: 620px;
	border: 1px solid #94bfdc;
	height: 33px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#emarket-search-input {
	float: left;
	border: none;
	outline: none;
	-webkit-appearance: none;
	width: 534px;
	background: #fff;
	padding: 5px 10px;
	height: 23px;
	vertical-align: middle;
}
#emarket-search .submit {
	float: right;
	position:relative;
	border:1px solid #94bfdc;
	cursor:pointer;
	margin: -1px -1px 0 0;
	width: 64px;
	height: 33px;
	background:none;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#emarket-search .submit input{
	cursor:pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0;
	outline: 0;
	width: 64px;
	height: 33px;
	font-size: 16px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
	background: none;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #8CBE41),
		color-stop(1, #638E23)
	);
	background-image: -o-linear-gradient(bottom, #8CBE41 0%, #638E23 100%);
	background-image: -moz-linear-gradient(bottom, #8CBE41 0%, #638E23 100%);
	background-image: -webkit-linear-gradient(bottom, #8CBE41 0%, #638E23 100%);
	background-image: -ms-linear-gradient(bottom, #8CBE41 0%, #638E23 100%);
	background-image: linear-gradient(to bottom, #8CBE41 0%, #638E23 100%);
}