.header_wrap{
	background:url(images/header_bg.jpg) top;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjIiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=),url(images/header_bg.jpg) top;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.22)),color-stop(1%,rgba(0,0,0,0.22)),color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))),url(images/header_bg.jpg) top;
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.22) 0%,rgba(0,0,0,0.22) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%),      url(images/header_bg.jpg) top;
	background:   -moz-linear-gradient(top,rgba(0,0,0,0.22) 0%,rgba(0,0,0,0.22) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%),      url(images/header_bg.jpg) top;
	background:    -ms-linear-gradient(top,rgba(0,0,0,0.22) 0%,rgba(0,0,0,0.22) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%),      url(images/header_bg.jpg) top;
	background:     -o-linear-gradient(top,rgba(0,0,0,0.22) 0%,rgba(0,0,0,0.22) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%),      url(images/header_bg.jpg) top;
	background:        linear-gradient(to bottom,rgba(0,0,0,0.22) 0%,rgba(0,0,0,0.22) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%),url(images/header_bg.jpg) top;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38000000', endColorstr='#00000000',GradientType=0 );
}

.header_inner_bottom_line_container{
	background: rgb(56,80,100);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4NTA2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjMxM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(56,80,100,1) 0%, rgba(34,49,61,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,80,100,1)), color-stop(100%,rgba(34,49,61,1)));
	background: -webkit-linear-gradient(top, rgba(56,80,100,1) 0%,rgba(34,49,61,1) 100%);
	background: -o-linear-gradient(top, rgba(56,80,100,1) 0%,rgba(34,49,61,1) 100%);
	background: -ms-linear-gradient(top, rgba(56,80,100,1) 0%,rgba(34,49,61,1) 100%);
	background: linear-gradient(to bottom, rgba(56,80,100,1) 0%,rgba(34,49,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385064', endColorstr='#22313d',GradientType=0 );
}
.header_inner_bottom_line{background: none}

 /* ---- INC ABOUT FOOTER ---- */
.bx_inc_about_footer p{color: #4c4a3f}
.bx_inc_about_footer a{color: #0073a3}

/* FOOTER WRAP */
.bottom_wrap{
	background:url(images/lightblue_bg.png);
	box-shadow:inset 0 -3px 6px rgba(0,0,0,.25), inset 0 12px 11px -10px rgba(0,0,0,.2);
}


.footer_wrap{background:url(images/header_bg.jpg)}
.footer_contact{
	color: #572c05;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}

.bx_title_section.stars .icon{background:url(images/stars.png) no-repeat center left}
.bx_title_section.time  .icon{background:url(images/time.png)  no-repeat center left}

/*Component top nav*/
.bx_topnav{
	margin: 0;
	padding: 16px 0 5px;
}
.bx_topnav li{
	display: inline-block;
	margin-right: 2%;
}
.bx_topnav li a{
	color:#000;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
	text-decoration: none;
	font-size: 14px;
}
.bx_topnav li a:hover{text-decoration: underline;}
.bx_topnav li a:active{color: #5b4f3c;}

.bx_topnav,
.bx_topnav *{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* component inc_catalog_footer */
.bx_inc_catalog_footer{
	color: #572c05;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}
.bx_inc_catalog_footer h3{
	background: url(images/footer_h4_bg.png) repeat-x bottom;
}
.bx-touch .bx_inc_catalog_footer h3{
	background: url(images/x2footer_h4_bg.png) repeat-x bottom;
}
.bx_inc_catalog_footer ul li a{
	color: #572c05;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}


/* component inc_menu_footer */
.bx_inc_menu_footer{
	color:#572c05;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}
.bx_inc_menu_footer h3{
	background: url(images/footer_h4_bg.png) repeat-x bottom;
}
.bx-touch .bx_inc_menu_footer h3{
	background: url(images/x2footer_h4_bg.png) repeat-x bottom;
}
.bx_inc_menu_footer ul li a{
	color: #572c05;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}

.copyright{
	color: #572C05;
}
