table.parents-question
{
	width:100%;
	background-color:#fff;
	border-collapse:collapse;
	font-weight:normal;
}

table.parents-question th, table.parents-question td
{
	padding: 0px 5px;
	padding-top:15px;
	padding-bottom:0px;
	vertical-align:top;
}

table.parents-question th
{
	padding-top:19px;
	text-align: left;
	color:grey;
}

table.parents-question td input[type=text],
table.parents-question td select,
table.parents-question td textarea
{
	border:1px solid #D4CBC8;
	color: #383A3C;
	padding:3px 5px;
	background-color:#F6F6F6;
}

.form-required{color: red;}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}