.search {
  
  &__form {
    position: relative;
  }

 &__input {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 4px;
    transition: border-color 0.2s ease 0s, background-color 0.2s ease 0s;
    z-index: 5;
  }
  
  &__btn {
    background-color: transparent;
    border: 0 none;
    bottom: 0;
    height: auto;
    left: 6px;
    margin: 0;
    position: relative;
    top: 0;
    position: absolute;
    z-index: 4;

    .icon-glass {
      fill: $skin0_bg;
      height: 18px;
      width: 18px;
    }
  }
}

.l-header__search {

  .search {

    &__form {
      bottom: 1px;
      left: 16px;
      position: absolute;
      right: 16px;
      top: 1px;
    }
    
    &__input {
      @include placeholder(rgba($skin0_color, .4));
      background-color: transparent;
      box-sizing: border-box;
      border: 0 none;
      height: 100%;
      padding-right: 32px;
      padding-left: 4px;
      position: relative;
      transition: max-width .2s ease, background-color .2s ease,;
      max-width: 0;
      
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      
      
      &:focus {
        @include placeholder($gray-darker);
        background-color: $body-bg;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
        color: $text-color;
        max-width: none;
        width: 100%;
      }
    }
    
    &__input:focus + .search__btn {
      z-index: 6;
      
      .icon-glass {
        fill: $skin0_bg;
      }
    }
    
    &__btn {
      float: right;
      height: 100%;
      left: auto;
      position: relative;
      width: 32px;
      
      .icon-glass {
        fill: rgba($skin0_color, .2);
        height: 22px;
        width: 22px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  
  .l-header__search {

    .search {
    
      &__form {
        bottom: auto;
        left: auto;
        margin: 9px $base-line-height;
        position: relative;
        right: auto;
        top: auto;
      }

      &__input {
        border: 1px solid rgba($skin0_color, .2); // #004A90;
        border-radius: 3px;
        height: 23px;
        max-width: none;
        padding-right: 4px;
        padding-left: 22px;
        position: static;
        
        &:focus {
          border-color: $skin1_bg;
        }
      }

      &__btn {
        left: 6px;
        position: absolute;
	      width: auto;

        .icon-glass {
          fill: rgba($skin0_color, .2);
          height: 14px;
          width: 13px;
        }
      }
      
    }
  }
}