.catalog-compare-result {
    overflow: scroll;
}

.table th, .table td {
    line-height: 1 !important;
    padding: 6px !important;
    border-bottom: none !important;
    border-right: 2px solid white !important;
}

.table td a span {
    display: inline-block;
    padding-right: 3px;
}