.bx-soa-section {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}

.bx-soa-section,
.bx-soa-section.bx-step-completed,
.bx-soa-section.bx-selected {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 0;
  border-radius: 0;
}
.bx-soa-section.bx-step-good {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

.bx-soa-section:not([id$="hidden"]):last-child {
  border-bottom: 1px solid #e2e2e2;
}

.bx-soa-section-title-container {
  background: transparent;
}

.bx-soa-tooltip {
  width: auto;
  background: rgba(0, 0, 0, 0);
  top: -100%;
  left: 0;
  visibility: visible;
}

.bx-soa-section-title-container {
  cursor: pointer;
  padding: 8px 0;
  position: relative;
}

.bx-soa-section:not(.bx-soa-auth) .bx-soa-section-title-container:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  right: 15px;
  font-size: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.bx-soa-section:not(.bx-soa-auth) .is-hide .bx-soa-section-title-container:before {
  -webkit-transform: translateY(-50%) rotate(0);
  -ms-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
}

.form-control, .bx-soa-coupon-input input[type=text].form-control, .bx-sls .form-control.dropdown-block, .bx-slst .form-control.dropdown-block {
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-group .form-control:focus, .bx-soa-coupon-input input[type=text].form-control:focus {
  border-color: #555;
}

.bx-soa-pickup-list-item {
  cursor: pointer;
}

.bx-soa-pp-list li:before {
  display: none;
}

.bx-soa-pp-desc-container .bx-soa-pp-company {
  background-color: transparent;
}

.form-group .bx-sls .bx-ui-sls-fake, .form-group .bx-sls .bx-ui-sls-route {
  margin-top: -5px;
}

.bx-soa-cart-total {
  border: 2px solid #ffe062;
}

.bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container {
  border-color: #ffe062;
}

.bx-soa-pp-company-graf-container, .bx-soa-pp-desc-container .bx-soa-pp-company {
  border-color: #e2e2e2;
}

.bx-soa-section-title {
  padding-left: 15px;
}

.bx-soa-section-title-count {
  display: none;
}

.bx-soa .bx-soa-customer-label, .bx-soa .bx-soa-custom-label, .bx-soa .form-group label {
  color: inherit;
  font-weight: bold;
  font-size: inherit;
}

.bx-soa .bx-soa-persontypes > label {
  font-weight: normal;
  padding: 11.5px 30px;
  color: #555;
}

.bx-soa-persontypes {
  display: inline-block;
  margin-right: 5px;
}

.bx-soa-persontypes label input[type="radio"] {
  position: absolute;
  left: -99999px;
}

.bx-soa-section-title {
  color: #555;
  font-size: 1.1em;
}

.bx-soa-reg-block {
  background: #fff;
}
