input[type="radio"] { *vertical-align: text-bottom; }
input[type="checkbox"] {*vertical-align: baseline; }
input {
    margin: 0;}
* html input { vertical-align: text-bottom; }
form, fieldset {margin:0;padding:0;border:none;}
p {margin:0 0 15px;}
.social, .nav, .level, .docs ul, .breadcrumbs, .opt, .paging, .menu, .list, .sideNav, .secondLevel {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {font:normal 18px 'tahoma';margin:0 0 20px;
    color: #2d3c41;}
h2 {font:normal 18px 'tahoma';margin:0 0 12px;
    color: #2e3a48;}
h2 a {
    color: #1b6493;}
h3 {font:normal 13px 'tahoma';margin:0 0 5px;}
h4 {font:bold 12px 'tahoma';margin:0 0 5px;}
h5 {font:normal 11px 'tahoma';margin:0 0 5px;}
body {
	font:normal 12px/1.5em 'tahoma';
	color:#646464;
	margin:0;
	padding:0;
	background:#fff url("images/bgt.png") 0 0 repeat-x;}
html {}
body, html {
    height: 100%;}
img {border:none;}
/*==================================================================*/
a:link, a:visited {text-decoration:underline;color:#1c7da0;}
a:hover, a:focus {text-decoration:none;color:#1c7da0;}
.wrapper {
    position: relative;
	max-width: 6000px;
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
    height: auto !important;
    min-height: 100%;}
.container {
    width: 1024px;
    margin: 0 auto;}
.content {
    padding:0 0 200px 12px;}
.leftCol {
    float: left;
    width: 227px;
    margin-right: 8px;}
.rightCol {
    float: right;
    width: 175px;
    margin-left: 40px;
    padding-right: 12px;}
.centerCol {
    overflow: hidden;
    zoom: 1;
    padding:0 12px;}
.header {
    width: 1024px;
    padding: 25px 0 12px;}
.logo {
    float: left;
    padding-left: 18px;}
.headerR {
    padding-top: 2px;
    float: right;
    width: 310px;}
.header h1 {
    padding-top: 2px;
    margin: 0 380px 0 254px;}
.opt {
    font-size: 11px;
    margin-bottom: 50px;
    white-space: nowrap;
    text-align: right;}
.opt li {
    display: inline;
    margin-left: 25px;}
.opt li:first-child {
    margin-left: 0;}
.opt a {
    color: #1574b1;}
.search {
    zoom: 1;
    white-space: nowrap;}
.search input[type="text"] {
    border: 1px solid #9ba2a2;
    background: #fff;
    padding: 6px 7px 5px;
    height: 14px;
    font: 11px arial;
    color: #979797;}
.search input {
    width: 221px;}
.search input, .search button {
    vertical-align: top;}
.search button {
    width: 68px;}
.headerTop {
    padding: 0 12px 23px;}
button {
    width: auto;
    cursor: pointer;
    font: 12px arial;
    margin: 0;
    background: none;
    overflow: visible;
    height: 27px;
    color: #595e63;
    border: none;
    text-shadow: #fff 1px 1px 1px;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    padding: 0 8px;}
.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    background: url("images/btn.png") right 100% no-repeat;}
.buttonHelper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 4px;
    background: url(images/btn.png) 0 0 no-repeat;}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner { border : 0px; }
/*for IE8 */
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus { outline : none; }
input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}
button::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}

@-moz-document url-prefix(){
    .button button {}
}

.navInner {
    text-align:justify;
    zoom: 1;
    text-justify:newspaper;
    line-height: 0;
    padding: 0 31px;
    margin: 0 -19px;
    background: #303c4c url(images/nav.png) 0 0 repeat-x;
    font-size: 14px;}
.navItem {
    text-align: left;
    display: inline-block;
   *display: inline;
    zoom: 1;
    line-height: 1;
    background: none;
    position: relative;}
.navInner .under {
    display:inline-block;
    width:100%;
    height: 0;}
.navInner a:link, .navInner a:visited {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 14px;
    padding: 14px 0 10px;
    color: #eeeeee;
    background: none;
    text-decoration: none;}
.navInner .current a {
    text-decoration: none;}
.navInner .navItem .level .current a {
    text-decoration: none;}
.nav {
    position: relative;
    z-index: 99;
    padding-bottom: 18px;}
.nav:before, .nav:after {
    content:'';
    position: absolute;
    width: 19px;
    height: 7px;
    bottom: 11px;
    background:#272e38 url(images/mask.png) 0 0 no-repeat;}
.nav:before {
    background-position: 0 0;
    left: -19px;}
.nav:after {
    background-position: 0 100%;
    right: -19px;}
.level {
    position: absolute;
    top: 100%;
    left: -31px;
    background: #303c4b;
    font-size: 12px;
    padding: 10px 31px 16px;
    display: none;
    z-index: 99;
    white-space: nowrap;}
.level li {
    margin-top: 12px;}
.level li:first-child {
    margin-top: 0;}
.nav .level a:link, .nav .level a:visited {
    color: #fff;
    padding: 0;}
.nav .level a:hover, .nav .level a:active {
    text-decoration: none;}
.navItem:hover .level {
    display: block;}
.navItem:hover .level a {
    color: #fff;}
.headerBot {
    position: relative;
    zoom: 1;
    padding: 20px 12px;}
.headerBot:before {content:'';
    position: absolute;
    height: 2px;
    top: 0;
    left: 12px;
    right: 12px;
    background: url(images/hl.png) 0 0 repeat-x;}
.log {}
.headerBot .log {
    float: left;
    width: 227px;}
.leftCol .log {
    margin-bottom: 15px;}
.leftCol .log .cnt {
    background: #f5f5f5; border-color: #e4e4e4;
}
.userpic {
    float: left;
    width: auto;
    margin-right: 12px;}
.username {
    overflow: hidden;}
.username h5 {
    font: 12px/1 Arial, sans-serif;}
.username h5 a {
    color: #006eb5;}
.username .logout {
    font: 11px Arial, sans-serif;
    color: #d94320;}

.r-star,
.r-star-shape{
	position:relative;
	overflow:hidden;
	padding:18px 0;
}

.r-star,
.r-star-shape .cnt{
	background:url("images/trans.png");
}

.r-star .cnt,
.r-star-shape .cnt{
	padding:9px 22px;
 height: 47px;
 border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7;
}

.r-star .cn,
.r-star-shape .cn{
	position:absolute;
	width:36px;
	height:36px;
	left:-18px;
	top:-18px;
 background:url(images/star.png);
}

.r-star .cn.tr, .r-star .cn.br,
.r-star-shape .cn.tr, .r-star-shape .cn.br {
	margin-left:100%;
}

.r-star .cn.bl, .r-star .cn.br,
.r-star-shape .cn.bl, .r-star-shape .cn.br {
	top:auto;
}

.r-star-shape .cn.tl, .r-star-shape .cn.bl {
	width:100%;
}

.r-star-shape .cn {
 background:url(images/star.png);}

.leftCol .r-star-shape .cn {
 background-image: url(images/star1.png);}

.roundBorder {
    position: relative;}
.roundBorder img {
    display: block;
    border: 1px solid #000;}
.roundBorder .c {
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 3px;
    background-repeat: no-repeat;}
.roundBorder .tl {
    top: 0;
    left: 0;
    background-position: 0 100%;}
.roundBorder .tr {
    top: 0;
    right: 0;
    background-position: 100% 100%;}
.roundBorder .bl {
    bottom: 0;
    left: 0;
    background-position: 0 0;}
.roundBorder .br {
    bottom: 0;
    right: 0;
    background-position: 100% 0;}
.roundBorder1 img {
    border-color: #383a3c;}
.roundBorder1 .c {
    background-image: url("images/bd1.png");}

.menu {
    margin-left: 255px;
    white-space: nowrap;
    *overflow: hidden;}
.menu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin-right: 28px;
    *margin-right: 31px;
    position: relative;}
.menu a {
    display: block;
    width: 227px;
    height: 102px;
    text-decoration: none;}
.m1 a {
    background: url(images/mi1.png) 0 bottom no-repeat;}
.m2 a {
    background: url(images/mi2.png) 0 bottom no-repeat;}
.m3 a {
    background: url(images/mi3.png) 0 bottom no-repeat;}
.menu h2 {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 6px 20px 8px;
    cursor: pointer;
    font:bold 20px Arial, sans-serif;
    color: #3d3835;
    text-shadow: #fff 1px 1px 0;
    -webkit-border-radius:0 0 20px 20px;
	-moz-border-radius:0 0 20px 20px;
	border-radius:0 0 20px 20px;
    behavior:url(PIE.htc);}





.banner {
    margin-bottom: 15px;}

.news .item {
    margin-top: 18px;}
.news .item:first-child {
    margin-top: 0;}
.news .item .img {
    float: left;}
.img img, .i {
    padding: 2px;
    background: #fff;
    -webkit-box-shadow: #bbbbbb 1px 1px 1px;
    -moz-box-shadow: #bbbbbb 1px 1px 1px;
    box-shadow: #bbbbbb 1px 1px 1px;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#bebdbd');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#bebdbd')";
    zoom: 1;
    position: relative;
}
.block .item .txt {
    margin-left: 60px;
    overflow: visible;}
.centerCol .item .txt {
    margin-left: 100px;
    overflow: visible;}
.item p {
    margin: 0;}
.date {
    line-height: 1;
    font-size: 11px;
    color: #858585;
    margin: -10px 0 15px;}
.txt .date {
    margin: 0 0 5px;}
.block {
    padding: 15px 12px;
    margin-bottom: 20px;
    color: #4b4b4b;
    font-size: 11px;
    line-height: 1.4;}
.shifted {
    margin-left: -12px;}
.blockAlt {
    padding-bottom: 15px;
    border-bottom: 1px dotted #a7a7a7;
    margin-bottom: 20px;}

.docs {}
.docs li {
    padding-left: 21px;
    margin-bottom: 9px;}

.about {}
.about img {
    float: left;
    margin: 0 25px 0 0;
    border: 2px solid #d0d0d0;}
.txt {
    overflow: hidden;}
.list {
    margin-left: 10px;}
.list li {
    padding-left: 7px;
    margin-bottom: 3px;}
.list li:before {content:'-\a0';
    margin-left: -7px;}

.poll {
    font-family: arial;}
.poll h5 {
    font-family: arial;
    margin-bottom: 10px;}
.poll .formRow {
    margin-bottom: 12px;}
.poll label {
    margin-left: 4px;}
.poll button {
    font: 11px Arial, sans-serif;
    color: #383a3c;
    width: 105px;}

.sideNav {
    margin-bottom: 15px;
    font-size: 14px;
    padding: 15px 0;}
.sideNav a {
    display: block;
    padding: 5px 24px 6px;
    color: #29313c;
    text-decoration: none;}
.sideNav .secondLevel {
 margin-left: 24px;
}
.sideNav .secondLevel li {
 font-size: 13px;
}
.sideNav .secondLevel a {
 padding: 3px 15px 4px 15px;
}

.sideNav .secondLevel a:before {
 content:'- ';
}

.footer {
    padding-top: 45px;
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #707070;}
.footerInner {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
    padding: 5px 30px 2px;
    *padding-bottom: 5px;
    width: 1000px;
    background: #303c4c url(images/nav.png) 0 0 repeat-x;}
.social {
    margin: 0 376px 0 405px;
    padding-top: 8px;}
.social li {
    display: inline;
    margin-right: 14px;}
.counters {
    float: left;
    width: 155px;}
.counters img {
    margin-right: 14px;}
.btx {
    float: right;
    width: 215px;
    padding-top: 6px;
    color: #eae2e2;
    text-align: right;}
.btx a {
    color: #00c8f5;}
.info {
    float: left;
    width: 380px;
    color: #c7c7c7;
    padding-top: 6px;}
.footerR {
    float: right;
    width: 375px;}
.top {
    margin-bottom: 10px;}
.rss {
    float: right;
    background: url(images/rss.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    text-decoration: none;}
.breadcrumbs {
    font: 11px arial;
    line-height: 1;
    color: #000;
    float: left;
    width: 715px;}
.breadcrumbs li {
    display: inline;
    position: relative;
    margin-right: 2px;}
.breadcrumbs li:after {
    content:' \2192';
    font-size: 14px;}
.paging {
    margin-top: 40px;
    margin-bottom: 25px;}
.paging li, .paging a {
    display: inline-block;
    *display: inline;
    zoom: 1;}
.paging a{
    padding: 3px 6px;}
.paging .current {
    background: #1b6493;}
.paging .current a {
    color: #fff;
    text-decoration: none;
    cursor: default;}
.paging .current a:before {content:'Страница '}
.i {
    float: left;
    margin: 0 13px 10px 0;}
.galleryWrap {background-color: #f1f1f1;}
.share_buttons {
    text-align: right;}



/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
