body{background:url("images/t.jpg") center 0 no-repeat;}
html{background:#fff url("images/bgt.png") 0 0 repeat-x;}
.wrapper{background: url(images/bgb.png) center bottom repeat-x;}
.footer{background: url(images/b.jpg) center 0 no-repeat;}
.nav  a.current {background-color: #207492;}
.nav a.current:before, .nav a.current:after {background: url(images/nav.png) 0 0 no-repeat;}
.nav a.current:after {background-position: 0 -27px;}
.nav a.current d, .nav a.current d1 {background: url(images/nav.png) 0 0 no-repeat;}
.nav a.current d1 {background-position: 0 -27px;}
i.line {background: #b2d3df;}