.news-item {
    margin-bottom: 21px;
}
.news-item h2, .news-item h2 a {
	font-weight: normal;
	font-size: 21px;
        margin-bottom: 10px;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
