table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table_no_border
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
}

/* Table cells and heads*/
table.sale_order_full_table_no_border td
{
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table td {
	vertical-align:middle;
}
table.sale_order_full_table td img {
	margin-right:5px;
}
.sof-req{color:red;}