.agreement-wrapper
{
    margin-top:40px;
    text-align:left;
    display: block !important;
}
.agreement-wrapper .jq-checkbox{
	top: 17px !important;
}

.agreement-wrapper label {
    height:auto !important;
}
.agreement-wrapper a{
    margin-left:20px;
	color:#e6330a !important;
	display:block;
	line-height:1.2;
	
}
.agreement-detail-wrapper
{
    width:500px;
}

input.agreement-input {
	display:block;
	width:20px;
	float:left;
	margin-top:3px;
}