//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  padding-top: ($padding-base-vertical + 1);
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

/* global styles - input[type="text"] and textarea */

.form-control {
  @extend %theme-background4;

  border-radius: $border-radius-base;
  border: 1px solid $gray-light;
  box-shadow: inset 0 1px 1px rgba($gray-base, .075);
  color: $text-color;
  display: block;
  font-size: $base-font-size;
  height: $base-line-height*2;
  line-height: $base-line-height;
  padding: $base-line-height*0.5;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;

  &:focus {
    border-color: $skin0_bg;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

textarea.form-control {
  height: auto;
  min-height: $base-line-height*2;
  overflow-x: hidden;
  padding: em($base-line-height * .5);
  resize: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-group {
  margin-bottom: $base-line-height;
  
  .captcha-img {
    box-sizing: border-box;
    float: right;
    height: $base-line-height*2;
    margin-left: em($base-line-height);
    min-width: 0;
    width: auto;
  }
  
  .pull-right {
    margin-left: em($base-line-height);
  }
  
  .calendar-icon {
    float: right;
  }
}

.has-feedback {
  position: relative;

  .form-control {
    padding-right: ($input-height-base * 1.25);
  }
}

.form-control-feedback {
  display: block;
  height: $input-height-base;
  line-height: $input-height-base;
  position: absolute;
  right: $base-line-height*0.5;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 2;
  
  &:hover {
    text-decoration: none;
  }
}

.rsform {
  
  .btn {
    @extend %theme-btn2;
  }
  
  &-auth {

    &__save {
      float: right;
      margin-left: $base-line-height;
      padding-bottom: $base-line-height*0.5;
      padding-top: $base-line-height*0.5;
    }
  }
  
  & > .form-group:last-child {
    margin-bottom: 0;
  }
}

.typeselect {
  @extend .form-control;
}