// main
$body_color: #231f20;
$color_white: #fff;
$color_black: #000;
$theme_color: #faa61a;
$theme_color_hover: darken($theme_color, 10%);
$theme_color_weel: darken($theme_color, 3%);
$main_background: #ffffff;
// end main

// fonts
$main_font: 'FuturaBookC', Arial, Helvetica, sans-serif;
$main_font_size: 16px;
// end fonts

// color radio
$color_radio: #f4f4f4;
$color_comment: #979797;
$color_border: #ededed;