@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic&subset=latin,cyrillic-ext,cyrillic);

/*CSS-Reset by call007*/
* {margin:0; padding:0;}
input, select, textarea {margin:auto; padding:inherit;}
input {vertical-align:middle;}
html {height:100%;}
body {
	position:relative;
	height:100%;
	min-width:980px;
	color:#939393;
	font-size:13px;
	-moz-transition: font-size 0.2s linear;
	-o-transition: font-size 0.2s linear;
	-webkit-transition: font-size 0.2s linear;
	font-style:normal;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#fff;
	line-height:1.8;
	}
*:focus {outline:none;}
a {
	text-decoration:underline;
	color:#5290E0;
	cursor:pointer;
	}
a:hover {
	color:#467ABC;
	}
img {
	padding:0;
	border:none;
	color:#565656;
	text-decoration:none;
	}
table {
	border-collapse:collapse;
	border-spacing:0;
	}
.clr {
	display:block;
	clear:both;
	height:0px;
	font-size:0px;
	line-height:0px;
	}
::selection {
	color:#7babea;
	background:#cfe4ff;
	}
::-moz-selection {
	color:#7babea;
	background:#cfe4ff;
	}
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.block-left {float:left;}
.block-right {float:right;}
section, header, footer, menu, nav, aside, article, details, summary, figure, figcaption, hgroup {display:block;}
/*End Reset*/

/* index.html */
.wrapper {
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
	}
.content {
	position:relative;
	font-size:96%;
	}
.white-space {
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	}
h1 {
	font-size:280%;
	font-weight:300;
	font-family:'Ubuntu', sans-serif;
	color:#000;
	line-height:1;
	margin-bottom:18px;
	}
h2 {
	font-size:220%;
	font-weight:normal;
	font-family:'Ubuntu', sans-serif;
	color:#000;
	line-height:1;
	}
h3 {
	font-size:188%;
	font-weight:normal;
	font-family:'Ubuntu', sans-serif;
	color:#000;
	line-height:1;
	}
.dashed {
	display:inline-block;
	line-height:1.1;
	text-decoration:none;
	border-bottom:1px dashed;
	}
.bt_gray {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#5290e0;
	padding:4px 17px;
	text-decoration:none;
	font-size:136%;
	line-height:1.4;
	text-shadow:0 1px #f7f7f7;
	font-family:'Ubuntu', sans-serif;
	background: #e1e1e1 url(../images/bt_gray-bg.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#ffffff),
		to(#e1e1e1)
	);
	background: -webkit-linear-gradient(
		top,
		#ffffff,
		#e1e1e1
	);
	background: -moz-linear-gradient(
		top,
		#ffffff,
		#e1e1e1
	);
	background: -o-linear-gradient(
		top,
		#ffffff,
		#e1e1e1
	);
	background: linear-gradient(
		top,
		#ffffff,
		#e1e1e1
	);
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 1px 2px #777;
	-webkit-box-shadow:0 1px 2px #777;
	box-shadow:0 1px 2px #777;
	behavior:url(./PIE.htc);
}
.bt_gray:hover {
	background: #ffffff url(../images/bt_gray-bg-hover.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#ffffff),
		to(#f3f1f1)
	);
	background: -webkit-linear-gradient(
		top,
		#ffffff,
		#f3f1f1
	);
	background: -moz-linear-gradient(
		top,
		#ffffff,
		#f3f1f1
	);
	background: -o-linear-gradient(
		top,
		#ffffff,
		#f3f1f1
	);
	background: linear-gradient(
		top,
		#ffffff,
		#f3f1f1
	);
	}
.bt_gray:active {
	-moz-box-shadow:0 1px 2px #555 inset;
	-webkit-box-shadow:0 1px 2px #555 inset;
	box-shadow:0 1px 2px #555 inset;
	background:#e1e1e1;
	}
.sep {
	display:inline-block;
	vertical-align:middle;
	width:1px;
	height:25px;
	margin:0 15px;
	font-size:0;
	line-height:0;
	background:#e5e5e5;
	}
.descr-img {
	display:block;
	width:22%;
	float:left;
	color:#000;
	font-style:italic;
	font-size:107%;
	margin:0 3%;
	}
article img {
	display:block;
	float:left;
	width:60%;
	height:auto;
	margin-bottom:5px;
	}
.bt_blue {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#5290e0;
	padding:5px 12px 5px;
	text-decoration:none;
	font-size:116%;
	line-height:1.4;
	text-shadow:0 1px #3f88c4;
	color:#fff;
	background: #256eea url(../images/bt_blue-bg.png) 0 0 repeat-x;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#67caf8),
		to(#256eea)
	);
	background: -webkit-linear-gradient(
		top,
		#67caf8,
		#256eea
	);
	background: -moz-linear-gradient(
		top,
		#67caf8,
		#256eea
	);
	background: -o-linear-gradient(
		top,
		#67caf8,
		#256eea
	);
	background: linear-gradient(
		top,
		#67caf8,
		#256eea
	);	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 1px 2px #d7d7d7;
	-webkit-box-shadow:0 1px 2px #d7d7d7;
	box-shadow:0 1px 2px #d7d7d7;
	behavior:url(./PIE.htc);
}
.bt_blue:hover {
	color:#fff;
	background: #195ce8 url(../images/bt_blue-hover-bg.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#73dcfa),
		to(#195ce8)
	);
	background: -webkit-linear-gradient(
		top,
		#73dcfa,
		#195ce8
	);
	background: -moz-linear-gradient(
		top,
		#73dcfa,
		#195ce8
	);
	background: -o-linear-gradient(
		top,
		#73dcfa,
		#195ce8
	);
	background: linear-gradient(
		top,
		#73dcfa,
		#195ce8
	);
	}
.bt_blue:active {
	background:#469CF1;
	}
.bt_green {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:#5290e0;
	padding:5px 12px 5px;
	text-decoration:none;
	font-size:116%;
	line-height:1.4;
	text-shadow:0 1px #3f88c4;
	color:#fff;
	background:#2c9a32 url(../images/bt_green-bg.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#7ada8c),
		to(#2c9a32)
	);
	background: -webkit-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: -moz-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: -o-linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	background: linear-gradient(
		top,
		#7ada8c,
		#2c9a32
	);
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 1px 2px #d7d7d7;
	-webkit-box-shadow:0 1px 2px #d7d7d7;
	box-shadow:0 1px 2px #d7d7d7;
	behavior:url(./PIE.htc);
}
.bt_green:hover {
	color:#fff;
	background:#1caa24 url(../images/bt_green-hover-bg.png) repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#6ce883),
		to(#1caa24)
	);
	background: -webkit-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: -moz-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: -o-linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	background: linear-gradient(
		top,
		#6ce883,
		#1caa24
	);
	}
.bt_green:active {
	background:#3db649;
	}
.send-mail {
	padding-right:36px;
	}
.send-mail img {
	position:absolute;
	right:13px;
	top:28%;
	}
.green-color {
	color:#37cd52;
	}
.gray-color {
	color:#666;
	}
.red-color {
	color:#ff5959;
	}
.checkout-button {
	padding-right:34px;
	float:right;
	top:3px;
	}
.checkout-button img {
	position:absolute;
	right:13px;
	top:5px;
	}

/* .header - Begin */
header {
	font-family:'Ubuntu', sans-serif;
	padding:7px 0 8px;
	margin-bottom:21px;
	font-size:100%;
	background:url(../images/bg_header.gif) 0 100% repeat-x;
	}
header .bg {
	overflow:hidden;
	padding-bottom:13px;
	border-bottom:1px solid #eeeeee;
	}
header .logo {
	float:left;
	font-size:270%;
	color:#5391e0;
	padding-right:30px;
	}
header .logo a {
	color:#5391e0;
	text-decoration:none;
	}
header .logo a:hover {
	color:#467abc;
	}
header .total-box {
	float:right;
	text-align:right;
	padding:10px 0 7px;
	}
header .total-box p {
	display:inline-block;
	vertical-align:middle;
	text-decoration:none;
	}
header .phone {
	color:#202020;
	font-size:190%;
	padding-left:21px;
	background:url(../images/icon-phone.gif) 0 50% no-repeat;
	}
header .call-order a {
	color:#5290e0;
	text-decoration:none;
	padding-left:19px;
	background:url(../images/icon-order-call.gif) 0 80% no-repeat;
	}
header .call-order a span {
	display:inline-block;
	border-bottom:1px dashed;
	line-height:1.1;
	}
header .call-order a:hover {
	color:#467abc;
	}
header .link-login {
	font-size:120%;
	}
header .link-login a {
	text-decoration:none;
	padding-right:16px;
	color:#000;
	background:url(../images/icon-login.gif) 100% 80% no-repeat;
	}
header .link-login a span {
	display:inline-block;
	border-bottom:1px dashed;
	line-height:1.1;
	}
header .link-login a:hover {
	color:#5391E0;
	}
/* .header - End */



/* .experience - Begin */
.experience {
	position:relative;
	font-size:123%;
	color:#000;
	padding:14px 22px 13px 14px;
	margin-bottom:29px;
	background:#f7f7f7;
	line-height:1.4;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	-moz-box-shadow:0 1px 1.4px #a5a5a5;
	-webkit-box-shadow:0 1px 1.4px #a5a5a5;
	box-shadow:0 1px 1.4px #a5a5a5;
	behavior:url(./PIE.htc);
	}
.experience .close {
	position:absolute;
	right:5px;
	top:6px;
	width:12px;
	height:12px;
	cursor:pointer;
	background:url(../images/bg_close-experience.gif) 0 0 no-repeat;
	}
.experience .close:hover {
	background-position:0 -12px;
	}
/* .experience - End */

/* .search - Begin */
.search {
	position:relative;
	color:#fff;
	padding:0 6px;
	background:#7babea;
	overflow:hidden;
	margin-bottom:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-moz-box-shadow:0 2px 2px #5677a2 inset;
	-webkit-box-shadow:0 2px 2px #5677a2 inset;
	box-shadow:0 2px 2px #5677a2 inset;
	behavior:url(./PIE.htc);
	}
.search label {
	display:block;
	overflow:hidden;
	padding-left:37px;
	background:url(../images/bg_search.gif) 11px 50% no-repeat;
	}
.search label input {
	width:100%;
	margin:0;
	padding:10px 0 11px;
	border:none;
	background:none;
	color:#fff;
	font-family:'Ubuntu', sans-serif;
	font-weight:300;
	font-style:italic;
	font-size:134%;
	line-height:1.18;
	}
.search .bt_gray {
	float:right;
	margin:5px 0 5px 7px;
	}
/* .search - End */

/* .catalog-list - Begin */
.catalog-list {
	overflow:hidden;
	}
.catalog-list .box {
	width:25%;
	*width:24.9%;
	height:155px;
	display:inline-block;
	vertical-align:top;
	border-bottom:1px solid #e5e5e5;
	padding-top:20px;
	margin-bottom:-1px;
	overflow:hidden;
	}
.catalog-list .box .narrow {
	padding:4px 0 4px 12px;
	margin:0 11px;
	background:url(../images/bg_catalog-list-title.gif) 0 0 no-repeat;
	}
.catalog-list .title {
	width:100%;
	text-overflow:
	margin-left:-1px;
	line-height:1;
	font-size:112%;
	font-family:'Ubuntu', sans-serif;
	font-weight:300;
	color:#202020;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url(text-overflow.xml#ellipsis);
	}
.catalog-list .title strong {
	font-weight:300;
	}
.catalog-list .title a {
	text-decoration:none;
	font-size:236%;
	color:#000;
	}
.catalog-list .title a:hover {
	color:#5391E0;
	}
.catalog-list nav {
	font-size:104%;
	line-height:1.7;
	padding-top:7px;
	}
.catalog-list nav a {
	color:#a2a2a2;
	margin-right:15px;
	white-space:nowrap;
	}
.catalog-list nav a:hover {
	color:#888;
	}
/* .catalog-list - End */

/* .hot-deals - Begin */
.hot-deals {
	margin-bottom:26px;
	background:#f5f5f5 url(../images/bg_hot-deals-t.gif) 0 0 repeat-x;
	}
.column-wrap {
	position:relative;
	margin:0 -11px;
	list-style-type:none;
	}
.column-wrap .box {
	display:inline-block;
	vertical-align:top;
	}
.hot-deals .bg {
	min-height:50px;
	padding:22px 0 16px;
	background:url(../images/bg_hot-deals-b.gif) 0 100% repeat-x;
	}
.hot-deals h3 {
	margin-bottom:21px;
	}
.hot-deals .box {
	display:inline-block;
	vertical-align:top;
	width:25%;
	*width:24.9%;
	padding-bottom:14px;
	}
.hot-deals .box .narrow {
	position:relative;
	background:#fff;
	margin:0 11px;
	border-right:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #d9d9d9;
	-moz-box-shadow:0 1px 1px #e3e3e3;
	-webkit-box-shadow:0 1px 1px #e3e3e3;
	box-shadow:0 1px 1px #e3e3e3;
	behavior:url(./PIE.htc);
	}
.hot-deals .box .title {
	overflow:hidden;
	}
.hot-deals .box .title a {
	position:relative;
	display:block;
	overflow:hidden;
	font-size:128%;
	color:#6c8087;
	text-decoration:none;
	padding:10px 9px 10px;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e6e7e7;
	line-height:1;
	white-space:nowrap;
	background:#fafbfb url(../images/bg_deals-title.gif) 0 100% repeat-x;
	}
.hot-deals .box .title a:hover {
	color:#555;
	}
.hot-deals .box .title a i {
	position:absolute;
	z-index:2;
	right:0;
	bottom:0;
	width:20px;
	height:35px;
	background:url(../images/bg_deals-title-hidden.png) 0 0 no-repeat;
	}
.hot-deals .box .title .price {
	display:block;
	float:right;
	white-space:nowrap;
	color:#5290e0;
	font-weight:bold;
	font-size:119%;
	line-height:1;
	padding:11px 9px 12px;
	}
.hot-deals .box .wrap {
	position:relative;
	min-height:90px;
	}
.hot-deals .box .wrap .type {
	position:absolute;
	z-index:2;
	left:-6px;
	bottom:0;
	padding:1px 9px;
	color:#fff;
	font-size:130%;
	background:#ccc;
	}
.hot-deals .box .wrap .type i {
	position:absolute;
	left:0;
	top:-6px;
	width:6px;
	height:6px;
	font-size:0;
	line-height:0;
	}
.hot-deals .box .wrap .type.discount {
	background:#37cd52;
	}
.hot-deals .box .wrap .type.discount i {
	background:url(../images/bg_deals-type1.gif) 0 0 no-repeat;
	}
.hot-deals .box .wrap .type.action {
	background:#f89b2e;
	}
.hot-deals .box .wrap .type.action i {
	background:url(../images/bg_deals-type2.gif) 0 0 no-repeat;
	}
.hot-deals .box .wrap .type.new {
	background:#16b7ff;
	}
.hot-deals .box .wrap .type.new i {
	background:url(../images/bg_deals-type3.gif) 0 0 no-repeat;
	}
.hot-deals .box .wrap .type.leader {
	background:#f84f2e;
	}
.hot-deals .box .wrap .type.leader i {
	background:url(../images/bg_deals-type4.gif) 0 0 no-repeat;
	}
.hot-deals .box .img {
	overflow:hidden;
	text-align:center;
	margin-top:10px;
	margin-bottom:2px;
	padding-bottom:5px;
	border-bottom:1px solid #e8e8e8;
	}
.hot-deals .box .img span {
	display:table;
	width:100%;
	height:167px;
	}
.hot-deals .box .img a {
	display:table-cell;
	height:160px;
	vertical-align:middle;
	}
.hot-deals .box .img a b {
	display:block;
	padding:0 10px;
	margin:0 auto;
	}
.hot-deals .box .img a img {
	width:100%;
	height:auto;
	}
.hot-deals .box ul {
	list-style-type:none;
	padding:12px;
	color:#818486;
	}
.hot-deals .box ul li {
	padding-left:21px;
	padding-bottom:3px;
	background:url(../images/bg_marker.gif) 0 12px no-repeat;
	}
/* .hot-deals - End */

/* .info-description - Begin */
.info-description {
	overflow:hidden;
	}
.info-description .box {
	display:inline-block;
	vertical-align:top;
	width:50%;
	*width:49.9%;
	margin-bottom:15px;
	}
.info-description .box .narrow {
	padding:0 11px 5px;
	}
.info-description h2 {
	margin-bottom:12px;
	}
.info-description h2 img {
	position:relative;
	top:6px;
	}
.info-description .box.eq1 .narrow {
	padding-right:13px;
	border-right:1px dotted #e5e5e5;
	background:#fff;
	}
.info-description .box.eq2 .narrow {
	padding-left:13px;
	margin-left:-1px;
	border-left:1px dotted #e5e5e5;
	background:#fff;
	}
/* .info-description - End */

/* footer - Begin */
footer {
	overflow:hidden;
	margin-top:50px;
	height:140px;
	font-size:100%;
	}
footer .bg {
	padding-top:13px;
	border-top:1px solid #e5e5e5;
	}
footer a {
	color:#a7a9aa;
	}
footer a:hover {
	color:#888;
	}
footer .copyright {
	float:left;
	padding-right:60px;
	padding-top:2px;
	}
footer nav {
	float:left;
	}
footer nav a {
	display:inline-block;
	vertical-align:middle;
	}
footer nav a:hover {
	color:#888;
	}
footer nav .sep {
	height:20px;
	margin:0 13px;
	}
footer address {
	float:right;
	font-style:normal;
	padding-left:30px;
	margin-top:-3px;
	}
footer address p {
	display:inline-block;
	vertical-align:middle;
	}
footer address .phone {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:146%;
	padding-left:17px;
	background:url(../images/icon-phone-footer.gif) 0 50% no-repeat;
	}
footer address .call-order a {
	text-decoration:none;
	padding-left:19px;
	background:url(../images/icon-order-call-footer.gif) 0 80% no-repeat;
	}
footer address .call-order a span {
	display:inline-block;
	border-bottom:1px dashed;
	line-height:1.1;
	}
/* footer - End */

/* .view-pictures - Begin */
.view-pictures {
	margin-bottom:10px;
	}
.view-pictures .box {
	height:115px;
	}
.view-pictures .box .img {
	float:left;
	width:86px;
	}
.view-pictures .box .title {
	width:auto;
	overflow:hidden;
	font-size:90%;
	padding:21px 0 4px 12px;
	background:url(../images/bg_catalog-list-title.gif) 0 17px no-repeat;
	}
.view-pictures .box .title a {
	text-decoration:underline;
	}
.view-pictures .box .narrow {
	padding:0;
	background:none;
	}
/* .view-pictures - End */

/* .bread-crumbs - Begin */
.bread-crumbs {
	color:#bebebe;
	font-family:'Open Sans', sans-serif;
	margin-top:-12px;
	margin-bottom:16px;
	}
.bread-crumbs i {
	position:relative;
	top:-1px;
	display:inline-block;
	width:17px;
	height:5px;
	margin:0 6px;
	background:url(../images/bg_bread-crumbs-arrow.gif) 0 0 no-repeat;
	}
.bread-crumbs a {
	color:#959595;
	}
.bread-crumbs a:hover {
	color:#666;
	}
/* .bread-crumbs - End */

/* .search-tags - Begin */
.search-tags {
	float:right;
	font-family:'Open Sans', sans-serif;
	white-space:nowrap;
	padding-left:15px;
	padding-top:8px;
	margin-bottom:21px;
	}
.search-tags span {
	display:inline-block;
	vertical-align:middle;
	font-size:116%;
	}
input.inp-text {
	position:relative;
	width:166px;
	margin:0;
	font-family:'Open Sans', sans-serif;
	font-size:100%;
	color:#959595;
	padding:3px 5px;
	line-height:1.18;
	border:1px solid #d9d9d9;
	background:#fff;
	margin-left:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 1px 1px #ddd inset;
	-webkit-box-shadow:0 1px 1px #ddd inset;
	box-shadow:0 1px 1px #ddd inset;
	behavior:url(./PIE.htc);
	}
input.inp-text:focus {
	color:#000;
	background:#f8fbff;
	}
/* .search-tags - End */

/* .article-list - Begin */
.article-list {
	clear:both;
	border-top:1px dotted #e5e5e5;
	}
.article-list h2 {
	font-size:180%;
	margin-bottom:17px;
	font-family:'Open Sans', sans-serif;
	}
.article-list h2 a {
	color:#000;
	}
.article-list h2 a:hover {
	color:#5290E0;
	}
.article-list article {
	padding:22px 0;
	border-bottom:1px dotted #e5e5e5;
	}
article {
	color:#818486;
	clear:both;
	overflow:hidden;
	}
/* .article-list - End */

/* .pagenav - Begin */
.pagenav {
	text-align:center;
	font-size:138%;
	line-height:1;
	padding-top:30px;
	padding-bottom:10px;
	}
.pagenav a {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	padding:6px 9px;
	margin:0 2px;
	color:#fff;
	text-decoration:none;
	text-shadow:0 -1px #3a80c6;
	background:#469cf1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	behavior:url(./PIE.htc);
	}
.pagenav a:hover {
	background:#237ef9;
	}
.pagenav a.hidden, .pagenav a.active {
	text-shadow:0 -1px #a4aab0;
	cursor:default;
	background:#c4ccd3;
	}
.pagenav a.bt_prev {
	width:8px;
	height:9px;
	font-size:0;
	overflow:hidden;
	text-indent:20px;
	padding:0;
	background:url(../images/bg_pagenav.gif) 0 0 no-repeat;
	}
.pagenav a.bt_prev:hover {
	background-position:0 -9px;
	}
.pagenav a.bt_prev.hidden {
	background-position:0 -18px;
	}
.pagenav a.bt_next {
	width:8px;
	height:9px;
	font-size:0;
	overflow:hidden;
	text-indent:20px;
	padding:0;
	background:url(../images/bg_pagenav.gif) -8px 0 no-repeat;
	}
.pagenav a.bt_next:hover {
	background-position:-8px -9px;
	}
.pagenav a.bt_next.hidden {
	background-position:-8px -18px;
	}
/* .pagenav - End */

/* .other-articles - Begin */
.other-articles {
	overflow:hidden;
	padding-top:11px;
	border-top:1px solid #e5e5e5;
	margin-top:27px;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	}
.other-articles .title {
	font-size:130%;
	line-height:1.5;
	}
.other-articles .subtitle {
	font-size:108%;
	margin-bottom:8px;
	}
.other-articles .subtitle img {
	margin-right:2px;
	}
.other-articles .box {
	display:inline-block;
	vertical-align:top;
	width:50%;
	*width:49.9%;
	margin-bottom:15px;
	}
.other-articles .box .narrow {
	padding:0 25px 5px;
	}
.other-articles .box.eq1 .narrow {
	border-right:1px dotted #e5e5e5;
	background:#fff;
	}
.other-articles .box.eq2 .narrow {
	margin-left:-1px;
	border-left:1px dotted #e5e5e5;
	background:#fff;
	}
/* .other-articles - End */

/* .item - Begin */
.item {
	position:relative;
	min-height:130px;
	padding:32px 0;
	border-bottom:1px solid #e5e5e5;
	color:#818486;
	line-height:1.7;
	clear:both;
	background:#fff;
	}
.item .img {
	position:relative;
	float:left;
	width:196px;
	border:1px solid #e8e8e8;
	line-height:1.2;
	margin-right:3%;
	margin-top:1px;
	background:url(../js/royalslider/preloaders/preloader-white.gif) 50% 50% no-repeat;
	}
.item .img.open {
	width:60%;
	height:auto;
	}
.item .img.open .royalSlider {
	overflow:hidden;
	}
.item .img .royalSlider {
	display:none;
	}
.item .img .preview img {
	max-width:100% !important;
	width:auto;
	height:auto;
	margin:0 auto;
	}
.item .img .preview {
	text-align:center;
	}
.item .img .preview a {
	display:block;
	vertical-align:middle;
	padding:10px;
	}
.item .summary {
	overflow:hidden;
	padding-bottom:2px;
	}
.item h2 {
	color:#000;
	font-size:180%;
	font-family:'Open Sans', sans-serif;
	line-height:1.3;
	margin-bottom:6px;
	}
.item h2 a {
	color:#000;
	text-decoration:none;
	border-bottom:1px dashed;
	}
.item h2 a:hover {
	color:#5391E0;
	}
.item .price {
	font-size:148%;
	color:#5391E0;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	margin-bottom:3px;
	}
.item .price .new {
	color:#37cd52;
	}
.item .price .old {
	font-size:14px;
	text-decoration:line-through;
	margin-right:8px;
	color:#cfcfcf;
	}
.item p {
	margin-bottom:12px;
	}
.item .title-container {
	display:none;
	padding-bottom:13px;
	}
.item .title-container .title {
	display:inline;
	color:#000;
	font-size:180%;
	font-family:'Open Sans', sans-serif;
	line-height:1.3;
	margin-right:16px;
	}
.item .title-container .title a {
	text-decoration:none;
	border-bottom:1px dashed;
	color:#000;
	}
.item .title-container .title a:hover {
	color:#5391E0;
	}
.item .title-container .price {
	display:inline;
	margin-bottom:0;
	white-space:nowrap;
	}
.bt_card {
	zoom:1;
	position:relative;
	display:inline-block;
	vertical-align:middle;
	height:29px;
	font-size:14px;
	line-height:29px;
	color:#fff;
	text-decoration:none;
	text-shadow:0 -1px #4590c6;
	padding:0 12px;
	margin-right:30px;
	background:#4095f0 url(../images/bg_bt-card.gif) 0 0 repeat-x;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.bt_card:hover {
	color:#fff;
	background-position:0 -29px;
	}
.bt_card:active {
	background:#469cf1;
	}
.bt_card i {
	position:absolute;
	width:32px;
	height:31px;
	top:0;
	right:-26px;
	background:url(../images/bg_bt-card-arrow-ie.gif) 0 0 no-repeat;
	}
.bt_card:hover i {
	background-position:0 -31px;
	}
.bt_card:active i {
	background-position:0 -62px;
	}
.remove-favorites {
	display:inline-block;
	vertical-align:middle;
	height:12px;
	color:#babbbc;
	margin:10px 0 10px 3px;
	padding-left:18px;
	font-size:90%;
	font-size:11px;
	line-height:1.1;
	background:url(../images/bg_remove-favorites.gif) 0 0 no-repeat;
	}
.remove-favorites:hover {
	color:#888;
	}
.add-favorites {
	display:inline-block;
	vertical-align:middle;
	height:12px;
	color:#babbbc;
	margin:10px 0 10px 3px;
	padding-left:18px;
	font-size:90%;
	font-size:11px;
	line-height:1.1;
	background:url(../images/bg_add-favorites.gif) 1px 0 no-repeat;
	}
.add-favorites:hover {
	color:#888;
	}
.in-favorites {
	display:inline-block;
	vertical-align:middle;
	height:12px;
	color:#f89b2e;
	margin:10px 0 10px 3px;
	padding-left:18px;
	font-size:90%;
	font-size:11px;
	line-height:1.1;
	background:url(../images/bg_in-favorites.gif) 1px 0 no-repeat;
	}
.in-favorites:hover {
	color:#ff8a00;
	}
.item .type {
	position:absolute;
	z-index:2;
	left:-6px;
	bottom:-1px;
	padding:5px 9px;
	color:#fff;
	font-size:130%;
	white-space:nowrap;
	background:#ccc;
	}
.item .type i {
	position:absolute;
	left:0;
	top:-6px;
	width:6px;
	height:6px;
	font-size:0;
	line-height:0;
	}
.item .type.discount {
	background:#37cd52;
	}
.item .type.discount i {
	background:url(../images/bg_deals-type1.gif) 0 0 no-repeat;
	}
.item .type.action {
	background:#f89b2e;
	}
.item .type.action i {
	background:url(../images/bg_deals-type2.gif) 0 0 no-repeat;
	}
.item .type.new {
	background:#16b7ff;
	}
.item .type.new i {
	background:url(../images/bg_deals-type3.gif) 0 0 no-repeat;
	}
.item .type.leader {
	background:#f84f2e;
	}
.item .type.leader i {
	background:url(../images/bg_deals-type4.gif) 0 0 no-repeat;
	}
.item .type.question {
	padding-right:33px;
	}
.item .type img {
	position:absolute;
	margin-left:7px;
	margin-top:1px;
	}
.item .type a, .item .type a:hover {
	color:#fff;
	text-decoration:none;
	}
.item .description-extended {
	display:none;
	padding-top:14px;
	}
.item .hide-icon {
	position:absolute;
	right:0;
	top:0;
	width:53px;
	height:29px;
	cursor:pointer;
	background:url(../images/bg_item-hide-icon.gif) 0 0 no-repeat;
	}
.item .hide-icon:hover {
	background-position:0 -29px;
	}
.features {
	padding-top:11px;
	border-top:1px dotted #e5e5e5;
	}
.features p {
	margin-bottom:0;
	}
.features span {
	color:#000;
	}
.features .hide {
	padding-bottom:5px;
	}
.features .hide .ellipsis {
	display:block;
	line-height:1;
	}
.features .hide div {
	display:none;
	}
.amount-card {
	position:relative;
	display:inline-block;
	vertical-align:middle;	
	}
.amount-card span {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	font-size:116%;
	color:#6c6c6c;
	}
.amount-card .remove-card {
	height:28px;
	margin-right:4px;
	}
.amount-card .remove-card a {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	margin-left:-32px;
	width:32px;
	height:30px;
	overflow:hidden;
	font-size:0px;
	text-indent:30px;
	background:url(../images/bg_bt_remove-card.gif) 0 0 no-repeat;
	}
.amount-card .remove-card a:hover {
	background-position:0 -30px;
	}
.amount-card .remove-card a:active {
	background-position:0 -60px;
	}
.amount-card input {
	width:25px;
	height:20px;
	padding-right:30px;
	behavior:none;
	line-height:20px;
	}
/* .item - End */

/* .send-mail-favorites - Begin */
.send-mail-favorites {
	margin-top:-1px;
	padding-bottom:11px;
	}
.send-mail-favorites h1 {
	position:relative;
	top:-4px;
	display:inline-block;
	vertical-align:middle;
	margin:5px 0;
	margin-right:3px;
	}
.send-mail-favorites .icon-arrow {
	display:inline-block;
	vertical-align:middle;
	margin:5px 4px;
	}
.send-mail-favorites input {
	width:134px;
	margin:5px 0;
	margin-right:6px;
	}
.send-mail-favorites .bt_blue {
	margin:5px 0;
	}
/* .send-mail-favorites - End */

/* #sortable - Begin */
#sortable .item {
	padding-right:50px;
	}
#sortable .ui-state-default {
	margin-top:-1px;
	border-top:1px solid #e5e5e5;
	}
.sortable-control {
	position:absolute;
	right:0;
	top:0;
	width:32px;
	height:100%;
	background:#f5f5f5 url(../images/bg_sortable-control-c.gif) 50% 50% no-repeat;
	}
.sortable-control:hover {
	background-color:#eaeaea;
	}
.sortable-control .bg_t {
	position:absolute;
	width:100%;
	height:50%;
	top:0;
	left:0;
	cursor:pointer;
	}
.sortable-control .bg_t i {
	position:absolute;
	left:9px;
	top:47px;
	width:14px;
	height:10px;
	background:url(../images/bg_sortable-control-t.png) 50% 0 no-repeat;
	}
.sortable-control .bg_t.hidden i {
	background-position:50% -10px;
	}
.sortable-control .bg_b {
	position:absolute;
	width:100%;
	height:50%;
	bottom:0;
	left:0;
	cursor:pointer;
	}
.sortable-control .bg_b i {
	position:absolute;
	left:9px;
	bottom:47px;
	width:14px;
	height:10px;
	background:url(../images/bg_sortable-control-b.png) 50% 0 no-repeat;
	}
.sortable-control .bg_b.hidden i {
	background-position:50% -10px;
	}
.sortable-control a.hidden {
	cursor:default;
	}
.sortable-control b {
	position:absolute;
	width:100%;
	height:14px;
	left:0;
	top:50%;
	margin-top:-7px;
	z-index:2;
	}
/* #sortable - End */

/* .menu-catalog - Begin */
.menu-catalog {
	font-size:20px;
	margin-top:-10px;
	}
.menu-catalog a {
	color:#bebebe;
	font-family:'Open Sans', sans-serif;
	margin-right:45px;
	}
.menu-catalog a:hover {
	color:#888;
	}
.menu-catalog a.active, .menu-catalog a.active:hover {
	color:#000;
	text-decoration:none;
	cursor:default;
	}
/* .menu-catalog - End */

/* .fixed-info-card - Begin */
.fixed-info-card {
	position:fixed;
	z-index:100;
	left:0;
	bottom:0;
	width:100%;
	font-family:'Open Sans', sans-serif;
	}
.fixed-info-card .table {
	overflow:hidden;
	display:table;
	width:100%;
	line-height:1.3;
	}
.fixed-info-card .info-favorites {
	display:table-cell;
	width:50%;
	text-align:center;
	color:#6c6c6c;
	background:#dbdbdb url(../images/bg_info-favorites.gif) 0 0 repeat-x;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#f2f2f2),
		to(#dbdbdb)
	);
	background: -webkit-linear-gradient(
		top,
		#f2f2f2,
		#dbdbdb
	);
	background: -moz-linear-gradient(
		top,
		#f2f2f2,
		#dbdbdb
	);
	background: -o-linear-gradient(
		top,
		#f2f2f2,
		#dbdbdb
	);
	background: linear-gradient(
		top,
		#f2f2f2,
		#dbdbdb
	);
	}
.fixed-info-card .info-favorites a {
	color:#6c6c6c;
	}
.fixed-info-card .info-amount {
	display:table-cell;
	width:50%;
	text-align:center;
	color:#fff;
	background:#3273e2 url(../images/bg_info-amount.gif) 0 0 repeat-x;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#6cccf8),
		to(#3273e2)
	);
	background: -webkit-linear-gradient(
		top,
		#6cccf8,
		#3273e2
	);
	background: -moz-linear-gradient(
		top,
		#6cccf8,
		#3273e2
	);
	background: -o-linear-gradient(
		top,
		#6cccf8,
		#3273e2
	);
	background: linear-gradient(
		top,
		#6cccf8,
		#3273e2
	);
	}
.fixed-info-card .info-amount a {
	color:#fff;
	}
.fixed-info-card .icon {
	position:relative;
	top:-2px;
	margin-right:7px;
	line-height:0;
	}
.fixed-info-card p {
	padding:9px 8px;
	}
.fixed-info-card span {
	position:relative;
	top:-1px;
	display:inline-block;
	vertical-align:middle;
	font-size:110%;
	}
.fixed-info-card strong {
	font-weight:normal;
	font-size:120%;
	}
.fixed-info-card .bt_gray {
	margin:5px 0 5px 10px;
	font-size:124%;
	}
.fixed-info-card .info-favorites .bt_gray {
	color:#f89b2e;
	}
.fixed-info-card .info-amount .bt_gray {
	color:#469cf1;
	-moz-box-shadow:0 1px 2px #1d467e;
	-webkit-box-shadow:0 1px 2px #1d467e;
	box-shadow:0 1px 2px #1d467e;
	}
.fixed-info-card .info-amount .bt_gray:active {
	-moz-box-shadow:0 1px 2px #555555 inset;
	-webkit-box-shadow:0 1px 2px #555555 inset;
	box-shadow:0 1px 2px #555555 inset;
	}
/* .fixed-info-card - End */

/* .availability - Begin */
.availability {
	line-height:1.6;
	clear:both;
	padding-top:6px;
	}
.availability dl {
	position:relative;
	overflow:hidden;
	}
.availability dl dt {
	float:left;
	padding-right:6px;
	}
.availability dl dd {
	overflow:hidden;
	}
.availability ul li a {
	display:inline-block;
	text-decoration:none;
	line-height:1.1;
	}
.availability ul li.selected a {
	border-bottom:1px dotted;
	}
.availability ul li {
	display:none;
	padding-bottom:1px;
	}
.availability ul li.selected {
	display:inline-block;
	padding-right:11px;
	background:url(../images/bg_arrow-dehiscent.gif) 100% 55% no-repeat;
	}
.item.disclosed .availability {
	padding-bottom:12px;
	border-bottom:1px dotted #e5e5e5;
	margin-bottom:-2px;
	}
/* .availability - End */

/* .manipulation - Begin */
.manipulation {
	float:right;
	width:36%;
	padding-bottom:10px;
	padding-left:20px;
	padding-top:3px;
	}
.manipulation .select-number {
	float:left;
	white-space:nowrap;
	cursor:default;
	}
.manipulation .select-number .inp-text {
	width:50px;
	margin-left:0;
	}
.manipulation .select-number a {
	position:relative;
	top:2px;
	text-decoration:none;
	color:#a9aaae;
	font-size:120%;
	margin:0 3px;
	}
.manipulation .select-number a:hover {
	color:#666;
	}
.manipulation .link-remove-card {
	display:block;
	float:right;
	text-decoration:none;
	color:#ff5959;
	padding-left:18px;
	font-size:105%;
	margin-top:2px;
	background:url(../images/bg_remove-card.gif) 0 50% no-repeat;
	}
.manipulation .link-remove-card:hover {
	color:#ff0000;
	}
/* .manipulation - End */

/* .card - Begin */
.card {
	border-top:1px solid #e5e5e5;
	clear:both;
	}
/* .card - End */

/* .checkout - Begin */
.checkout {
	overflow:hidden;
	background:#f5f5f5;
	margin-top:30px;
	padding:18px 20px 6px;
	border-top:1px solid #e5e5e5;
	}
.checkout h2 {
	font-weight:300;
	margin:0 -20px 18px;
	text-align:center;
	padding:7px 20px 27px;
	border-bottom:1px solid #e5e5e5;
	}
.checkout dl {
	overflow:hidden;
	float:none;
	margin:0 11%;
	padding-right:26px;
	font-family:'Open Sans', sans-serif;
	}
.checkout dt {
	float:left;
	width:27%;
	text-align:right;
	color:#000;
	font-size:126%;
	margin-right:2%;
	padding-top:1.3%;
	}
.checkout dd {
	overflow:hidden;
	font-size:100%;
	padding-bottom:2px;
	}
.checkout .descr {
	width:75%;
	line-height:1.4;
	padding-top:10px;
	padding-left:2px;
	}
.checkout .descr.error {
	color:#ff5959;
	font-size:105%;
	}
.checkout .hr {
	clear:both;
	border-bottom:1px dotted #d3d3d3;
	margin:13px 0 15px 0;
	}
.checkout .inp-text {
	padding:1.3% 2%;
	font-size:170%;
	font-weight:300;
	margin-left:0;
	}
.checkout .inp-text.style-1 {
	width:75%;
	}
.checkout .inp-text.style-2 {
	width:30%;
	}
.checkout label {
	position:relative;
	display:block;
	}
.checkout dl label .input {
	float:left;
	padding-right:13px;
	padding-top:3px;
	}
.checkout dl label .description {
	display:block;
	overflow:hidden;
	line-height:1.3;
	}
.checkout dl label .description strong {
	display:block;
	color:#000;
	font-weight:bold;
	font-size:180%;
	padding-bottom:6px;
	}
.checkout label input {
	position:relative;
	top:-1px;
	margin:0;
	}
.checkout dd .hr {
	margin-bottom:11px;
	}
.confirm-button {
	padding-right:34px;
	margin-top:8px;
	margin-bottom:5px
	}
.confirm-button img {
	position:absolute;
	top:8px;
	right:12px;
	}

.checkout .select-box {
	position:relative;
	width:79%;
	line-height:1.1;
	}
.checkout .select {
	position:absolute;
	width:96%;
	top:0;
	height:100%;
	padding:0;
	color:#959595;
    font-weight:300;
    margin-left:0;
	line-height:200%;
    padding:0 2%;
	white-space:nowrap;
	border:1px solid #d0d0d0;
	font-size:170%;
	background-image:url(../images/bg_select.png);
	background-position: 100% 50%;
	background-repeat:repeat-x;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	}
.checkout .select .select-arrow {
	position:absolute;
	z-index:5;
	right:0;
	top:0;
	width:45px;
	height:100%;
	background:url(../images/bg_select-arrow.png) 0 50% no-repeat;
	}
	
.checkout .select-box select.styled {
	height:auto;
	display:block;
	padding:1.3% 0;
	line-height:1.1;
	font-size:170%;
	margin-left:1px;
	font-family: 'Open Sans',sans-serif;
	}
.checkout .inp-text.style-1.discount_code{width:30%;}
.discount_value{width:50%; margin-left:1%; font-size:110%;};
/* .checkout - End */

/* .filter - Begin */
.filter {
	position:relative;
	overflow:hidden;
	border:1px solid #f2f2f2;
	color:#fff;
	margin:11px -1px 0;
	background:#4f7ce3 url(../images/bg_filter.gif) 0 0 repeat-x;
	}
.filter input.inp-text {
	width:96%;
	padding:3px 2%;
	margin:0;
	border:none;
	border-bottom:1px solid #bacdf5;
	border-top:1px solid #969696;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}
.filter .sep {
	float:left;
	height:42px;
	margin:0 auto;
	background:#7299cf url(../images/bg_filter-sep.png) 0 0 no-repeat;
	}
.filter dl {
	float:left;
	padding:8px 4%;
	}
.filter dl dt {
	float:left;
	padding-right:7px;
	padding-top:1px;
	font-size:110%;
	}
.filter dl dd {
	overflow:hidden;
	}
.filter .keyword {
	float:left;
	width:32%;
	}
.filter .keyword dl {
	width:92%;
	}
.filter .range-price {
	float:left;
	width:31%;
	max-width:300px;
	}
.filter .range-price dd {
	float:left;
	}
.filter .range-price dl {
	width:48%;
	padding:8px 4%;
	}
.filter .range-price dl.left {
	padding-right:0;
	}
.filter .range-price dl.right {
	padding-left:0;
	padding-right:0;
	}
.filter .range-price dl dd {
	width:37%;
	}
.filter .bt {
	float:right;
	width:7%;
	margin-left:1.5%;
	margin-right:26px;
	}
.filter .bt_gray {
	width:96%;
	text-align:center;
	padding-left:0;
	padding-right:0;
	margin-right:0;
	margin-top:8px;
	font-size:105%;
	}
.filter .link-open {
	position:absolute;
	right:0;
	top:0;
	width:16px;
	height:100%;
	cursor:pointer;
	background:#3f64df url(../images/bg_filter-open.gif) 0 0 repeat-x;
	}
.filter .link-open:hover {
	background:#355cdd;
	}
.filter .link-open i {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:10px;
	height:9px;
	margin:-5px 0 0 -5px;
	background:url(../images/bg_arrow-open-close.png) 0 0 no-repeat;
	}
.filter .link-open.active i {
	background-position:-11px 0;
	}
.item-container {
	position:relative;
	padding-left:10px;
	left:-10px;
	overflow:hidden;
	}
aside {
	float:right;
	width:272px;
	margin-left:25px;
	}
aside .filter {
	position:relative;
	overflow:visible;
	z-index:10;
	background:#4878e3 url(../images/bg_filter-aside.gif) 0 0 repeat-x;
	}
.filter dl {
	padding-top:10px;
	padding-bottom:10px;
	}
aside .filter dl dt {
	font-size:90%;
	}
aside .filter .keyword {
	float:none;
	width:auto;
	border-bottom:1px solid #e2e2e2;
	}
aside .filter .keyword dl {
	float:none;
	}
aside .filter .keyword dl dt {
	float:right;
	padding-right:0;
	padding-left:10px;
	padding-top:1px;
	}
aside .filter .keyword dl dt .bt_gray {
	margin-top:0;
	}
aside .filter .link-open {
	width:25px;
	height:25px;
	right:50%;
	top:100%;
	margin-top:-12px;
	margin-right:-12px;
	background:url(../images/bg_arrow-open-close-right.png) -25px 0 no-repeat;
	}
aside .filter .link-open i {
	display:none;
	}
aside .filter .link-open:hover {
	background:url(../images/bg_arrow-open-close-right.png) -25px -25px no-repeat;
	}
aside .filter .link-open.active {
	background:url(../images/bg_arrow-open-close-right.png) 0 0 no-repeat;
	}
aside .filter .link-open.active:hover {
	background:url(../images/bg_arrow-open-close-right.png) 0 -25px no-repeat;
	}
aside .filter .bt_gray {
	width:auto;
	top:1px;
	padding:2px 10px;
	font-size:120%;
	}
aside .filter dl dt {
	padding-top:3px;
	}
aside .filter .range-price {
	overflow:hidden;
	float:none;
	width:auto;
	border-bottom:1px solid #e2e2e2;
	}
aside .filter .range-price dl dd {
	width:44%;
	}
aside .filter .slider-widget-container {
	padding:10px 4% 12px;
	}
/* .filter - End */

/* .slider-widget - Begin */
.slider-widget-container {
	overflow:hidden;
	padding-top:9px;
	}
.filter-extended .slider-widget-container {
	overflow:visible;
	}
.filter-extended .slider-widget-container {
	padding-top:0;
	}
.slider-widget {
	position: relative;
	margin:0 5px 7px;
	}
.filter-extended .slider-widget {
	margin:0 0 7px;
	}
.slider-widget .bg_l {
	position:absolute;
	left:0;
	top:0;
	width:3px;
	height:5px;
	font-size:0px;
	background:url(../images/bg_slider-widget-lr.gif) left top no-repeat;
	}
.filter-extended .slider-widget .bg_l {
	background:url(../images/bg_slider-widget-lr2.gif) left top no-repeat;
	}
.slider-widget .bg_r {
	position:absolute;
	right:0;
	top:0;
	width:3px;
	height:5px;
	font-size:0px;
	background:url(../images/bg_slider-widget-lr.gif) right top no-repeat;
	}
.filter-extended .slider-widget .bg_r {
	background:url(../images/bg_slider-widget-lr2.gif) right top no-repeat;
	}
.ui-slider {
	position:relative;
	}
.ui-slider .ui-slider-handle {
	background:url(../images/handle.png) left top no-repeat;
	}
.ui-slider .ui-slider-handle.first {
	position:absolute;
	z-index:3;
	width:11px;
	height:12px; 
	cursor:default;
	line-height:0;
	font-size:0px;
	text-decoration:none;
	margin-left:-5px;
	}
.ui-slider .ui-slider-handle.last {
	position:absolute;
	z-index:3;
	width:11px;
	height:12px; 
	cursor:default;
	line-height:0;
	font-size:0px;
	text-decoration:none;
	margin-left:-6px;
	}
.ui-slider .ui-slider-handle:hover {
	background-position: left -12px;
	}
.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:0.7em;
	display:block;
	border:0;
	overflow:hidden;
	}
.ui-slider-horizontal {
	 height:5px;
	}
.ui-slider-horizontal .ui-slider-handle { 
	top:-2px;
	}
.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:3px;
	margin-top:1px;
	}
.ui-slider-horizontal .ui-slider-range-min { 
	left:0;
	}
.ui-slider-horizontal .ui-slider-range-max {
	right:0;
	}
.ui-widget-content { 
	background:#c2d9f9 url(../images/bg_slider-widget2.gif) left top repeat-x;
	}
.ui-widget-header { 
	background:#eacd29 url(../images/bg_slider-widget.gif) left top repeat-x;
	}
.filter-extended .ui-widget-header {
	background:#388af8 url(../images/bg_slider-widget3.gif) left top repeat-x;
	}
.minValue, .maxValue {
	display:none;
	}
.values-container {
	position:relative;
	height:6px;
	margin:0 5px;
	padding-top:9px;
	}
.filter-extended .values-container {
	margin:0;
	}
.values-container .val {
	position:absolute;
	width:1px;
	height:6px;
	margin-left:-1px;
	background:#fff;
	}
.filter-extended .values-container .val {
	background:#929292;
	}
.values-container .val p {
	position:absolute;
	width:60px;
	left:-30px;
	text-align:center;
	top:-14px;
	margin:0;
	font-size:77%;
	white-space:nowrap;
	}
.values-container .val.first {
	margin-left:5px;
	}
.values-container .val.last {
	left:100%;
	margin-left:-5px;
	}
/* .slider-widget - End */

/* .lightbox - Begin */
.lightbox {
	display:none;
	position:relative;
	z-index:1001;
	width:220px;
	margin:150px auto;
	padding:11px 26px 18px;
	background:#f7f7f7;
	color:#000;
	font-size:104%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 2px #555;
	-webkit-box-shadow:0 1px 2px #555;
	box-shadow:0 1px 2px #555;
	}
.lightbox-container {
	display:none;
	position:fixed;
	overflow-y:scroll;
	z-index:999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	}
.lightbox-bg {
	display:none;
	visibility:hidden;
	position:fixed;
	z-index:100;
	z-index:998;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	}
.lightbox .title {
	font-size:142%;
	color:#000;
	margin-bottom:17px;
	padding-bottom:6px;
	border-bottom:1px solid #d2d2d2;
	}
.lightbox dl {
	padding-bottom:10px;
	}
.lightbox dl dt {
	margin-bottom:2px;
	}
.lightbox dl dd input.inp-text {
	width:208px;
	margin-left:0;
	font-size:118%;
	padding:6px 5px;
	}
.lightbox .bt_gray {
	margin-top:7px;
	font-size:127%;
	}
.lightbox .close {
	position:absolute;
	right:9px;
	top:9px;
	z-index:10;
	width:12px;
	height:12px;
	background:url(../images/bg_close-experience.gif) 0 0 no-repeat;
	}
.lightbox .close:hover {
	background-position:0 -12px;
	}
/* .lightbox - End */

/* .total-pay - Begin */
.total-pay {
	position:relative;
	top:-1px;
	float:right;
	font-family:'Open Sans', sans-serif;
	font-size:124%;
	color:#000;
	padding-left:25px;
	}
.total-pay span {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	}
.total-pay strong {
	display:inline-block;
	vertical-align:middle;
	font-size:152%;
	color:#59bf66;
	}
.total-pay .sep {
	height:29px;
	background:none;
	margin:0 20px 0 12px;
	border-right:1px dotted #d3d3d3;
	}
/* .total-pay - End */

/* select - Begin*/
.select-box {
	position:relative;
	width:79%;
	line-height:1.1;
	}
.select {
	position:absolute;
	width:96%;
	top:0;
	height:100%;
	padding:0;
	color:#959595;
    font-weight:300;
    margin-left:0;
	line-height:200%;
    padding:0 2%;
	white-space:nowrap;
	border:1px solid #d0d0d0;
	font-size:170%;
	background-image:url(../images/bg_select.png);
	background-position:right 50%;
	background-repeat:no-repeat;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	}
.select-box select.styled {
	height:auto;
	display:block;
	padding:1.3% 0;
	line-height:1.1;
	font-family:'Open Sans', sans-serif;
	font-size:170%;
	margin-left:1px;
	}
/* select - End */

/* .checkbox - Begin */
.radio {
	width:25px;
	height:25px;
	padding:0;
	margin:0 0 0 2px;
	display:inline-block;
	vertical-align:middle;
}
/*.checkbox {
	background:url(../images/checkbox.png) no-repeat;
	}*/
.radio {
	background:url(../images/radio.png) no-repeat;
}
.radio:hover {
	background-position:0 -100px !important;
	}
.radio:active {
	background-position:0 -25px !important;
	}
.radio.pushed:hover {
	background-position:0 -125px !important;
	}
.radio.pushed:active {
	background-position:0 -75px !important;
	}
/* .checkbox - End */

/* .total-container - Begin */
.total-container {
	text-align:center;
	padding-top:38px;
	}
.total-container .total-pay {
	display:inline-block;
	vertical-align:middle;
	float:none;
	font-size:126%;
	padding-left:0;
	}
.total-container .sep {
	height:37px;
	border-right:1px dotted #d3d3d3;
	background:none;
	margin:0 25px;
	}
.total-container .total-pay strong {
	font-size:202%;
	}
.total-container .bt_green {
	font-size:132%;
	padding:7px 34px 7px 23px;
	}
.total-container .confirm-button img {
	top:31%;
	}
/* .total-container - End */

/* Added Styles - 25.06.2013 */
.royalSlider.mainSlider {
	height:200px;
	margin-bottom:29px;
	}
.infoBlock {
  position: absolute;
  top: 30px !important;
  right: auto;
  left: 60px !important;
  max-width: 200px;
  padding-bottom: 0;
  line-height:1.3;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.5);
  left: 30px;
  right: auto;
}
.infoBlock h4 {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}

/* .filter-extended - Begin */
aside .filter-extended {
	overflow:visible;
	padding-bottom:1px;
	background:#f7f7f7;
	}
.filter-extended {
	display:none;
	position:relative;
	overflow:hidden;
	margin:0 1px 5px;
	background:#fafafa;
	-moz-box-shadow:0 1px 1px #d8d8d8;
	-webkit-box-shadow:0 1px 1px #d8d8d8;
	box-shadow:0 1px 1px #d8d8d8;
	}
.filter-extended .link-open {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:15px;
	cursor:pointer;
	background:#e5e3e3;
	}
aside .filter-extended .link-open {
	display:none;
	}
.filter-extended .link-open i {
	display:block;
	position:absolute;
	right:2px;
	top:50%;
	width:10px;
	height:9px;
	margin:-5px 0 0 0;
	background:url(../images/bg_arrow-open-close.png) -11px 0 no-repeat;
	}
.filter-extended .link-open:hover {
	background:#ccc;
	}
.filter-extended ul {
	display:table;
	list-style-type:none;
	}
.filter-extended li.cell {
	position:relative;
	display:table-cell;
	vertical-align:top;
	border-right:1px solid #dbdbdb;
	}
aside .filter-extended li.cell {
	display:block;
	width:auto;
	border-right:none;
	border-bottom:1px solid #e7e7e7;
	}
.filter-extended li.cell .narrow {
	padding:13px 15px 15px 13px;
	}
aside .filter-extended li.cell .narrow {
	padding:13px 10px 15px 13px;
	}
.filter-extended li.cell .title {
	font-size:14px;
	color:#6c6c6c;
	line-height:1.2;
	margin-bottom:10px;
	padding-top:1px;
	}
.filter-extended label {
	display:block;
	font-size:14px;
	color:#959595;
	line-height:1.2;
	}
.filter-extended label input {
	position:relative;
	float:left;
	top:-1px;
	margin-right:3px;
	}
.filter-extended li.cell ul {
	display:block;
	line-height:1.6;
	}
.filter-extended li.cell ul li {
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding-bottom:4px;
	}
.filter-extended li.cell label span {
	padding-right:4px;
	}
.filter-extended li.cell ul.two li {
	width:50%;
	}
.filter-extended li.cell ul.three li {
	width:33%;
	}
.filter-extended li.cell.manufacturers {
	width:21%;
	}
aside .filter-extended li.cell.manufacturers {
	width:auto;
	}
.link-all-manufacturers {
	position:relative;
	top:-1px;
	margin-left:3px;
	display:inline-block;
	font-size:78%;
	line-height:1;
	text-decoration:none;
	border-bottom:1px dashed;
	}
.filter-extended li.cell.options {
	width:18%;
	}
aside .filter-extended li.cell.options {
	width:auto;
	}
.filter-extended li.cell.options ul li {
	padding-top:6px;
	padding-bottom:8px;
	}
aside .filter-extended li.cell.options ul li {
	padding-top:7px;
	padding-bottom:7px;
	}
.filter-extended li.cell.slider-values {
	width:29%;
	color:#6c6c6c;
	}
aside .filter-extended li.cell.slider-values {
	width:auto;
	}
.filter-extended li.cell.slider-values .narrow {
	padding:9px 14px 11px 14px;
	}
.filter-extended li.cell.type {
	width:29%;
	border-right:none;
	}
aside .filter-extended li.cell.type {
	width:auto;
	}
.filter-extended li.cell.slider-values .range-widget {
	overflow:hidden;
	padding-bottom:7px;
	}
.filter-extended li.cell.slider-values .range-widget input {
	width:34px;
	margin-left:0;
	}
.filter-extended li.cell.slider-values .range-widget dl {
	float:left;
	white-space:nowrap;
	padding-bottom:5px;
	}
.filter-extended li.cell.slider-values .range-widget dl dt,
.filter-extended li.cell.slider-values .range-widget dl dd {
	display:inline-block;
	vertical-align:middle;
	}
.filter-extended li.cell.slider-values .range-widget dl dd {
	margin-left:3px;
	margin-right:2px;
	}
.filter-extended li.cell.slider-values .range-widget dl.left {
	margin-right:5px;
	}
.filter-extended .bt_gray {
	display:block;
	width:auto;
	margin:8px 8px 7px;
	text-align:center;
	font-size:110%;
	}
.filter-extended .all-manufacturers {
	display:none;
	}
.filter-extended .hint {
	display:none;
	position:absolute;
	z-index:100;
	line-height:1.2;
	}
.filter-extended .hint a{
	position: relative;
	top: -7px;
	}

/* .filter-extended - End */

/* .checkbox - Begin */
label {
	cursor:default;
	}
label  span {
	display:block;
	overflow:hidden;
	}
.checkbox {
	overflow:hidden;
	position:relative;
	top:1px;
	float:left;
	width:16px;
	height:16px;
	margin-right:7px;
	background-image:url(../images/bg_checkbox.png);
	background-position:0 0;
	background-repeat:no-repeat;
	-moz-box-shadow:0 1px 1px #dedbdb;
	-webkit-box-shadow:0 1px 1px #dedbdb;
	box-shadow:0 1px 1px #dedbdb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.checkbox input {
	position:absolute;
	left:-25px;
	}
label:hover .checkbox {
	background-position:-17px 0;
	}
.checkbox.checked, label:hover .checkbox.checked {
	background-position:-34px 0;
	}


/* .checkbox - End */


/* --->  styles added 10.10.2013  <--- */
aside {
	clear:right;
	padding-top:22px;
	}
.column-item {
	overflow:hidden;
	margin-right:-5%;
	list-style-type:none;
	border-bottom:1px solid #E5E5E5;
	}
.column-item .cell {
	position:relative;
	top:-1px;
	display:inline-block;
	vertical-align:top;
	width:28.33%;
	margin-right:5%;
	border-top:1px solid #E5E5E5;
	}
.column-item .item {
	border-bottom:none;
	padding-bottom:20px;
	}
.column-item .item .img {
	float:none;
	width:auto;
	margin-right:0;
	}
.item .img .preview img {
	max-height:125px;
	}
.column-item .item h2 {
	margin-bottom:3px;
	margin-top:5px;
	}
.column-item .item h2 a {
	border-bottom:none;
	text-decoration:underline;
	}
.column-item .item .add-favorites {
	display:block;
	margin-left:0;
	}
.column-item .item .price {
	margin-bottom:6px;
	}
.bt_card {
	white-space:nowrap;
	}

.view-location {
	float:right;
	}
.view-location a {
	display:block;
	float:right;
	height:11px;
	line-height:1;
	padding:5px 6px 6px 6px;
	border:1px solid #d3d3d3;
	background:#f8f8f8;
	-moz-box-shadow:0 1px 0 #f2f2f2;
	-webkit-box-shadow:0 1px 0 #f2f2f2;
	box-shadow:0 1px 0 #f2f2f2;
	}
.view-location a:hover {
	background:#fff;
	}
.view-location a img {
	display:block;
	opacity:0.7;
	filter:alpha(opacity=70)
	}
.view-location a:first-child {
	border-left:none;
	}
.view-location a.active {
	cursor:default;
	border-color:#c6c6c6l;
	background:#e9e9e9;
	-moz-box-shadow:0 1px 0 #dddddd inset;
	-webkit-box-shadow:0 1px 0 #dddddd inset;
	box-shadow:0 1px 0 #dddddd inset;
	}
.view-location a.active img {
	opacity:1;
	filter:alpha(opacity=100)
	}