a.bx_cart_top_inline_link, a.bx_cart_top_inline_link span{
	color: #576e75;
	vertical-align: bottom;
	text-decoration: none;
	font-size: 13px;
	line-height: 13px;
}
a.bx_cart_top_inline_link:hover{text-decoration: underline}
.bx_cart_top_inline_icon{
	display: inline-block;
	width: 16px;
	height: 13px;
	background: url(images/gui.png) no-repeat top center;
	vertical-align: middle;
	line-height: 13px;
}