/*Table*/
table.sale_personal_order_detail
{
	width:100%;
	border-collapse:collapse;
	font-size:12px;
}

/*Table head*/
table.sale_personal_order_detail th
{
	background: none repeat scroll 0 0 #eaf2f8;
    color: #000000;
    font-size: 14px;
    min-height: 39px;
    padding: 0 5px;
}

/* Table cells and heads*/
table.sale_personal_order_detail th, table.sale_personal_order_detail td
{
    border:1px solid #94bfdc;
	padding: 3px 5px;
	vertical-align:top;
}

.sale_personal_order_detail_no_border
{
	border: 0px;
	padding: 3px;
	vertical-align:top;
}
table.sale_personal_order_detail a {
font-size: 14px;
font-weight: 300;
color: #0055aa;
text-decoration: none;
}
table.sale_personal_order_detail a:hover{
    text-decoration: underline;
}