#alx_up_page_button
{
        padding: 0px;
        margin: 0px;
        position:fixed;
        display:none;
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        zoom:1;
        background:url('/bitrix/images/altasib.up/spacer.gif') 0px 0px;
        cursor:pointer;
        z-index: 2000;
}
body
{
        background-attachment: fixed;
}
*html #alx_up_page_button
{
        position:absolute !important;
}
