#alx_up_page_button
{
	padding: 0px;
	margin: 0px;
	bottom: 10px;
	right: 10px;
	display:none;
	width:98px;
	height:38px;
	background:url(images/spacer.gif) 0px 0px;
	cursor:pointer;
	position:fixed;
}
body
{
	background-attachment: fixed;
}
*html #alx_up_page_button
{
	position:absolute;
        top: expression( eval(document.documentElement.scrollTop) +document.documentElement.clientHeight - 48 + "px");
}