ul.vertical_left{font-family: Helvetica, Arial; /*height: 38px;*/ background-color: rgb(12, 103, 165); /* The Fallback */ background-color: rgba(12, 103, 165, 0.9);
	box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -webkit-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -moz-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px; -o-box-shadow: rgba(170, 170, 170, 0.5) 0px 3px 5px;
}

ul.vertical_left .menu_title{font-size: 13px; border-bottom: 2px solid #2865a3; border-top: 1px solid #4a81b7;}
ul.vertical_left .menu_title > a{font-size: 13px;}

ul.vertical_left .menu_title:first-child{border-top: none;}
ul.vertical_left .menu_title:last-child{border-bottom-width: 1px;}

ul.vertical_left .menu_folder > a.active{background-color: rgba(255, 255, 255, 0.2); color: #fff !important;}

ul.vertical_left li{padding: 0; background-color: transparent; color: #564747;}
ul.vertical_left li.hover, ul.vertical_left .menu_title:hover{background-color: rgba(255, 255, 255, 0.3); color: #fff;}
ul.vertical_left li.active{background-color: rgba(255, 255, 255, 0.2);}
ul.vertical_left li.dir.active{background-position: 99% -270px;}
ul.vertical_left li.active > a{color: #fff !important;}

ul.vertical_left li a{display: block; padding: 11px 10px 10px;}

ul.vertical_left a:link, ul.vertical_left a:visited{color: #fff; text-decoration: none;}
ul.vertical_left > li > a:link, ul.vertical_left > li > a:visited{color: #fff; font-weight: bold;}
ul.vertical_left a:hover{color: #fff;}
ul.vertical_left a:active{background-color: rgba(255, 255, 255, 0.2);}

ul.vertical_left > li > ul{border: 1px solid #0c67a5; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border-top-right-radius: 6px;
	background-color: rgb(12, 103, 165); /* The Fallback */ background-color: rgba(12, 103, 165, 0.9);
	box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -webkit-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -moz-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -o-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px;
}

ul.vertical_left ul{font-size: 12px; letter-spacing: normal;}
ul.vertical_left ul li{font-weight: bold; font-size: 12px;}
ul.vertical_left li.last ul li{float: right;}

ul.vertical_left ul {margin-top: 0px; text-transform: none;}
ul.vertical_left ul ul li{font-weight: normal; font-size: 11px;}

ul.vertical_left > .dir {padding: 0px 22px 0px 0px; background-image: url(images/nav_arrow.png); background-position: 99% -270px/*11px*/; background-repeat: no-repeat;}
ul.vertical_left > .dir:hover{/*padding-bottom: 1px;*/}
ul.vertical_left *.dir:hover{background-position: 99% -270px;}
ul.vertical_left ul *.dir{background-image: none;}

ul.vertical_left *.menu_title:hover >a{color: #fff;}

ul.vertical_left ul a {width: 140px; padding: 3px 5px;}
ul.vertical_left ul a:hover {background-color: rgba(255, 255, 255, 0.3); color: #fff;}