.pmenu .in{
	border:1px solid #F2F2F2;
}
.pmenu a{
	display:block;
	width:100%;
	padding:10px 14px;
	text-decoration:none;
}
.pmenu a.selected,
.pmenu a:hover,
.pmenu a.selected:active,
.pmenu a:active{
	text-decoration:underline;
}
.pmenu a:hover{
	color:#fff;
	background-color:#EE8131;
}
.pmenu a.selected:active,
.pmenu a:active{
	background-color:#d36f25;
}

.pmenu .separator{
	width:100%;
	height:1px;
	background-color:#F2F2F2;
}