.headerTop {background: url(images/c.png) 0 bottom no-repeat;}
.footer {background: url(images/c.png) center 0 no-repeat;}
.nav {background: url(images/navS.png) 0 bottom repeat-x;}
.navInner a:hover, .navInner a:focus {color: #a5e100;}
.navInner .current a {color: #a5e100;}
.navInner .navItem .level .current a {color: #a5e100;}
.nav .level a:hover, .nav .level a:active {color: #a5e100;}
.navItem:hover a {color: #a5e100;}
.navItem:hover .level a:hover, .navItem:hover .level a:active {color: #a5e100;}
.headerBot {background: #f5f5f5 url(images/hd.png) 0 0 repeat-x;}
.block {background: #f1f1f1;}
.galleryWrap{background: #f1f1f1;}
.sideNav {background: #f1f1f1;}
.sideNav a:hover, .sideNav .current a  {background: #e2e2e2; color: #036961;}
.sideNav .secondLevel a {color: #29313c; background: none;}
.sideNav .secondLevel a:hover, .sideNav .secondLevel .current a {color: #2c8608;}