div.news-detail img.detail_picture
{
	float:left;
	margin:30px 8px 6px 11px;
}
.news-date-time
{
	color:#486DAA;
}

#date
{
	margin:0 0 0 0;
	
	
}

#text
{
	margin:10px 10px 10px 10px;
	paggin:10px 10px 10px 10px;
	
	
}
