/*Menu icon*/
#uni_menu_icon {background-image:url(/bitrix/themes/.default/images/unisender.integration/unisender_ico.png);}
#uni_page_icon {background-image:url(/bitrix/themes/.default/images/unisender.integration/uni_page_icon.png);}
#uni_big_menu_icon {background-image:url(/bitrix/themes/.default/images/unisender.integration/uni_page_icon.png);}

.uni_logo{
	background: url(/bitrix/themes/.default/images/unisender.integration/uni_logo.png) no-repeat top left;
	height: 100px;
	width: 100px;
	font-size: 30px;
	font-weight: bold;
	padding-left: 110px;
	padding-top: 25px;
	vertical-align: middle;
}
.uni_export_form{
	margin-top: 10px;
}

.uni_export_form form{
	width: 700px;
}
.uni_export_form fieldset legend{
	color: #2747bf;
}
.uni_export_form dl{
	display: block;
}
.uni_export_form dt { 
	x-float: left;
	line-height: 25px;
	text-align: left;
	width: 150px;
}
.uni_export_form dd { 
	margin-bottom: 10px;
	margin-left: 160px;
	width: 540px;
}
.uni_fields_table td {
	padding: 5px;
	font-size: 12px;
}
.uni_fieldset_content {
	padding: 15px;
	font-size: 12px;
}
.uni_notetext {
	font-size: 11px;
	background-color: #fefdea;
	padding: 8px;
	border: 1px solid #dddddd;
	margin-top: 20px;
	width: 100%;
}