


/* Start:/bitrix/templates/marketplace-1c-v3/components/bx/marketplace.catalog.detail/.default/style.css?14327302544564*/
.top-cont-block
{
    overflow: visible!important;
    padding-top: 0!important;
}


div.edit {
    background: url('/bitrix/templates/marketplace-1c-v3/components/bx/marketplace.catalog.detail/.default/images/mpg.gif') no-repeat;
    height: 25px;
    width: 14px;
    position: absolute;
    top: -35px;
    right: 0px;
    cursor: pointer;
}



.edit_menu li a{padding:5px}
.edit_menu{
    position:absolute;
    right:0;
    padding:10px 0 0 0!important;
    z-index:1800;
    background:none!important;
    border:none!important;
    box-shadow:none!important;
    z-index: 110;
    left: -55px;
    width: 236px;
    border-radius: 3px;
    top:29px;
    display: none;
}
div.edit:hover .edit_menu {
    display: block;
}
.edit_menu li{
    position:relative;
    display:block;
    width:100%;
    background:#fff;
    border:1px solid #d2dfe4;
    border-bottom:none;
    white-space:nowrap;
}
.edit_menu li:hover{background:#e3ebed}

.edit_menu li .arrow{
    position:absolute;
    display:block;
    width:19px;
    height:10px;
    background:url('/bitrix/templates/1c-bitrix-new/images/gui.png') no-repeat 0 0;
    right:20px;
    top:-10px;
}
.edit_menu li:hover .arrow{background:url('/bitrix/templates/1c-bitrix-new/images/gui.png') no-repeat 0 -10px}

.edit_menu li:first-child{border-radius:4px 4px 0 0}

.edit_menu li:last-child{
    border-radius:0 0 4px 4px;
    border:1px solid #d2dfe4;
}

.edit_menu li a{
    display: block;
    text-decoration: none;
    color: #8fa0a6;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
}


.edit_menu .arrow{
    left:20%;
    margin-left:-10px;
}



div.edit .edit_menu {
    right: -24px;
    top: 0px;
    left: auto;
}

div.edit .edit_menu .arrow {
    right: 9%;
    margin-left: -10px;
    left: auto;
}
.item-icon>.action {
    position: absolute;
}

.bx-images-viewer-close-inner
{
    z-index: 100;
}

.mp-popup
{
    display:none;
    background: #fff;
    z-index:10000;
    position:absolute;
    top: 35%;
    left: 35%;
    color: #323232;
    line-height: 18px;
    border-radius: 3px;
    border: 1px solid #dedede;
    font-size: 14px;
    box-shadow: 0 2px 4px -1px #dedede;
}

.mp-popup.demo-popup
{
    padding: 16px 29px 16px 22px;
    width: 360px;
}

.mp-popup.buying-popup
{
    padding: 18px;
    width: 380px;
}

.mp-popup.buying-popup .buying-title
{
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 600;
}

.mp-popup.buying-popup .buying-text
{

}

.mp-popup.center-bottom-arrow:after
{
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    bottom: -6px;
    box-shadow: 2px 2px 3px -2px #dedede;
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: center bottom 0;
    width: 15px;
    z-index: 10005;
}

.mp-popup .mp-popup-text
{

}

.mp-popup .mp-popup-detail-link
{
    color: #0c9bdd;
    text-decoration: underline;
    border: none;
    display: inline-block;
    margin: 15px 0;
}

.mp-popup  .mp-site-url
{
    border: 1px solid #b2b2b2;
    padding: 3px 9px;
    margin: 8px 0 16px 4px;
    height: 37px;
}

.mp-site-url .mp-site-url-input
{
    height: 27px;
    line-height: 27px;
    border: none;
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    font-size: 17px;
}

.mp-popup.demo-popup .button-container
{
    margin: 8px 0 0;
    text-align: center;
}

.mp-popup.buying-popup .button-container
{
    margin: 20px 0 0;
    text-align: center;
}

.mp-popup .button-container .btn
{
    display: inline-block;
    height: 37px;
    border: none;
    cursor: pointer;
    line-height: 37px;
    font-size: 14px;
    padding: 0 15px;
}

.feedback-add-form-wrap .feedback-add-btn,
.feedback-add-form-wrap .feedback-add-open-btn
{
    right: -5px;
    top: -10px;
}

.container .technicaldata-block-table-data dt,
.container .technicaldata-block-table-data dd
{
    width: 15%;
}

.container .technicaldata-block-table-data dt
{
    text-align: right;
    margin-right: 10px;
}

.container .technicaldata-block-table-data dd
{
    text-align: left;
}

.button-place-block
{
    padding: 26px 0 0;
}

.about-module
{
    margin: 70px 0 40px;
}

.technicaldata-block-table-data
{
    border-bottom: 1px solid #e5e5e7;
    border-top: 1px solid #e5e5e7;
    padding: 10px 0;
}
/* End */



/* Start:/bitrix/templates/marketplace-1c-v3/components/bitrix/news.list/mp_detail_comments/style.css?1421401138544*/
.feedback-content-post
{
	clear: both;
}

.feedback-content-post-author {
    font-weight: normal!important;
}
.feedback-content-post-header {
	padding-left: 58px;
}

.feedback-content-post-author-photo,
.feedback-content-post-author-photo-empty
{
	border-radius: 45px;
	float: left;
	margin-top: 3px;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
}

.feedback-content-post-author-photo-empty
{
	background: url("/bitrix/components/bitrix/main.post.list/templates/.default/images/sprite.png") no-repeat scroll -48px 7px #535c6a;
}
/* End */



/* Start:/bitrix/templates/marketplace-1c-v3/components/bitrix/system.pagenavigation/partners_pager/style.css?1430235578814*/
.partners-navigation
{
    padding: 20px 0;
}

.partners-navigation .nav-current-page
{
    font-size: 14px;
    color: #2080db;
}

.partners-navigation .nav-arrow
{
    display: inline-block;
    vertical-align: middle;
    border: none;
}

.partners-navigation .nav-arrow.nav-next
{
    margin-left: 10px;
}

.partners-navigation .nav-arrow.nav-prev
{
    margin-right: 10px;
}

.partners-navigation .nav-page
{
    border-radius: 22px;
    display: inline-block;
    vertical-align: middle;
    color: #2080db;
    height: 22px;
    line-height: 22px;
    margin: 0 4px;
    text-align: center;
    padding: 0;
    border: none;
    width: 22px;
}

.partners-navigation .nav-page.current-page
{
    background: none repeat scroll 0 0 #dde0e3;
    color: #556574;
}
/* End */



/* Start:/bitrix/templates/marketplace-1c-v3/components/bx/marketplace.catalog.list/other_modules/style.css?14315192671278*/
.other-modules-title
{
	font-family: "Helvetica Neue",? Helvetica,? Arial, ?sans-serif;
	font-size: 22px;
	color: #000;
	font-weight: 200;
}

.other-modules
{
	padding: 35px 22px 5px;
	position: relative;
	background-color: #f3f4f5;
}

.other-modules.hidden-other
{
	padding-bottom: 36px;
}

.modules-wrap
{
	padding: 5px 0 0;
	max-height: 143px;
	overflow: hidden;
	transition: max-height 0.3s ease-in;
	font-size: 0;
}

.other-modules .modules-wrap .item-wrap
{
	width: 25%;
}

.other-modules .modules-wrap .item-block
{
	margin: 0;
}

.other-modules .modules-wrap .item-block:hover
{
	background: none;
}

.modules-button-container
{
	display: block;
	height: 36px;
	left: 0;
	position: absolute;
	width: 90%;
	text-align: center;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	border-top: 1px solid #e2e3e4;
}

.modules-button-container .modules-button
{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.modules-button .button-title
{
	font-size: 12px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.45);
	font-weight: 800;
}

.modules-button.show-more
{

}

.other-modules .modules-wrap .item-name::before,
.other-modules .modules-wrap .item-img-wrap::before
{
	display: none;
}
/* End */



/* Start:/bitrix/components/bx/marketplace.rating.bar/templates/.default/style.css?1431945673914*/
.rating-counter-bar
{
    background: url("/bitrix/templates/marketplace-1c-v3/images/mp-rating-stars.png") no-repeat scroll 0 -22px rgba(0, 0, 0, 0);
    font-size: 12px;
    padding-left: 12px;
    position: relative;
    top: 2px;
    transition: all 0.2s linear 0s;
}

.feedback-rating-emptystars-bar
{
    background: url("/bitrix/templates/marketplace-1c-v3/images/mp-rating-stars.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 11px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.feedback-rating-progressstars-bar
{
    background: url("/bitrix/templates/marketplace-1c-v3/images/mp-rating-stars.png") repeat-x scroll 0 -11px rgba(0, 0, 0, 0);
    bottom: 0;
    height: 11px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.rat_text {
    font-size: 12px;
    color: gray;
}
/* End */



/* Start:/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/style.css?14176198214912*/
/* catalog.section */
.bx_item_list_you_looked_horizontal.bx_blue .bx_bt_button  				{
	background:#00a2df;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a2df),color-stop(100%,#006fcb));
	background:-webkit-linear-gradient(top,#00a2df 0%,#006fcb 100%);
	background:   -moz-linear-gradient(top,#00a2df 0%,#006fcb 100%);
	background:    -ms-linear-gradient(top,#00a2df 0%,#006fcb 100%);
	background:     -o-linear-gradient(top,#00a2df 0%,#006fcb 100%);
	background:        linear-gradient(to bottom,#00a2df 0%,#006fcb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a2df',endColorstr='#006fcb',GradientType=0);

	color:#fff;
	text-shadow: 0 1px 0 #165c99;
	display:inline-block;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
.bx_item_list_you_looked_horizontal.bx_blue .bx_bt_button:hover  		{
	background:#26b0e4;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2YjBlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjg0ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#26b0e4),color-stop(100%,#2684d3));
	background:-webkit-linear-gradient(top,#26b0e4 0%,#2684d3 100%);
	background:   -moz-linear-gradient(top,#26b0e4 0%,#2684d3 100%);
	background:    -ms-linear-gradient(top,#26b0e4 0%,#2684d3 100%);
	background:     -o-linear-gradient(top,#26b0e4 0%,#2684d3 100%);
	background:        linear-gradient(to bottom,#26b0e4 0%,#2684d3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#26b0e4',endColorstr='#2684d3',GradientType=0 );
}
.bx_item_list_you_looked_horizontal.bx_blue .bx_bt_button:active  		{
	background:#0052bf;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTJiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg1ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0052bf),color-stop(100%,#0085d3));
	background:-webkit-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:   -moz-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:    -ms-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:     -o-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:linear-gradient(to bottom,#0052bf 0%,#0085d3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0052bf',endColorstr='#0085d3',GradientType=0 );
}

/* scu_detail_size */
.bx-touch .bx_item_list_you_looked_horizontal.bx_blue .bx_item_detail_size ul li.bx_active .cnt{
	-webkit-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-moz-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-o-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 fill stretch;
}
/* scu_detail_scu */
.bx-touch .bx_item_list_you_looked_horizontal.bx_blue .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	-webkit-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-moz-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	-o-border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 stretch;
	border-image: url(/bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/images/x2border_active.png) 2 fill stretch;
}
/* End */
/* /bitrix/templates/marketplace-1c-v3/components/bx/marketplace.catalog.detail/.default/style.css?14327302544564 */
/* /bitrix/templates/marketplace-1c-v3/components/bitrix/news.list/mp_detail_comments/style.css?1421401138544 */
/* /bitrix/templates/marketplace-1c-v3/components/bitrix/system.pagenavigation/partners_pager/style.css?1430235578814 */
/* /bitrix/templates/marketplace-1c-v3/components/bx/marketplace.catalog.list/other_modules/style.css?14315192671278 */
/* /bitrix/components/bx/marketplace.rating.bar/templates/.default/style.css?1431945673914 */
/* /bitrix/components/bx/marketplace.bigdata.products/templates/.default/themes/blue/style.css?14176198214912 */
