div.modern-page-navigation { 
    margin-bottom: 20px;
}
.modern-page-navigation a {
    font-size: 18px;
    color: #1763a6;
    padding: 0 4px;
    text-decoration: none;
}
.modern-page-navigation a:hover {
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    background: #94bfdc;
    color: #fff;
}
.modern-page-current {
    background: #94bfdc;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    padding: 0 4px;
}