.clear {
    clear: both;
}
a{
    color:#494949
}
.b-block{
    margin: 10px 0 20px
}
.b-block-right{
    background: none repeat scroll 0 0 #F5F3E8;
    border-radius: 20px;
    display: block;
    padding: 30px;
}
.b-separator-h {
    background: #f1f1f1;
    width: 100%;
    height: 1px;
    display: block;
    border-width: 0;
}

.b-content-separator-h {
    background: url('images/content-separator.png') center center no-repeat;
    height: 1px;
    display: block;
    margin: 20px 0;
    border-width: 0;
    width: 100%;
}

.b-title {
    margin: 20px 0;
    font-size: 24px;
    color: #000;
}
html {
    height: 100%;
}

.b-body {
    background: #fff;
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100%;
    position: relative;
}

.b-page {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 0 50px;
}

.b-page__wrapper {
    padding: 0 0 155px;
    min-height: 500px;
}
.b-body_main .b-page__wrapper{
    padding: 0 0 335px;
}
.b-header {
    padding-top: 22px;
}

.b-header__description {
    float: left;
    margin-left: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
    width: 315px;
}

.b-header__link {
    color: #494949;
    text-decoration: none;
}

.b-header__menu-wrapper {
    clear: both;
    height: 60px;
}

.b-header__menu-wrapper .b-main-menu {
    margin: inherit 20px;
}

.b-header__logo {
    float: left;
    width: 220px;
}

.b-icon {
    font: 0/0 a;
    border: 0;
}

.b-footer {
    position: absolute;
    bottom: 0;
    height: 155px;
    width: 1000px;
}
.b-body_main .b-footer{
    height: 335px;
}
.b-footer__banner {
    text-align: center;
    margin-bottom: 20px;
    height: 70px;
}

.b-footer__banner-label {
    font-family: Myraid Pro, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #AAA;
    text-align: center;
    margin-bottom: 5px;
}

.b-footer__bottom {
    height: 155px;
    background: #000;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.b-footer__menu {
    display: inline-block;
    margin: 20px auto;
}

.b-footer__menu-item {
    float: left;
    margin-left: 30px;
}

.b-footer__menu-item-link {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
}

.b-footer__support {
    font-size: 28px;
    color: #fff;
    text-align: center;
    clear: both;
}

.b-footer__copyright {
    font-size: 14px;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}

ul#categories-menu {
    height: 35px;
    border-radius: 10px;
}

.b-all-items {
    margin-top: 40px;
}

.carousel-banner {
    clear: both;
    margin: 20px auto !important;
}

.b-calendar {
    width: 100%;

}

.b-calendar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-calendar a {
    text-decoration: none;
}

.b-calendar__day-odd,
.b-calendar__day-even {
    width: 313px;
    padding: 10px;
    float: left;
}


.b-calendar__day-even {
    background-color: #FFFDF2;
}

.b-calendar__date {
    font-size: 24px;
    font-weight: lighter;
    line-height: 20px;
    margin: 10px 0 5px 20px;
}

.b-calendar__bubble {
    margin: 0 10px;
}

.b-calendar__bubble__arrow {
    border-color: transparent transparent #F5F3E8;
    border-style: solid;
    border-width: 0 10px 10px;
    width: 0;
    height: 0;
    margin-left: 20px;
}

.b-calendar__bubble__starttime {
    background: #F5F3E8;
    border-radius: 10px;
    padding: 10px 15px;
    font: italic normal 12px/20px Georgia, "Times New Roman", Times, serif;
}

.b-calendar__sales {
    padding: 10px 0 0;
}

.b-calendar__sales__item {
    padding: 10px 20px;
}

.b-calendar__sales__item:hover {
    background: #F5F3E8;
}

.b-calendar__sales__item a {
    color: #000;
}

.b-calendar__sales__item__brand {
    font-size: smaller;
}

.b-content {
    clear: both;
    margin: 20px 0;
}

.b-content__top {
    margin: 0 0 20px;
}

.b-content__top:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-content__top__item {
    display: inline-block;
    float: left;
}

.b-content__top__row {
    margin: 10px 0;
}

.b-content__top__row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.b-breadcrumbs{
    margin: 0 0 20px
}
.b-breadcrumbs__item,
.b-breadcrumbs__separator {
    font-size: 24px;
    color: #000;
    display: inline;
}

.b-breadcrumbs__separator {
    margin: 0 10px;
    color: #AAA;
}

.b-breadcrumbs__item-link {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.b-dialog {
    background: #FFF;
    font-size: 14px;
    z-index: 500;
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    border-radius: 20px;
    padding: 20px 30px;
}

.b-shadow {
    background: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 400;
    display: none;
}
.b-dialog__close {
    position: absolute;
    width: 22px;
    height: 22px;
    padding: 10px;
    background: url('images/i.png') no-repeat 10px -422px;
    right: 18px;
    top: 21px;
    cursor: pointer;
}

.b-new-sales:after, .b-ending-sales:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.b-new-sales__title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 20px;
}

.b-new-sales__list {
    margin: -50px 0 0 -50px;
}

.b-new-sales__list:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-new-sales__item {
    display: block;
    height: 560px;
    width: 475px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 50px 0 0 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.b-new-sales__item-img {
    width: 100%;
    height: 475px;
    border-radius: 15px 15px 0 0; /* для старых Webkit */
}

.b-new-sales__item-link {
    text-decoration: none;
    cursor: pointer;
    border: 0;
}

.b-new-sales__item-bottom {
    display: block;
    background: #fff;
    height: 85px;
    width: 473px;
    border-radius: 0 0 15px 15px; /* для старых Webkit */
    position: absolute;
    bottom: 0;
}

.b-new-sales__item-name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin: 20px 0 0 20px;
}

.b-new-sales__item-subname {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
    margin-left: 20px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
}

.b-new-sales__item-ending-info {
    color: #808080;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.b-ending-sales {
    clear: both;
}

.b-ending-sales__title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 20px;
}

.b-ending-sales__list {
    margin: -50px 0 0 -50px;
}

.b-ending-sales__list:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-ending-sales__item {
    display: block;
    height: 385px;
    width: 300px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 50px 0 0 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.b-ending-sales__item-img {
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0; /* для старых Webkit */
}

.b-ending-sales__item-link {
    text-decoration: none;
    cursor: pointer;
}

.b-ending-sales__item-bottom {
    display: block;
    background: #fff;
    height: 85px;
    width: 288px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px; /* для старых Webkit */
}

.b-ending-sales__item-name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin: 20px 20px 0 20px;
}

.b-ending-sales__item-subname {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
    margin: 20px;
}

.b-content .b-new-sales {
    margin-top: 40px;
}

.b-content .b-ending-sales {
    margin-top: 40px;
}

.b-page .b-sale {
    margin: 20px 0;
}

.b-page .b-item-list {
    margin-top: 20px;
}

.b-sale__image {
    border-radius: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 475px;
    height: 475px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b-sale__name {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.b-sale__subname {
    font-size: 40px;
    color: #ccc;
}

.b-sale__description {
    font-size: 16px;
    color: #000;
    margin: 20px 0;
    line-height: 26px;
}

.b-quote {
    width: 100%;
    display: block;
    margin: 40px 0 0 -13px;
}

.b-quote__title {
    font-weight: bold;
}

.b-quote__frame {
    position: relative;
    top: -17px;
    left: 13px;
    background: #f5f3e8;
    border-radius: 20px;
    z-index: 0;
    display: block;
    padding: 30px;
    min-height: 160px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b-quote__image {
    background: #f5f3e8;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 0 30px 10px 0;
    width: 100px;
    height: 100px;
}

.b-quote__text {
    display: inline;
    margin-left: 0;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}

.b-quote__signature {
    display: block;
    text-align: right;
    margin-top: 20px;
}

.b-quote__signature-text {
    font-size: 14px;
    font-style: italic;
    color: #959595;
    text-align: right;
}

ul#categories-menu {
    background-color: #47484A;
    border-top: 1px solid #5F6061;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    z-index: 50;
    padding: 0px 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: relative;
}
ul#categories-menu li {list-style: none;}

ul#categories-menu a {color: #BDBDBD; text-decoration: none;}
ul#categories-menu a:hover {text-decoration: underline; color: #FFF;}

ul#categories-menu li.categories-menu-item-top,
ul#categories-menu li.categories-menu-item-separator {
    display: inline-block;
    line-height: 35px;
    float: left;
    margin: 0px;
}
ul#categories-menu li.categories-menu-item-separator {border-right: 1px dotted #999999; height: 17px; margin: 8px 0px 10px;}
ul#categories-menu li.categories-menu-item-top > a {margin: 0px 15px;}
/*ul#categories-menu ul.categories-submenu {*/
    /*display: none;*/
    /*position: absolute;*/
    /*line-height: 25px;*/
    /*background: #272727;*/
    /*padding: 5px 15px;*/
    /*min-width: 100px;*/
    /*margin: 0px;*/
/*}*/
/*ul#categories-menu ul.categories-submenu li > a {white-space: nowrap;}*/
/**/
ul#categories-menu ul.categories-level1 {
    font-size: 14px;
    font-weight: bold;
}
ul#categories-menu ul.categories-level1 {
    display: none;
    position: absolute;
    line-height: 20px;
    background: #fff;
    padding: 0px 15px;
    min-width: 100px;
    /*margin: 30px;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

ul#categories-menu ul.categories-level1 li {
    float: left;
    margin: 10px;

}
ul#categories-menu ul.categories-level1 a {
    color: #333333;
}
ul#categories-menu ul.categories-level2 {
    padding: 0;
    margin: 0;
}
ul#categories-menu ul.categories-level2 li {
    margin: 0;
}
ul#categories-menu ul.categories-level2 li {
    font-size: 12px;
    font-weight: normal;
    float: none;
}

.cat63 ul.categories-level1 {
    width: 800px;
    right: 100px;
}
.cat65 ul.categories-level1 {
    width: 600px;
    right: 0;
}
.cat62 ul.categories-level1 {
    width: 900px;
    right: 30px;
}
.cat390 ul.categories-level1 {
    width: 200px;
    right: 0;
}

.b-item-list {
    margin: 0 0 -50px -50px;
    display: block;
}

.b-item-list:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-item-list:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
}

.b-item-list__item {
    display: block;
    float: left;
    margin: 0 0 50px 50px;
    position: relative;
    width: 300px;
    height: 405px;
}

.b-item-list__item-frame {
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 405px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.b-item-list__item-image {
    border-radius: 15px; 
    width: 100%;
}


.b-item-list__item-ribbon {
    top: 245px;
    left: -13px;
    position: absolute !important;
}

.b-item-list__item-link {
    text-decoration: none;
}

.b-item-list__item-bottom {
    padding: 15px 20px;
    position: absolute;
    width: 260px;
    height: 75px;
    bottom: 0;
}

.b-item-list__item-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    display: block;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-decoration: none;
}

.b-item-list__item-brand {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #797979;
    display: inline;
    text-decoration: none;
}

.b-item-list__item-price {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    display: block;
    height: 40px;
    margin-top: 8px;
    text-decoration: none;
}

.b-item-list__item-old-price {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #797979;
    display: inline;
    text-decoration: line-through;
}

.b-item-list__item-old-price {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #797979;
    display: inline;
    text-decoration: line-through;
}

.b-item-list__item-buy {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.b-yellow-caption {
    position: relative;
}

.b-yellow-caption__title {
    font-family: "Myraid Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 35px;
    color: #000;
    background: #ffd943;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding: 0 23px;
    position: relative;
    z-index: 10;
}

.b-yellow-caption__corner {
    position: absolute;
    top: 35px;
    left: 0;
    background: url('images/yellow-corner.png') no-repeat;
    height: 11px;
    width: 13px;
}

.b-categories-breadcrumbs:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-categories-breadcrumbs__ancestor-category,
.b-categories-breadcrumbs__subcategory,
.b-categories-breadcrumbs__arrow {
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 5px 5px 0px;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.b-categories-breadcrumbs__ancestor-category,
.b-categories-breadcrumbs__subcategory {
    padding: 5px 15px;
}

.b-categories-breadcrumbs__subcategory {
    background: #AAAAAA;
}

.b-categories-breadcrumbs__ancestor-category {
    background: #47484A;
}

.b-categories-breadcrumbs__link {
    color: #FFF;
    text-decoration: none;
}

.b-categories-breadcrumbs__arrow {
    background: url('images/arrow.png') 50% 50% no-repeat;
    width: 20px;
    height: 30px;
    line-height: 30px;
}

.b-page .b-categories-breadcrumbs {
}

.b-category .b-breadcrumbs {
    float: left;
}

.b-page .b-sort-form {
    margin-left: 20px;
    float: left;
}

.b-page__pagination-wrapper {
    text-align: center;
    clear: both;
}

.b-page__pagination-wrapper .b-pagination {
    margin-top: 20px;
}

.b-pagination {
    display: inline-block;
}

.b-pagination__prev,
.b-pagination__next,
.b-pagination__current,
.b-pagination__page,
.b-pagination__page-block {
    float: left;
    border-radius: 8px 8px 8px 8px;
    display: block;
    padding: 7px 12px 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #787878;
    margin: 0 1px;
    line-height: 1;
}

.b-pagination__prev,
.b-pagination__next {
    font-size: 18px;
    margin: 0 2px;
    padding: 9px 12px;
}

.b-pagination__prev:hover,
.b-pagination__next:hover {
    text-decoration: underline;
}

.b-pagination__prev,
.b-pagination__next,
.b-pagination__page:hover,
.b-pagination__page-block:hover {
    background: none repeat scroll 0 0 #F5F3E8;
    color: #000000;;
}

.b-pagination__current {
    color: #000;
    background-color: #FFCC00;
}


.b-yellow-button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    padding: 4px 20px;
    border-radius: 10px;
    background-color: #ffd943;
    background: linear-gradient(to bottom, #FFDA43, #FFCC00) repeat scroll 0 0 #ffd943;
    text-decoration: none;
}

.b-main-menu {
    display: block;
    position: relative;
    margin-left: 5px;
}

.b-main-menu__item {
    font-size: 20px;
    float: left;
    margin-left: 20px;
    line-height: 37px;
}

.b-main-menu__item-link {
    color: #000;
    text-decoration: none;
}

.b-main-menu__item-link .b-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.b-main-menu__item_type_cart {
    float: right;
}

.b-main-menu__item_type_cart .b-yellow-roundlabel {
    position: relative;
    top: -15px;
    right: 15px;
}

.b-main-menu__item_type_cart:hover .b-cart-overlay {
    display: block;
}

.b-main-menu__item_type_search {
    position: relative;
    right: -50px;
}

.b-main-menu__item_type_login {
    float: right;
    font-size: 14px;
}

.b-main-menu__item:hover .b-main-menu__submenu {
    display: block;
}

.b-main-menu__submenu {
}

.b-main-menu__submenu__item {
    line-height: normal;
}

.b-main-menu__submenu__content {
    background: #000;
    border-radius: 10px;
    padding: 10px;
}

.b-main-menu__submenu__grid {display: table;}

.b-main-menu__submenu__grid__column {
    display: table-cell;
}

.b-main-menu__submenu__arrow {
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 0 14px 14px;
    height: 0;
    width: 0;
    z-index: 0;
    margin-left: 30px;
}

.b-main-menu__submenu__title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFF;
}

.b-main-menu__submenu__sales {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    padding: 5px;
}

.b-main-menu__submenu__sales__item {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    padding: 5px;
}
.b-main-menu__submenu__sales__item:last-child {
    border: none;
}

.b-main-menu__submenu__sales__item__name {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.b-search-form {
    border: 1px solid #EBEBEB;
    border-radius: 11px 11px 11px 11px;
    float: left;
    margin: 5px 15px 0 0;
}

.b-search-form:hover, .b-search-form:focus {
    border-color: #999999;
}

.b-search-form:hover .b-search-form__submit, .b-search-form:focus .b-search-form__submit {
    background-position: 4px -842px;
}

.b-search-form__search {
    font-size: 14px;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000000;
    float: right;
    padding: 4px 8px 4px 0;
    width: 150px;
    outline: 0 none;
}

.b-search-form__search::-moz-placeholder {
    color: #EBEBEB;
}

.b-search-form__search::-webkit-input-placeholder {
    color: #EBEBEB;
}

.b-main-menu__item_type_account {
    float: right;
}

.b-main-menu__item__account-link {
    display: block;
    width: 70px;
    height: 35px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    background: url('images/account-menu.png') 55px 14px no-repeat;
}

.b-main-menu__item__account-link__icon {
    margin: 0 0 0 15px;
}

.b-main-menu__submenu__account__item,
.b-main-menu__submenu__account__item a {
    font:  12px/24px "Myraid Pro", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #666;
    height: 24px;
}

.b-main-menu__item_type_account:hover {
}
.b-main-menu__item_type_account:hover .b-main-menu__item__account-link {
    height: 40px;
    background: #F5F3E8;
}

.b-main-menu__item_type_account:hover .b-main-menu__submenu__account,
.b-main-menu__item_type_account:hover .b-main-menu__submenu__account__border_stub
{
    display: block;
    background: #F5F3E8;
}

.b-main-menu__submenu__account__border_stub {
    display: none;
    height: 3px;
    width: 70px;
    background: #FFF;
    position: relative;
    margin: -5px 0 0 1px;
    z-index: 210;
}

.b-main-menu__submenu__account {
    z-index: 200;
    border-radius: 3px;
    border: 1px solid #EBEBEB;
    display: none;
    background: #FFF;
    position: absolute;
    right: 0;
    padding: 3px 0 0 0;
    margin: -3px 0 0 0;
    min-width: 180px;
    /*box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.05);*/
}

.b-main-menu__submenu__account__item {
    padding: 5px 20px;
}

.b-main-menu__submenu__account__item:hover {
    background: #FFD943;
}
.b-main-menu__submenu__account__item:hover,
.b-main-menu__submenu__account__item:hover a {
    color: #000;
}

.b-main-menu__submenu__account__item_username {
    padding: 10px 20px;
    color: #000;
    font-weight: normal;
    border-bottom: 1px dotted #000;
}
.b-main-menu__submenu__account__item_username:hover {
    background: #F5F3E8;
    color: #000;
}

.b-main-menu__submenu__account__item-link {
    color: #000;
    text-decoration: none;
}

.b-search-form__submit {
    background: url('images/i.png') no-repeat scroll 4px -42px transparent;
    float: left;
    height: 22px;
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 22px;
    outline: none;
    border: 0 none;
    cursor: pointer;
    display: block;
}

.b-search-form__submit::-moz-focus-inner {
    border: 0;
}

.i-menu__sales {
    background: url('images/sales-icon.png') no-repeat;
    padding: 25px 0 0 25px;
}

.i-menu__live {
    background: url('images/live-icon.png') no-repeat;
    padding: 25px 0 0 25px;
}

.i-menu__calend {
    background: url('images/calendar-icon.png') no-repeat;
    padding: 23px 0 0 27px;
}

.i-menu__cart {
    background: url('images/cart-icon.png') no-repeat;
    padding: 27px 0 0 28px;
}

.b-yellow-roundlabel {
    background: none repeat scroll 0 0 #FFD943;
    border-radius: 20px 20px 20px 20px;
    color: #000000;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    outline: 0 none;
    text-align: center;
    text-decoration: none;
    width: 16px;
}

.b-cart-title {
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 18px;
}

.b-cart-title__timer {
    color: #FFD943;
}

.b-cart-title__link {
    font-size: 16px;
    margin-left: 30px;
    text-decoration: underline;
    text-transform: none;
    color: #000;
}

.b-cart-items__item {
    border: 2px dotted #EAE8E8;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 600px;
    padding: 13px 13px 10px;
    margin-bottom: 6px;
    position: relative;
    min-height: 200px;
}

.b-cart-items__image {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.b-cart-items__item-details {
    margin-left: 220px;
}

.b-cart_items__remove-link {
    position: absolute;
    display: block;
    overflow: hidden;
    cursor: pointer;
    right: 7px;
    top: 7px;
    height: 30px;
    width: 30px;
    border-radius: 20px 20px 20px 20px;
    background-color: #EBEBEB;
    text-align: center;
    line-height: 25px;
    text-decoration: none
}
.b-cart_items__remove-link:hover {
    background-image: url('images/bgRemove.png');
    background-position: left -30px;
    background-repeat: no-repeat;
    background-color: #e61b31;
}



.b-cart-items__item-name {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    margin-right: 35px;
    display: block;
}

.b-cart-items__item-info {
    font-size: 12px;
    width: 100%;
}

.b-cart-items__item-info-term {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    width: 120px;
    vertical-align: top;
}


.b-cart-items__item-info-description {
    padding-top: 10px;
    vertical-align: bottom;
}

.b-cart-items__item-info-right {
    text-align: right;
    padding: 5px 0;
}

.b-cart-items__item-info-limit {
    color:#DD0017;
    padding-top: 20px;
    text-align: right;
}

.b-cart-items__item-price {
    font-size: 14px;
    color: #666;
}

.b-cart-items__item-quantity-label {
    font-size: 12px;
    color: #000;
}


.b-cart-items__item-quantity-select {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    height: 27px;
    line-height: 27px;
    padding: 3px 5px;
    width: 70px;
    text-align: center;
}

.b-cart-items__item-indicator {
    display: none;
    vertical-align: text-bottom;
    width: 20px;
    margin-right: 10px;
}

.b-cart-items__item-sum {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.b-cart-form {
    background: #f5f3e8;
    border-radius: 20px;
    display: block;
    padding: 30px 30px;
}

.b-cart-form__title {
    font-size: 24px;
    font-weight: bold;
}
.b-cart-form__bonus {
    font-size: 12px;
    color: #000;
}
.b-cart-form__bonus-link {
    text-decoration: none;
    vertical-align: super;
    color: #000;
}

.b-cart-form__check {
    margin-top: 15px;
}

.b-cart-check__total,
.b-cart-check__item {
    border-top: 1px dotted #999999;
    color: #666666;
    float: none;
    line-height: 26px;
    padding: 0 3px;
}

.b-cart-check__item-name {
    color: #666;
    font-size: 12px;
    margin-right: 5px;
    width: 160px;
    display: inline-block;
}

.b-cart-check__item-value {
    color: #666;
    font-size: 12px;
}

.b-cart-check__total {
    font-weight: bold;
    border-top: 1px solid #000;
    color: #000;
}
.b-cart-check__total .b-cart-check__item-name,
.b-cart-check__total .b-cart-check__item-value {
    color: #000;
}

.b-cart-check__item-image {
    width: 40px;
    height: 40px;
}
.b-cart-check__item-price {
    width: 155px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin: 5px;
}
.b-cart-check__item-sum {
    width: 45px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.b-cart-form__discount {
    background-color: #FFCC00;
    border-radius: 7px;
    color: #DD0017;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-top: 15px;
    padding: 8px 8px;
    display: block;
    text-align: center;
}

.b-cart-form__checkout {
    margin-top: 15px;
}

.b-cart-bonus-rules {
    font-size: 14px;
    color: #999999;
    font-style: italic;
}

.b-page .b-grid-order {
    margin-top: 20px;
}



.b-page .b-item {
}

.b-item__main-image {
    width: 475px;
    height: 475px;
    margin: 0 0 25px;
}
.b-item__main-image img {
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    max-width: 475px
}

.b-item__thumbs:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-item__thumbs {
    width: 445px;
    margin: 25px 15px;
}

.b-item__thumbs__image {
    float: left;
    width: 115px;
    height: 115px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    overflow: hidden;
    background: #FCFCFC;
    margin: 0 15px 15px;
}

.b-item__left-column__separator {
    background: url('images/item-left-column-separator.png') 50% 0 no-repeat;
    height: 1px;
    margin: 20px 0;
}

.b-item__title {
    font-size: 40px;
    font-weight: bold;
    color: #585858;
    margin: 0 0 10px 0;
}

.b-item__brand {
    margin: 10px 0;
}

.b-item__brand, .b-item__brand-link {
    color: #585858;
}

.b-item__sale-ending {
    color: #EF0000;
    font-weight: bold;
}

.b-item__price-buy {
    margin: 20px 0;
}

.b-item__price-buy:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-item__price-buy__price {
    float: left;
    width: 200px;
}

.b-item__price-buy__price__new-price {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
}

.b-item__price-buy__price__new-price-only {
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
}

.b-item__price-buy__price__old-price {
    text-decoration: line-through;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.b-item__price-buy__quantity {
    float: left;
    width: 70px;
    margin: auto 30px auto auto;
}

.b-item__price-buy__quantity-label {
    font-size: 12px;
    text-align: center;
    height: 20px;
}

.b-item__price-buy__quantity-select select {
    width: 70px;
    margin: 0;
    height: 25px;
    line-height: 25px;
}

.b-item__price-buy__buy {
    float: right;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}

.b-item__price-buy__sold {
    text-align: center;
}

.b-item__description {
    text-align: left !important;
    line-height: 24px;
}

.b-item__delivery,
.b-item__details {
    margin: 20px 0;
}

.b-item__delivery-label,
.b-item__details-label {
    font-style: italic;
    margin: 30px 0 10px;
}

.b-item__delivery__item:after,
.b-item__details__item:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-item__delivery__item-label,
.b-item__delivery__item-value,
.b-item__details__item-label,
.b-item__details__item-value {
    padding: 5px;
}

.b-item__delivery__item-label,
.b-item__details__item-label {
    padding-left: 0;
    float: left;
    width: 180px;
    color: #787878;
}

.b-item__delivery__item-value,
.b-item__details__item-value {
    padding-right: 0;
    float: left;
    width: 280px;
    line-height: 24px;
}

.b-item__delivery__separator:last-child,
.b-item__details__separator:last-child {
    height: 0;
}

.b-item__details .b-separator-h:last-child {
    display: none;
}


.b-button {
    background-color: #ffcc00;
    background: linear-gradient(to bottom, #ffda43, #ffcc00);
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.b-button_grey {
    background-color: #ccc;
    background: linear-gradient(to bottom, #ccc, #eee);
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.b-button, .b-button a {
    color: #000000;
    text-decoration: none;
}

.b-button_color_green {
    background-color: #ccff43;
    background: linear-gradient(to bottom, #daff43, #ccff43);
}

.b-grid {
    /*overflow: hidden;*/
}

.b-grid:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
.b-grid__column {
    float: left;
}
.b-grid__column:first-child {margin-left: 0;}
.b-grid__column:last-child {margin-right: 0;}

.b-grid__column-left, .b-grid__column-right {
    width: 475px;
    float: left;
}

.b-grid__column-left {
    margin: 0 25px 0 0;
}

.b-grid__column-right {
    margin: 0 0 0 25px;
}

.b-grid__column-large {
    width: 630px;
    margin: 0 15px;
    float: left;
}

.b-grid__column-small {
    width: 340px;
    margin: 0 15px;
    float: left;
}

.b-grid__3-column-small {
    width: 300px;
    margin: 0 25px;
}

.b-grid__3-column-large {
    width: 650px;
    margin: 0 25px;
}

.b-order-form {
    padding-left: 25px;
}
.b-order-form__title {
    border-top: 1px dotted #000000;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    margin: 20px 0;
}

.b-order-form__label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #000;
}

.b-order-form__field {
    color: #000;
    font-weight: normal;
    font-size: 16px;
    height: 27px;
    padding: 5px 7px;
    width: 250px;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
}

.b-order-form__radio-field-set {
    font-size: 12px;
}

.b-order-form__radio-field-set li {
    margin-bottom: 5px;
}
.b-order-form__radio-field {
    vertical-align: text-bottom;
}

.b-order-form__selfdelivery-select {
    color: #000;
    font-size: 12px;
}

.b-order-form__address-comment {
    font-size: 12px;
    height: 80px;
    padding: 3px 7px;
    width: 250px;
}

.b-order-form__submit {
    margin-top: 20px;
}

.b-order-form__delivery,
.b-order-form__selfdelivery,
.b-order-form__self-delivery-prepayed {
    display: none;
}

.b-order-form__self-delivery-prepayed {
    font-size: 12px;
}

.errorlist {
    color: #B11A19;
    display: block;
    margin: 2px 0;
    padding: 5px;
}
.b-order-form__field-error {
    border-color: #B11A19;
}

.b-featured-items {
}

.b-featured-items__title {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 20px;
}

.b-featured-items__list {
    margin: -50px 0 0 -50px;
}

.b-featured-items__list:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-featured-items__item {
    margin: 50px 0 0 50px;
    float: left;
    width: 160px;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.b-featured-items__item {
    margin-left: 50px;
    float: left;
    position: relative;
}

.b-featured-items__item-bottom {
    position: absolute;
    bottom: 80px;
    max-height: 80px;
    width: 100%;
    background: #000;
    opacity: 0.7;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
}

.b-featured-items__item:hover .b-featured-items__item-bottom {
    display: block;
    bottom: 0;
}

.b-featured-items__item-hidden {
    display: none;
}

.b-featured-items__toggle-link-wrapper {
    display: block;
    text-align: center;
}
.b-featured-items__show-link {
    margin: 20px auto 0;
    color: #0065b0;
    border-bottom: 1px dashed #0065b0;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;

}

.b-featured-items__item-link {
    text-decoration: none;
}

.b-no-orders {
    color: #000;
    font-size: 18px;
    line-height: 24;
}

.b-no-orders__link {
    color: #000;
    text-decoration: underline;
}

.b-order-accepted {
    background: #f5f3e8;
    border-radius: 20px;
    display: block;
    padding: 30px 30px;
    margin-bottom: 20px;
}

.b-order-accepted__title {
    font-weight: bold;
    font-size: 18px;
}

.b-my-order {
    display: block;
    margin-bottom: 40px;
    font-size: 14px;
}

.b-my-order__number {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.b-my-order__subtotal {
    font-size: 14px;
}

.b-my-order__total {
    font-weight: bold;
    font-size: 14px;
}

.b-my-order__date {
    font-size: 14px;
}

.b-my-order__status {
    color: #004909;
    font-size: 18px;
    margin: 20px 0;
    display: block;
}

.b-my-order__payment-method,
.b-my-order__delivery-method,
.b-my-order__delivery-address,
.b-my-order__contact-person {
    font-weight: bold;
}

.b-my-order__table {
    width: 998px;
    margin: 10px 0;
}

.b-my-order__table-head {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #444444;
    padding: 2px;
    text-align: center;
}

.b-my-order__table-cell {
    border: 1px solid #444444;
    padding: 2px;
}

.b-my-order__table-col-counter {
    width: 20px;
}
.b-my-order__table-col-article {
    width: 70px;
}

.b-my-order__table-col-name {
    width: 300px;
    text-align: left;
    padding: 5px;
}

.b-my-order__table-col-unit {
    width: 50px;

}

.b-my-order__table-col-qnt {
    width: 50px;
}

.b-my-order__table-col-price {
    width: 80px;
}

.b-my-order__table-col-sum {
    width: 160px;
}

.b-my-order__table-col-share {
    widht: 268px;
}

.b-my-order__table-col-counter,
.b-my-order__table-col-article,
.b-my-order__table-col-unit,
.b-my-order__table-col-qnt,
.b-my-order__table-col-price,
.b-my-order__table-col-sum {
    text-align: center;
}

.b-auth a {
    color: #0064af;
    font-size: 14px;
}
.b-auth__dialog__login {
    width: 640px;
    height: 260px;
    margin-left: -320px;
    margin-top: -130px;
}

.b-auth__label {
    text-align: center;
    margin: 20px 0;
}

.b-auth__social {
    text-align: center;
}
.b-auth__form {
    margin: 0 auto;
}


.b-auth__form:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-auth__form__row {
    margin: 10px 0;
}
.b-auth__form__row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-auth__field-label,
.b-auth__field-input,
.b-auth__field-submit {
    float: left;
}

.b-auth__field-label {
    font-style: italic;
    margin: auto 5px auto auto;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
}

.b-auth__field-input {
    margin: 0 15px 0 0;
    width: 200px;
}
.b-auth__field-input input[type=text],
.b-auth__field-input input[type=password] {
    width: 180px;
    height: 30px;
    display: block;
}
.b-auth__field-input input {
    border: 1px solid #CCC;
    background: #FFF;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
}

.b-auth__field-submit {
    margin: 0 0 0;
}
.b-auth__field-submit input {
    padding: 0 5px;
    height: 32px;
    line-height: 32px;
}

.b-auth__errors {
    font-size: 16px;
    background: #FFD943;
    padding: 11px 25px 8px;
    line-height: 1;
    margin: 0 auto 25px auto;
    border-radius: 13px;
}
.b-auth__errors:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-auth__field__errors {
    font-size: 12px;
    background: #FFD943;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.b-auth__switch-link {
    margin: 15px 0 0;
    display: inline-block;
}

/*
    LOGIN FORM
*/

.b-auth__login__form {
    max-width: 650px;
}

.b-auth__login__field-submit input {
    width: 70px;
}

/*
    REGISTER FORM
*/

.b-auth__register__form {
    max-width: 300px;
}

.b-auth__register__form .b-auth__field-label {
    width: 60px;
    text-align: right;
}

.b-auth__register__field_i_agree .b-auth__field-input {
    width: 200px;
    font-size: 12px;
    min-height: 22px;
    padding: 10px 0;
}

.b-auth__register__form .b-auth__switch-link {
    margin: 15px 20px 0 0;
}

/*
    PASSWORD RESET FORM
*/

.b-auth__password_reset_form__form {
    max-width: 300px;
}

.b-auth__password_reset_form__form .b-auth__field-label {
    width: 60px;
    text-align: right;
}

/*
    PASSWORD RESET CONFIRM
*/

.b-auth__password_reset_confirm__form {
    max-width: 420px;
}

.b-auth__password_reset_confirm__form .b-auth__field-label {
    width: 190px;
    text-align: right;
}

.b-auth__note {
    font-size: x-small;
    color: #666;
    text-align: center;
}
.b-social__facebook__login-link {
    display: inline-block;
    background: url('images/auth-social.png') 50% -73px no-repeat;
    height: 28px;
    width: 100px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.b-social__share {
    position: absolute;
    z-index: 100;
}

.b-social__share:after {
    clear: both;
    display: block;
    content: ".";
    line-height: 0;
    visibility: hidden;
}

.b-social__share {
    margin: 10px 0 25px 0;
}

.b-social__share__item {
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 20px 0 20px;

}

.b-social__share__item-link {
    display: block;
    background-position: 0 0;
    height: 20px;
    margin: 5px auto 0;
}

.b-social__share__item-link-facebook {
    background: url('images/social-share-facebook.png') no-repeat;
    width: 76px;
}
.b-social__share__item-link-vkontakte {
    background: url('images/social-share-vkontakte.png') no-repeat;
    width: 41px;
}

.b-social__share__item-link-twitter {
    background: url('images/social-share-twitter.png') no-repeat;
    width: 80px;
}

.b-social__share__item-link-fabika {
    background: url('images/red_heart16grey.png') no-repeat;
    width: 19px;
}
.b-social__share__item-link-fabika.liked {
    background: url('images/red_heart16.png') no-repeat;
}

.b-social__share__item__count {
    display: block;
    width: 70px;
    padding: 5px 5px 9px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: url('images/social-bubble.png') 0 0 no-repeat;
}

.b-dialog-checkout {
    margin: -60px -185px;
}

.b-dialog-checkout__inner {
    width: 370px;
    height: 120px;
    position: relative;
}

.b-dialog-checkout__text {
    font-size: 22px;
    margin-top: 45px;
    display: block;
    text-align: center;
}

.b-dialog-checkout__continue {
    position: absolute;
    left: 0;
    bottom: 0;
}

.b-dialog-checkout__checkout {
    position: absolute;
    right: 0;
    bottom: 0;
}

.b-brand {
    margin-bottom: 40px;
}
.b-brand__image {
    border-radius: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b-brand__name {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.b-brand__description {
    font-size: 16px;
    color: #000;
    margin: 20px 0;
    line-height: 26px;
}

.b-form {

}

.b-form:after,
.b-form__fieldset:after,
.b-form__field:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.b-form__fieldset {
    margin: 0 0 20px;
}

.b-form__fieldset__caption {
    margin: 0 0 20px;
    font-size: larger;
    font-weight: bold;
}

.b-form__field {
    margin: 10px 0;
}

.b-form__field__label {
    float: left;
    margin: 0 10px 0 0;
    height: 32px;
    line-height: 32px;
}

.b-form__field__input {
    float: left;
}
.b-form__field__input input,
.b-form__field__input textarea {
    border: 1px solid #CCC;
}
.b-form__field__input input[type=text],
.b-form__field__input input[type=password] {
    height: 30px;
}

.b-form__field__input input[type=text],
.b-form__field__input input[type=password],
.b-form__field__input textarea {
    width: 100%;
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(187, 187, 187, 0.5) inset;
}

.b-form__field__error {
    color: #B11A19;
    display: block;
    margin: 2px 0;
    padding: 5px;
}

.b-profile__form .b-form__field__label {
    width: 150px;
}

.b-profile__form .b-form__field__input {
    width: 300px;
}

.b-profile__form .b-form__field__input {
    float: left;
}
.b-profile {

}

#profile_form_gender ul:after {
    clear: both;
    display: block;
    content: ".";
    visibility: hidden;
    line-height: 0;
}
#profile_form_gender ul li {
    float: left;
    margin: 0 10px 0 0;
    height: 30px;
    line-height: 30px;
}
.b-textpage {
    font-size: 18px;
}
.b-textpage__content_contacts .b-textpage__content,
.b-textpage__content_about .b-textpage__content,
.b-textpage__content_help .b-textpage__content {
    font-size: 16px;
}
.b-textpage__content {
    line-height: 26px;
    font-size: 18px;
}

.b-textpage__content p {
    width: 650px;
}
.b-textpage__content ul,
.b-textpage__content ol
{
    width: 630px; /* 650px - padding+margin */
}

.b-textpage__content ul {
    padding: 0 0 0 20px;
}
.b-textpage__content ul li {
    padding: 0 0 0 10px;
    margin: 20px 0;
    list-style: url('images/list-bullet.png');
}

.b-textpage__text-marked {
    font-weight: bold;
}

.b-textpage .b-form__field__label {
    float: none;
}
.b-textpage .b-form__field__input {
    float: none;
}
.b-textpage .b-form__field__input input,
.b-textpage .b-form__field__input textarea {
    width: 400px;
}

#feedback_field_captcha .b-form__field__input {
    line-height: 44px;
}
#feedback_field_captcha .b-form__field__input img {
    vertical-align: middle;
}
#feedback_field_captcha .b-form__field__input input {
    width: 100px;
}

.b-textpage a {
    color: #F7831E;
}

.b-textpage__breadcrumbs__item {
    color: #CCAA00;
    text-transform: uppercase;
}

.b-textpage__top {
    margin: 15px 0;
    padding: 0;
    background: #ECECEC;
    height: 53px;
    line-height: 53px;

}
.b-textpage__top__logo {
    float: right;
    margin: 3px 40px 3px 3px;
}

.b-textpage p {
    margin: 20px 0;
}

.delivery-info-table {
    width: 100%;
    table-layout: fixed;
}

.delivery-info-table thead {
    font-size: 16px;
   font-weight: bold;
}

.delivery-info-table thead td {
   border-bottom: 1px #000 solid;
}

.delivery-info-table tbody td {
   border-bottom: 1px #666 dotted;
   padding: 4px;
   vertical-align: middle;
}

.delivery-info-table tbody {
   font-color: #666;
   line-height: 30px;
}

.delivery-info-table tbody p {
   color: #000 !important;
   line-height: 10px !important;
   text-indent: 0 !important;
   font-size: 15px !important;
   margin-bottom: 5px !important;
}

.delivery-info-table__sum {
   width: 170px;
}

.delivery-info-table__weight {
   width: 100px;
}
.delivery-info-table__volume {
   width: 180px;
}

.delivery-info-table__cost {
   width: 550px;
}

.delivery-info-table__city {
   width: 200px;
}

.delivery-info-table__address {
   width: 560px;
}

.delivery-info-table__selfdeliverycost {
   width: 240px;
}

.b-textpage a[name=note] {
   border-top: 1px solid #000;
   padding: 10px;
   color: #000;
}

.b-event_page_title {
    font-size: 24px;
    line-height: 37px;
    color: #000;
    margin: 20px 0;
    padding: 0;
}
.b-event_page_title:hover {
    color: #000;
}

.b-event_page_separator {
    margin: 20px 0;
}

.b-event_groups {
    margin-left: -50px;
    margin-bottom: -50px;
}

.b-event_groups:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    line-height: 0px;
}

.b-event_groups__group {
    float: left;
    width: 212px;
    height: 248px;
    overflow: hidden;
    margin: 0 0 50px 50px;
}

.b-event_groups__group a {
    display: block;
    text-decoration: none;
    width: 212px;
    height: 248px;
}

.b-event_groups__group__image {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    width: 210px;
    height: 200px;
}

.b-event_groups__group__title {
    position: relative;
    top: -54px;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 47px;
    height: 47px;
    overflow: hidden;
    background: #ffcc00;
    border-radius: 0 0 15px 15px;
}

.b-event_groups__group__heart {
    position: relative;
    top: -195px;
    left: 155px;
    width: 45px;
    height: 45px;
    z-index: 30;
}

.b-livefeed {
    margin: 0 0 -50px -50px;
    overflow: hidden;
}
.b-livefeed * {
    color: #000;
}

.b-livefeed:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    line-height: 0;
}

.b-livefeed__item {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: 388px;
    margin: 0 0 50px 50px;
}

.b-livefeed__item-link {
    display: block;
    color: #797979;
}

.b-livefeed__item__frame {
    position: absolute;
    width: 300px;
    height: 388px;
    border: 1px solid #CCC;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.b-livefeed__item__image {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
}
.b-livefeed__item__image img {
    vertical-align: middle;
    display: block;
}

.b-livefeed__item__info {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 260px;
}

.b-livefeed__item__info__row {
    float: left;
    width: 220px;
}

.b-livefeed__item__info__row:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    line-height: 0;
}

.b-livefeed__item__username,
.b-livefeed__item__time,
.b-livefeed__item__title {
    margin: 5px 0;
}
.b-livefeed__item__username {
    width: 100px;
    float: left;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
    font-weight: bold;
}

.b-livefeed__item__time {
    font-size: x-small;
    float: right;
    width: 90px;
    margin: 5px 10px 5px 10px;
    color: #797979;
    line-height: 19px;
    height: 19px;
    text-align: right;
}

.b-livefeed__item__title {
    overflow: hidden;
    width: 210px;
    height: 19px;
    line-height: 19px;
    margin: 5px 0;
}

.b-livefeed__item__icon {
    margin: 20px 0 0;
    float: right;
    width: 30px;
}

.b-livefeed__item__icon img {
    vertical-align: middle;
    display: block;
}

.b-livefeed__all-link {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 20px;
}
.b-livefeed__all-link a {
    text-decoration: underline;
    color: #0362b2;
}