div.element{
	position: relative;
	width: 272px; height: 243px;
	background: url(images/element-bg.png) left top no-repeat;
}
div.element-pic{
	position: absolute;
	top: 16px; left: 16px;
	width: 240px; height: 180px;
	background: #fff;
}
div.element-zoom{
	position: absolute;
	bottom: 4px; right: 4px;
}
a.detail-link{
	color: #4b433c;
	font-size: 24px;
	text-decoration: none;
}
div.element-price{
	position: absolute;
	top: 19px; left: 9px;
	height: 24px; min-width: 122px;
	padding-top: 4px;
	background: #a52a27 url(images/price-bg.png) right top no-repeat;
	color: #fff;
	font-size: 18px;
}
div.element-price-right{
	position: absolute;
	right: -5px; top: 0px;
	width: 5px; height: 28px;
	background: url(images/price-right.png) left top no-repeat;
}
div.element-price-left{
	position: absolute;
	left: -5px; top: -5px;
	width: 5px; height: 38px;
	background: url(images/price-left.png) left top no-repeat;
}
div.element-buy{
	position: absolute;
	left: 24px; bottom: 18px;
}
div.element-add{
	position: absolute;
	right: 24px; bottom: 18px;
}
div.element-buy a, div.element-add a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
div.basket-add-success{
	position: fixed;
	left: 50%; top: 0px;
	display: none;
	height: 48px; width: 319px;
	margin-left: -160px;
	padding-top: 9px;
	background: url(images/success-bg.png) left top no-repeat;
	color: #fff;
	font-size: 16px;
	z-index: 1010;
}
td.curpageelementcount{
	background: url(images/curpageelementcount.png) left top no-repeat;
	color: #fff; font-size:20px;
	padding-top: 2px;
}
td.pageelementcount{
	font-size:20px; color:#4b423c;
	cursor: pointer;
}

/*photos slider styles*/
#slider ul{
  list-style: none;
  display: inline;
  position: absolute;
  float: left;
  width: 3000px;
  margin: 0;
  padding: 0;
}
#slider ul li{
  float: left;
  margin-right: 10px;
}
#slider{
  overflow: hidden;
  float: left;
  position: relative;
  height: 80px;
  margin: 0;
  /*width: 500px;*/
  /*border: 1px solid #ccc;*/
}
div.slider-wrapper{

}
table#slider-wrap{
  padding: 0 0px;
  font: 16px/30px Arial;
  vertical-align: top;
  color: #454545;
  /*padding-left: 10px;  */
}
div.left-but-s{
  float: left;
  cursor: pointer;
  background: url('images/left-but.png') center left no-repeat;
  width: 24px;
  height: 38px;
  margin-left: 5px;
}
div.right-but-s{
  float: right;
  cursor: pointer;
  width: 20px;
  height: 38px;
  background: url('images/right-but.png') center right no-repeat;
  margin-right: 5px;
}
div.slider-wrap{
  margin: 0;
}
img, a{
  border: none;
  outline: none;
}

/*colorscheme styles*/
div.colorsselector{
	display: inline-block;
	width: 30px; height: 30px;
	padding: 3px; margin: 3px;
	background: #ccc;
	cursor: pointer;
}
div.colorDetail{
	position: absolute;
	top: 15px; right: -2px;
	width: 90px; min-height: 100px;
	padding: 5px;
	display: none;
	background: #ccc;
	z-index: 120;
	font-size: 12px;
	color: #000;
}
div.colorsselector:hover div.colorDetail{
	display: block;
}
div.colorDetail-arrow{
	position: absolute;
	top: -10px; right: 7px;
	width: 19px; height: 10px;
	background: url(images/colorDetail-arrow.png) left top no-repeat;
	z-index: 120;
}