@CHARSET "UTF-8";
table#sheepla-widget-shipment-simple-tab td.sheepla-widget-last {
	width: 210px;
}
#sheepla-widget-control input[type=button]{
    background: #D65F1B !important;
    border-bottom: 1px solid #B34608 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

#sheepla-widget-city-opener {
	display: none;
}