$browser-default-font-size:             16px;

$base-font-size:                        12px;
$base-line-height:                      18px;

$rhythm-unit:                           'rem';
$rem-with-px-fallback:                  true;
$use-legacy-gradient-syntax:            true;

$gray-base:                             #000;
$gray-darker:                           lighten($gray-base, 40); // #666
$gray-dark:                             lighten($gray-base, 60); // #999
$gray:                                  lighten($gray-base, 70); // #b3b3b3
$gray-light:                            lighten($gray-base, 88); // #e0e0e0
$gray-lighter:                          lighten($gray-base, 93); // #f2f2f2

$brand-success:                         #5cb85c;
$brand-info:                            #5bc0de;
$brand-warning:                         #f0ad4e;
$brand-danger:                          #fd3232;

$body-bg:                               #fff;

$text-color:                            $gray-base;

$text-muted:                            $gray-light;

$font-size-base:                        $base-font-size;
$font-size-large:                       13px; // 1.083rem // ~13px
$font-size-small:                       11px; // 0.916rem // ~11px

$font-size-h1:                          29px; // 2.441rem // ~29px
$font-size-h2:                          23px; // 1.953rem // ~23px
$font-size-h3:                          19px; // 1.563rem // ~19px
$font-size-h4:                          15px; // 1.250rem // ~15px
$font-size-h5:                          $font-size-base;
$font-size-h6:                          10px; // 0.800rem // ~10px


$padding-base-vertical:                 $base-line-height * .5;
$padding-base-horizontal:               $base-line-height * .5;

$border-radius-base:                    em($base-line-height * .27777);

$theme-background4-bg0:                 $body-bg;
$theme-background4-bg100:               $gray-lighter; //darken(saturate(adjust-hue($theme-background4-bg0, 210deg), 30), 8);

$theme-background5-bg0:                 $body-bg;
$theme-background5-bg100:               darken(saturate(adjust-hue($body-bg, 213deg), 30), 7); //#E7ECF2


$input-bg:                              $body-bg;
$input-color:                           $gray-base;


$legend-color:                          $gray-dark !default;
$legend-border-color:                   #e5e5e5 !default;


$dropdown-border:                       $gray-light;
$dropdown-border:                       $gray-light;
$dropdown-link-color:                   $gray-base;
$dropdown-link-hover-bg:                $gray-lighter;
$dropdown-link-disabled-color:          $gray;

$table-cell-padding:                    $base-line-height * .5;
$table-border-color:                    $gray-light;

$grid-gutter-width:                     $base-line-height;
$breadcrumb-padding-horizontal:         0;

$screen-xs:                             480px;
$screen-sm-min:                         768px;
$screen-md-min:                         992px;
$screen-lg-min:                         1280px;

$screen-xs-max:                         ($screen-sm-min - 1);
$screen-sm-max:                         ($screen-md-min - 1);
$screen-md-max:                         ($screen-lg-min - 1);

$container-tablet:                      auto; //(720px + $grid-gutter-width);
$container-sm:                          $container-tablet;
$container-desktop:                     auto; //(940px + $grid-gutter-width);
$container-md:                          $container-desktop;
$container-large-desktop:               (1245px + $grid-gutter-width);
$container-lg:                          $container-large-desktop;
