.breadcrumb {
  list-style: none;
  margin: 0 0 $base-line-height;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  overflow-x: auto;
  @include scrollbar-hide;
  white-space: nowrap;

  > li {
    display: inline-block;

    + li {
      margin-left: $base-line-height / 2;

      &:before {
        @include sprite($breadcrumb-separator);
        
        content: '';
        display: inline-block;
        margin-right: $base-line-height / 2;
        vertical-align: middle;
      }
    }
    
    &:last-child {
      color: $link-color;

      &:after {
        @include sprite($breadcrumb-last);
        content: '';
        display: inline-block;
        margin-left: $base-line-height / 4;
        vertical-align: middle;
      }
    }

    > a {
      color: $text-color;
      text-decoration: none;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .breadcrumb {
    white-space: normal;
  }
}