.nav-tabs {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  > li {
    display: inline-block;
    margin: 0 $base-line-height/2 $base-line-height 0;
    padding-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }

    > a {
      border: 1px dashed;
      border-radius: $base-line-height;
      box-sizing: border-box;
      color: $gray;
      margin: 1px;
      padding: $base-line-height*0.375 $base-line-height*0.5;
      position: relative;
      display: block;

      &,
      &:hover {
        text-decoration: none;
      }

      &:hover {
        color: $navbar_link_hover_color;
      }
    }

    &.active > a {
      border: 2px solid $navbar_link_hover_color;
      color: $navbar_link_hover_color;
      cursor: default;
      margin: 0;
      text-decoration: none;

      &:before,
      &:after {
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        content: '';
        display: block;
        height: 0;
        margin-left: -7px;
        left: 50%;
        position: absolute;
        width: 0;
      }

      &:before {
        border-top: 7px solid $navbar_link_hover_color;
        bottom: -7px;
      }

      &:after {
        border-top: 7px solid $body-bg;
        bottom: -4px;
      }
    }
  }

  &__name {
    font-weight: bold;
  }

  .dropdown-menu {
    border: 2px solid $navbar_link_hover_color;
    border-radius: $base-line-height;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    top: 0;

    a {
      color: $navbar_link_hover_color;
      padding: $base-line-height*0.375 $base-line-height*0.5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & > li:first-child a {
      border-radius: $base-line-height $base-line-height 0 0;
    }
    & > li:last-child a {
      border-radius: 0 0 $base-line-height $base-line-height;
    }
  }
  .open > .dropdown-menu {
    display: table;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
