.sale-personal-profile-list-actions {
	min-width: 120px;
}

.sale-personal-profile-list-arrow-up,
.sale-personal-profile-list-arrow-down {
  text-decoration: none;
}

.sale-personal-profile-list-border {
	display: inline-block;
	margin: 0 5px;
	height: $base-line-height*1.25;
	border-right: 1px solid $gray-light;
	vertical-align: middle;
}