body {
    background: url(../i/thm_#COLOR#/bg/pleated.png);
}

html, body {
    height: 100%;
}

p, a, span, li,div,input, textarea {
    font-family: 'PT Sans', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    color: #000;
    font-size: 16px;
}

img.alignleft {
    float: left;
    margin-right: 20px;
}

img.alignright {
    float: right;
    margin-left: 20px;
}

.see_all, .see_all:focus {
    float: right;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    /*margin-right: 6px;*/
}
.rss.see_all,.rss.see_all:focus {
    float: left;
}

.see_all span {
    border-bottom: 1px solid #FFC527;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    display: inline-block;
    color: #000;    
}
a:hover, a:focus, a:active{
    text-decoration: none;
}
#content a:hover span {
    border-bottom: 1px solid #000000;
}

.see_all:hover span {
    border-bottom-color: #000;
}

.rss {
    float: left;
    background: url(../i/thm_#COLOR#/bg/rss.png) right top no-repeat;
    padding-right: 21px;
}

.ib {
    display: inline-block;
}

.ar {
    text-align: right !important;
}
.ac {
    text-align: center !important;
}
.al {
    text-align: left !important;
}

.oh {
    overflow: hidden;
}

.ib {
    display: inline-block;
}

.rel {
    position: relative;
}

header {
    background: url(../i/thm_#COLOR#/bg/header_bg.png) repeat-x center top #fff;
    position: relative;
}

.top_border {
    height: 5px;
    width: 100%;
    background: url(../i/thm_#COLOR#/bg/top_border.png) repeat-x center;
}

.logo {
    text-align: center;
    position: relative;
    top: 25px;  
}

header .logo_txt {
    font-size: 30px;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 17px;
    letter-spacing: 1.4px;
    word-spacing: 2px;
    line-height: 1;
}

header .yourcity {
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
header .headertext {
    position: relative;
    z-index: 1;
    margin-top: 42px;
}

/*SELECTBOX STYLES*/
.selectbox {
  vertical-align: middle;
  cursor: pointer;
  margin: -3px 0 0 2px;
}
.selectbox .select {
  height: 22px;
  padding: 0 10px;
  color: #000;
  z-index: 0;
  position: relative;
  background: url(../i/thm_#COLOR#/bg/select.png) repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.selectbox .select {
  height: 23px;
  padding: 1px 20px 0 6px;
  color: #000;
  background: #DeDeDe;
}
.selectbox.focused .select,
.selectbox:hover .select {
    background: #D6D6D6;
}

.selectbox .trigger {
    width: 6px;
    height: 11px;
    display: block;
    background: url(../i/thm_#COLOR#/bg/trigger.png);
    position: absolute;
    top: 7px;
    right: 8px;
}
.selectbox .select .text {
	display: block;
    width: 100%;
    color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.selectbox ul.dropdown {
    position: absolute;
    z-index: 10000 !important;
	top: 20px;
	margin: 0;
	padding: 4px 0 0;
	background: #D6D6D6;
    min-width: 100%;
    font: 11px/12px Arial, Tahoma, sans-serif;
    border-radius: 5px ;
}
.selectbox li {
	padding: 5px 10px;
    margin: 0 !important;
    color: #000;
    text-align: left;
}
.selectbox li:hover,
.selectbox li.selected {
	background: #000;
    color: #fff;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}

header .span4.phone {
    min-width: 320px;
    margin-top: 11px;
}

header .span4.phone .phone {
    display: inline-block;
}

header .phone .phone_txt {
    width: 140px;
    float: left;
    margin-right: 20px;
    text-align: right;
}

header .phone strong {
    line-height: 18px;
    display: inline-block;
    line-height: 20px;
    word-spacing: 1px;
}

header .phone .phone_number {
    float: left;
    width: 160px;
}

header .phone p {
    float: left;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    font-weight: bold;  
    margin-right: 5px; 
}

header .phone h3 {
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    font-weight: bold;   
    font-size: 30px;
    margin: 0;
}

.head_btn {
    text-align: right;
}

.btn {    
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 7px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    border: 1px solid #dfa300;
    line-height: 36px;
    padding-bottom: 2px;
    font-family: 'PT Sans', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    position: relative;
    z-index: 100;
}

.call_me, .call_me:focus {
    background: #ffdf88;
    background: -moz-linear-gradient(top,  #ffdf88 48%, #ffbc04 49%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffdf88), color-stop(49%,#ffbc04));
    background: -webkit-linear-gradient(top,  #ffdf88 48%,#ffbc04 49%);
    background: -o-linear-gradient(top,  #ffdf88 48%,#ffbc04 49%);
    background: -ms-linear-gradient(top,  #ffdf88 48%,#ffbc04 49%);
    background: linear-gradient(to bottom,  #ffdf88 48%,#ffbc04 49%);
    width: 148px;
    margin-top: 12px;
}

.call_me:hover {
    background: #ffeab1;
    background: -moz-linear-gradient(top,  #ffeab1 48%, #ffd35a 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffeab1), color-stop(50%,#ffd35a));
    background: -webkit-linear-gradient(top,  #ffeab1 48%,#ffd35a 50%);
    background: -o-linear-gradient(top,  #ffeab1 48%,#ffd35a 50%);
    background: -ms-linear-gradient(top,  #ffeab1 48%,#ffd35a 50%);
    background: linear-gradient(to bottom,  #ffeab1 48%,#ffd35a 50%);
}

.call_me:active {
    background: #E9B320;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.17) inset;
    -moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.17) inset;
    box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.17) inset;
    padding-top: 2px;
    padding-bottom: 0;
}

header .btn-inverse {
    display: none;
}

.btn-inverse, .btn-inverse:focus {
    width: 127px;
    margin-top: 12px;
    background: #5c5c5c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1YzVjNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #5c5c5c 50%, #000000 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5c5c5c), color-stop(50%,#000000));
    background: -webkit-linear-gradient(top,  #5c5c5c 50%,#000000 50%);
    background: -o-linear-gradient(top,  #5c5c5c 50%,#000000 50%);
    background: -ms-linear-gradient(top,  #5c5c5c 50%,#000000 50%);
    background: linear-gradient(to bottom,  #5c5c5c 50%,#000000 50%);


}

.btn-inverse:hover {
    background: #6d6d6d;
    background: #6d6d6d;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2ZDZkNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6d6d6d 50%, #000000 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#6d6d6d), color-stop(50%,#000000));
    background: -webkit-linear-gradient(top,  #6d6d6d 50%,#000000 50%);
    background: -o-linear-gradient(top,  #6d6d6d 50%,#000000 50%);
    background: -ms-linear-gradient(top,  #6d6d6d 50%,#000000 50%);
    background: linear-gradient(to bottom,  #6d6d6d 50%,#000000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#000000',GradientType=0 );
}

.btn-inverse:active {
    background: #2C2C2C;
    padding-top: 2px;
    padding-bottom: 0;
}

.navbar {
    margin-top: 22px;
}

header .nav {
    background: none;
}

header .nav li {
    height: auto;
    line-height: 1;
    margin-right: 21px;
    padding-bottom: 10px;
}

header .nav li.active {
    padding-bottom: 9px;
}

header .navbar .nav li a {
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    font-size: 20px;
    line-height: 19px;
    border-bottom: 2px solid #FFC527;
    color: #000;
    text-shadow: none;
    border-radius: 0;
    letter-spacing: -1px;
    word-spacing: 3px;
    padding: 0;
    display: inline-block;
    font-weight: normal !important;
}

header .navbar .nav li a:hover, header .navbar .nav li a:focus, header .navbar-invers .nav > li > a:focus {
    border-color: #000;
    color: #000000;
}
header .navbar .nav-collapse .nav li a:focus, header .navbar .nav-collapse .nav li a:active {
    background-color: none;
}
.navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: transparent;
}

header .navbar .nav li.active a{
    padding: 3px 6px 4px 7px;
    margin: 0px -7px;
    /*margin: -3px -6px 2px -7px;*/
    border: 0;
    color: #fff;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

header .navbar .nav li.active a, header .navbar .nav li.active a:hover {
    background: #000000;
}

/*header .nav li:last-child {margin-right: 0;}*/

.benefits {
    padding: 25px 0 22px;
    min-height: 132px;
}

.benefits .img {
    height: 56px;
    line-height: 51px;
    margin-bottom: 6px;
    margin-left: 20px;
    vertical-align: top;
}

.benefits .img img {
    vertical-align: middle;
}

.benefits p {
    font-weight: bold;
    margin-left: 19px;
}
@media (min-width: 980px) and (max-width: 1199px) {
    header .head_btn {
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    .logo_text {
        float: none;
        width: auto;
    }
    
    header .head_btn {
        float: right;
    }
    header .span4.phone {
        margin-top: 5px;
    }
    
    header .nav-collapse.collapse {
        height: auto;
        overflow: visible;
    }
    
    header .nav-collapse .nav li {
        float: left;
    }
    
    header .nav-collapse .nav li.active a {
        color: #fff !important;
        font-weight: normal !important;
    }
    
    header .nav-collapse .nav li.active a:hover {
        background: #000000 !important;
        cursor: default !important;
        border: none !important;
    }
    
    header .nav-collapse .nav li a {
        color: #000 !important;
    }
    
    header .nav-collapse .nav li a:hover {
        background: none !important;
        border-bottom: 2px solid #000 !important;
    }
    
    header .navbar .btn {
        display: none !important;
    }
    .control-group .btn.rel.call_me {
        margin-right: 9px;
    }
}

@media (max-width: 767px) {
    header {
        background-position: center -12px;
    }
    header .headertext {
        margin-top: 0px;
    }
    header .span4.phone {
        margin-top: 0;
    }
    
    body {
        padding-left: 0;
        padding-right: 0;
    }
    header .container .span10.head_right_bl {
        padding-right: 0;
        padding-left: 0;
    }
    
    .container div[class*=span] {
        padding: 0 20px;
    }  
    
    .container div[class*=span] div[class*=span] {
        padding: 0;
    }
    
    .logo {
        margin-bottom: 78px;
        position: static;
        margin-top: 25px;
        /*margin-top: 8px;*/
    }
    /*.logo a{
        display: none;
        background: none;
    }*/
    
    .head_right_bl {
        background: url(../i/thm_#COLOR#/bg/pleated.png);
        padding-bottom: 58px !important;
    }
    .benefits {
        display: none;
    }
    
    .logo_text {
        text-align: center !important;
        position: relative;
        top: -56px;
    }
    
    .logo_text p.logo_txt {
        margin: 0 !important;
    }
    
    .yourcity {
        position: relative;
        top: 18px;
        margin-top: 0 !important;
    }
    
    header .span4 {
        margin-bottom: 15px;
    }
    
    header .span4, header .span2, .yourcity {
        text-align: center;
    }
    
    .phone {
        margin: 0 auto;
        text-align: center;
        margin-top: 5px;
    }
    header .phone .phone_txt {
        width: 108px;
    }
    
    .head_btn {
        text-align: center;
    }
    
    .head_btn .btn-inverse {
        display: inline-block;
        margin-left: 20px;
    }
    
    .navbar {
        position: absolute;
        top: -5px;
        right: 0;
        margin-top: 0;
        width: 100%;
        z-index: 10000;
    }
    
    .navbar .nav {
        background: url(../i/thm_#COLOR#/bg/tekstura_asphalt.png) center;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    
    .navbar .nav li {
        margin-bottom: 5px;
    }
    
    .navbar .nav li a {
        display: inline-block;
    }
    
    .navbar button {
        position: relative;
        right: 35px;
        bottom: 1px;
        height: 30px;
        width: 40px;
        background: url(../i/thm_#COLOR#/bg/nav_btn.png) !important;
        text-indent: -99999px !important;
        border-radius: 0;
        border: 0;
        z-index: -10;
        margin-top: 0 !important;
    }
    
    .navbar .nav li a:hover, .navbar .nav li.active a {
        color: #fff !important;
        background: none;
    }
    
    .navbar .nav li.active a:hover {
        border: 0 none !important;
        background: #000 !important;
        cursor: pointer !important;
    }
    
    .nav-collapse .nav li {
        padding-left: 46px !important;
    }
    
    .nav-collapse .nav li a {
        color: #fff !important;
    }
    
    .nav-collapse .nav li a:hover {
        border-bottom: 2px solid #fff !important;
        background: none !important;
    }
    #content .in {
        margin-left: 0;
        margin-right: 0;
        padding: 0 20px;
    }

}
@media (min-width: 336px) and (max-width: 370px) {
    .head_btn .btn-inverse {
        margin-left: 10px;
    }
}

@media (max-width: 335px) {
    .head_btn .btn-inverse {
        margin-left: 0;
    }
}


.zakaz {
    background: url(../i/thm_#COLOR#/bg/tekstura_asphalt.png) center;
    padding-bottom: 37px;
}

.zakaz .container {
    position: relative;
}

.zakaz .car_clipped {
    position: absolute;
    left: 0;
    bottom: -72px;
    margin-left: -10px;
}

.zakaz .zak_h2 {
    width: 192px;
    margin: 0 auto;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    font-weight: bold;
    background: url(../i/thm_#COLOR#/bg/zak_bg.png);
    line-height: 61px;
    height: 68px;
    position: relative;
    top: -31px;
    letter-spacing: 2px;
    word-spacing: -3px;
    margin-bottom: -7px;
}

.nav-tabs {
    border-bottom:1px solid #7F7F7F;
    margin-bottom: 18px;
}

.nav-tabs li  a{
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    position: relative;
    bottom: 0;
    padding-top: 7px;
}

.nav-tabs .active a, .nav-tabs .active a:focus {
    background: url(../i/thm_#COLOR#/bg/tekstura_asphalt.png) !important;
    color: #fff;
    border: 1px solid #7F7F7F !important;
    border-bottom: 0 none !important;
    padding: 7px 15px 12px 11px;
}

.nav-tabs .active a:hover {
    background: url(../i/thm_#COLOR#/bg/tekstura_asphalt.png) !important;
    color: #fff;
    border: 1px solid #7F7F7F !important;
    border-bottom: 0 none !important;
}

.nav-tabs li a:hover {
    color: #b8b8b8;
    line-height: 20px !important;
    background: none !important;
    border: 1px solid transparent !important;
}

.zakaz .form-horizontal .control-group {
    margin-bottom: 13px;
}
.zakaz .form-horizontal .control-group .control-group {
    margin-bottom: 0px;
}

.form-horizontal .control-label {
    font-size: 16px;
    font-family: 'PT Sans', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    color: #fff;
    padding-top: 0;
}

.zakaz .form-horizontal .checkbox.inline {
    padding-top: 0;
    /*width: 100px;*/
    vertical-align: top;
}

.zakaz .form-horizontal .find-me, .zakaz .form-horizontal .find-me:focus {
    font-size: 16.22px !important;
    color: #fff !important;
    /*border-bottom: 1px dashed #FFC527 !important;*/
    display: inline-block;
    margin-left: 12px;
}

.zakaz .form-horizontal .find-me:hover, .zakaz .form-horizontal .find-me:active{
    text-decoration: none;
    border-color: #b8b8b8 !important;
    color: #b8b8b8 !important;
}

.zakaz .form-horizontal .control-label {
    margin-left: 0;
    width: 99px;
}

.zakaz .form-horizontal .controls {
    margin-left: 120px;
    *margin-left: 0px;
    color: #fff;
    /*width: 420px;*/
}

.zakaz .form-horizontal .submit_controls {
    width: auto;
    /*margin-right: 30px;*/
}

.zakaz .form-horizontal .controls input[type="text"], .zakaz .form-horizontal .find-me-input {
    height: 17px !important;
    color: #000;
}

.zakaz .form-horizontal .controls .call_me {
    width: 118px;
    text-align: left;
    padding-left: 15px;
    position: relative;
    float: right;
    margin-top: 14px;
    margin-bottom: 2px;
}

.zakaz .form-horizontal .controls .call_me span {
    background: url(../i/thm_#COLOR#/bg/btn_arrow.png) center no-repeat;
    height: 100%;
    width: 18px;
    right: 9px;
    top: 0;
    position: absolute;
    display: block;
}

.zakaz .form-horizontal .rect {
    display: inline-block;
    width: 100%;
    height: 17px;
    margin-top: 1px;
    background: url(../i/thm_#COLOR#/bg/rect.png) right no-repeat;
}

.zakaz .form-horizontal .rez {
    padding-top: 13px;
}

.zakaz .form-horizontal .rez p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 6px;
}
@media (min-width: 1200px) {  

    .zakaz .form-horizontal .find-me-input {
        width: 349px;
        border: 0 none !important;
    }
    
    /*.zakaz .form-horizontal select,*/
    .zakaz .form-horizontal .zak_input {
        width: 408px;
        border: 0 none !important;
    .zakaz .form-horizontal select{
        /*width: 420px;*/
    }
} 

}
@media (min-width: 979px) and (max-width: 1199px) {
    .zakaz .form-horizontal .find-me-input {
        width: 208px;
        border: 0 none !important;
    }
    
    /* .zakaz .form-horizontal select, */
    .zakaz .form-horizontal .zak_input {
        width: 308px;
        border: 0 none !important;
    } 
    .zakaz .form-horizontal select {
        /* width: 320px; */
    }
    .zakaz .form-horizontal .controls {
    width: 340px;
    }
}

@media (min-width:768px) and (max-width: 979px) {
    .zakaz .form-horizontal .controls {
		width: 352px;
        margin-left: 0;
    }
    .zakaz .form-horizontal .controls .find-me-input {
		width: 107px;
    }
	input.span9, textarea.span9, .uneditable-input.span9 {
		width: 94%;
	}
	select.span9 {
		width: 100%;
	}

    .form-horizontal .control-label {
        float: none;
        text-align: left;
    }
}

@media (max-width: 767px) {   
    .zakaz .form-horizontal .control-label {
        text-align: left;
        float: none;
        width: 100%;
    }
    /*.zakaz .form-horizontal .control-group {
        margin-right: 14px;
    }*/
    .zakaz .form-horizontal .controls .find-me-input {
        width: 186px;
        float: left;
    }
    
    .zakaz .form-horizontal .controls .find-me-input {
        width: 79%;
    }
    
    /*.zakaz .form-horizontal select,
    .zakaz .form-horizontal .controls .zak_input {
        width: 100%;
    }*/
    
    .zakaz .form-horizontal .control-label {
        float: none;
        width: 100%;
        text-align: left;
        padding-left: 6px;
    }  
    
    .zakaz .form-horizontal .controls {
        margin-left: 0;
        width: 100%;
    }
    
    .zakaz .form-horizontal .rez .control-label {
        width: 60px;
        float: left;
        padding: 0;
    }
    
    .zakaz .form-horizontal .rez .controls {
        float: left;
        width: auto;
        margin-left: 20px !important;
    }
    .zakaz .form-horizontal .control-group.knopka {
        margin-right: 0px;
    }

}
@media (min-width: 501px) and (max-width: 600px) {
	.zakaz .form-horizontal .controls .find-me-input {
        width: 65%;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
	.zakaz .form-horizontal .controls .find-me-input {
        width: 55%;
    }
}
@media (max-width: 400px) {
	.zakaz .form-horizontal .controls .find-me-input {
        width: 51%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .zakaz .car_clipped {
        width: 251px;
        bottom: -78px;
    } 
    .zakaz .car_clipped img{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .zakaz .car_clipped {
        width: 215px;
        bottom: -78px;
        margin-bottom: 20px;
    }
    .zakaz .car_clipped img{
        width: 100%;
    }

}

.yamap img{
    display: block;
}
.yamap .pokazat {
    display: none;

}

.corp {
    background: url(../i/thm_#COLOR#/bg/corp_bg.png) repeat-x center bottom #fff;
    padding-bottom: 40px;
}

.corp .container {
    padding-top: 58px;
}

.corp .container .row-fluid {
    height: 100%;
    overflow: hidden;
}

.widget h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 11px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
    background: url(../i/thm_#COLOR#/bg/h2_bg.png) no-repeat left center;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.corp .span4 {
    min-height: 100%;
    position: relative;
}

.corp .cont {
    padding-right: 16px;
    padding-left: 20px;
    min-height: 100%;
    overflow: hidden;
}

.corp .cont:after {
    position: absolute;
    border-right: 1px solid #B7B7B7;
    padding-top: 1000px;
    margin-bottom: -1000px;
    top: 0;
    left: -13px;
}

.corp .widget+.widget+.widget .cont {
    border-right: 0 none;
    padding-right: 0;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
} 



@media (max-width: 767px) {
    .corp .container {
        padding-top: 58px;
    }
    .widget .cont {
        padding-right: 20px !important;
        padding-left: 20px;
        border-right: 0 none;
        border-bottom: 1px solid #b7b7b7;
        margin-bottom: 18px;
        padding-bottom: 20px;
    }
    .yamap .pokazat {
        display: block;
        color: #ffffff;
        margin-bottom: 30px;
    }
    .yamap .pokazat a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px dashed #FFC527;
        font-size: 29px;
        cursor: pointer;
    }
    #map {
        position: absolute !important;
        left: -9999em !important;
    }
    #map.active {
        position: relative !important;
        left: 0em !important;
        margin-bottom: 40px;
    }
}

.widget li {
    list-style: none;
    background: url(../i/thm_#COLOR#/bg/list_style.png) no-repeat left center;
    padding-left: 16px;
    margin-bottom: 10px;
}

.widget li a {
    text-decoration: none;
    border-bottom: 1px solid #FFC527;
    line-height: 15px;
}

.widget li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

a.media-heading {
    display: inline-block;
    margin-bottom: 9px;
}

a.media-heading span {
    border-bottom: 1px solid #FFC527;
    font-weight: bold;    
}

a.media-heading:hover span {
    /*text-decoration: none;
    border-color: transparent;
    color: #000;*/
    border-bottom: 1px solid #000000;
}

a.media-heading:hover{
    text-decoration: none;
}

.conteiner {
    background: #fff;
    margin: 40px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.conteiner .row-fluid {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

/******Content styles******/

#content .in {
    /*margin: 11px 45px 0 20px;*/
    margin: 11px 3.3% 0 20px;
}

#content:after {
    border-right: 1px solid #B7B7B7;
    right: -10px;
    top: 20px;
    position: absolute;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

#content {
    position: relative;
}


#content h1, #content h2, #content h3, #content h4, #content h5 {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
}

#content h1 {
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: -2px;  
    margin-bottom: 18px;  
}

#content h2 {
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 2px;
    letter-spacing: 2px;
    word-spacing: -5px; 
}

#content h3 {
    font-size: 20px;
    margin-top: 19px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    color: #000000;
}

#content h4 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-top: 19px;
}

#content ul {
    margin-left: 40px;
}

#content ol {
    margin-left: 60px;
}

#content ul li {
    list-style: none;
    padding-left: 18px;
    background: url(../i/thm_#COLOR#/bg/list_style.png) no-repeat 1px 9px;
    margin-bottom: 10px;
}

#content ol li {
    margin-bottom: 10px;    
}

#content blockquote {
    margin-left: 40px;
    border-color: #FFC527;
}

#content blockquote p {
    font-size: 16px;
    word-spacing: 1px;
    font-weight: bold;
}

#content img {
    border: 6px solid #E3E3E3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    max-width: 97%;
}

#content .img_capt {
    font-style: italic;
    color: #767676;
    display: block;
    padding-top: 17px;
    text-align: center;
    margin-bottom: 29px;
}

#content table {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    background: #FFF4D6;
    width: auto;
    margin-top: 11px;
    
}
#content table tr th {
    border-bottom: 2px solid #FFC527;
}

#content table tr td {
    border-color: #FFC527 !important;
}

.review {
    border-style: solid; 
    border-width: 3px 3px 3px 3px; 
    border: 3px dashed #FFC527;
    -moz-border-image: url(../i/thm_#COLOR#/bg/border-imagee.png) 3 3 3 3 repeat; 
    -webkit-border-image: url(../i/thm_#COLOR#/bg/border-imagee.png) 3 3 3 3 repeat; 
    -o-border-image: url(../i/thm_#COLOR#/bg/border-imagee.png) 3 3 3 3 repeat; 
    border-image: url(../i/thm_#COLOR#/bg/border-imagee.png) 3 3 3 3 fill repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 16px 16px 18px;
    margin-bottom: 49px;
}

.stars {
    position: relative;
    height: 18px;
    background: url(../i/thm_#COLOR#/bg/rating_star.png) repeat-x left bottom;
    width: 130px;
    float: left;
    z-index: 1000;
}

.stars ul li.star {
    display: inline;
    padding: 0 !important;
}

.stars ul li.star a {
    position: absolute;
    display: block;
    height: 18px;
    left: 0;
    top: 0;
    border: 0 none;
}

.star a:hover, .star a:focus, .star a:active,   .star.active a{
    
    background: url(../i/thm_#COLOR#/bg/rating_star.png) repeat-x left 2px;
}

.star1 a {
    width: 26px;
    z-index: 5;
}

.star2 a {
    width: 52px;
    z-index: 4;
}

.star3 a {
    width: 78px;
    z-index: 3;
}

.star4 a {
    width: 104px;
    z-index: 2;
}

.star5 a {
    width: 130px;
    z-index: 1;
}

.name {
    float: right;
    font-style: italic;
    color: #797979;
    position: relative;
    z-index: 1000;
}

.review:nth-child(even):after {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../i/thm_#COLOR#/bg/left_corner.png);
    bottom: -22px;
    left: -13px;
    content: "";
}

.review:nth-child(odd):after {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../i/thm_#COLOR#/bg/right_corner.png);
    bottom: -22px;
    right: -13px;
    content: "";
}

.sidebar {
    margin-top: 20px;
}

.sidebar hr {
    border: 0 none;
    border-top: 1px solid #B7B7B7;
}

.aside_cont {
    position: relative;
    margin: 8px 20px 0 20px;
}

.sidebar .form_widget h2 {
    padding-left: 0;
    background: none;
}

.sidebar .form-horizontal .control-label {
    float: none;
    width: 100%;
    color: #000;
    text-align: left;
    padding-left: 9px;
}

.sidebar .form-horizontal .controls {
    margin-left: 0;
    width: 100%;
}

.sidebar .form-horizontal .controls .stars {
    margin-left: 8px;
}

.sidebar .form-horizontal textarea, .sidebar .form-horizontal input[type="text"] {
    border-color: #B3B3B3;
    color: #000000;
    font-size: 16px;
    width: 96%;
}

.sidebar .form-horizontal .controls .call_me {
    margin: 0 auto;
    display: block;
}

@media (max-width: 767px) {
    .conteiner, .conteiner .row-fluid {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    aside .aside_cont {
        margin-left: 18px;
        border-top: 1px solid #B7B7B7;
        margin-top: 20px;
        padding-top: 20px;
    }
    
    #content .in {
        margin-left: 0;
        margin-right: 0;
    }
    
    #content .in:after {
        display: none;
    }
    
    .sidebar {
        background: url(../i/thm_#COLOR#/bg/corp_bg.png) repeat-x bottom;
    }
    
    .sidebar .widget .cont {
        border-bottom: 0 none !important;
    }
    aside.sidebar {
        margin-top: 50px;
    }
    .sidebar .form-horizontal textarea, .sidebar .form-horizontal input[type="text"] {
        width: 97.5%;
    }
}

/******End content styles*******/

.row-fluid.customize {
	margin-top:25px;
}
.footer {
	padding-bottom: 20px;
    position: relative;
    background: url(../i/thm_#COLOR#/bg/tekstura_asphalt.png) center;
}

.footer .top_border {
    margin-bottom: 44px;
}

.footer p, .footer p a {
    font-size: 14px;
    color: #b0b0b0;
    word-spacing: 0;
    letter-spacing: 0;
}

.footer p a {
    text-decoration: none;
    border-bottom: 1px solid #636363;
}

.footer p a:hover {
    text-decoration: none;
    border-bottom: none;
}

.footer .span12 {
    text-align: center;
    margin-bottom: 14px;
}

.footer .yashare-bl {
    margin-bottom: 27px;
}
.footer .span12.yashare-bl a, .footer .span12.yashare-bl a:hover, .footer .span12.yashare-bl a span, .footer .span12.yashare-bl a:hover span{
    border-bottom: none;
}

@media (max-width: 767px) {
    .footer p {
        width: 226px;
        display: inline-block;
    }
}

.footer .b-share .b-share-form-button {
    font-size: 12px;
}

.footer .copyright {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.nav.customize {
	margin-bottom: 0px;
}

/*выравниваем чекбоксы на главной*/
.controls > .radio:first-child, .controls > .checkbox:first-child {
    margin-right: 10px;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-right: 10px;
    margin-left: 0px;
}

#myModalLabel {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L" ,sans-serif;
    
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    background: #E4E4E4;
    border: 0;
}

.close {
    width: 23px;
    height: 22px;
    text-indent: -9999px;
    background: url(../i/thm_#COLOR#/bg/modal_btns.png) bottom !important;
    opacity: 1 !important;
}

.close:hover {
    background-position: top !important;
}

.modal-body .form-horizontal .control-label {
    color: #000;
}
.modal-body .form-horizontal input {
    height: 28px;
    width: 96%;
}
.modal-header .close {
    margin-top: 18px;
}
#content h3 a {
    border-bottom: 1px solid #FFC527;
}
#content h3 a:hover {
    border-bottom: 1px solid #000000;
    text-decoration: none;
    color: #000000;
}

/*tarifs*/
#content ul.thumbnails h3 {
    text-transform: none;
}
#content ul.thumbnails li {
    background: none;
    padding-left: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    /*width: 31.4%;*/
}
#content ul.thumbnails {
    margin-left: -20px;
}
#content img {
    border: none;
    max-width: 100%;
}
a.foto {
    display: block;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
@media (min-width: 1200px) {  
    #content ul.thumbnails li {
        width: 30.55%;
    }
    #content .in {
        margin-right: 5%;
    }
    .zakaz .form-horizontal .controls select {
        /*width: 420px;*/
    }
} 
@media (min-width: 979px) and (max-width: 1199px) {
   #content ul.thumbnails li {
        width: 46.5%;
    }
}
@media (min-width:768px) and (max-width: 979px) {
   #content ul.thumbnails li {
        width: 45.4%;
    }
    #content .in {
        margin-right: 4.3%;
    }
    /*.zakaz .form-horizontal .control-label {
        float: none;
        padding-left: 6px;
        text-align: left;
        width: 100%;
    }
    .zakaz .form-horizontal .controls {
        margin-left: 0;
        width: 100%;
    }*/

}
@media (max-width: 767px) {
    #content ul.thumbnails {
        margin-left: 0;
    }
    #content ul.thumbnails li {
        margin-left: 0;
    }
}

.form_call_me {
    background: #ffffff;
}

.controls img.calendar-icon {
    margin: 4px 1px 2px -24px;
}
#content a span {
    border-bottom: 1px solid #FFC527;
    color: #000000;
}
.controls img.calendar-icon-hover {
    border: none;
    background: none;
}
.news-date-time, .razdelitel {
    color: #B7B7B7;
}
.razdelitel {
    margin: 0 5px;
}
.list {
    padding-top: 8px;
}
.list .media-body {
    margin-bottom: 20px;
}
.date_item {
    float: left;
    margin-top: 10px;
    color: #B7B7B7;
}
body font.notetext {
	color: #FFC527;
}

a.media-heading {
    display: inline;
}
#driver_form .modal-header {
    padding-left: 0;
}
.modal-header h3 {
    line-height: 30px;
    margin: 0;
}
#driver_form .modal-header h3 a, #driver_form .modal-header h3 a:hover {
    border-bottom: medium none;
    text-decoration: none;
}
#driver_form .modal-header h3 a span {
    border-bottom: 2px dashed #FFC527;
    font-size: 20px;
    text-decoration: none;
}