body {
    background: #FDEFDD;
}

.top_border {
    background: url(../i/thm_blue/bg/top_border.png);
}



.call_me, .call_me:focus  {
    background: #FEC47B;
    background: -moz-linear-gradient(top,  rgba(254,196,123,1) 50%, rgba(238,157,55,1) 53%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(254,196,123,1)), color-stop(53%,rgba(238,157,55,1)));
    background: -webkit-linear-gradient(top,  rgba(254,196,123,1) 50%,rgba(238,157,55,1) 53%);
    background: -o-linear-gradient(top,  rgba(254,196,123,1) 50%,rgba(238,157,55,1) 53%);
    background: -ms-linear-gradient(top,  rgba(254,196,123,1) 50%,rgba(238,157,55,1) 53%);
    background: linear-gradient(to bottom,  rgba(254,196,123,1) 50%,rgba(238,157,55,1) 53%);
}

.call_me:hover {
    background: #FED8A8;
    background: -moz-linear-gradient(top,  rgba(254,216,168,1) 48%, rgba(244,192,125,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(254,216,168,1)), color-stop(50%,rgba(244,192,125,1)));
    background: -webkit-linear-gradient(top,  rgba(254,216,168,1) 48%,rgba(244,192,125,1) 50%);
    background: -o-linear-gradient(top,  rgba(254,216,168,1) 48%,rgba(244,192,125,1) 50%);
    background: -ms-linear-gradient(top,  rgba(254,216,168,1) 48%,rgba(244,192,125,1) 50%);
    background: linear-gradient(to bottom,  rgba(254,216,168,1) 48%,rgba(244,192,125,1) 50%);
}

.call_me:active {
    background: #E49736;
}

header .navbar .nav li a {
    border-bottom: 2px solid #31749F;
}

header .navbar .nav li.active a, header .navbar .nav li.active a:hover, header .navbar .nav li.active a:focus{
    background: #EE9D37;
}

.zakaz {
    background: url(../i/thm_blue/bg/tekstura_asphalt.png);
}

.zakaz .zak_h2 {
    background: url(../i/thm_blue/bg/zak_bg.png);
}

.nav-tabs {
    border-bottom: 1px solid #80A9C2;
}

.nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background: url(../i/thm_blue/bg/tekstura_asphalt.png) !important;
    border: 1px solid #80A9C2 !important;
    border-bottom: 0 none !important;
}

.zakaz .form-horizontal .find-me {
    border-bottom: 1px dashed #fff !important;
}

.zakaz .form-horizontal .controls .call_me span {
    background: url(../i/thm_blue/bg/btn_arrow.png) center no-repeat;
}

.zakaz .form-horizontal .rez .control-label:hover {
    cursor: default;
}

.zakaz .form-horizontal .rect {
    background: url(../i/thm_blue/bg/rect.png) right no-repeat;
}

.widget h2 {
    background: url("../i/thm_blue/bg/h2_bg.png") no-repeat scroll left center;
}

.widget li a, .widget a.media-heading span, .see_all span, #content h3 a, a span, a.media-heading span, #content a span {
    border-bottom: 1px solid #31749F;
}
a.media-heading:hover span {
    border-bottom: 1px solid #000000;
}
.review {
    -moz-border-image: url(../i/thm_blue/bg/border-imagee.png) 3 3 3 3 repeat; 
    -webkit-border-image: url(../i/thm_blue/bg/border-imagee.png) 3 3 3 3 repeat; 
    -o-border-image: url(../i/thm_blue/bg/border-imagee.png) 3 3 3 3 repeat; 
    border-image: url(../i/thm_blue/bg/border-imagee.png) 3 3 3 3 fill repeat;
}

.review:nth-child(even):after {
    background: url(../i/thm_blue/bg/left_corner.png);
}

.review:nth-child(odd):after {
    background: url(../i/thm_blue/bg/right_corner.png);
}

.stars {
    background: url(../i/thm_blue/bg/rating_star.png) repeat-x left bottom;
}

.star a:hover, .star a:focus, .star a:active {
    background: url(../i/thm_blue/bg/rating_star.png) repeat-x left 2px;
}
.stars .active a {
    background: url(../i/thm_blue/bg/rating_star.png) repeat-x left 2px;
}

#content blockquote {
    border-color: #31749F;
    margin-left: 40px;
}

#content table {
    background: #FFF7ED;
}

#content table tr th {
    border-bottom: 2px solid #E7DACA;
}

#content table tr td {
    border-color: #E7DACA !important;
}

.footer {
    background: url(../i/thm_blue/bg/tekstura_asphalt.png);   
}

.footer p, .footer p a {
    color: #fff;
}

.footer p a {
    border-bottom: 1px solid #fff;
}

.footer p a:hover {
    border-bottom: 1px solid #A4B5BF;
    color: #A4B5BF;
}

@media (max-width: 767px) {
    .head_right_bl {
        background: #FDEFDD;
    }
    
    .navbar .nav {
        background: url(../i//thm_blue/bg/tekstura_asphalt.png);
    }
    
    .navbar button {
        background: url(../i/thm_blue/bg/nav_btn.png) !important;
          -webkit-transition: none !important;
             -moz-transition: none !important;
               -o-transition: none !important;
                  transition: none !important;
    }
    
    .navbar button:hover{
        background: url(../i/thm_blue/bg/nav_btn.png) right top !important;
    }
    
    .nav-collapse .nav li a {
        border-bottom: 2px solid #EE9D37 !important;
    }
    
    .nav-collapse .nav li.active a:hover {
        background: #EE9D37 !important;
        border-bottom: 2px solid transparent !important;
    }
}