/*Menu icon*/
#shs_parser_menu_icon {background:url(icons/shs.parser/mnu_shs_parser.gif) no-repeat 50% 50%!important;}
#shs_parser_page_icon {background:url(icons/shs.parser/title.gif) no-repeat 50% 50%!important;}
.shs_parser_menu_icon {background:url(icons/shs.parser/mnu_shs_parser.gif) no-repeat 50% 50%!important;}
.shs_parser_page_icon {background:url(icons/shs.parser/title.gif) no-repeat 50% 50%!important;}

.shs_parser_border {border:1px solid #BDC6E0; padding:4px;}
