/*
Code is distributed as-is
the Developer may change the code at its discretion without prior notice
Developers: Djo 
Website: http://zixn.ru
Twitter: https://twitter.com/Zixnru
Email: izm@zixn.ru
*/
/* 
    Created on : 24.05.2016, 11:15:37
    Author     : Djo <zixn.ru>
*/

/*Таблица свойств товара*/
.zixnPropertyList{margin-top: 10px;min-height: 75px;}
.zixnPropertyList .harakt table.haraktAll{width: 100%;}
.zixnPropertyList .harakt table.haraktAll td{border-bottom: 1px dashed #c6c6c6;padding: 3px 5px;font-family: 'Open Sans Condensed', sans-serif;font-size: 14px;}
.zixnPropertyList .harakt table.haraktAll td.name{width: 59%;color: #444444;font-weight: bold;}
.zixnPropertyList .harakt table.haraktAll td.value {color: #c51b17;text-transform: uppercase;font-family: 'Open Sans Condensed', sans-serif;font-weight: bold;margin-top: 10px;}