<?xml version="1.0" encoding="windows-1251"?>
<КоммерческаяИнформация ВерсияСхемы="2.021" ДатаФормирования="2011-05-14T09:35:14">
	<Классификатор>
		<Ид>1</Ид>
		<Наименование>Мероприятия</Наименование>
		<Свойства>
			<Свойство>
				<Ид>CML2_ACTIVE</Ид>
				<Наименование>БитриксАктивность</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_CODE</Ид>
				<Наименование>Символьный код</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_SORT</Ид>
				<Наименование>Сортировка</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_FROM</Ид>
				<Наименование>Начало активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_TO</Ид>
				<Наименование>Окончание активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_TEXT</Ид>
				<Наименование>Анонс</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_DETAIL_TEXT</Ид>
				<Наименование>Описание</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_PICTURE</Ид>
				<Наименование>Картинка анонса</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
		</Свойства>
		<Группы>
		</Группы>
	</Классификатор>
	<Каталог>
		<Ид>1</Ид>
		<ИдКлассификатора>1</ИдКлассификатора>
		<Наименование>Мероприятия</Наименование>
		<БитриксКод>events</БитриксКод>
		<БитриксСортировка>20</БитриксСортировка>
		<БитриксURLСписок>#SITE_DIR#/about/events/</БитриксURLСписок>
		<БитриксURLДеталь>#SITE_DIR#/about/events/#ID#/</БитриксURLДеталь>
		<БитриксURLРаздел></БитриксURLРаздел>
		<БитриксКартинка></БитриксКартинка>
		<БитриксИндексироватьЭлементы>true</БитриксИндексироватьЭлементы>
		<БитриксИндексироватьРазделы>false</БитриксИндексироватьРазделы>
		<БитриксДокументооборот>false</БитриксДокументооборот>
		<БитриксПодписи>
			<БитриксПодпись>
				<Ид>ELEMENT_NAME</Ид>
				<Значение>Мероприятие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENTS_NAME</Ид>
				<Значение>Мероприятия</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_ADD</Ид>
				<Значение>Добавить мероприятие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_EDIT</Ид>
				<Значение>Изменить мероприятие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_DELETE</Ид>
				<Значение>Удалить мероприятие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_NAME</Ид>
				<Значение>Раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTIONS_NAME</Ид>
				<Значение>Разделы</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_ADD</Ид>
				<Значение>Добавить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_EDIT</Ид>
				<Значение>Изменить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_DELETE</Ид>
				<Значение>Удалить раздел</Значение>
			</БитриксПодпись>
		</БитриксПодписи>
		<Товары>
			<Товар>
				<Ид>353</Ид>
				<Наименование>Первенство СЗАО г. Москвы по шахматам</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>С 1 по 2 февраля в спорткомплексе МОУ Средней образовательной школы №8999 состоится Первенство СЗАО г.Москвы по шахматам. Наша школа будет представлена командой из 10-ти человек.</Описание>
				<Картинка>events_files/iblock/973/1128846_15778793.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-14 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>С 1 по 2 февраля в спорткомплексе МОУ Средней образовательной школы №8999 состоится Первенство СЗАО г.Москвы по шахматам. Наша школа будет представлена командой из 10-ти человек.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>С 1 по 2 февраля в спорткомплексе МОУ Средней образовательной школы №8999 состоится Первенство СЗАО г.Москвы по шахматам. Наша школа будет представлена командой из 10-ти человек.</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/a48/1128846_15778793.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>354</Ид>
				<Наименование>Поздравляем с 3-им местом!!!</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>На Первенстве СЗАО г.Москвы по шахматам наша команда заняла почетное 3-е место. Ребята, мы вами гордимся! 
&lt;br /&gt;
   
&lt;br /&gt;
 Состав команды победителей: 
&lt;table cellspacing=&quot;1&quot; cellpadding=&quot;1&quot; border=&quot;0&quot;&gt; 
  &lt;tbody&gt; 
    &lt;tr&gt;&lt;td style=&quot;-moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none;&quot;&gt; 
        &lt;ol&gt; 
          &lt;li&gt;Иванов Сергей, 5а&lt;/li&gt;
         
          &lt;li&gt;Павлова Анастасия, 8б&lt;/li&gt;
         
          &lt;li&gt;Кондратьев Виктор, 10а&lt;/li&gt;
         
          &lt;li&gt;Селезнева Алиса, 6в&lt;/li&gt;
         
          &lt;li&gt;Веселкин Игорь, 5а&lt;/li&gt;
         
          &lt;li&gt;Котова Настя, 7а&lt;/li&gt;
         
          &lt;li&gt;Саулов Алексей, 4б&lt;/li&gt;
         
          &lt;li&gt;Санников Василия, 8а&lt;/li&gt;
         
          &lt;li&gt;Германов Петр, 8а&lt;/li&gt;
         
          &lt;li&gt;Сезганов Вадим, 5а&lt;/li&gt;
         &lt;/ol&gt;
       &lt;/td&gt;&lt;/tr&gt;
   &lt;/tbody&gt;
 &lt;/table&gt;
 
&lt;ol&gt; &lt;/ol&gt;
 </Описание>
				<Картинка>events_files/iblock/d08/1128846_15778793.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-13 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>На Первенстве СЗАО г.Москвы по шахматам наша команда заняла почетное 3-е место. Ребята, мы вами гордимся!
</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>На Первенстве СЗАО г.Москвы по шахматам наша команда заняла почетное 3-е место. Ребята, мы вами гордимся! 
&lt;br /&gt;
   
&lt;br /&gt;
 Состав команды победителей: 
&lt;table cellspacing=&quot;1&quot; cellpadding=&quot;1&quot; border=&quot;0&quot;&gt; 
  &lt;tbody&gt; 
    &lt;tr&gt;&lt;td style=&quot;-moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none;&quot;&gt; 
        &lt;ol&gt; 
          &lt;li&gt;Иванов Сергей, 5а&lt;/li&gt;
         
          &lt;li&gt;Павлова Анастасия, 8б&lt;/li&gt;
         
          &lt;li&gt;Кондратьев Виктор, 10а&lt;/li&gt;
         
          &lt;li&gt;Селезнева Алиса, 6в&lt;/li&gt;
         
          &lt;li&gt;Веселкин Игорь, 5а&lt;/li&gt;
         
          &lt;li&gt;Котова Настя, 7а&lt;/li&gt;
         
          &lt;li&gt;Саулов Алексей, 4б&lt;/li&gt;
         
          &lt;li&gt;Санников Василия, 8а&lt;/li&gt;
         
          &lt;li&gt;Германов Петр, 8а&lt;/li&gt;
         
          &lt;li&gt;Сезганов Вадим, 5а&lt;/li&gt;
         &lt;/ol&gt;
       &lt;/td&gt;&lt;/tr&gt;
   &lt;/tbody&gt;
 &lt;/table&gt;
 
&lt;ol&gt; &lt;/ol&gt;
 </Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/942/1128846_15778793.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>355</Ид>
				<Наименование>Конкурс &quot;Новые технологии в образовании&quot;</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>11 февраля в г.Москва состоится III Всероссийский профессиональный конкурс &amp;quot;Новые технологии в образовании&amp;quot;. На конкурсе нашу школу будет представлять с докладом Масловская Евгения Павловна.</Описание>
				<Картинка>events_files/iblock/646/200368697-001.gif</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-16 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>11 февраля в г.Москва состоится III Всероссийский профессиональный конкурс &quot;Новые технологии в образовании&quot;. На конкурсе нашу школу будет представлять с докладом Масловская Евгения Павловна.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>11 февраля в г.Москва состоится III Всероссийский профессиональный конкурс &quot;Новые технологии в образовании&quot;. На конкурсе нашу школу будет представлять с докладом Масловская Евгения Павловна.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/f2b/200368697-001.gif</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>356</Ид>
				<Наименование>Неделя финансовой подготовленности в городах России.</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>С 13 по 15 февраля наша школа будет участвовать в проекте &amp;quot;Неделя финансовой подготовленности в городах России.&amp;quot;</Описание>
				<Картинка>events_files/iblock/fbd/1ar.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-12 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>С 13 по 15 февраля наша школа будет участвовать в проекте &quot;Неделя финансовой подготовленности в городах России.&quot;</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>С 13 по 15 февраля наша школа будет участвовать в проекте &amp;quot;Неделя финансовой подготовленности в городах России.&amp;quot;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/59e/1ar.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>357</Ид>
				<Наименование>Все на &quot;Веселые старты&quot;</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>25 февраля состоятся традиционные районные &amp;quot;Веселые старты&amp;quot;. Мы едем на них доказать, что наши ребята самые быстрые, сильные и ловкие!</Описание>
				<Картинка>events_files/iblock/95c/5a.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-17 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>25 февраля состоятся традиционные районные &quot;Веселые старты&quot;. Мы едем на них доказать, что наши ребята самые быстрые, сильные и ловкие!</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>25 февраля состоятся традиционные районные &amp;quot;Веселые старты&amp;quot;. Мы едем на них доказать, что наши ребята самые быстрые, сильные и ловкие!</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/67e/5a.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>358</Ид>
				<Наименование>Городской Праздник талантов</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>С 8 по 10 февраля 2011 года в г. Москва состоится Городской Праздник талантов. Наша школа представит на Празднике театральную постановку &amp;quot;Русалка&amp;quot;, основанную на произведении А.С. Пушкина.</Описание>
				<Картинка>events_files/iblock/ac6/152999_behind_the_scenes_5.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-15 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>С 8 по 10 февраля 2011 года в г. Москва состоится Городской Праздник талантов. Наша школа представит на Празднике театральную постановку &quot;Русалка&quot;, основанную на произведении А.С. Пушкина.</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>С 8 по 10 февраля 2011 года в г. Москва состоится Городской Праздник талантов. Наша школа представит на Празднике театральную постановку &amp;quot;Русалка&amp;quot;, основанную на произведении А.С. Пушкина.</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/782/152999_behind_the_scenes_5.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>361</Ид>
				<Наименование>Приглашаем Вас на праздничный концерт &quot;Путешествие в сказку&quot;</Наименование>
				<БитриксТеги></БитриксТеги>
				<Описание>
&lt;p&gt;25 февраля в 11.00 в актовом зале школы состоится праздничный концерт &amp;quot;Путешествие в сказку&amp;quot;, посвященный 114-летию со дня рождения А.С. Пушкина.&lt;/p&gt;
 
&lt;p&gt;Целый месяц ребята готовили этот концерт. В программе:&lt;/p&gt;
 
&lt;ul&gt; 
  &lt;li&gt;&amp;quot;Сказка о Золотой Рыбке&amp;quot;, 5а класс;&lt;/li&gt;
 
  &lt;li&gt;&amp;quot;Русалка&amp;quot;, школьная театральная студия;&lt;/li&gt;
 
  &lt;li&gt;Конкурс чтецов; 
    &lt;br /&gt;
   &lt;/li&gt;
 
  &lt;li&gt;Выступление танцевального коллектива &amp;quot;Березка&amp;quot; (классический русский вальс, русские народные танцы). 
    &lt;br /&gt;
   &lt;/li&gt;
 &lt;/ul&gt;
 
&lt;p&gt;Приглашаем учеников и родителей!&lt;/p&gt;
 </Описание>
				<Картинка>events_files/iblock/dcd/152999_behind_the_scenes_5.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2011-04-18 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>25 февраля в 11.00 в актовом зале школы состоится праздничный концерт &quot;Путешествие в сказку&quot;, посвященный 114-летию со дня рождения А.С. Пушкина. Приглашаем учеников и родителей!</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>
&lt;p&gt;25 февраля в 11.00 в актовом зале школы состоится праздничный концерт &amp;quot;Путешествие в сказку&amp;quot;, посвященный 114-летию со дня рождения А.С. Пушкина.&lt;/p&gt;
 
&lt;p&gt;Целый месяц ребята готовили этот концерт. В программе:&lt;/p&gt;
 
&lt;ul&gt; 
  &lt;li&gt;&amp;quot;Сказка о Золотой Рыбке&amp;quot;, 5а класс;&lt;/li&gt;
 
  &lt;li&gt;&amp;quot;Русалка&amp;quot;, школьная театральная студия;&lt;/li&gt;
 
  &lt;li&gt;Конкурс чтецов; 
    &lt;br /&gt;
   &lt;/li&gt;
 
  &lt;li&gt;Выступление танцевального коллектива &amp;quot;Березка&amp;quot; (классический русский вальс, русские народные танцы). 
    &lt;br /&gt;
   &lt;/li&gt;
 &lt;/ul&gt;
 
&lt;p&gt;Приглашаем учеников и родителей!&lt;/p&gt;
 </Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/05d/152999_behind_the_scenes_5.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
		</Товары>
	</Каталог>
</КоммерческаяИнформация>
