/* �������: ����� ���������� (begin) */
.b-step-wrapper {
    font: 700 1.142857142857143em "Open Sans", sans-serif; /* 16/14 */
    padding: 28px 31px;
}
.b-step__link {
    color: inherit;
    background: url(../images/b-step__link.png) no-repeat left top;
    padding: 4px 0 3px 33px;
}
    .m-step__one {
        background-position: 0 0;
    }
        .m-step__one.active {
            background-position: 0 -33px;
        }
    .m-step__two {
        background-position: 0 -66px;
    }
        .m-step__two.active {
            background-position: 0 -99px;
        }
    .m-step__three {
        background-position: 0 -132px;
    }
        .m-step__three.active {
            background-position: 0 -165px;
        }
    .m-step__four {
        background-position: 0 -198px;
    }
        .m-step__four.active {
            background-position: 0 -231px;
        }
.b-step__sep {
    color: #dadada;
    display: inline-block;
    font-size: 1.4375em; /* 23/16 */
    font-weight: normal;
    margin: -6px 4px 0 4px;
}
.b-cart__list {
    margin: 10px 31px;
}
.b-cart__item {
    border-bottom: 1px solid #dadada;
    padding-bottom: 22px;
    margin-bottom: 25px;
}
    .b-cart__image {
        float: left;
        width: 166px;
        text-align: center;
        margin-right: 14px;
    }
        .b-cart__image img {
            max-width: 100%;
        }
    .b-cart__text {
        float: left;
        width: 166px;
        margin-right: 16px;
    }
        .b-cart__link {
            font-size: 1.142857142857143em; /* 16/14 */
            margin-bottom: 20px;
        }
        .b-cart__info {
            font-size: 0.8571428571428571em; /* 12/14 */
            line-height: 1.5;
        }
    .b-cart__price {
        float: left;
        width: 178px;
    }
        .b-cart__price_left {
            float: left;
        }
        .b-cart__price_right {
            float: right;
            margin-top: -2px;
        }
        .m-price__16px {
            font-size: 1.142857142857143em; /* 16/14 */
        }
        .b-cart-count__btn {
            display: inline-block;
            width: 19px;
            height: 18px;
            border: 0 none;
            background: url(../images/b-cart-count__btn.png) no-repeat;
        }
        .ie9 .b-cart-count__btn, .ie8 .b-cart-count__btn {
            vertical-align: middle;
        }
        .b-cart-count__btn.m-inc {
            background-position: 0 -18px;
        }
        .b-cart-count__count {
            display: inline-block;
            font-size: 1.142857142857143em; /* 16/14 */
            font-weight: bold;
            vertical-align: bottom;
            margin: 0 7px -2px;
        }
    .b-cart__total {
        float: right;
        width: 126px;
    }
        .b-cart__total_left {
            float: left;
        }
        .b-cart__total_right {
            float: right;
        }
        .m-cart__delete {
            background-position: 0 -34px;
        }
.b-total {
    margin-top: 29px;
}
.b-total__text {
    float: left;
    margin-left: 179px;
    line-height: 1.3;
}
    .b-total__text h2 {
        margin: 0;
        font-weight: normal;
        font-size: 1.785714285714286em; /* 25/14 */
    }
.b-total__price {
    float: right;
    width: 126px;
}
    .b-total__price .b-slider__price {
        color: #fa5400;
        font-size: 1.714285714285714em; /* 24/14 */
    }
    .b-total__price .b-slider__price_clearing b {
        font-size: 1.5em; /* 18/12 */
    }
.b-cart__btn {
    margin-top: 42px;
}
    .b-cart__btn.m-btn__line {
        border-bottom: 1px solid #dadada;
        padding-bottom: 24px;
    }
.b-cart-field__info {
    float: left;
    width: 181px;
    font-size: 0.8571428571428571em; /* 12/14 */
}
.b-cart-field {
    float: right; 
    width: 217px;
    padding: 0 15px;   
    margin: 9px 0 0;
}
    .m-cart-field__first {
        padding-right: 0;
    }
.b-cart-field__text {
    font-size: 0.8571428571428571em; /* 12/14 */
    margin: 19px 0 23px;
}
.b-cart-field__label {
    display: block;
    font-size: 0.8571428571428571em; /* 12/14 */
    margin-bottom: 5px;
}
    .b-star {
        color: #fa5400;
    }
.b-cart-field__input {
    border: 1px solid #d8d8d8;
    width: 100%;
    padding: 2px;
    margin-bottom: 9px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.b-cart-field__select {
    width: 100%;
    margin-bottom: 9px;
}
.b-cart__btn_right {
    position: relative;
}
.b-fast_order {
    display: none;
    width: 182px;
    padding: 17px;
    background: #fff;
    border: 1px solid #268f27;
    position: absolute;
    left: 130px;
    top: -135px;
}
    .m-detail-fast_order {
        left: 0;
        top: -86px;
    }
    .b-fast_order.active {
        display: block;
    }
.b-fast_order:after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    background: url(../images/b-fast_order.png) no-repeat;
    position: absolute;
    left: 85px;
    bottom: -10px;
}
.m-fast_order {
    float: right;
    margin: 0;
    padding: 7px 18px;
}
.b-fast_order__text {
    font-size: 0.7142857142857143em;
}
.b-payment-image {
    padding: 5px 0 0 14px;
}
    .b-payment__image {
        margin-right: 5px;
        vertical-align: middle;
    }
.b-thanks__h2 {
    color: #268f27;
    font-weight: normal;
    font-weight: 1.714285714285714em;
    margin: 50px 0 0 275px;
}
/* �������: ����� ���������� (end) */
