#rsmonopoly_wg {
	position: fixed;
	top: 0px;
	/*bottom: 0px;*/
	left: 0px;
	text-align: left;
	z-index: 900;
}
#rsmonopoly_wg *:focus {
	outline: none;
}
#rsmonopoly_wg .shesterenka {
	position: absolute;
	top: 0px;
	right: -51px;
	width: 51px;
	height: 51px;
	cursor: pointer;
	background: #313034 url('img/icons.png') 0px -46px no-repeat;
	z-index: 902;
	perspective: 1700px;
	perspective-origin: 0 50%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#rsmonopoly_wg .shesterenka .descr {
	position: absolute;
	top: 0px;
	left: 61px;
	width: 0px;
	max-height: 51px;
	padding: 16px 0;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #313034;
	overflow: hidden;
	z-index: 902;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-ms-transition: width 0.2s;
	-o-transition: width 0.2s;
	transition: width 0.2s;
}
#rsmonopoly_wg .shesterenka:hover .descr {
	width: 150px;
}
#rsmonopoly_wg .shesterenka .settings_hide,
#rsmonopoly_wg.opened .shesterenka .settings_show {
	display: none;
}
#rsmonopoly_wg.opened .shesterenka .settings_hide {
	display: inline;
}
#rsmonopoly_wg .settings {
	position: relative;
	width: 0px;
	height: 100%;
	padding: 20px 0px 0px;
	background-color: #313034;
	border-right: 1px solid #000;
	overflow: hidden;
	z-index: 901;
}
#rsmonopoly_wg.opened .settings {
	overflow: visible;
}
#rsmonopoly_wg .settings .in {
	width: 680px;
	color: #fff;
}

#rsmonopoly_wg .settings .title {
	font-size: 22px;
	padding: 0px 20px 20px 20px;
	border-bottom: 1px solid #000;
}
#rsmonopoly_wg .blocks .col {
	width: 50%;
	float: left;
}
#rsmonopoly_wg .blocks .option {
	position: relative;
	padding: 20px;

	border-top: 1px solid #464549;
	border-bottom: 1px solid #000;
}
#rsmonopoly_wg .blocks .left .option {
	border-right: 1px solid #000;
}
#rsmonopoly_wg .blocks .right .option {
	border-left: 1px solid #464549;
}
#rsmonopoly_wg .blocks .option .name {
	position: relative;
	margin-bottom: 5px;
	font-size: 15px;
}
#rsmonopoly_wg .option .name .help {
	position: absolute;
	top: -29px;
	right: -31px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}
#rsmonopoly_wg .help .text {
	position: absolute;
	top: 0px;
	display: none;
	width: 300px;
	padding: 10px 19px;
	background-color: #313034;
	border:1px solid #313034;
	border-top-color: #464549;
	border-bottom-color: #0f0f11;
}
#rsmonopoly_wg .left .help .text {
	left: 380px;
}
#rsmonopoly_wg .right .help .text {
	left: 40px;
}
#rsmonopoly_wg .help:hover .text {
	display: block;
}
#rsmonopoly_wg .help .text span {
	display: block;
	color: #b33812;
	text-transform: uppercase;
}

/* options */
#rsmonopoly_wg .menu_type button {
	margin-right: 16px;
	padding: 3px 8px 4px 0px;
	background-color: #39383b;
	border: none;
	border-bottom: 1px solid #000;
}
#rsmonopoly_wg .menu_type button.type4 {
	margin-right: 0px;
}
#rsmonopoly_wg .menu_type button:hover,
#rsmonopoly_wg .menu_type button.checked:hover {
	background-color: #48474b;
}
#rsmonopoly_wg .menu_type button.checked {
	background-color: #262529;
	border-bottom: none;
	border-top: 1px solid #000;
}
#rsmonopoly_wg .menu_type button span {
	display: block;
	width: 51px;
	height: 46px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
}
#rsmonopoly_wg .menu_type button.type1 span {
	background-position: 0px 0px;
}
#rsmonopoly_wg .menu_type button.type2 span {
	background-position: -153px 0px;
}
#rsmonopoly_wg .menu_type button.type3 span {
	background-position: -51px 0px;
}
#rsmonopoly_wg .menu_type button.type4 span {
	background-position: -102px 0px;
}
#rsmonopoly_wg .menu_style .body {
	position: relative;
}
#rsmonopoly_wg .menu_style .overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #313034;
	opacity: 0.5;
}
#rsmonopoly_wg .radioblock button {
	margin-right: 14px;
	padding-top: 6px;
	color: #c3c3c3;
	text-align: center;
	background: transparent;
	border: none;
}
#rsmonopoly_wg .radioblock button:hover {
	color: #fff;
}
#rsmonopoly_wg .radioblock button.style3 {
	margin-right: 0px;
}
#rsmonopoly_wg .radioblock button span {
	display: inline-block;
	width: 16px;
	height: 17px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
	background-position: 0px -97px;
}
#rsmonopoly_wg .radioblock button.checked span {
	background-position: -16px -97px;
}
#rsmonopoly_wg .switcher button {
	display: inline-block;
	width: 100%;
	padding: 0px;
	text-align: left;
	color: #c3c3c3;
	background: transparent;
	border: none;
}
#rsmonopoly_wg .switcher button .icon {
	position: relative;
  	top: 6px;
	display: inline-block;
	width: 40px;
	height: 21px;
	margin: 0px 25px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
	background-position: -40px -132px;
}
#rsmonopoly_wg .switcher button.checked .icon {
	transform: scale(-1, 1);;
}
#rsmonopoly_wg .checkboxes table {
	width: 100%;
}
#rsmonopoly_wg .checkboxes table td {
	width: 50%;
}
#rsmonopoly_wg .checkboxes table td.l {
	padding: 4px 9px 4px 0px;
}
#rsmonopoly_wg .checkboxes table td.r {
	padding: 4px 0px 4px 9px;
}
#rsmonopoly_wg .checkboxes button {
	display: block;
	width: 100%;
	padding: 0px;
	text-align: left;
	color: #c3c3c3;
	background: transparent;
	border: none;
}
#rsmonopoly_wg .checkboxes button span {
	display: inline-block;
	float: right;
	width: 40px;
	height: 21px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
	background-position: 0px -132px;
}
#rsmonopoly_wg .checkboxes button.checked span {
	background-position: -40px -132px;
}
#rsmonopoly_wg .black_mode button {
	color: #fff;
	font-size: 15px;
	text-align: center;
	background: transparent;
	border: none;
}
#rsmonopoly_wg .black_mode button span {
	display: inline-block;
	float: left;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	margin-right: 10px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
	background-position: 0px -114px;
}
#rsmonopoly_wg .black_mode button.checked span {
	background-position: -18px -114px;
}
#rsmonopoly_wg .option.apply {
	border-top: none;
	border-bottom: none;
	border-left: none;
	text-align: center;
}
#rsmonopoly_wg .apply button {
	position: relative;
	padding: 0px;
	text-align: center;
	background-color: #313034;
	border: 1px solid #141414;
}
#rsmonopoly_wg .apply button span {
	display: inline-block;
	padding: 18px 50px;
	font-size: 18px;
	border-top: 1px solid #5a595d;
}
#rsmonopoly_wg .apply button i {
	position: absolute;
	top: 22px;
	right: 25px;
	display: none;
	width: 16px;
	height: 16px;
	background: url('img/ajax-loader.gif') 0 0 no-repeat;
}
/* tabs */
.rsmonopoly_tabs .rsmonopoly_headers a {
	font-size: 15px;
	color: #c3c3c3;
	text-decoration: none;
}
.rsmonopoly_tabs .rsmonopoly_headers a span {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 17px;
	margin-right: 7px;
	background-image: url('img/icons.png');
	background-repeat: no-repeat;
	background-position: 0px -97px;
}
.rsmonopoly_tabs .rsmonopoly_headers a.checked span {
	background-position: -16px -97px;
}
.rsmonopoly_tabs .rsmonopoly_headers a:hover {
	color: #fff;
}
.rsmonopoly_tabs .rsmonopoly_headers a:first-child {
	margin-right: 20px;
}
.rsmonopoly_tabs .rsmonopoly_headers a.checked {
	color: #fff;
	cursor: default;
}
.rsmonopoly_tabs .rsmonopoly_content .rsmonopoly_tab {
	display: none;
}
.rsmonopoly_tabs .rsmonopoly_content .rsmonopoly_tab.show {
	display: block;
}





.rsmonopoly_cp {
	max-width: 300px;
}
.rsmonopoly_cp .colors {
	padding-top: 11px;
}
.rsmonopoly_cp .colors tr.r td,
.rsmonopoly_cp .colors tr.g td,
.rsmonopoly_cp .colors tr.b td {
	padding: 3px 8px;
}
.rsmonopoly_cp .colors tr.hex td {
	padding: 14px 8px;
}
.rsmonopoly_cp .colors tr td.name {
	padding-right: 0px;
}
.rsmonopoly_cp .colors td,
.rsmonopoly_cp .colors input {
	color: #c3c3c3;
	font-size: 11px;
}
.rsmonopoly_cp .colors input {
	max-width: 34px;
	padding: 5px 7px;
	background-color: transparent;
	border: 1px solid #c3c3c3;
}
.rsmonopoly_cp .colors .hex input {
	max-width: 56px;
}
.colorpickerHolder {
	float: left;
	margin-left: -12px;
}
.colorpickerHolder .colorpicker_new_color,
.colorpickerHolder .colorpicker_current_color,
.colorpickerHolder .colorpicker_hex,
.colorpickerHolder .colorpicker_field,
.colorpickerHolder .colorpicker_submit {
	display: none;
}
.colorpickerHolder .colorpicker {
	width: 204px;
	background: url('colorpicker/colorpicker_background_new.png');
}

@media (max-width: 992px) {
	#rsmonopoly_wg {
		display: none;
	}
}