.select {
  display: inline-block;

  &__btn {
    @extend %theme-background4;
    @extend .btn;
    
    border: 1px solid $dropdown-border;
    box-shadow: none;
    //min-height: $base-line-height;
    min-height: $base-line-height*2;
    min-width: $base-line-height * 10;
    //padding: $base-line-height*0.25 $base-line-height*0.5 $base-line-height*0.25 $base-line-height;
    //padding: 0;
    padding: $base-line-height*0.5 $base-line-height*0.5 $base-line-height*0.5 $base-line-height;
    text-align: left;
    
    .open > & {
      background: $body-bg;
      box-shadow: 3px 8px 8px 0 rgba($gray-dark, 0.75);
    }
  }
  
  &__icon {
    fill: $skin0_bg;
    height: 18px;
    float: right;
    margin-left: em(2px);
    vertical-align: middle;
    width: 18px;//18px;
  }
}