div.filter {
    overflow: hidden;
    width: 300px;
    color: #3E3E3E;
    font-size: 13px;
    background-color: #F5F0EB;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 1px;
}
    div.filter div.row {
        overflow: hidden;
        margin-bottom: 6px;
        line-height: 23px;
    }
    div.filter div.row h3 {
        color: #333;
        font-size: 20px;
        font-weight: normal;
        margin: 0px;
        width: 100px;
        float: left;
    }
    div.filter div.row label.f {
        display: block;
        width: 100px;
        float: left;
        position: relative;
    }
    div.filter div.row label.f span.r {
        position: absolute;
        right: 3px;
        top: 0;
    }
    div.filter div.row div {
        margin-left: 100px;
    }

    label.sale,
    label.new,
    label.old {
        width: 75px;
        display: inline-block;
    }

    label.new {
        width: 22px; 
    }
    label.old {
        width: 27px;
    }
    input.ch {
        width: 14px;
        height: 14px;
        margin: 5px 5px 0px 0px;
        float: left;
        padding: 0px;
    }
    label.ch {
        float: left;
        margin-right: 7px;
    }
    div.filter select {
        width: 180px;
        height: 20px;
    }
    div.filter select.notSelect {
        color: #999; 
    }
        div.filter select.notSelect option {
            color: #000; 
        }
        div.filter select option.label {
            color: #999; 
        }
    div.filter input.txt {
        width: 72px;
        height: 15px;
        line-height: 16px;
        margin: 0px;
    }
    div.filter input.btn {
        float: right;
        margin: 5px 20px 25px 0px;
        background-color: #7D5F48;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        border: none;
        color: #fff;
        font-family: Arial;
        height: 26px;
        width: 80px;
        cursor: pointer;
    }
    div.filter a.reset
    {
        color: #888888;
        display: block;
        float: left;
        font-family: arial;
        font-size: 12px;
        margin-top: 13px;
    }
