table.cse-form-fields {
	width: 100%;
}

a.cse-link-delete
{
	background: url("/bitrix/themes/.default/images/menu/delete.gif") no-repeat scroll 1px -1px transparent;
	*display: inline;
	display: -moz-inline-block;
	display: inline-block;
	font-weight: normal !important;
	margin: 6px 5px 0 0;
	padding-left: 20px;
}

.dragging-td {
	background: #ffd;
}


.cse-dropdown {
	padding: 0 10px;
}
.cse-dropdown dd, .cse-dropdown dt, .cse-dropdown ul { margin:0px; padding:0px; }
.cse-dropdown dd { position:relative; }
/* DT styles for sliding doors */
.cse-dropdown a.cse-action {
    border-bottom: 1px dashed #2747BF;
    outline: medium none;
    text-decoration: none;
}
.cse-dropdown a.cse-action:hover {
	border-color: #f00;
}

.cse-dropdown dt a span {cursor:pointer; display:block; padding:5px;}
/* UL styles */
.cse-dropdown dd ul {
	list-style:none;
	padding:10px 0px;
	position:absolute;
    left:-10px; bottom:1.5em; width:auto; min-width:170px;
    background: #ffe;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.cse-dropdown span.value { display:none;}
.cse-dropdown dd ul li {
	zoom: 1;
	display: block;
	padding: 3px 10px;
}
