.quickbuy{
	width:100%;
	text-align:center;
	height:426px;
	overflow:hidden;
	border:1px solid #C6C6C6;
	border-radius:5px;
	-moz-border-radius:5px; 
	-khtml-border-radius:5px;
}
.quickbuy-item-leftborder{
	border-left:1px solid #C6C6C6;
}
.quickbuy .quickbuy-title{
	font-size:18px;
	padding:5px 0;
	text-transform:uppercase;
	border-bottom:1px solid #C6C6C6;
}
.quickbuy .quickbuy-body{
	padding:0px;
}
.quickbuy .quickbuy-item{
	width:210px;
	display:inline-block;
	padding:10px;
}
.quickbuy .quickbuy-item-name{
	height:36px;
	overflow:hidden;
}
.quickbuy .quickbuy-item-name a{
	font-weight:bold;
	font-family:Arial;
	text-decoration:none;
}
.quickbuy-item-image{
	margin:0;
	padding:0;
	width:200px;
	height:180px;
}
.quickbuy .quickbuy-item-timer{
	padding-top:3px;
	padding-bottom:9px;
	text-align:center;
}
.quickbuy .quickbuy-item-timer-table{
	margin:0 auto;
	font-size:11px;
}
.quickbuy .quickbuy-item-timer-table td,
.quickbuy .quickbuy-item-timer-table th{
	text-align:center;
}
.quickbuy td.quickbuy-ptop{
	padding-top:12px;
}
.quickbuy td.quickbuy-pbot{
	padding-bottom:7px;
}
.quickbuy td.quickbuy-pleft,
.quickbuy td.quickbuy-pleft{
	padding-left:12px;
}
.quickbuy td.quickbuy-pright,
.quickbuy td.quickbuy-pright{
	padding-right:12px;
}
.quickbuy  .quickbuy-t-time td span{
	font-size:23px;
	font-weight:bold;
}
.quickbuy  .quickbuy-t-time td.quickbuy-td-empty{
	border:0px;
}
.quickbuy .quickbuy-item-data{
	display:none;
}
.quickbuy-time-dvoetochie{
	padding:0 4px;
}

/* timer borders */
.quickbuy .quickbuy-bl{
	border-left:1px solid #C6C6C6;
}
.quickbuy .quickbuy-bt{
	border-top:1px solid #C6C6C6;
}
.quickbuy .quickbuy-br{
	border-right:1px solid #C6C6C6;
}
.quickbuy .quickbuy-bb{
	border-bottom:1px solid #C6C6C6;
}

.quickbuy-js-d,
.quickbuy-js-h,
.quickbuy-js-m,
.quickbuy-js-s{
	font-family:Arial;
}

/* prices and discount */
.quickbuy-prices-and-discount{
	text-align:left;
}
.quickbuy-item-price-old{
	font-size:16px;
	color:#3A3A3A;
	text-decoration:line-through;
	font-family:Arial;
	font-weight:bold;
}
.quickbuy-item-price-new{
	font-size:23px;
	color:#11ABD9;
	font-family:Arial;
	font-weight:bold;
}
.quickbuy-item-discount{
	width:186px;
	padding-top:5px;
	padding-bottom:6px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#212121;
	background:url('img/discount.png') 0 0 no-repeat;
	margin:6px auto;
}
/* /prices and discount */
.quickbuy-prices-and-discount .lft-rght{
	width:210px;
	margin:0 auto;
}
.quickbuy-prices-and-discount .lft{
	float:left;
}
.quickbuy-prices-and-discount .lft .price-old{
	font-size:14px;
	color:#3A3A3A;
	text-decoration:line-through;
	font-family:Arial;
	font-weight:bold;
	color:#9797A6;
}
.quickbuy-prices-and-discount .lft .price-new{
	font-size:18px;
	color:#11ABD9;
	font-family:Arial;
	font-weight:bold;
	color:black;
}
.quickbuy-prices-and-discount .rght{
	width:100px;
	height:24px;
	float:right;
}

/* border-radius -> left_top */
.quickbuy-ptop.quickbuy-pleft.quickbuy-bt.quickbuy-bl{
	border-radius:3px 0 0 0;
	-moz-border-radius:3px 0 0 0;
	-khtml-border-radius:3px 0 0 0;
}
/* border-radius -> right_top */
.quickbuy-ptop.quickbuy-pright.quickbuy-bt.quickbuy-br{
	border-radius:0 3px 0 0;
	-moz-border-radius:0 3px 0 0;
	-khtml-border-radius:0 3px 0 0;
}
/* border-radius -> bottom_top */
.quickbuy-pbot.quickbuy-pleft.quickbuy-bb.quickbuy-bl{
	border-radius:0 0 0 3px;
	-moz-border-radius:0 0 0 3px;
	-khtml-border-radius:0 0 0 3px;
}
/* border-radius -> bottom_right */
.quickbuy-pbot.quickbuy-pright.quickbuy-bb.quickbuy-br{
	border-radius:0 0 3px 0;
	-moz-border-radius:0 0 3px 0;
	-khtml-border-radius:0 0 3px 0;
}