#discount_card_form label
{
    display: block;
    margin-top:10px;
    margin-bottom:5px;
}
#discount_card_form label input {
    display: block;
}
.discount-cards-wrapper
{
    padding:10px 0;
}
.error-notice
{
    position: relative !important;
}
.btn {
    display: inline-block;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    font-family: "pfdintextpro-medium";
    font-size: 15px;
    text-transform: uppercase;
    width: 140px;
    text-align: center;
    padding: 16px 13px 14px 11px;
    margin: 0;
    color: #ffffff !important;
    background: #7aab4b;
}
.btn:hover {
    background-color: #8989e4;
}