ul.dropdown{font-family: Helvetica, Arial; height: 38px; background-image: url(images/menu_bg_2.jpg); background-position: center; background-repeat: repeat-x;}

ul.dropdown .menu_title{font-size: 13px; border-right: 1px dotted #a6a6a6;}
ul.dropdown .menu_title > a{font-size: 13px;}

ul.dropdown .menu_folder > a.active{background-color: rgba(255, 255, 255, 0.2); color: #fff !important;}

ul.dropdown li{padding: 0; background-color: transparent; color: #564747;}
ul.dropdown li.hover, .menu_title:hover{background-color: rgba(255, 255, 255, 0.3); color: #fff;}
ul.dropdown li.active{background-color: rgba(255, 255, 255, 0.2);}
ul.dropdown li.dir.active{background-position: 99% -23px;}
ul.dropdown li.active > a{color: #fff !important;}

ul.dropdown li a{display: block; padding: 11px 10px 10px;}

ul.dropdown a:link, ul.dropdown a:visited{color: #fff; text-decoration: none;}
ul.dropdown > li > a:link, ul.dropdown > li > a:visited{color: #fff; font-weight: bold;}
ul.dropdown a:hover{color: #fff;}
ul.dropdown a:active{background-color: rgba(255, 255, 255, 0.2);}

ul.dropdown > li > ul{border: 1px solid #0c67a5; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;
	background-color: rgb(12, 103, 165); /* The Fallback */ background-color: rgba(12, 103, 165, 0.9);
	box-shadow: rgba(170, 170, 170, 0.8) 5px 5px 5px; -webkit-box-shadow: rgba(170, 170, 170, 0.8) 0px 3px 5px; -moz-box-shadow: rgba(170, 170, 170, 0.8) 5px 5px 5px; -o-box-shadow: rgba(170, 170, 170, 0.8) 5px 5px 5px;
}

ul.dropdown ul{font-size: 12px; letter-spacing: normal;}
ul.dropdown ul li{font-weight: bold; font-size: 12px;}
ul.dropdown li.last ul li{float: right;}

ul.dropdown ul {margin-top: 0px; text-transform: none;}
ul.dropdown ul ul li{font-weight: normal; font-size: 11px;}

ul.dropdown > .dir {padding: 0px 22px 0px 0px; background-image: url(images/nav_arrow.png); background-position: 99% -23px/*11px*/; background-repeat: no-repeat;}
ul.dropdown > .dir:hover{padding-bottom: 1px;}
ul.dropdown *.dir:hover{background-position: 99% -23px;}
ul.dropdown ul *.dir{background-image: none;}

ul.dropdown *.menu_title:hover >a{color: #fff;}

ul.dropdown ul a {width: 140px; padding: 3px 5px;}
ul.dropdown ul a:hover {background-color: rgba(255, 255, 255, 0.3); color: #fff;}