<form action="#" class="add-form">
        <fieldset>
                <div class="form-item">
                        <label for="name-item">Название</label>
                        <span class="field focus"><input type="text" id="name-item" value="" /></span>
                </div>
                <div class="form-item">
                        <label for="url-item">Cсылка</label>
                        <span class="field"><input type="text" id="url-item" value="" /></span>
                </div>
                <div class="action">
                        <input type="submit" value="Добавить" />
                </div>
        </fieldset>
</form>