.onlinedengi-caption {
	margin: 0 0 0.5em 0;
}

.onlinedengi-caption-name {
	font-weight: bold;
}

.onlinedengi-caption-value {
}

.onlinedengi-href {
}

.onlinedengi-form-block {
}

.onlinedengi-form-block-pad {
}

.onlinedengi-form-block form {
	margin: 0;
	padding: 0;
}

.onlinedengi-field-row {
	margin: 0 0 0.5em 0;
}

.onlinedengi-from-button {
	margin: 0 0 0.5em 0;
}

.onlinedengi-pay-table{
	width:700px;

}
.onlinedengi-pay-table td{
	height:50px;
	vertical-align:middle;
}