body {
	color: #292929;
	font: 0.875em Arial, Helvetica, sans-serif; /* 14/16 */
	background: #f3f3f3;
}
*:focus {
	outline: none;
}
a {
	color: #067ee3;
	text-decoration: none;
}
a:hover {
	color: #fa5400;
}
.b-page {
	position: relative;
}
.b-h2__green {
	font: 600 1.28571em/1.3 "Open Sans",sans-serif; /* 18/14 */
	color: #107430;
	margin-top: 0;
}
.b-wrapper {
	width: 960px;
	padding: 0 14px;
	margin: 0 auto;
}
.b-header {
	padding: 15px 0 13px;
}
.b-logo {
	float: left;
	display: block;
	width: 76px;
	height: 70px;
	background: url(../images/b-logo.png) no-repeat;
	margin: 0 0 0 14px;
}
.b-header-text {
	float: left;
	margin: 2px 0 0 17px;
}
.b-header-text__work {
	font-size: 0.8571428571428571em; /* 12/14 */
}
.b-header-text__phone {
	font: 600 2.142857142857143em "Open Sans", sans-serif; /* 30/14 */
	margin: 8px 0 0;
}
.b-header-nav {
	float: right;
	text-align: right;
}
.b-header-menu {
	margin: 0 -5px 0 0;
}
.b-header-menu__link {
	font-size: 0.8571428571428571em; /* 12/14 */
	font-weight: bold;
	border-left: 1px solid #d7d7d7;
	color: inherit;
	padding: 2px 10px;
}
.b-header-menu__link:first-child {
	border: 0 none;
}
	.b-header-menu__link span {}
	.b-header-menu__link:hover span {}
.b-header-user {
	margin: 26px 3px 0 0;
}
.b-header-user__link {
	color: inherit;
	margin: 0 0 0 18px;
}
	.m-no_margin {
		margin: 0;
	}
.b-header-compare__count {
	color: #fa5400;
}
.b-nav {
	background: url(../images/b-nav.png) repeat-x 0 0;
}
.b-nav-category {
	float: left;
	background: url(../images/b-nav-category.png) repeat-y right top;
	padding-right: 2px;
}
	.m-menu {
		width: 188px;
		position: relative;
		z-index: 100;
	}
	.m-search {
		width: 474px;
	}
	.m-cart {
		min-width: 135px;
	}
	.m-visit {
		padding: 0;
		background: none;
	}
.b-nav-category__link {
	display: block;
	color: #fff;
	text-shadow: 0 1px 0 #125c20;
	font: 700 1.142857142857143em/1 "Open Sans", sans-serif; /* 16/14 */
	padding: 14px 16px 21px;
	background: url(../images/b-nav-category__link.png) no-repeat 156px 30px;
	position: relative;
}
.m-menu:hover .b-nav-category__link {
	color: #094617;
	text-shadow: 0 1px 0 #32c23b;
	background: none;
}
/*.m-menu:hover .b-nav-category__link:after {*/
.m-menu.active .b-nav-category__link:after {
	content: "";
	display: block;
	width: 18px;
	height: 9px;
	background: url(../images/b-nav-category__link_after.png) no-repeat;
	position: absolute;
	bottom: -9px;
	left: 50%;
	z-index: 100;
}
.b-nav-menu {
	display: none;
	list-style: none;
	position: absolute;
	width: 187px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
/*.m-menu:hover .b-nav-menu {*/
.m-menu.active .b-nav-menu {
	display: block;
}
.b-nav-menu__item {
	background: url(../images/b-nav-menu__item.png) repeat-x 0 0;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
}
.b-nav-menu__item:hover {
	background-position: 0 -102px;
}
.b-nav-menu__link {
	display: block;
	font-weight: bold;
	color: inherit;
	padding: 7px 14px 10px;
}
	.m-menu__child .b-nav-menu__link {
		background: url(../images/b-nav-menu__link.png) no-repeat 167px center;
	}
.b-nav-menu__item:hover .b-nav-menu__link {
	color: #fff;
	background: none;
}
.b-nav-menu__inner {
	display: none;
	background: #fff;
	padding: 20px;
	position: absolute;
	left: 183px;
	top: 0;
	z-index: 99;
	border: 1px solid #dadada;
}
	.m-menu__child:hover .b-nav-menu__inner {
		display: block;
	}
.b-nav-menu__inner:before {
	content: "";
	display: block;
	width: 9px;
	height: 17px;
	background: url(../images/b-nav-menu__inner.png) no-repeat;
	position: absolute;
	left: -9px;
	top: 15px;
}
	.m-nav-promo {
		width: 375px;
	}
.b-nav-sub_menu {
	float: left;
	list-style: none;
	width: 177px;
}
.b-nav-sub_menu__item {
	margin: 0 0 7px;
}
.b-nav-sub_menu__item:last-child {
	margin: 0;
}
.b-nav-sub_menu__link {
	color: inherit;
}
.b-nav-sub_menu__link:hover {
	text-decoration: underline;
	color: #067ee3;
}
.b-nav-promo {
	float: left;
	margin-left: 10px;
	border-left: 1px solid #dcdcdc;
	padding-left: 10px;
}
.b-search-form {
	float: left;
	width: 334px;
	padding: 5px 15px;
	margin: 17px 13px 16px;
	background: #fff;
	border-radius: 18px;
	box-shadow: 1px 3px 3px #d8d8d8 inset;
	position: relative;
}
.b-search-form__text {
	border: 0 none;
	background: #fff;
	font-size: 1.285714285714286em; /* 18/14 */
	width: 92.81437125748503%; /* 310/334 */
}
.b-search-form__submit {
	width: 36px;
	height: 100%;
	background: url(../images/b-search-form__submit.png) no-repeat center center;
	border: 0 none;
	position: absolute;
	top: 0;
	right: 0;
}
.b-search-form__lucky {
	float: left;
	color: #fff;
	text-shadow: 0 1px 0 #125c20;
	font-weight: bold;
	margin: 17px 0 0 4px;
	border: 0 none;
	background: none;
	padding: 0;
	text-align: left;
}
.b-search-form__lucky:hover {
	color: #094617;
	text-shadow: 0 1px 0 #32c23b;
}
.b-cart-mini__link {
	padding: 16px 13px 17px;
}
.b-cart-mini__link.active {
	background: url(../images/b-nav.png) repeat-x 0 -134px;
	position: relative;
}
.b-cart-mini__link.active:after {
	content: "";
	display: block;
	width: 18px;
	height: 9px;
	margin-left: -9px;
	background: url(../images/b-cart__hover_after.png) no-repeat;
	position: absolute;
	bottom: -9px;
	left: 50%;
}
.b-cart-mini {
	display: block;
	background: url(../images/b-cart-mini.png) no-repeat right center;
	color: #fff;
	text-shadow: 0 1px 0 #2a841d;
	padding-right: 30px;
}
.b-cart-mini:hover {
	color: #fff;
}
.b-cart-mini__line {}
.b-cart-mini__count {
	color: #fa5400;
}
.m-cart-visit {
	background-image: url(../images/b-cart-mini__visit.png);
}
/* сайдбар (begin) */
.b-sidebar {
	float: left;
	width: 188px;
}
.m-sidebar {
	margin-bottom: 20px;
	border: 1px solid #dadada;
	border-right: 0 none;
	background: #fff;
	padding: 13px;
}
.m-sidebar:first-child {
	/*border-top: 0 none;*/
}

/* slider (begin) */
.b-filter-slider {
	border-radius: 0;
	margin: 27px 0 14px;
	height: 3px;
	border: 1px solid #dcdcdc;
	background: #e7e7e7;
}
.b-filter-slider .ui-widget-header {
	background: #268f27;
	height: 5px;
	top: -1px;
}
.b-filter-slider .ui-slider-handle {
	width: 8px;
	height: 19px;
	top: -9px;
}
/* slider (end) */

.b-sidebar-filter {
	font-size: 0.8571428571428571em;
	background: #fffffd;
}
.b-sidebar__section {
	border-top: 1px solid #dcdcdc;
	margin-top: 20px;
	padding-top: 18px;
}
.b-sidebar__section:first-child {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.b-sidebar__h2 {
	margin: 0;
	font-size: inherit;
	margin: 9px 0;
	position: relative;
}
.b-sidebar__hint {
	font-weight: normal;
}
.b-filter-slider__fields {

}
	.m-price__field {
		width: 41.61490683229814%; /* 67/161 */
	}
	.m-size__field {
		width: 31.05590062111801%; /* 50/161 */
	}
	.b-filter-slider__label {
		display: block;
		margin-bottom: 3px;
	}
	.b-filter-slider__text {
		width: 100%;
		border: 1px solid #d8d8d8;
		padding: 3px 6px;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
.b-toggle__btn {
	background: url(../images/b-toggle__btn.png) no-repeat 3px -18px;
	padding-left: 18px;
	cursor: pointer;
}
.b-toggle__btn.active {
	background-position: 3px 4px;
}
.b-toggle__wrapper {
	height: 145px;
	margin-top: 19px;
}
.b-toggle__hint {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/b-toggle__hint.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}
.b-sidebar .b-tab-head {
	margin: 0;
	font-size: 1em;
}
.b-sidebar .b-tab-head__link {
	padding: 5px 0 18px 5px;
}
.b-slider-vert__btn {
	display: block;
	width: 100%;
	height: 15px;
	border: 0 none;
	margin: 11px 0;
	background: url(../images/b-slider-vert__btn.png) no-repeat center 0;
}
	.m-vert__up {
		margin-bottom: 27px;
	}
	.m-vert__down {
		background-position: center -15px;
		margin-bottom: 0;
	}
.b-slider-vert__list {
	list-style: none;
}
.b-slider-vert__item {
	text-align: center;
	font-size: 1.16667em;
	padding-bottom: 10px;
}
.b-slider-vert__item:first-child {

}
.b-slider-vert__image {
	height: 135px;
}
	.b-slider-vert__image img {
		max-width: 100%:
	}
/* сайдбар (end) */

.m-left {
	float: left;
}
.m-right {
	float: right;
}
.b-radio, .b-checkbox {
	display: inline-block;
	background: url(../images/b-switch__sprite.png) no-repeat;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 1px 0 1px 23px;
}
	.b-radio input, .b-checkbox input {
		margin-left: -63px;
		width: 63px;
		width: 63px;
	}
.b-checkbox {
	background-position: 0 2px;
}
.b-radio.b-checked {
	background-position: 0 -18px;
}
.b-checkbox.b-checked {
	background-position: 0 -24px;
}

/* контент (begin) */
.b-content {
	float: right;
	width: 770px;
	border: 1px solid #dadada;
	border-top: 0 none;
	background: #fff;
	padding: 0 0 40px;
}
.b-breadcrumb {
	font-size: 0.8571428571428571em;
	padding: 18px 30px;
	border-bottom: 1px solid #dadada;
	background: #fff;
}
	.m-breadcrumb__top {
		border-left: 1px solid #dadada;
		border-right: 1px solid #dadada;
		padding: 18px 12px;
	}
.b-breadcrumb__sep {
	display: inline-block;
	width: 16px;
	height: 5px;
	margin: 0 1px 1px;
	background: url(../images/b-breadcrumb__sep.png) no-repeat;
}

/* слайдер (begin) */
.b-slider-wrapper {
	overflow: hidden;
	padding: 25px 25px 5px;
	position: relative;
	width: 720px;
}
.b-slider {}
.b-slider__control {
	display: block;
	width: 16px;
	height: 100%;
	background: url(../images/b-slider__btn.png) no-repeat 0 50%;
	position: absolute;
	top: 0;
}
	.m-prev {
		left: 4px;
	}
	.m-next {
		right: 4px;
		background-position: -34px 50%;
	}
.b-slider__item {
	float: left;
	width: 210px;
	height: 325px;
	padding: 10px;
	margin: 5px;
	position: relative;
}
	.m-small-slider {
		margin: 3px 0 7px;
	}
	.m-small-slider .b-slider__item {
		width: 166px;
		height: 235px;
		padding: 5px 3px;
		margin: 2px;
	}
	.m-small-slider .b-slider__text {
		font-size: 1em; /* 14/14 */
	}
	.m-small-slider .b-slider__link {
		margin: 0 0 2px;
	}
.b-slider__item:hover {
	box-shadow: 0 0 4px #aaa;
	background: #fffffd;
}
	.b-slider__text {
		text-align: center;
		font-size: 1.142857142857143em; /* 16/14 */
	}
	.b-slider__image {
		margin: 0 0 25px;
		height: 200px;
	}
		.b-slider__image img {
			max-width: 100%;
		}
	.b-slider__link {
		margin: 0 0 -5px;
	}
	.b-slider__price {
		font-weight: 700;
		font-family: "Open Sans", sans-serif;
		margin: 5px 0 0;
	}
	.b-slider__btn {
		margin: 6px 0 0;
	}
.b-button__fast {
	float: right;
	color: #107430;
	font: 700 0.857143em/1 "Open Sans",sans-serif; /* 12/14 */
	background: none;
	border: 1px solid #dcdcdc;
	border-radius: 18px;
	margin: 0 18px 0 8px;
	padding: 5px 9px;
}
	.m-small__btn {
		font-size: 0.8571428571428571em;
	}
.b-button__fast:hover {
	color: #fff;
	background: #268f27;
	border-color: transparent;
	box-shadow: 1px 1px 1px #aaa;
}
.b-slider__btn .b-icon {
	float: right;
}
.b-pager {
	list-style: none;
	position: absolute;
	right: 26px;
	top: 4px;
	z-index: 50;
}
.b-pager__item, .b-pager li {
	float: left;
}
.b-pager__link, .b-pager a {
	display: block;
	width: 15px;
	height: 19px;
	background: url(../images/b-pager__link.png) no-repeat;
	text-indent: 9999px;
}
	.b-pager__link.active, .b-pager li.current a {
		background-position: 0 -19px;
	}
/* слайдер (end) */

.b-icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(../images/b-icon.png) no-repeat 0 0;
}
.b-icon:hover {
	background-position: 0 -108px;
}
span.b-icon {
	cursor: help;
}
	.m-icon__compare {
		background-position: 0 -36px;
	}
	.m-icon__compare:hover {
		background-position: 0 -144px;
	}
	.m-icon__buy {
		background-position: 0 -72px;
	}
.b-cart-long {
	margin: 0 29px;
	border-bottom: 1px solid #dcdcdc;
}
	.m-cart-long__bottom {
		border: 0 none;
		border-top: 1px solid #dcdcdc;
	}
.b-cart-long__text {
	float: left;
	font: 600 1.285714285714286em "Open Sans",sans-serif; /* 18/14 */
	margin: 16px 0 18px 3px;
}
	.b-cart-long__text b {
		color: #fa5400;
	}
.b-cart-long__button {
	float: right;
	margin: 13px 0 13px 15px;
}
.b-button {
	color: #fff;
	font-weight: 700;
	font-family: "Open Sans",sans-serif;
	border: 0 none;
	background: #268f27;
	padding: 7px 22px;
	border-radius: 17px;
}
	.m-orange {
		background: #fa5400;
	}
.b-button__delete {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../images/b-button__delete.png) no-repeat;
	border: 0 none;
}
.b-hr {
	border: 0 none;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #ebebeb;
}
.b-tab-head {
	margin: 0 31px;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0.857143em; /* 12/14 */
}
.b-tab-head__link {
	display: inline-block;
	color: inherit;
	padding: 17px 0 18px;
	margin: 0 20px 0 0;
}
.b-tab-head__link.active {
	font-weight: bold;
	position: relative;
}
.b-tab-head__link.active:after {
	content: "";
	display: block;
	width: 15px;
	height: 8px;
	background: url(../images/b-tab-head__link.png) no-repeat;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin: 0 0 0 -8px;
}
.b-tab-body {}
.b-tab-promo__image img {
	vertical-align: bottom;
}
.b-tab-promo {
	height: 97px;
	background: url(../images/b-tab-promo.png) repeat-x left top;
	margin: 0 0 10px;
	padding: 0 32px;
}
.b-tab-promo__item {
	float: left;
	color: #fff;
	margin: 17px 0 0;
}
	.m-promo-middle {
		border-left: 1px solid #2b881d;
		border-right: 1px solid #2b881d;
		margin-left: 9px;
		margin-right: 18px;
		padding-left: 18px;
		padding-right: 18px;
	}
.b-tab-promo__link {
	margin: 0 0 11px;
}
	.b-tab-promo__link a {
		display: inline-block;
		color: #fff;
		text-shadow: 0 1px 0 #125c20;
		font: 600 1.285714285714286em/1 "Open Sans", sans-serif; /* 18/14 */
		background: url(../images/b-tab-promo__link.png) no-repeat right 4px;
		padding-right: 14px;
	}
	.b-tab-promo__link a:hover {
		color: #094617;
		text-shadow: 0 1px 0 #32c23b;
	}
.b-sort-wrapper {
	float: left;
	margin: 8px 0 19px;
}
.b-sort__text {
	margin-right: 15px;
}
.b-sort__link {
	color: inherit;
	display: inline-block;
	margin-right: 20px;
	padding-right: 16px;
}
	.b-sort__link.active {
		font-weight: bold;
		background: url(../images/b-sort__link.png) no-repeat right 5px;
	}
	.b-sort__link.active.m-sort__down {
		background-position: right -10px;
	}
.b-sort-view {
	float: right;
	margin: 4px;
}
	.b-view__link {
		display: inline-block;
		width: 19px;
		height: 16px;
		margin-left: 8px;
		background: url(../images/b-view__link.png) no-repeat;
	}
	.b-view__link:hover, .b-view__link.active {
		background-position: 0 -16px;
	}
		.m-grid {
			background-position: 0 -32px;
		}
		.m-grid:hover, .m-grid.active {
			background-position: 0 -48px;
		}
.b-show_more {
	margin-top: 20px;
	text-align: center;
}
.b-catalog-list {
	margin: 20px 31px;
}
.b-catalog-list__item {
	margin-bottom: 24px;
}
.b-catalog-list__image {
	float: left;
	width: 150px;
	height: 150px;
	margin: 6px 0 0 8px;
	text-align: center;
}
	.b-catalog-list__image img {
		max-width: 100%;
	}
.b-catalog-list__text {
	float: right;
	width: 527px;
}
.b-catalog-list__link {
	font-size: 1.142857142857143em;
}
.b-catalog-list__info {
	font-size: 0.8571428571428571em;
	margin: 20px 0 14px;
	line-height: 1.4;
}
.b-catalog-list__price {
	float: left;
}
	.b-catalog-list__price .b-slider__price {
		font-size: 1.142857142857143em; /* 16/14 */
		margin-bottom: 2px;
	}
	.b-slider__price_clearing {
		font-size: 0.857143em; /* 12/14 */
		line-height: 1.5;
	}
.b-catalog-list__btn {
	float: right;
}
.b-rating {
	display: inline-block;
	width: 65px;
	height: 13px;
	background: url(../images/b-rating.png) repeat-x;
	margin-left: 11px;
	vertical-align: middle;
}
	.b-rating span {
		display: block;
		height: 13px;
		background: url(../images/b-rating.png) repeat-x 0 -13px;
	}
	
/* корзина: этапы оформления (begin) */
.b-step-wrapper {
	font: 700 1.142857142857143em "Open Sans", sans-serif; /* 16/14 */
	padding: 28px 31px;
}
.b-step__link {
	color: inherit;
	background: url(../images/b-step__link.png) no-repeat left top;
	padding: 4px 0 3px 33px;
}
	.m-step__one {
		background-position: 0 0;
	}
		.m-step__one.active {
			background-position: 0 -33px;
		}
	.m-step__two {
		background-position: 0 -66px;
	}
		.m-step__two.active {
			background-position: 0 -99px;
		}
	.m-step__three {
		background-position: 0 -132px;
	}
		.m-step__three.active {
			background-position: 0 -165px;
		}
	.m-step__four {
		background-position: 0 -198px;
	}
		.m-step__four.active {
			background-position: 0 -231px;
		}
.b-step__sep {
	color: #dadada;
	display: inline-block;
	font-size: 1.4375em; /* 23/16 */
	font-weight: normal;
	margin: -6px 4px 0 4px;
}
.b-cart__list {
	margin: 10px 31px;
}
.b-cart__item {
	border-bottom: 1px solid #dadada;
	padding-bottom: 22px;
	margin-bottom: 25px;
}
	.b-cart__image {
		float: left;
		width: 166px;
		text-align: center;
		margin-right: 14px;
	}
		.b-cart__image img {
			max-width: 100%;
		}
	.b-cart__text {
		float: left;
		width: 166px;
		margin-right: 16px;
	}
		.b-cart__link {
			font-size: 1.142857142857143em; /* 16/14 */
			margin-bottom: 20px;
		}
		.b-cart__info {
			font-size: 0.8571428571428571em; /* 12/14 */
			line-height: 1.5;
		}
	.b-cart__price {
		float: left;
		width: 178px;
	}
		.b-cart__price_left {
			float: left;
		}
		.b-cart__price_right {
			float: right;
			margin-top: -2px;
		}
		.m-price__16px {
			font-size: 1.142857142857143em; /* 16/14 */
		}
		.b-cart-count__btn {
			display: inline-block;
			width: 19px;
			height: 18px;
			border: 0 none;
			background: url(../images/b-cart-count__btn.png) no-repeat;
		}
		.ie9 .b-cart-count__btn, .ie8 .b-cart-count__btn {
			vertical-align: middle;
		}
		.b-cart-count__btn.m-inc {
			background-position: 0 -18px;
		}
		.b-cart-count__count {
			display: inline-block;
			font-size: 1.142857142857143em; /* 16/14 */
			font-weight: bold;
			vertical-align: bottom;
			margin: 0 7px -2px;
		}
	.b-cart__total {
		float: right;
		width: 126px;
	}
		.b-cart__total_left {
			float: left;
		}
		.b-cart__total_right {
			float: right;
		}
		.m-cart__delete {
			background-position: 0 -34px;
		}
.b-total {
	margin-top: 29px;
}
.b-total__text {
	float: left;
	margin-left: 179px;
	line-height: 1.3;
}
	.b-total__text h2 {
		margin: 0;
		font-weight: normal;
		font-size: 1.785714285714286em; /* 25/14 */
	}
.b-total__price {
	float: right;
	width: 126px;
}
	.b-total__price .b-slider__price {
		color: #fa5400;
		font-size: 1.714285714285714em; /* 24/14 */
	}
	.b-total__price .b-slider__price_clearing b {
		font-size: 1.5em; /* 18/12 */
	}
.b-cart__btn {
	margin-top: 42px;
}
	.b-cart__btn.m-btn__line {
		border-bottom: 1px solid #dadada;
		padding-bottom: 24px;
	}
.b-cart-field__info {
	float: left;
	width: 181px;
	font-size: 0.8571428571428571em; /* 12/14 */
}
.b-cart-field {
	float: right;
	width: 217px;
	padding: 0 15px;
	margin: 9px 0 0;
}
	.m-cart-field__first {
		padding-right: 0;
	}
.b-cart-field__text {
	font-size: 0.8571428571428571em; /* 12/14 */
	margin: 19px 0 23px;
}
.b-cart-field__label {
	display: block;
	font-size: 0.8571428571428571em; /* 12/14 */
	margin-bottom: 5px;
}
	.b-star {
		color: #fa5400;
	}
.b-cart-field__input {
	border: 1px solid #d8d8d8;
	width: 100%;
	padding: 2px;
	margin-bottom: 9px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.b-cart-field__select {
	width: 100%;
	margin-bottom: 9px;
}
.b-cart__btn_right {
	position: relative;
}
.b-fast_order {
	display: none;
	width: 182px;
	padding: 17px;
	background: #fff;
	border: 1px solid #268f27;
	position: absolute;
	left: 130px;
	top: -135px;
}
	.m-detail-fast_order {
		left: 0;
		top: -86px;
	}
	.b-fast_order.active {
		display: block;
	}
.b-fast_order:after {
	content: "";
	display: block;
	width: 20px;
	height: 10px;
	background: url(../images/b-fast_order.png) no-repeat;
	position: absolute;
	left: 85px;
	bottom: -10px;
}
.m-fast_order {
	float: right;
	margin: 0;
	padding: 7px 18px;
}
.b-fast_order__text {
	font-size: 0.7142857142857143em;
}
.b-payment-image {
	padding: 5px 0 0 14px;
}
	.b-payment__image {
		margin-right: 5px;
		vertical-align: middle;
	}
.b-thanks__h2 {
	color: #268f27;
	font-weight: normal;
	font-weight: 1.714285714285714em;
	margin: 50px 0 0 275px;
}
/* корзина: этапы оформления (end) */

.b-detail-wrapper {
	margin: 0 26px 0 34px;
}
.b-detail-section {
	float: left;
	width: 464px;
}
.b-detail-sidebar {
	float: right;
	width: 	217px;
}
.b-detail__h2 {
	font-size: 1.714285714285714em; /* 24/14 */
	margin: 31px 0 23px;
}
.b-detail__image {
	text-align: center;
}
	.b-detail__image img {
		max-width: 100%;
	}
.b-detail-slider__wrapper {
	overflow: hidden;
	position: relative;
	padding: 25px 33px;
}
.b-detail-slider__btn {
	width:  25px;
	height: 100%;
	display: block;
	background: url(../images/b-slider__btn.png) no-repeat;
}
.b-detail-slider__item {
	float: left;
	width: 81px;
	height: 62px;
	text-align: center;
	margin-right: 15px;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}
.b-detail-slider__item.active {
	border-bottom: 2px solid #000;
}
	.b-detail-slider__item  img {
		max-width: 100%;
	}
.b-detail-wrapper .b-tab-head {
	margin: 0;
}
.b-detail__text {
	margin: 22px 0;
}
.b-detail__video {}
	.b-detail__video img, .b-detail__video iframe {
		max-width: 100%;
	}
.b-detail-sidebar__text {
	font-size: 0.857143em; /* 12/14 */
	line-height: 1.5;
	margin: 40px 0 16px;
}
.b-detail-sidebar__old_price {
	font-size: 1.714285714285714em; /* 24/14 */
	margin-bottom: -3px;
}
	.b-detail-sidebar__old_price span  {
		position: relative;
		display: inline-block;
	}
	.b-detail-sidebar__old_price span:after {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 4px;
		background: #fa5400;
		position: absolute;
		top: 50%;
		left: 0;
		
		-moz-transform: rotate(-13deg); /* Для Firefox */
		-ms-transform: rotate(-13deg); /* Для IE */
		-webkit-transform: rotate(-13deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(-13deg); /* Для Opera */
		transform: rotate(-13deg);
	}
.b-detail-sidebar__new_price {
	margin-bottom: 33px;
}
	.b-detail-sidebar__new_price .b-slider__price {
		font-size: 2.142857142857143em; /* 30/14 */
		color: #fa5400;
	}
	.b-detail-sidebar__new_price b {
		color: #fa5400;
	}
.b-detail-sidebar__btn .b-button {
	width: 100%;
}
.b-detail-sidebar__btn {
	margin-bottom: 25px;
	position: relative;
}
.b-detail-sidebar__delivery {
	font-size: 0.857143em; /* 12/14 */
	line-height: 1.5;
	margin-bottom: 164px;
}
.b-pickup__h2 {
	margin: 0;
	font-size: 1.285714285714286em; /* 18/14 */
}
.b-detail-sidebar__pickup {
	margin-top: 19px;
}
.b-metro {
	font-weight: bold;
	color: #a8a8a8;
	background: url(../images/b-metro.png) no-repeat;
	padding: 1px 0 1px 25px;
}
	.b-metro.m-green {
		color: #90cf90;
	}
.b-availability-wrapper {
	color: #7e7e7e;
}
.b-availability__text {

}
.b-availability {

}
	.b-availability__item {
		display: inline-block;
		width: 8px;
		height: 10px;
		margin-right:  2px;
		background: #268f27;
	}
	.m-medium .b-availability__item {
		background: #fece0f;
	}
	.m-small .b-availability__item {
		background: #fa5400;
	}
.b-other-method {
	background: url(../images/b-nav.png) repeat-x 0 0;
    color: #fff;
    font: 700 1.14286em/1 "Open Sans",sans-serif;
    padding: 14px 16px 21px;
	margin-top: 42px;
    text-shadow: 0 1px 0 #125C20;
    position: relative;
}
.b-other-method:after {
	content: "";
	display: block;
	width: 18px;
	height: 9px;
	background: url(../images/b-nav-category__link_after.png) no-repeat;
	position: absolute;
	bottom: -9px;
	left: 20%;
	z-index: 100;
}
.b-other-method__wrapper {
	margin-top: 19px;
}
.b-other-method__wrapper .b-footer-form {
	width: 172px;
}
.b-other-method__wrapper .b-button__fast {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	float: none;
}
/* контент (end) */

/* футер (begin) */
.b-footer {
	margin: 30px 0;
	font-size: 0.857143em; /* 12/14 */
}
.b-footer__title {
	font-weight: bold;
}
.b-developer {
	float: left;
	margin: 0 63px 0 13px;
}
.b-devepoper__logo {
	display: block;
	width: 105px;
	height: 18px;
	background: url(../images/b-devepoper__logo.png) no-repeat;
	margin: 16px 0 0;
}
.b-footer-section {
	float: left;
	margin: 0 0 0 2px;
}
.b-footer-section__table {
	margin: 17px 0 0;
}
.b-footer-section__td {
	width: 110px;
}
.b-footer-section__link {
	display: block;
	color: #8e8e8e;
	margin: 0 0 3px;
}
.b-footer-section__link:hover {
	color: #8e8e8e;
	text-decoration: underline;
}
.b-footer-subcribe {
	float: left;
	margin: 0 30px 0 0;
}
.b-footer-form {
	width: 295px;
	margin: 7px 0;
	border: 1px solid #d8d8d8;
	padding: 7px 30px 8px 15px;
	background: #fff;
	border-radius: 20px;
	position: relative;
}
.b-footer-form__text {
	width: 100%;
	border: 0 none;
}
.b-footer-form__submit {
	border: 0 none;
	width: 33px;
	height: 33px;
	background: url(../images/b-footer-form__submit.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}
.b-footer-socail {
	float: left;
}
.b-footer-socail__wrapper {
	margin: 16px 0 0;
}
.b-social__link {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/b-social__link.png) no-repeat;
	margin: 0 7px 0 0;
	opacity: 0.5;
}
.b-social__link:hover {
	opacity: 1;
}
.b-social__link.fb {
	background-position: -16px 0;
}
.b-social__link.tw {
	background-position: -32px 0;
}
.b-social__link.od {
	background-position: -48px 0;
}
.b-social__link.li {
	background-position: -64px 0;
}
.b-social__link.gp {
	background-position: -80px 0;
}
/* футер (end) */
.b-detail-wrapper p {
	font-size: 1.142857142857143em;
	line-height: 1.5;
}
.b-detail__h3 {
	font-size: 1.285714285714286em;
	margin: 22px 0;
}
.b-metro-station {
	list-style: none;
	margin: 26px 0 28px 65px;
	font-size: 1.142857142857143em;
}
.b-metro-station__item {
	background: url(../images/b-metro-station__item.png) no-repeat;
	padding-left: 35px;
	margin-top: 28px;
}
	.b-metro-station__item.m-grey {
		background-position: 0 -60px
	}
	.b-metro-station__item.m-yellow {
		background-position: 0 -120px
	}
.b-metro-station__item:first-child {
	margin-top: 0;
}
.b-list-dot {
	list-style: none;
	margin: 30px 0 28px 75px;
	font-size: 1.142857142857143em;
}
.b-list-dot__item {
	background: url(../images/b-list-dot__item.png) no-repeat 0 7px;
	padding-left: 25px;
	margin-top: 28px;
}
	.b-list-dot__item p {
		font-size: 1em;
	}
.b-text__grey {
	color: #7e7e7e;
}
.m-metro-station {
	background: url(../images/b-metro-station__item.png) no-repeat 2px 14px;
	padding-left: 34px;
}
.m-metro-station.m-metro-station__grey {
	background-position: 2px -47px;
}
.m-metro-station.m-metro-station__yellow {
	background-position: 2px -107px;
}
.b-button__green {
	display: inline-block;
	font: 600 0.75em "Open Sans",sans-serif; /* 12/16 */
	text-decoration: none;
	color: #fff;
	background: #268f27;
	padding: 2px 21px;
	vertical-align: top;
	border-radius: 18px;
}
.b-button__green:hover {
	color: #fff;
}
.b-sidebar__text {
	margin: 4px 0 16px;
}
.b-detail__save {
	font-size: 0.8571428571428571em;
	margin: 30px 0 15px;
}
.b-user-field__item {
	float: left;
	width: 340px;
}
.m-user-field__right {
	float: right;
	margin-top: 102px;
}
.b-user-fields {
	margin-bottom: 24px;
}
.b-user-submit {
	text-align: right;
}
.b-container.m-wishlist {
	background: #fff;
	border: 1px solid #dadada;
	border-top: 0 none;
}
.b-container.m-wishlist .b-content, .b-container.m-wishlist .b-sidebar-filter {
	border: 0 none;
}
.m-wishlist .b-sidebar-filter {
	background: #fff;
}
.b-sidebar__text.m-wishlist {
	font-size: 1.166666666666667em; /* 14/12 */
}
.b-sidebar-wishlist__section {
	position: relative;
	border-top: 1px solid #e5e5e5;
}
.b-sidebar-wishlist__title {
	width: 123px;
}
.b-sidebar-wishlist__h2 {
	display: inline-block;
	font-size: 1.166666666666667em; /* 14/12 */
	line-height: 1;
	position: relative;
	margin: 15px 0;
}
.b-sidebar-wishlist__count {
	color: #fa5400;
	font-weight: bold;
	margin-left: 4px;
}
.m-wishlist__delete {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -17px;
}
.m-wishlist__field {
	margin: 15px 0;
}
.m-cart__add {
	background-position: 0 -68px;
}
.b-sidebar-socail {
	margin-top: 44px;
}
.m-wishlist__h3 {
	margin: 12px 23px;
}
.b-wishlist__rename {
	float: right;
	font-weight: normal;
	font-size: 0.7777777777777778em;
}
.m-wishlist-item__delete {
	position: absolute;
	top: 5px;
	right: 5px;
}
.b-wishlist-need_auth {
	background: #feeee5;
	border-bottom: 1px solid #dadada;
}
	.b-wishlist-need_auth a {
		color: #fa5400;
	}
	.b-wishlist-need_auth a:hover {
		text-decoration: underline;
	}
.b-fixed {
	width: 960px;
	position: fixed;
	background: #f3f3f3;
	top: -120px;
	z-index: 200;
}
.b-fixed .b-header-user {
	margin: 0;
}
.b-fixed__top {
	padding: 17px 14px;
}
.b-fixed__text {
	float: left;
}
	.b-fixed__text a {
		color: #107430;
	}
	.b-fixed__text a:hover {
		text-decoration: underline;
	}
.b-compare__title {
	padding: 15px 14px 5px;
}
.m-btn__center {
	text-align: center;
}
.m-btn__center .b-icon {
	float: none;
}
.b-winner {
	clear: both;
}
.m-compare-list .b-pager {
	display: none;
}
.m-compare {
	padding: 0;
}
	.b-winner__checkbox {
		float: left;
		margin: 12px 0 0 13px;
	}
	.b-winner__wrapper {
		float: right;
		position: relative;
	}
		.b-winner__item {
			float: left;
			width: 210px;
			margin: 5px;
			padding: 7px 10px;
			text-align: center;
		}
		.b-winner__wrapper .b-winner__item {
			height: 22px;
		}
		.m-winner {
			font-size: 1.285714285714286em;
			font-weight: bold;
			color: #fff;
			background: #fa5400;
		}
			.m-winner__center {
				margin-left: 240px;
			}
			.m-winner__right {
				margin-left: 480px;
			}
	.b-winner__wrapper .b-slider-wrapper,
	.b-compare-prop	.b-slider-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
	.b-winner__wrapper .b-slider__control, 
	.b-compare-prop .b-slider__control {
		display: none;
	}
.b-compare-wrapper {
	border-top: 1px solid #dadada;
	margin: -5px 0 0 0;
}
.b-compare__h2 {
	font-size: 1.285714285714286em; /* 18/14 */
	background: #def8de;
	margin: 0;
	padding: 13px 14px;
}
.b-compare__section {}
.b-compare-name {
	float: left;
	width: 159px;
	margin: 0 0 0 25px;
}
	.b-compare-name__title {
		padding: 17px 0;
		border-top: 1px solid #ededed;
		line-height: 1;
	}
	.b-compare-name__title.m-two__lines {
		padding: 10px 0;
	}
	.b-compare-name__title:first-child {
		border: 0 none;
	}
.b-compare-prop {
	float: right;
}
	.b-compare-prop .b-winner__item {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
.m-compare-name__center {
	text-align: center;
}
.m-changes__show .m-compare__changes {
	background: #d9ebfb;
}
.m-compare__score {
	background: #268f27;
	color: #fff;
	font-weight: bold;
	font-size: 1.285714285714286em; /* 18/14 */
}
.b-chat {
	/*margin-top: -33px;*/
	width: 336px;
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 1001;
}
.b-chat-show {
	float: right;
	width: 89px;
	background: url(../images/b-nav.png) repeat-x;
}
	.b-chat-show__btn {
		display: block;
		font: bold 0.7857142857142857em/1.1 Tahoma, Arial, Helvetica, sans-serif; /* 11/14 */
		color: #fff;
		text-shadow: 0 1px 0 #0f5d24;
		text-align: center;
		padding: 42px 6px 8px 7px;
		background: url(../images/b-chat-show__btn.png) no-repeat 26px 11px;
	}
.b-chat-window {
	display: none;
	background: #f3f3f3;
}
	.b-chat-window-head {
		height: 49px;
		background: url(../images/b-nav.png) repeat-x;
		padding: 12px 0 12px 12px;
	}
		.b-chat-window-head__image {
			float: left;
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
			.b-chat-window-head__image img {
				max-width: 100%;
			}
		.b-chat-window-head__user {
			float: left;
			width: 230px;
			color: #fff;
			text-shadow: 0 1px 0 #0f5d24;
			margin-top: -6px;
			font-family: Tahoma, Arial, Helvetica, sans-serif;
		}
			.b-chat__user-call {
				font: bold 0.8571428571428571em Arial, Helvetica, sans-serif;
				border: 0 none;
				border-radius: 10px;
				background: #fff;
				color: #107430;
				padding: 2px 11px;
			}
		.m-chat__user-call {
			margin: 2px 0 0 2px;
		}
	.b-chat-hide__btn {
		float: right;
		width: 34px;
		height: 100%;
		background: url(../images/b-tab-promo__link.png) no-repeat center center;
	}
.b-chat-window-body {
	width: 310px;
	height: 300px;
	padding: 17px 13px 17px 11px;
	border: 1px solid #dadada;
	border-top: 0 none;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}
	.b-chat-message__wrapper {
		width: 310px;
		/*position: absolute;
		bottom: 17px;*/
	}
		.b-chat-message {
			margin-bottom: 11px;
		}
		.b-chat-message__text {
			float: left;
			max-width: 222px;
			padding: 15px;
			border: 1px solid #3fad1d;
			border-radius: 10px;
			background: #fff;
			margin-left: 12px;
			position: relative;
		}
		.b-chat-message__text:after {
			content: "";
			width: 12px;
			height: 15px;
			background: url(../images/b-chat-message__text.png) no-repeat;
			position: absolute;
			left: -12px;
			bottom: 12px;
		}
		.b-chat-message__time {
			float: right;
			font-weight: bold;
		}
		.m-client__message {
			float: right;
			color: #808080;
			border-color: #dadada;
		}
		.m-client__message:after {
			background-position: 0 -15px;
			left: auto;
			right: -12px;
		}
		.m-client__time {
			float: left;
		}
.b-chat-window-footer {
	width: 334px;
	border: 1px solid #dadada;
	border-top: 0 none;
	background: #fff;
	position: relative;
}
.b-chat__text {
	width: 100%;
	padding: 10px 33px 8px 13px;
	border: 0;
	background: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.b-chat__submit {
	width: 33px;
	height: 100%;
	border: 0 none;
	background: url(../images/b-chat__submit.png) no-repeat center center;
	position: absolute;
	top: 0;
	right: 0;
}
.b-set {
	margin: 0 30px;
}
.b-set-right {
	float: right;
	width: 205px;
}
.b-set-buy__all {
	font: 300 2.571428571428571em/1 "Open Sans", sans-serif; /* 36/14 */
	margin: 49px 0 19px;
	padding: 0 0 21px;
	border-bottom: 1px solid #dcdcdc;
}
.b-set-buy__all .b-button__fast {
	font-size: 0.3333333333333333em; /* 12/36 */
	margin: 7px 13px 0 0;
	color: #fff;
	border: 0 none;
}
.b-set-buy_one {
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 14px;
	padding: 0 0 23px
}
.b-set-buy_one__item {
	font: 300 1.285714285714286em/1 "Open Sans", sans-serif; /* 18/14 */
	text-align: right;
	margin: 0 0 3px;
}
.b-set-buy_price__old {
	text-align: right;
	margin: 0 0 20px;
}
.b-set-buy_price__old .b-detail-sidebar__old_price {
	font: 300 2.1428571428571436em/1 "Open Sans", sans-serif; /* 30/14 */
}
.b-set-buy_price__new {
	text-align: right;
	font: 700 2.571428571428571em/1 "Open Sans", sans-serif; /* 36/14 */
}
.b-set-left {
	float: left;
	width: 500px;
	height: 468px;
	position: relative;
}
.b-set-item {
	position: absolute;
	float: none;
	height: auto;
	margin: 0;
}
.b-set-item:hover {
	z-index: 100;
}
	.b-set-item .b-slider__image {
		height: auto;
	}
	.b-set-item .b-button__fast {
		margin: 0 11px 0 8px;
	}
.b-set-item .b-slider__link,
.b-set-item .b-slider__price,
.b-set-item .b-slider__btn {
	display: none;
}
.b-set-item:hover .b-slider__link,
.b-set-item:hover .b-slider__price,
.b-set-item:hover .b-slider__btn {
	display: block;
}
.m-set__item-1 {
	width: 228px;
	left: -11px;
	top: 40px;
}
.m-set__item-2 {
	width: 249px;
	left: -8px;
	top: 202px;
}
.m-set__item-3 {
	left: 253px;
	top: 44px;
}
.m-set__item-4 {
	width: 214px;
	left: 253px;
	top: 314px;
}
.b-popup {
	display: none;
	background: #fff;
	position: absolute;
	box-shadow: 0 1px 2px #ccc;
}
	.b-popup.active {
		display: block;
		z-index: 2000;
	}
.m-popup__orange {
	box-shadow: none;
	border: 1px solid #fa5400;
}
.b-popup__wrapper {
	padding: 15px;
	position: relative;
}
	.b-popup__wrapper:before {
		content: "";
		width: 19px;
		height: 10px;
		background: url(../images/b-popup__wrapper.png) no-repeat;
		position: absolute;
		top: -9px;
		left: 26px;
	}
	.m-popup__orange .b-popup__wrapper:before {
		background-position: 0 -10px;
		top: -10px;
	}
#b-login {
	width: 245px;
}
	.b-login__h2 {
		font: bold 1em "Open Sans", sans-serif;
		margin: 0 0 11px;
	}
	.b-login__user {
		margin: 0 0 4px;
	}
	.b-login__pass {
		margin: 0 0 4px;
	}
	.b-login__btn {
		margin: 0 0 11px;
	}
	.b-login__btn-auth {
		float: left;
		font-size: 0.8571428571428571em; /* 12/14 */
		margin: 8px 0 0;
	}
	.m-login__btn-login {
		float: right;
		margin: 0;
		padding: 8px 24px;
	}
	.b-login__text {
		font-size: 0.8571428571428571em; /* 12/14 */
		margin: 0 0 14px;
	}
	.m-login__list {
		margin: 0;
		font-size: 0.8571428571428571em; /* 12/14 */
	}
	.m-login__list .b-list-dot__item {
		margin: 0 0 12px;
		padding: 0 0 0 15px;
		background-position: 2px 3px;
	}
	.m-login__list .b-list-dot__item:last-child {
		margin: 0;
	}
#b-user {
	width: 173px;
}
	.b-user__link {
		margin: 0 0 5px;
	}
#b-compare__add, #b-wishlist__add, #b-wishlist__need-auth {
	width: 219px;
}
	.b-popup-compare__h2 {
		font: bold 1em "Open Sans", sans-serif;
		color: #fa5400;
		margin: 0 0 15px;
	}
	#b-compare__add .b-button__fast {
		float: none;
		width: 100%;
		color: #fa5400;
		margin: 0;
		padding: 8px 9px;
	}
	.m-popup__orange .b-button__fast:hover {
		color: #fff !important;
	}
	.b-wishlist__select {
		margin: 0 0 10px;
	}
	.b-wishlist__select select {
		width: 100%;
	}
	#b-wishlist__add .b-button__fast {
		float: right;
		color: #fa5400;
		margin: 0;
		padding: 8px 30px;
	}
.b-wishlist__need-auth {
	font-size: 0.8571428571428571em; /* 12/14 */
}
#b-search__popup {
	width: 444px;
	left: 677px;
	top: 162px;
}
#b-search__popup b {
	color: #aaa;
	font-weight: normal;
}
#b-search__popup .b-pager {
	/*display: none;*/
}
.b-popup-search__line {}
.b-popup-search__title {
	float: left;
	width: 90px;
	margin: 60px 0 0;
}
.b-popup-search-slider {
	float: right;
	width: 270px;
	padding: 0 22px;
	position: relative;
}
.b-popup-slider__image {}
	.b-popup-slider__image img {
		max-width: 100%;
	}
.b-popup-slider__title {}
.b-popup-search-slider .b-slider__item {
	width: 105px;
	height: auto;
	text-align: center;
	border-bottom: 1px solid #dadada;
}
.b-popup-footer__title {
	float: left;
	width: 90px;
}
.b-popup-footer__link {
	float: right;
	width: 270px;
}
	.b-popup-footer__link a {
		color: #292929;
		margin-right: 5px;
	}
	.b-popup-footer__link a:hover span {
		text-decoration: underline;
	}
.b-popup-search__footer {
	margin: 10px 0 15px;
}
.b-tab__body {
	display: none;
}
.b-tab__body.active {
	display: block;
}