div#google_map
{
    font-size: 11px;
    color: #9b9b9b;
    height: 300px;
    margin-bottom: 20px;
}
div.detail-photo {
    position: relative;
    max-width: 320px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;      
}
    div.detail-photo img
    {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        display: block;
    }
    div.detail-photo a.lupa {
        border-radius: 7px 7px 7px 7px;
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        background: url("images/blank.gif") repeat;
    }
    div.detail-photo a.lupa span
    {
        background: url("images/lupa.png") no-repeat scroll center center transparent;
        display: none;
        height: 100%;
        width: 100%;
    }
   div.detail-photo a.lupa:hover span
    {
        display: block;
    }
    div.detail-photo a.all-photos
    {
        background-color: #2B2A29;
        border-bottom-right-radius: 7px;
        border-top-left-radius: 7px;
        bottom: 0;
        color: #FFFFFF;
        font-size: 11px;
        height: 25px;
        line-height: 25px;
        padding: 0 12px;
        position: absolute;
        right: 0;
        z-index: 6;
    }
    div.detail-photo h2{
        margin-left: 13px;
    }
div.detail-info {
    float: left;
    width: 285px;
    margin-bottom: 10px;
}

div.corners {
    position:relative;
    /*border: 1px solid #9b9b9b;*/
    z-index: 2;
    background: #646363;
}
    div.corners div.clt {
        width: 7px;
        height: 7px;
        font-size: 0px;
        line-height: 0px;
        background:url(images/content/corner_lt.png) top left no-repeat;
        top: 0px;
        left: 0px;
        position:absolute;
    }
    div.corners div.clb {
        width: 7px;
        height: 7px;
        font-size: 0px;
        line-height: 0px;
        background:url(images/content/corner_lb.png) top left no-repeat;
        bottom: 0px;
        left: 0px;
        position:absolute;
    }
    div.corners div.crt {
        width: 7px;
        height: 7px;
        font-size: 0px;
        line-height: 0px;
        background:url(images/content/corner_rt.png) top left no-repeat;
        top: 0px;
        right: 0px;
        position:absolute;
    }
    div.corners div.crb {
        width: 7px;
        height: 7px;
        font-size: 0px;
        line-height: 0px;
        background:url(images/content/corner_rb.png) top left no-repeat;
        bottom: 0px;
        right: 0px;
        position:absolute;
    }
    
div.obj-photos {
    float: left;
    padding: 12px;
    background: #646363;
}
    div.obj-photos .clearer {
        position: relative;
    }
    div.obj-photos img {
        display: block;
        border: none;
    }
        div.obj-photos img.preview {
            float: left;
            margin-top: 12px;
            width: 73px;
            margin-right: 13px;
        }
        div.obj-photos img.last {
            margin-right: 0px;
        }
    .zoom {
        position: absolute;
        z-index: 30;
        bottom: 20px;
        right: 0;
        width: 32px;
        height: 26px;
        background: url('images/content/zoom.png');
    }
    .zoom-next {
        background-position: 0 -26px;
    }
        
a.print_ico {
    display: block;
    background:url(images/content/print.png) center left no-repeat;
    color: #006db2;
    font-size: 14px;
    padding-left: 35px;
    height: 19px;
    float: left;
    margin-top: 20px;
    margin-bottom: 22px;
}
a.note_ico {
    display: block;
    background:url(images/content/add_note.png) center left no-repeat;
    color: #006db2;
    font-size: 14px;
    padding-left: 30px;
    height: 19px;
    margin-left: 105px;
    margin-top: 5px;
    margin-bottom: 22px;
}
div.obj-info-value {
    margin-left: 105px;
    color: #1e361f;
    font-size: 15px;
    line-height: 18px;
}
div.obj-info-param {
    float: left;
    color: #1e361f;
    font-size: 13px;
    font-weight: bold;
}
    a.back {
        font-weight: normal;
    }
div.info-param {
    margin-bottom: 9px;
}
div.obj-address {
    font-size: 15px;
}
span.metro,
span.cityArea {
    color: #808080;
    font-size: 14px;
}        
    span.metro b
    {
        color: #cb0b0b;
        font-weight: normal;
    }
div.obj-price {
    font-size: 24px;
    line-height: 21px;
}
    div.obj-price span {
        color: #808080;
        font-size: 18px;
    }
div.obj-area {
    font-size: 15px;
    line-height: 18px;
}
    div.obj-area span {
        height: 19px;
    }
        div.obj-area span.gray {
            color: #808080;
            font-size: 14px;
        }
    div.obj-area sup {
        font-size: 8px;
    }
div.area-title {
    line-height: 17px;
    text-align: right;
}
    div.area-title span {
        line-height: 19px;
        height: 20px;
    }
        
    div.area-title span.gray {
        color: #808080;
        font-size: 13px;
    }
    
div.info-title {
    border-top:1px solid #808080;
    height: 10px;
    margin-bottom: 14px;
}
    div.info-title  h3 {
        float: left;
        background-color: #fff;
        color:#1e361f;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 0px;
        position:relative;
        top: -10px;
        padding-right: 8px;
    }

div.obj-param-block {
    margin-bottom: 10px;
}
    div#google_map {
        border: 1px solid #9B9B9B;
        color:#9B9B9B;
        font-size:11px;
        height: 300px;
        background: #FFF;
    }
    div.layouts {
        position: relative;
        overflow: hidden; zoom: 1;
        border: 1px solid #9B9B9B;
        background: #f2f2f2;
        padding: 10px;
        text-align: center;
        color:#9B9B9B;
        font-size:11px;
    }
    div.layouts img {
        max-width: 100%;
    }
    div#google_map .load {
        display: block;
        padding: 10px 13px;
    }
    div.obj-param-block p {
        margin: 0px;
        line-height: 22px;
    }
    div.param-lcol {
        width: 310px;
        float: left;
    }
    div.param-rcol {
        margin-left: 310px;
    }
    div.obj-param-block div.row {
        overflow: hidden;
        zoom: 1;
        margin-bottom: 5px;
        line-height: 18px;
    }
    div.obj-param-block div.last {
        height: 15px;
    }
        div.obj-param-block div.row b {
            float: left;
            width: 157px;
            margin-right: 13px;
            font-weight: normal;
        }
        div.obj-param-block div.row span { display: block; overflow: hidden; }
        
div.contact-logo {
    text-align: right;
}

h1.capt {
    color: #3E3E3E;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 21px;
    margin-top: 0px;
}
div.no-photo
{
    /*margin-left: 13px;*/
}