/* Footer
------------------------------------------------ */
.footer {
  background-color: #262626;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  .phone {
    color: #999999;
    font-size: 15px;
  }
  .copy {
    color: #999999;
    font-size: 12px;
    p {
      margin-bottom: 1px;
    }
  }
  .bottom-menu {
    li {
      display: inline-block;
      a {
        color: #999999;
        font-family: 'Rubik-Medium', Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-transform: uppercase;
      }
    }

  }
}