.header-topnav ul li a{color:#6d8a92;text-shadow:0 -1px 0 #fff}



#fullmenu{
	background:#bfddec;
	margin-top:2px;
}

#fullmenu>ul,
.content-inner>ul{margin-top:2px}

.root-item>a,
#fullmenu ul li a{
	color:#27779b;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
}
#fullmenu>ul>li:hover>a,
.root-item.selected,
.root-item:hover{
	box-shadow:inset 0 3px 16px 2px rgba(39,119,155,.28);
	background:#cae3f0
}

.content-inner>ul{box-shadow:0 5px 8px 2px rgba(56,94,104,.57),inset 0 13px 9px -12px rgba(56,94,104,.57)}
#fullmenu>ul>li>ul{box-shadow:inset -11px 0 5px -11px rgba(0,0,0,0.5), 0 3px 10px 0 rgba(56,94,104,.57)}

.content-inner ul>li:hover>a,
#fullmenu>ul>li>ul>li:hover>a,
.sidebar .nav>li>ul>li:hover>span a{
	background:#f0fafd;
	color:#000;
	text-decoration:none
}

.sidebar .nav>li>ul,
#fullmenu>ul>li>ul li ul,
.sidebar .nav>li>ul li ul{
	display:none;
	box-shadow:inset 0 11px 5px -11px rgba(0,0,0,0.5),inset 0 -12px 5px -11px rgba(0,0,0,0.2);
	border-radius:0;
	overflow:hidden
}

.sidebar .nav>li>ul>li:last-child>span a {box-shadow:inset 0 -11px 5px -11px rgba(0,0,0,0.5)}
.sidebar .nav>li>ul>li:first-child>span a,
#fullmenu>ul>li>ul li ul>li:first-child a {box-shadow:inset 0 11px 5px -11px rgba(0,0,0,0.5)}
.content-inner>ul>li:first-child>a{box-shadow:inset 0 13px 9px -12px rgba(0,0,0,.57)}

.allcatnav a{
	color:#1B2D3D;
	text-shadow:0 1px 1px rgba(255,255,255,0.9);
	padding:9px 21px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.4);
	margin-top:-1px;
	border:1px solid #d3d3d3;
	background:#fff;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2RiZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ccdbe8));
	background:-webkit-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-o-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-ms-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:linear-gradient(to bottom,#fff 0%,#ccdbe8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#ccdbe8',GradientType=0)
}
.allcatnav a:hover{background:#fff}
.allcatnav a.active,
.allcatnav a:active{
	border:1px solid #dcdfe2;
	background:#eff3f7;
	box-shadow:inset 0 0 15px 1px rgba(0,0,0,0.3);
	padding:9px 21px
}

.sidebar .nav>li>span a{
	padding:15px 20px;
	border-bottom:1px solid #e0ecf3;
	display:block
}
.sidebar .nav>li:hover>span a{background:#f0fafd}
.sidebar .nav>li.current>span a{background:#e1f5fb}
.sidebar .nav>li.selected>span a,
.sidebar .nav>li.current.selected>span a{
	border-top:1px solid #5aace5;
	border-right:1px solid #2e8bce;
	border-bottom:1px solid #0169b5;
	border-left:1px solid #2e8bce;
	box-shadow:inset 0 1px 2px 0 #00dbf3;
	border-radius:2px 2px 0 0;
	padding:14px 20px 15px;

	background:#00afe4;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTY5YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#00afe4 0%,#0169b5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00afe4),color-stop(100%,#0169b5));
	background:-webkit-linear-gradient(top,#00afe4 0%,#0169b5 100%);
	background:-o-linear-gradient(top,#00afe4 0%,#0169b5 100%);
	background:-ms-linear-gradient(top,#00afe4 0%,#0169b5 100%);
	background:linear-gradient(to bottom,#00afe4 0%,#0169b5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afe4',endColorstr='#0169b5',GradientType=0);
	color:#fff;
	text-shadow:0 1px 1px rgba(0,67,119,0.5)
}

.bt2{
	color:#3f3f3f;
	font-size:13px;
	text-align:center;
	padding:7px 16px;
	text-decoration:none;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.4);
	border-radius:3px;
	font-weight:bold;
	text-shadow:0 1px 1px #fff;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#fff 0%,#eee 100%);
	background:-o-linear-gradient(top,#fff 0%,#eee 100%);
	background:-ms-linear-gradient(top,#fff 0%,#eee 100%);
	background:linear-gradient(to bottom,#fff 0%,#eee 100%);
}
.bt2:hover{
	color:#3f3f3f;
	background:#fbfbfb;
	text-decoration:none !important
}
.bt2:active{
	color:#3f3f3f;
	text-shadow:0 2px 1px white;
	background:#fbfbfb;
	background:-moz-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#fbfbfb),color-stop(100%,#eaeaea));
	background:-webkit-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-o-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-ms-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:radial-gradient(ellipse at center,#fbfbfb 0%,#eaeaea 100%);
	box-shadow:none;
	padding:6px 15px;
	border:1px solid #d2d2d2
}
input.bt2{border:none}
input.bt2:active{border:1px solid #d2d2d2}

.bt1{
	white-space:nowrap;
	border-radius:3px;
	color:#0074a4;
	border:none;
	width:60px;
	cursor:pointer;
	font-size:14px;
	text-shadow:0 1px 1px #fff;
	padding:6px 13px 8px !important;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	box-shadow:0 0 1px rgba(0,0,0,.11),0 1px 1px rgba(0,0,0,.4),inset 0 1px #fff,inset 0 0 1px rgba(255,255,255,.5);
	background:#daf1f7;
	background:-moz-linear-gradient(top,#fff 0%,#c1e7f2 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#c1e7f2));
	background:-webkit-linear-gradient(top,#fff 0%,#c1e7f2 100%);
	background:-o-linear-gradient(top,#fff 0%,#c1e7f2 100%);
	background:linear-gradient(to bottom,#fff 0%,#c1e7f2 100%);
}
.bt1 span{
	background:url("images/gui.png") no-repeat -38px -669px;
	display:inline-block;
	margin-right:5px;
	margin-bottom:-5px;
	width:20px;
	color:#0074a4;
	height:18px
}
.bt1:hover{
	color:#0074a4;
	background:#eff9fc;
	background:-moz-linear-gradient(top,#fff 0%,#e5f5fa 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5f5fa));
	background:-webkit-linear-gradient(top,#fff 0%,#e5f5fa 100%);
	background:-o-linear-gradient(top,#fff 0%,#e5f5fa 100%);
	background:-ms-linear-gradient(top,#fff 0%,#e5f5fa 100%);
	background:linear-gradient(to bottom,#fff 0%,#e5f5fa 100%);
}
.bt1:active{
	border:none;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	padding:5px 12px 7px;
	color:#0074a4;
	background:#daf1f7;
	background:-moz-radial-gradient(center,ellipse cover,#daf1f7 0%,#d7e8eb 100%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#daf1f7),color-stop(100%,#d7e8eb));
	background:-webkit-radial-gradient(center,ellipse cover,#daf1f7 0%,#d7e8eb 100%);
	background:-o-radial-gradient(center,ellipse cover,#daf1f7 0%,#d7e8eb 100%);
	background:-ms-radial-gradient(center,ellipse cover,#daf1f7 0%,#d7e8eb 100%);
	background:radial-gradient(ellipse at center,#daf1f7 0%,#d7e8eb 100%);
}
.bt1.lupe{
	border-radius:3px;
	padding:6px 22px 8px 27px!important;
	min-width:118px;
	color:#0074a4;
	width:auto;
	margin-bottom:11px;
	margin-top:21px;
	text-align:left;
	
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background: #fff url("images/gui.png") no-repeat -37px -720px;
	background:url("images/gui.png") no-repeat -37px -720px, -moz-linear-gradient(top, #ffffff 0%, #d7e8eb 99%);
	background:url("images/gui.png") no-repeat -37px -720px, -webkit-linear-gradient(top, #ffffff 0%,#d7e8eb 99%);
	background:url("images/gui.png") no-repeat -37px -720px, -o-linear-gradient(top, #ffffff 0%,#d7e8eb 99%);
	background:url("images/gui.png") no-repeat -37px -720px, linear-gradient(to bottom, #ffffff 0%,#d7e8eb 99%);
}
.bt1.lupe:hover{
	color:#0074a4;
	padding:6px 22px 8px 27px!important;
	
	background: #E1F5FB url("images/gui.png") no-repeat -37px -720px; 
	box-shadow:url("images/gui.png") no-repeat -37px -720px, 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background:url("images/gui.png") no-repeat -37px -720px, -webkit-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -moz-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -o-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -ms-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, linear-gradient(to top, #E1F5FB, #fff);
}
.bt1.lupe:active{
	color:#0074a4;
	padding:7px 22px 7px 27px!important;
	background: #daf1f7 url("images/gui.png") no-repeat -37px -719px;
	border:none;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	background:url("images/gui.png") no-repeat -37px -719px, -webkit-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -37px -719px, -moz-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -37px -719px, -o-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -37px -719px, -ms-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -37px -719px, linear-gradient(to bottom, #d7e8eb, #fff);
}
.filtren .bt2{
	color:#0074a4;
	cursor:pointer;
	border-radius:3px;
	font-weight:bold;
	font-size: 14px;
	padding:6px 22px 8px 27px!important;
	min-width:105px;
	width:auto;
	margin-bottom:1px;
	margin-top:5px;
	text-align:left;
	
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background: #d7e8eb url("images/gui.png") no-repeat -46px -759px;
	background:url("images/gui.png") no-repeat -46px -759px, -webkit-linear-gradient(bottom, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -moz-linear-gradient(bottom, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -o-linear-gradient(bottom, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -ms-linear-gradient(bottom, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, linear-gradient(to top, #d7e8eb, #fff);
}
.filtren .bt2:hover{
	margin-bottom:0px;	
	color:#0074a4;
	padding:6px 22px 8px 27px!important;
	
	background: #E1F5FB url("images/gui.png") no-repeat -46px -759px; 
	box-shadow:url("images/gui.png") no-repeat -46px -759px, 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background:url("images/gui.png") no-repeat -46px -759px, -webkit-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -moz-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -o-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -ms-linear-gradient(bottom, #E1F5FB, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, linear-gradient(to top, #E1F5FB, #fff);
	margin-bottom:1px;
}
.filtren .bt2:active{
	color:#0074a4;
	margin-bottom:0px;
	padding:7px 22px 7px 27px!important;
	border:none;
	background: #f5faf1 url("images/gui.png") no-repeat -46px -758px;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	background:url("images/gui.png") no-repeat -46px -758px, -webkit-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -758px, -moz-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -758px, -o-linear-gradient(top, #d7e8eb, #fff);
	background:url("images/gui.png") no-repeat -46px -758px, linear-gradient(to bottom, #d7e8eb, #fff);
	margin-bottom:1px;
}

.info p{
	color:#658790;
	text-shadow:0 -1px 0 #fff
}
.info h2 a,
.info h4 a{
	color:#000;
	text-shadow:0 1px 1px rgba(246,237,206,0.7);
}
.info .more{color:#27779b}
.buy td{background:rgba(159,226,248,.35)}
.buy td:last-child{
	background:transparent url("images/arrow_buy.png") no-repeat left center;
	background-size:100% 100%;
}
.buy td .old_price{text-shadow:0 1px 1px #fff;color:#496771}
.content_search_box.hnav table tr td:first-child h1{
	color:#27779b;
	text-shadow:0 1px 1px rgba(255,255,255,.7)
}

#login input[type="submit"],
.bt3{
	background: #00afe4;
	background: -moz-linear-gradient(top, #00afe4 0%, #0169b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00afe4), color-stop(100%,#0169b5));
	background: -webkit-linear-gradient(top, #00afe4 0%,#0169b5 100%);
	background: -o-linear-gradient(top, #00afe4 0%,#0169b5 100%);
	background: -ms-linear-gradient(top, #00afe4 0%,#0169b5 100%);
	background: linear-gradient(to bottom, #00afe4 0%,#0169b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afe4', endColorstr='#0169b5',GradientType=0 );
	margin:3px;
	text-align: center;
	text-decoration:none;
	text-shadow:0 1px 1px #006eaf;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	box-shadow:inset 0 1px 1px 0 #4ddff4;
	border-radius:5px;
	border-right:1px solid #0169b5;
	border-top:1px solid #5aace5;
	border-left:1px solid #308ccf;
	border-bottom:1px solid #308ccf;
	padding:10px 15px;
	white-space: nowrap;
}
.bt3 span{
	background: url(images/gui.png) no-repeat 0 -751px;
	height:23px;
	width:26px;
	display:inline-block;
	margin-bottom:-7px;
	margin-right:5px;
}
#login input[type="submit"]:hover,
.bt3:hover{
	background: #33ace2;
	background: -moz-linear-gradient(top, #33bfe9 0%, #3389d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33bfe9), color-stop(100%,#3389d4));
	background: -webkit-linear-gradient(top, #33bfe9 0%,#3389d4 100%);
	background: -o-linear-gradient(top, #33bfe9 0%,#3389d4 100%);
	background: -ms-linear-gradient(top, #33bfe9 0%,#3389d4 100%);
	background: linear-gradient(to bottom, #33bfe9 0%,#3389d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bfe9', endColorstr='#3389d4',GradientType=0 );
	box-shadow:inset 0 1px 1px 0 #4ddff4;
	color:#fff;
}
#login input[type="submit"]:active,
.bt3:active{
	background: #0282db;
	box-shadow:inset 0 0 13px 2px #006bb5;
}
.bt3.incart,
.bt3.incart:hover,
.bt3.incart:active{
	color:#9b9b9b;
	border:none;
	text-shadow:0 2px 1px #fff;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#fff 0%,#eee 100%);
	background:-o-linear-gradient(top,#fff 0%,#eee 100%);
	background:-ms-linear-gradient(top,#fff 0%,#eee 100%);
	background:linear-gradient(to bottom,#fff 0%,#eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eee',GradientType=0);
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.4);
	border-radius:3px
}

.blog_box{
	background:#eff6f7;
	box-shadow:inset 0 5px 8px -3px #a1b7c6, inset 0 12px 0px -3px #fff,inset 0 -20px 5px -17px #a1b7c6;
}
.footer table tr td h4{
	color:#fff;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	font-size:18px;
	padding-bottom:16px;
	background:url("images/footer_h4_bg.png") repeat-x bottom
}

.filtren,
.sidebar .vieweditems{border: 8px solid #E1F5FB}
.filtren{background:#daf1f7}
.ui-slider-horizontal{
	background:#a9cbd5;
	border:1px solid #92b0b9
}
input.max-price,
input.min-price{
	border-top:1px solid #8ca3ae;
	border-right:1px solid #9db2bc;
	border-bottom:1px solid #b6c8d2;
	border-left:1px solid #9db2bc
}
.ui-widget-header{background:url("images/gui.png") 0 -242px repeat-x}
.sidebar .vieweditems .price{background:#e1edf2}
.filtren.compare .catf ul li.active, 
.filtren.compare .catf ul li:hover{
	display:block; 
	background:#f2faff;  
}