.ul-list-slider {
color: #fff;
font-size: 15px;
line-height: 40px;
list-style: none outside none;
padding-left: 47px;
}

.Open-sansR {
font-family: 'OpenSans_Regular';
}

.desc ul li:before {
color: #fff;
content: "";
display: block;
font-family: fontawesome;
font-size: 20px;
left: -39px;
position: absolute;
width:17px;
height:100%;
background:url(images/slider_li.png) left center no-repeat;
}

.desc ul{
color: #fff;
font-size: 15px;
line-height: 40px;
list-style: none outside none;
padding-left: 45px;	
	}
	
.desc li {
position: relative;
}
