.adds {

  &__phone {
    font-size: $font-size-h4;
    line-height: $base-line-height*2;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  .icon {
    margin-right: em($base-line-height * .3);
  }
}

@media (min-width: $screen-sm-min) {

  .adds {

    &__phone {
      font-size: $font-size-h2;
      line-heigh: $base-line-height;
    }
  }
}