.share {

  .b-share{
    float: right;
    padding: 0 !important;
    vertical-align: top;


  }

  .b-share__handle{
    height: auto;
    padding: 3px $base-line-height*0.25 !important;

    &:hover {

      .b-share-icon_vkontakte{
        background-position: -17px -474px;
      }

      .b-share-icon_facebook{
        background-position: -17px -461px;
      }

      .b-share-icon_twitter{
        background-position: -16px -487px;
      }
    }
  }

  .b-share-icon {
    background-image: image-url('icons.png');
    float: left;
    padding: 0 !important;
  }

  .b-share-icon_vkontakte{
    background-position: 0 -474px;
    height: 10px;
    width: 9px;
  }

  .b-share-icon_facebook{
    background-position: 0 -461px;
    height: 10px;
    width: 6px;
  }

  .b-share-icon_twitter{
    background-position: 0 -487px;
    height: 10px;
    width: 8px;
  }
}

.ya-share2 {

  &__container &__item:last-child {
    margin-right: 0;
  }
  
  &__list_direction_horizontal {
    margin-bottom: -4px !important;
  }
  
  &__list_direction_horizontal > &__item {
    margin-bottom: 4px !important;
  }
}

