.catalog-price {
	 color:red;
}
div.catalog-detail-images div.catalog-detail-image {
 float: left;
 height: 50px;
 margin: 10px 10px 0 0;
 overflow: hidden;
 padding: 2px;
 position: relative;
 text-align: center;
 width: 50px;
}

div.catalog-detail-image {
 border-color: #CCCCCC;
}

div.catalog-detail-image {
 border: 1px solid;
 margin: 0 25px 0 0;
 padding: 2px;
}