
@import "functions.scss";


@import "settings.scss";
@import "sprite.scss";

$theme_name: 'everyday';
$theme: activelife;
$themes: (
    0: activelife,
    1: everyday,
    2: fashionshow,
    3: homeware,
    4: lovekids,
    41: lovekids2,
    5: mediamart,
    6: officespace,
    7: pethouse,
    8: stroymart
);

@import "themes/activelife/theme.scss";
//@import "themes/everyday/theme.scss";
//@import "themes/fashionshow/theme.scss";
//@import "themes/homeware/theme.scss";
//@import "themes/lovekids/default/theme.scss";
//@import "themes/lovekids/default2/theme.scss";
//@import "themes/mediamart/theme.scss";
//@import "themes/officespace/theme.scss";
//@import "themes/pethouse/theme.scss";
//@import "themes/stroymart/theme.scss";

@import "settings_theme.scss";

html {
  font-size: $base-font-size;
  line-height: $base-line-height / $base-font-size;;
}

@import "bootstrap/bootstrap-compass";
@import "bootstrap/bootstrap";
@import "bootstrapfix.scss";

@import "mixin.scss";

@import "base.scss";
@import "base/icons.scss";
@import "base/typography.scss";
@import "base/grid.scss";
@import "base/btn.scss";
@import "base/dropdowns.scss";
@import "base/collapse.scss";
@import "base/layout.scss";
@import "base/owl.scss";
@import "base/navs.scss";
@import "base/location.scss";
@import "base/breadcrumbs.scss";
@import "base/scroll.scss";
@import "base/load.scss";
@import "base/loading.scss";
@import "base/fancy.scss";
@import "base/menu_icon.scss";
@import "base/tooltip.scss";
@import "base/logo.scss";
@import "base/overlay.scss";
@import "base/hint.scss";
@import "base/badge.scss";
@import "base/table.scss";
@import "base/rate.scss";
@import "base/webpage.scss";

@import "base/alert.scss";
@import "base/input/forms.scss";
@import "base/input/checkbox.scss";
@import "base/input/select.scss";

@import "bitrix.scss";

@import "blocks/abc.scss";
@import "blocks/auth_top.scss";
@import "blocks/adv_owl.scss";
@import "blocks/adds.scss";

@import "blocks/cart/cart.scss";
@import "blocks/cart/cart_top.scss";
@import "blocks/cart/coupon.scss";

@import "blocks/menu/catalog.scss";
@import "blocks/menu/top.scss";
@import "blocks/menu/v.scss";
@import "blocks/menu/cols.scss";
@import "blocks/menu/vml.scss";

@import "blocks/search/input.scss";
@import "blocks/search/page.scss";
@import "blocks/search/popup.scss";
@import "blocks/carousel.scss";
@import "blocks/newsmain.scss";

@import "blocks/cmp/cmp.scss";
@import "blocks/cmp/cmp_page.scss";
@import "blocks/cmp/cmp_items.scss";

@import "blocks/catalog/product.scss";
@import "blocks/catalog/offer_prop.scss";
@import "blocks/catalog/price.scss";
@import "blocks/catalog/quantity.scss";
@import "blocks/catalog/stickers.scss";
@import "blocks/catalog/corner.scss";
@import "blocks/catalog/gender.scss";
@import "blocks/catalog/favorite.scss";
@import "blocks/catalog/picbox.scss";
@import "blocks/catalog/stocks.scss";
@import "blocks/catalog/catalog.scss";
@import "blocks/catalog/catalog_item.scss";
@import "blocks/catalog/detail.scss";
@import "blocks/catalog/set.scss";
@import "blocks/catalog/filter.scss";
@import "blocks/catalog/props_group.scss";
@import "blocks/catalog/reviews.scss";
@import "blocks/catalog/brand.scss";

@import "blocks/personal/section.scss";
@import "blocks/personal/panel.scss";
@import "blocks/personal/product-table.scss";
@import "blocks/personal/subscribe.scss";
@import "blocks/personal/auth.scss";
@import "blocks/personal/section.scss";
@import "blocks/personal/account.scss";
@import "blocks/personal/account_pay.scss";
@import "blocks/personal/profile.scss";
@import "blocks/personal/profile-list.scss";
@import "blocks/personal/profile-detail.scss";

@import "blocks/order/empty-cart.scss";
@import "blocks/order/order-section.scss";
@import "blocks/order/order-sidebar.scss";
@import "blocks/order/order-list.scss";
@import "blocks/order/order-detail.scss";

@import "blocks/shop/shops.scss";
@import "blocks/shop/shop-item.scss";
@import "blocks/shop/shop-panel.scss";

@import "blocks/share.scss";
@import "blocks/doc.scss";
@import "blocks/forum.scss";
@import "blocks/mainbanners.scss";
@import "blocks/news_page.scss";
@import "blocks/delivery_page.scss";
@import "blocks/payment_page.scss";

@import "blocks/sorter.scss";
@import "blocks/pagenav.scss";


@import "components/module.scss";
