.wl-mclb {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99999;
}

.wl-mclb__wrap {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(55, 180, 74, 0.37);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Verdana, Arial;
    color: #fff;
}

.wl-mclb.open .wl-mclb__wrap {
    width: 450px;
    height: 55px;
    border-radius: 40px;
    background: #363f43;
    overflow: hidden;
}

.wl-mclb.success .wl-mclb__wrap {
    width: 420px;
}

.wl-mclb__close,
.wl-mclb__close:hover {
    display: none;
    position: absolute;
    right: -6px;
    top: -22px;
    font-size: 18px;
    color: #363f43;
    opacity: .7;
}

.wl-mclb__close:hover {
    opacity: 1;
}

.wl-mclb__btn,
.wl-mclb__btn:hover,
.wl-mclb__btn:active,
.wl-mclb__btn:focus,
.wl-mclb__btn:visited {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 5px;
    white-space: nowrap;
    border-radius: 50%;
    background: #37b44a;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.wl-mclb__btn:hover {
    background: #349843;
}

.wl-mclb.open .wl-mclb__btn {
    width: auto;
    height: 45px;
    float: right;
    padding: 0 10px;
    border-radius: 40px;
}

.wl-mclb__btn span {
    display: inline-block;
    top: -4px;
    margin-left: 7px;
    position: relative;
    opacity: 0;
}

.wl-mclb.open .wl-mclb__btn span {
    opacity: 1;
}

.wl-mclb__btn i {
    font-size: 31px;
    margin: 15px 0 0 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wl-mclb__btn i.fa-spinner {
    -webkit-animation: rotateIn infinite 1.5s;
    animation: rotateIn infinite 1.5s;
}

.wl-mclb.open .wl-mclb__btn i {
    font-size: 20px;
    margin-left: 0;
}

.wl-mclb__btn:hover i {
    -moz-transform: rotate(-102deg);
    -ms-transform: rotate(-102deg);
    -webkit-transform: rotate(-102deg);
    -o-transform: rotate(-102deg);
    transform: rotate(-102deg);
}

.wl-mclb.open .wl-mclb__btn i {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.wl-mclb__pulse {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 1px solid #37b44a;
    -webkit-animation: wl-pulse infinite 1.5s;
    animation: wl-pulse infinite 1.5s;
    z-index: 1;
    opacity: .7;
}

.wl-mclb.open .wl-mclb__pulse {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

.wl-mclb__title {
    position: absolute;
    left: -9999px;
    width: 103px;
    margin-top: 9px;
}

.wl-mclb.open .wl-mclb__title {
    left: 17px;
}

.wl-mclb__input {
    position: absolute;
    left: -9999px;
    width: 145px;
    height: 36px;
    line-height: 36px;
    margin-top: 9px;
    color: #363f43;
    padding: 0 7px;
}

.has-error .wl-mclb__input {
    border: 1px solid red;
}

.wl-mclb.open .wl-mclb__input { 
    left: 132px;
}

.wl-mclb__success {
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    border-radius: 40px;
    color: #363f43;
    padding: 0 10px;
}