.clear {
	clear: both;
}



/*///gray_v1 css template for TEXT and PASSWORD///*/ 
.gray_v1_EAFormInputText {
	height: 41px;
}
.gray_v1_EAFormInputTextDate .gray_v1_EAFormInputText2 {
	margin: 0;
	padding: 0 45px 0 0;
}
.gray_v1_EAFormInputText .gray_v1_EAFormInputText_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.gray_v1_EAFormInputText .gray_v1_EAFormInputText_02 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}
.gray_v1_EAFormInputText_Hover {
	height: 41px;
}
.gray_v1_EAFormInputTextDate_Hover .gray_v1_EAFormInputText2 {
	margin: 0 45px 0 0;
}
.gray_v1_EAFormInputText_Hover .gray_v1_EAFormInputText_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputText_Hover .gray_v1_EAFormInputText_02 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputText_Selected {
	height: 41px;
}
.gray_v1_EAFormInputTextDate_Selected .gray_v1_EAFormInputText2 {
	margin: 0 45px 0 0;
}
.gray_v1_EAFormInputText_Selected .gray_v1_EAFormInputText_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputText_Selected .gray_v1_EAFormInputText_02 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputTextBox {
	margin: 0;
	padding: 0;
	//padding: 6px 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 41px;
}
.gray_v1_EAFormInputText_Hover .gray_v1_EAFormInputTextBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputText_Selected .gray_v1_EAFormInputTextBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputTextBox input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0  5px 0 5px;
	//padding: 5px 5px 0 5px;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 14px;
	color: #000;
}

.gray_v1_EAFormInputDateBtn {
	height: 41px;
	margin: -41px -45px 0 0;
	//margin: -41px 0 0 0;
	padding: 0;
	overflow: hidden;
	float: right;
}
.gray_v1_EAFormInputDateBtn div {
	height: 41px;
	width: 41px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	background: url(images/date_btn.png) no-repeat;
}
.gray_v1_EAFormInputText_Hover .gray_v1_EAFormInputDateBtn div {
	background: url(images/date_btn.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputText_Selected .gray_v1_EAFormInputDateBtn div {
	background: url(images/date_btn.png) no-repeat 0 -82px;
}



/*///gray_v1 css template for TEXTAREA///*/ 
.gray_v1_EAFormInputTextarea {
	height: 129px;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_03 {
	margin: 0;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea .gray_v1_EAFormInputTextarea_06 {
	margin: 0;
}

.gray_v1_EAFormInputTextarea_Hover {
	height: 129px;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_03 {
	margin: 0;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_06 {
	margin: 0;
}

.gray_v1_EAFormInputTextarea_Selected {
	height: 129px;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_03 {
	margin: 0;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_06 {
	margin: 0;
}

.gray_v1_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left.png) repeat-y left top;
}
.gray_v1_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputTextarea_Hover .gray_v1_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputTextarea_Selected .gray_v1_EAFormInputTextarea_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.gray_v1_EAFormInputTextareaBox {
	margin: 0 7px 0 6px;
	padding: 0;
	overflow: hidden;
	background: #e5e5e5;
}
.gray_v1_EAFormInputTextareaBox textarea {
	height: 100%;
	margin: 0;
	padding: 5px;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 14px;
	color: #000;
	overflow: auto;
}



/*///gray_v1 css template for SELECT MULTIPLE///*/ 
.gray_v1_EAFormInputSelectMultiple {
	height: 129px;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple .gray_v1_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelectMultiple_Hover {
	height: 129px;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelectMultiple_Selected {
	height: 129px;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left.png) repeat-y left top;
}
.gray_v1_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputSelectMultiple_Hover .gray_v1_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputSelectMultiple_Selected .gray_v1_EAFormInputSelectMultiple_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.gray_v1_EAFormInputSelectMultipleBox {
	margin: 0 7px 0 6px;
	padding: 0;
	overflow: auto;
	background: #e5e5e5;
}
.gray_v1_EAFormInputSelectMultipleBox ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
.gray_v1_EAFormInputSelectMultipleBox li {
	margin: 0;
	padding: 3px 10px;
	background: none;
	cursor: pointer;
	font-size: 14px;
	color: #000;
}
.gray_v1_EAFormInputSelectMultipleBox li.gray_v1_EAFormInputSelectMultipleBox_Hover {
	margin: 0;
	padding: 3px 10px;
	background: #f5f5f5;
	cursor: pointer;
}
.gray_v1_EAFormInputSelectMultipleBox li.gray_v1_EAFormInputSelectMultipleBox_Selected {
	margin: 0;
	padding: 3px 10px;
	background: #bcbebf;
	cursor: pointer;
}
.gray_v1_EAFormInputSelectMultipleBox select {
	display: none;
}



/*///gray_v1 css template for SELECT///*/ 
.gray_v1_EAFormInputSelect {
	height: 41px;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelect2 {
	height: 41px;
	margin: 0 45px 0 0;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelect_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelect_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}

.gray_v1_EAFormInputSelect_Hover {
	height: 41px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelect2 {
	height: 41px;
	margin: 0 45px 0 0;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelect_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelect_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}

.gray_v1_EAFormInputSelect_Selected {
	height: 41px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelect2 {
	height: 41px;
	margin: 0 45px 0 0;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelect_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelect_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}

.gray_v1_EAFormInputSelectBox {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 41px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}

.gray_v1_EAFormInputSelectBox .gray_v1_EAFormInputSelectText {
	margin: -1px 0 0 0;
	//margin: 5px;
	padding: 0 5px;
	//padding: 6px 0 0 0;
	border: 0px;
	background: none;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 14px;
	color: #000;
	
	width: 100%;
	height: 100%;
}

.gray_v1_EAFormInputSelectBtn {
	height: 41px;
	margin: -41px 0 0 0;
	padding: 0;
	background: none;
}
.gray_v1_EAFormInputSelectBtn div {
	height: 41px;
	width: 41px;
	margin: 0 -52px 0 0;
	//margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	background: url(images/select_btn.png) no-repeat;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectBtn div {
	background: url(images/select_btn.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectBtn div {
	background: url(images/select_btn.png) no-repeat 0 -82px;
}

.gray_v1_EAFormInputSelectPopup {
	height: 129px;
	position: absolute;
	background: url(images/clear.gif);
	z-index: 99;
}

.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat;
}
.gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect .gray_v1_EAFormInputSelectPopup_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_01 {
	width: 6px;
	height: 8px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_02 {
	width: 7px;
	height: 8px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_top.png) no-repeat 0 -8px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_03 {
	height: 8px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_top_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_03 {
	margin: 0;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_04 {
	width: 6px;
	height: 7px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	overflow: hidden;
	background: url(images/textarea_left_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_05 {
	width: 7px;
	height: 7px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	overflow: hidden;
	background: url(images/textarea_right_bottom.png) no-repeat 0 -7px;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_06 {
	height: 7px;
	margin: 0 7px 0 6px;
	//margin: 0;
	overflow: hidden;
	background: url(images/textarea_bottom_sel.png) repeat-x;
}
body:first-of-type .gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_06 {
	margin: 0;
}

.gray_v1_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left.png) repeat-y left top;
}
.gray_v1_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right.png) repeat-y right top;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputSelect_Hover .gray_v1_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_left {
	margin: 0;
	padding: 0;
	background: url(images/textarea_left_sel.png) repeat-y left top;
}
.gray_v1_EAFormInputSelect_Selected .gray_v1_EAFormInputSelectPopup_right {
	margin: 0;
	padding: 0;
	background: url(images/textarea_right_sel.png) repeat-y right top;
}

.gray_v1_EAFormInputSelectPopupBox {
	margin: 0 7px 0 6px;
	padding: 0;
	overflow: auto;
	background: #e5e5e5;
	overflow-x: hidden;
}
.gray_v1_EAFormInputSelectPopupBox ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}
.gray_v1_EAFormInputSelectPopupBox li {
	margin: 0;
	padding: 3px 10px;
	background: none;
	cursor: pointer;
	font-size: 14px;
	color: #000;
	
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}
.gray_v1_EAFormInputSelectPopupBox li.gray_v1_EAFormInputSelectPopupBox_Hover {
	margin: 0;
	padding: 3px 10px;
	background: #f5f5f5;
	cursor: pointer;
}
.gray_v1_EAFormInputSelectPopupBox li.gray_v1_EAFormInputSelectPopupBox_Selected {
	margin: 0;
	padding: 3px 10px;
	background: #bcbebf;
	cursor: pointer;
}



/*///gray_v1 css template for FILE///*/ 
.gray_v1_EAFormInputFile {
	height: 41px;
	overflow: hidden;
}
.gray_v1_EAFormInputFile .gray_v1_EAFormInputFile2 {
	height: 41px;
	margin: 0 77px 0 0;
	overflow: hidden;
}
.gray_v1_EAFormInputFile .gray_v1_EAFormInputFile_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat;
}
.gray_v1_EAFormInputFile .gray_v1_EAFormInputFile_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat;
}

.gray_v1_EAFormInputFile_Hover {
	height: 41px;
	overflow: hidden;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFile2 {
	height: 41px;
	margin: 0 77px 0 0;
	overflow: hidden;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFile_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFile_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}

.gray_v1_EAFormInputFile_Selected {
	height: 41px;
	overflow: hidden;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFile2 {
	height: 41px;
	margin: 0 77px 0 0;
	overflow: hidden;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFile_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/text_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFile_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/text_right.png) no-repeat 0 -41px;
}

.gray_v1_EAFormInputFileBox {
	margin: 0;
	padding: 0;
	//padding: 0;
	overflow: hidden;
	background: url(images/text_bg.png) repeat-x;
	height: 41px;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFileBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFileBox {
	background: url(images/text_bg.png) repeat-x 0 -41px;
}

.gray_v1_EAFormInputFileBox .gray_v1_EAFormInputFileText {
	margin: 0;
	padding: 10px;
	//padding: 10px;
	border: 0px;
	background: transparent;
	font-family: Tahoma, Candara, Verdana, Arial, Sans-Serif;
	font-size: 14px;
	color: #000;
	height: 41px;
	
	width: 100%;
	height: 100%;
}

.gray_v1_EAFormInputFileSelect {
	margin: -41px 0 0 0;
	width: 100%;
	overflow: hidden;
}
.gray_v1_EAFormInputFileSelect input {
	width: 100%;
	height: 100%;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
	outline: none;
	font-size: 30px;
}
.gray_v1_EAFormInputFileBtn {
	height: 41px;
	margin: -41px 0 0 0;
	padding: 0;
}
.gray_v1_EAFormInputFileBtn div {
	height: 41px;
	margin: 0;
	//margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}
.gray_v1_EAFormInputFileBtn div div {
	margin: 0;
	padding: 0;
}
.gray_v1_EAFormInputFileBtn .gray_v1_EAFormInputFileButtonBox {
	font-size: 14px;
	color: #000;
	padding: 10px !important;
}
.gray_v1_EAFormInputFileBtn .gray_v1_EAFormInputFileButton_01 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat;
}
.gray_v1_EAFormInputFileBtn .gray_v1_EAFormInputFileButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFileButton_01 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFileButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFileButton_01 {
	width: 6px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_left.png) no-repeat 0 -82px;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFileButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	background: url(images/button_right.png) no-repeat 0 -82px;
}
.gray_v1_EAFormInputFile .gray_v1_EAFormInputFileButtonBox {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 41px;
	background: url(images/button_bg.png) repeat-x;
}
.gray_v1_EAFormInputFile_Hover .gray_v1_EAFormInputFileButtonBox {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 41px;
	background: url(images/button_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputFile_Selected .gray_v1_EAFormInputFileButtonBox {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 41px;
	background: url(images/button_bg.png) repeat-x 0 -82px;
}



/*///gray_v1 css template for BUTTON///*/ 
.gray_v1_EAFormInputButton {
	height: 41px;
	overflow: hidden;
	//overflow: inherit;
}
.gray_v1_EAFormInputButton .gray_v1_EAFormInputButton_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat;
}
.gray_v1_EAFormInputButton .gray_v1_EAFormInputButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat;
}
.gray_v1_EAFormInputButton_Hover {
	height: 41px;
	overflow: hidden;
	//overflow: inherit;
}
.gray_v1_EAFormInputButton_Hover .gray_v1_EAFormInputButton_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputButton_Hover .gray_v1_EAFormInputButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat 0 -41px;
}
.gray_v1_EAFormInputButton_Selected {
	height: 41px;
	overflow: hidden;
	//overflow: inherit;
}
.gray_v1_EAFormInputButton_Selected .gray_v1_EAFormInputButton_01 {
	width: 6px;
	height: 41px;
	float: left;
	margin: 0;
	//margin: 0 -3px 0 0;
	background: url(images/button_left.png) no-repeat 0 -82px;
}
.gray_v1_EAFormInputButton_Selected .gray_v1_EAFormInputButton_02 {
	width: 7px;
	height: 41px;
	float: right;
	margin: 0;
	//margin: 0 0 0 -3px;
	background: url(images/button_right.png) no-repeat 0 -82px;
}
.gray_v1_EAFormInputButtonBox {
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background: url(images/button_bg.png) repeat-x;
	height: 41px;
	font-size: 14px;
	color: #000;
	text-align: center;
	font-weight: normal;
}
.gray_v1_EAFormInputButton_Hover .gray_v1_EAFormInputButtonBox {
	background: url(images/button_bg.png) repeat-x 0 -41px;
}
.gray_v1_EAFormInputButton_Selected .gray_v1_EAFormInputButtonBox {
	padding: 12px 10px 0 10px;
	background: url(images/button_bg.png) repeat-x 0 -82px;
}




/*///gray_v1 css template for CHECKBOX///*/ 
.gray_v1_EAFormInputCheckbox {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputCheckbox_Hover {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputCheckbox_Selected {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputCheckbox .gray_v1_EAFormInputCheckboxBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/checkbox.png) no-repeat 0 0;
}
.gray_v1_EAFormInputCheckbox_Hover .gray_v1_EAFormInputCheckboxBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/checkbox.png) no-repeat 0 -21px;
}
.gray_v1_EAFormInputCheckbox_Selected .gray_v1_EAFormInputCheckboxBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/checkbox.png) no-repeat 0 -42px;
}
.gray_v1_EAFormInputCheckbox .gray_v1_EAFormInputCheckboxText {
	margin: 0 0 0 30px;
	padding: 0;
}
.gray_v1_EAFormInputCheckbox_Hover .gray_v1_EAFormInputCheckboxText {
	margin: 0 0 0 30px;
	padding: 0;
}
.gray_v1_EAFormInputCheckbox_Selected .gray_v1_EAFormInputCheckboxText {
	margin: 0 0 0 30px;
	padding: 0;
}



/*///gray_v1 css template for RADIO///*/ 
.gray_v1_EAFormInputRadio {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputRadio_Hover {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputRadio_Selected {
	margin: 0 0 20px 0;
}
.gray_v1_EAFormInputRadio .gray_v1_EAFormInputRadioBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/radio.png) no-repeat 0 0;
}
.gray_v1_EAFormInputRadio_Hover .gray_v1_EAFormInputRadioBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/radio.png) no-repeat 0 -21px;
}
.gray_v1_EAFormInputRadio_Selected .gray_v1_EAFormInputRadioBtn {
	width: 21px;
	height: 21px;
	float: left;
	margin: 0 -21px 0 0;
	background: url(images/radio.png) no-repeat 0 -42px;
}
.gray_v1_EAFormInputRadio .gray_v1_EAFormInputRadioText {
	margin: 0 0 0 30px;
	padding: 0;
}
.gray_v1_EAFormInputRadio_Hover .gray_v1_EAFormInputRadioText {
	margin: 0 0 0 30px;
	padding: 0;
}
.gray_v1_EAFormInputRadio_Selected .gray_v1_EAFormInputRadioText {
	margin: 0 0 0 30px;
	padding: 0;
}