<config> 
 <productName>Техномир: Интернет-магазин бытовой техники</productName> 
 <welcomeText>Добро пожаловать в мастер установки готового интернет-магазина бытовой техники</welcomeText> 
 <imageLogoSrc>/bitrix/wizards/citfact/deliverytech/images/ru/logo.png</imageLogoSrc> 
 <imageBoxSrc>/bitrix/wizards/citfact/deliverytech/images/ru/solution.png</imageBoxSrc> 
 <copyrightText>Веб-студия "Логика"</copyrightText> 
 <supportText>http://studiologica.ru/</supportText> 
</config>