//bx.catalog.element
.item_buttons_counter_block .bx_small.bx_bt_button_type_2 {
  
  &:hover {
    background-color: @brand-primary;
  }
}

//bx.search.title
.bx_searche .bx_item_element a {
	
	&	{
		color: @link-color !important;
	}
	
	&:hover,
	&:active,
	&:focus {
		color: @link-hover-color !important;
	}
}

//bx.sale.basket.basket

.bx_ordercart .bx_ordercart_order_pay_center .checkout,
.bx_ordercart .bx_sort_container a:not(.current) {
	color: @brand-secondary !important;
	border-color: @brand-secondary !important;
	
	&:hover,
	&:active,
	&:focus {
		background: @btn-primary-bg !important;
		border-color: @btn-primary-bg !important;
		color: #fff !important;
	}
}

.bx_item_detail_size_small_noadaptive ul li:active a, .bx_item_detail_size_small_noadaptive ul li.bx_active a {
	border-color: @brand-primary !important;
	background: @brand-primary !important;
}

//bx.sale.order.ajax
//style

.sale_order_full_table input[type=submit]:hover,
.sale_order_full_table input[type=submit]:active,
.sale_order_full_table input[type=submit]:focus {
	background: @brand-primary;
	border-color: @brand-primary;
}

.bx_order_list .bx_order_list_table thead tr td a.btn-default,
.bx_order_list .bx_order_list_table_order thead tr td a.btn-default,
.bx_order_list .bx_order_list_table tbody tr td a.btn-default,
.bx_order_list .bx_order_list_table_order tbody tr td a.btn-default {
	color: @brand-secondary;
}

.sale_order_full_table input[type=submit] {
	border-color: @brand-secondary;
	color:@brand-secondary;
}

//style_cart

.bx_ordercart_order_pay_center .checkout:hover,
.bx_ordercart_order_pay_center .checkout:active,
.bx_ordercart_order_pay_center .checkout:focus {
	background: @brand-primary !important;
	border-color: @brand-primary !important;
}

.bx_ordercart .bx_ordercart_order_table_container thead tr td a.btn-default,
.bx_ordercart .bx_ordercart_order_table_container tbody tr td a.btn-default {
	color: @brand-secondary;
}
.bx_ordercart_order_pay_center .checkout {
	border-color: @brand-secondary !important;
	color: @brand-secondary !important;
	
	&:hover,
	&:active,
	&:focus {
		color: #fff !important;
	}
}

//bx.sale.personal.order.cancel

.bx_my_order_cancel input[type="submit"]:hover,
.bx_my_order_cancel input[type="submit"]:active,
.bx_my_order_cancel input[type="submit"]:focus {
	background: @brand-primary !important;
	border-color:@brand-primary !important;
}

.bx_my_order_cancel input[type="submit"] {
	border-color: @brand-secondary !important;
	color: @brand-secondary !important;
}

//bx.sale.personal.order.detail

.tablebodytext input:hover,
.tablebodytext input:active,
.tablebodytext input:focus {
	background: @brand-primary;
	border-color: @brand-primary;
}

.tablebodytext input {
	border-color: @brand-secondary;
	color:@brand-secondary;
}

//bx.sale.personal.order.list

.bx_my_order .bx_my_order_table td a.btn-default {
	color: @brand-secondary;
}

//bx.catalog.section
.bx_catalog_top_home .bx_catalog_item_title a {
	color: @link-color !important;
	
	&:hover {
		color: @link-hover-color !important;
	}
}