.wrap_colors {
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
	height: 80px;
	background: #000;
}
.sub_wrap_colors {
	margin-bottom: 90px;
}
.wrap_colors ul {
	margin: 0 auto;
	min-width: 960px;
	max-width: 1440px;
	width: 95%;
}
.wrap_colors ul li {
	float: left;
	margin-top: 16px !important;
	margin-left: 16px !important;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.wrap_colors ul li.mastercard {
	background: url(images/mastercard.png) no-repeat 0 10px;
}
.wrap_colors ul li.visa {
	background: url(images/visa.png) no-repeat 0 10px;
}
.wrap_colors ul li.yandexmoney {
	background: url(images/yandexmoney.png) no-repeat 0 10px;
}
.wrap_colors ul li.price {
	width: 480px;
	font-weight: bold;
	color: #fff;
	font-size: 18px !important;
	text-transform: uppercase;
	line-height: 50px;
	text-align: left;
	margin-left: 0 !important;
}
.wrap_colors ul li.pay {
	width: 200px;
	font-weight: bold;
	color: #fff;
	margin-right: 36px;
	background: #f85032;
	background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f85032), color-stop(50%, #f16f5c), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827));
	background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -o-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -ms-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
}
.wrap_colors ul li.pay a {
	font-size: 18px !important;
	text-transform: uppercase;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.wrap_colors ul li.pay a:hover {
	color: #fff !important;
}
.wrap_colors ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.wrap_colors ul li.purpure {
	background: #E60B98;
}
.wrap_colors ul li.marengo {
	background: #3F4C6B;
	margin-left: 0 !important;
}
.wrap_colors ul li.metallic {
	background: #868686;
}
.wrap_colors ul li.gold {
	background: #eab92d;
}
.wrap_colors ul li.blue {
	background: #207ce5;
}
.wrap_colors ul li a:hover {
	display: block;
	height: 100%;
	background: rgba(255,255,255, 0.2);
	border-radius: 5px;
}
#close-pay {
	position: fixed;
	right: 16px;
	top: 16px;
	background: url(images/close.png) no-repeat 0 0;
	height: 32px;
	width: 32px;
	z-index: 10001;
}
#close-pay a {
	text-indent: -9999px;
	display: block;
	height: 32px;
	width: 32px;
}
